{{> partial_header }}

from {{packageName}}.model_utils import (
    ApiTypeError,
    ModelComposed,
    ModelNormal,
    ModelSimple,
    cached_property,
    date,
    datetime,
    file_type,
    none_type,
)

{{#models}}
{{#model}}
{{#imports}}
{{#-first}}

def lazy_import():
{{/-first}}
    {{{.}}}
{{/imports}}


{{^interfaces}}
{{#isArray}}
{{> model_templates/model_simple }}
{{/isArray}}
{{#isEnum}}
{{> model_templates/model_simple }}
{{/isEnum}}
{{#isAlias}}
{{> model_templates/model_simple }}
{{/isAlias}}
{{^isArray}}
{{^isEnum}}
{{^isAlias}}
{{> model_templates/model_normal }}
{{/isAlias}}
{{/isEnum}}
{{/isArray}}
{{/interfaces}}
{{#interfaces}}
{{#-last}}
{{> model_templates/model_composed }}
{{/-last}}
{{/interfaces}}
{{/model}}
{{/models}}
