interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1606385962.959812@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"dabfe646-2fd0-11eb-8697-5f0335131882","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1606385962.959812@datadoghq.com","created_at":"2020-11-26T10:19:23.462020+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1606385962.959812@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5322cfa61c47a3931faa6623a8e09b26?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ApDR7dmCPzU09s5sGJ6tunvBxSFKQfwajJriSdeRXXH0ohfkw5+3MDbyzkcCLNJJ
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/dabfe646-2fd0-11eb-8697-5f0335131882
  response:
    body:
      string: '{"data":{"type":"users","id":"dabfe646-2fd0-11eb-8697-5f0335131882","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1606385962.959812@datadoghq.com","created_at":"2020-11-26T10:19:23.462020+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1606385962.959812@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5322cfa61c47a3931faa6623a8e09b26?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - HPVlkUpFXGYcqD93XIv+Hev5A7X2V4P4zD5qLStQWMHCrtOXDwFh+ruPewqnpfPS
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/dabfe646-2fd0-11eb-8697-5f0335131882
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - zMJDTIeaITirZf9FedmyCj+4WXuqmfQREjdA1T11xGKF1XQWYK1Ifc+omhARu60w
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
version: 1
