interactions:
- request:
    body: '{"filter": {"query": "datadog-agent", "indexes": ["main"], "from": "2020-09-17T11:48:36+00:01",
      "to": "2020-09-17T12:48:36+00:01"}, "sort": "timestamp", "page": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Rk64tCoF3V07+a4szeABxTtZIJ+mXpZWikk4VsgNuvqwu3MpGXqLHxCVHOt9N39v
      X-DD-VERSION:
      - '35.3072861'
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '299'
      X-RateLimit-Reset:
      - '2334'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"query": "datadog-agent", "indexes": ["main"], "from": "2020-09-17T11:48:36+00:01",
      "to": "2020-09-17T12:48:36+00:01"}, "sort": "timestamp", "page": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      X-DD-VERSION:
      - '35.3072861'
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '294'
      X-RateLimit-Reset:
      - '1710'
    status:
      code: 200
      message: OK
version: 1
