interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"4fb08be0-fcc8-11ea-b0f2-47697baf17f3","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938@datadoghq.com","created_at":"2020-09-22T11:39:44.883249+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938@datadoghq.com","icon":"https://secure.gravatar.com/avatar/be796c8b63d6a8c3d99e5baba05093a1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Kee9VS5NjjPfA/YHh7xlRIB+loWgKfgYfbh+K0I50KRAhLkjH2oXj4YLUubPn5Pt
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":38493}},"data":[{"type":"users","id":"4fb08be0-fcc8-11ea-b0f2-47697baf17f3","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938@datadoghq.com","created_at":"2020-09-22T11:39:44.883249+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600774784.390938@datadoghq.com","icon":"https://secure.gravatar.com/avatar/be796c8b63d6a8c3d99e5baba05093a1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gr+QII7IFZVxhXS35BsEOrW9Uz3gs+l7g2tB1FOjy4hKCe3rtnWg3KfE74dirBtE
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 200
      message: OK
version: 1
