interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.035615"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a54121a2-b6df-11ea-9c12-9773e1606f5a","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.035615","created_at":"2020-06-25T12:30:25.468610+00:00","modified_at":"2020-06-25T12:30:25.468610+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - HIunaScoW4AWw8tnSbk8zc5V6c9XLV6++/KbgzaC4HIb212+evjUYL1yRLeLtS2T
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.557261@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a560d93e-b6df-11ea-9c12-3b81541bd70d","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.557261@datadoghq.com","created_at":"2020-06-25T12:30:25.675406+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.557261@datadoghq.com","icon":"https://secure.gravatar.com/avatar/78b1e3c2163efb22cfaeeb86ac59ffc0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0pa1dtuadfHOUeVqLiK3mljtwHC7xKOrqXlG1EXfeExc1YyvZm51+jZLEiJ3YUs6
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "a560d93e-b6df-11ea-9c12-3b81541bd70d", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/a54121a2-b6df-11ea-9c12-9773e1606f5a/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"a560d93e-b6df-11ea-9c12-3b81541bd70d","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.557261@datadoghq.com","created_at":"2020-06-25T12:30:25.675406+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593088225.557261@datadoghq.com","icon":"https://secure.gravatar.com/avatar/78b1e3c2163efb22cfaeeb86ac59ffc0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"a54121a2-b6df-11ea-9c12-9773e1606f5a"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - l+fZq7vW9gg1qInAzXkJZdt8f8e/094RDnN9pOEIlkXbx1jb6kpjgt1+syYCZyFC
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "a560d93e-b6df-11ea-9c12-3b81541bd70d", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/a54121a2-b6df-11ea-9c12-9773e1606f5a/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - yL2jMz/muX5URjcdpTHzlehf0qi0hyVxH7uShvIhWEeYrIRwdt0CU/7wzCTakK6N
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
