interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593085224.265987"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a8a420e4-b6d8-11ea-9c12-7380b3cc8740","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593085224.265987","created_at":"2020-06-25T11:40:24.672364+00:00","modified_at":"2020-06-25T11:40:24.672364+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wi4QF3nhe5s0sRyfZvyTHLc/3mQu/jJVn8BZnev44SXt+VBNA1+haKi5VcNZFpaP
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/a8a420e4-b6d8-11ea-9c12-7380b3cc8740
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - HtltRxB6FWULKbr8JD/35HKWhI+dqAFQg/rNpMbjeMOPUq5j5iWk+nIs8OwDOqUR
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 204
      message: No Content
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593085947.1527@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5757e322-b6da-11ea-9c12-1789eca72cf4","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593085947.1527@datadoghq.com","created_at":"2020-06-25T11:52:27.270306+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_leading_to_ok-1593085947.1527@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ef40d640ab5fc000c19c0edf5c43b6b4?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IRAJ1mQ+c3epm0CLGtZoe/y8O4TCss3jYw+fwQOm7+eSKRCE+p3OtawVnIQ5ts76
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5757e322-b6da-11ea-9c12-1789eca72cf4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hABsPq9DIvV7yAEiU7rMxs7UCRuTbRH/kYpwue4a0q9qmwd4SUh9bBZ5SHPkBLc6
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
- request:
    body: '{"data": {"id": "5757e322-b6da-11ea-9c12-1789eca72cf4", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/a8a420e4-b6d8-11ea-9c12-7380b3cc8740/users
  response:
    body:
      string: '{"errors": ["Missing Role a8a420e4-b6d8-11ea-9c12-7380b3cc8740 not
        found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 404
      message: Not Found
version: 1
