interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1593621107.025537@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5bacb79e-bbb8-11ea-9c9e-c75756eb3a18","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1593621107.025537@datadoghq.com","created_at":"2020-07-01T16:31:47.462846+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1593621107.025537@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1190f1b5fb72c647039d2dc5536866d2?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - SaHvyR/hQzhMjBxXmmuM76vwlwfocpgL0LhX3u6R0CFONYqUGm7Xe/7/HyTliTFX
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1593621225.030575@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a202655e-bbb8-11ea-9c9e-2bc80ff7cb88","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1593621225.030575@datadoghq.com","created_at":"2020-07-01T16:33:45.464818+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1593621225.030575@datadoghq.com","icon":"https://secure.gravatar.com/avatar/385f41c712afcd9a6adbbfa9efbb7861?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0pa1dtuadfHOUeVqLiK3mljtwHC7xKOrqXlG1EXfeExc1YyvZm51+jZLEiJ3YUs6
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
version: 1
