interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"08ebba34-fd88-11ea-b1b0-070fcd624413","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755","created_at":"2020-09-23T10:32:09.525632+00:00","modified_at":"2020-09-23T10:32:09.525632+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RCObiQ2dtM/JQUOdAbTQmIrpsZR5eT9bZEwE14hAfjq3x8DBTBCy/8ina/nQCRGE
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"09121b20-fd88-11ea-b1b0-2fc8185e11b2","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755@datadoghq.com","created_at":"2020-09-23T10:32:09.776430+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1ea1b6e847ced60c1fce80a203c8af4b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Y8u+fIaXZZ2yK5ttthsjkZm5Z3VHyXaOdS8/tSd/bNF4IfeGhCl8vKDnFe8gSTEA
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "09121b20-fd88-11ea-b1b0-2fc8185e11b2", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/08ebba34-fd88-11ea-b1b0-070fcd624413/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"09121b20-fd88-11ea-b1b0-2fc8185e11b2","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755@datadoghq.com","created_at":"2020-09-23T10:32:09.776430+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600857129.131755@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1ea1b6e847ced60c1fce80a203c8af4b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"08ebba34-fd88-11ea-b1b0-070fcd624413"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - yoF4117GjRVNjK5D+NnV1a4ZZK03NlG9+xqwkNudRekVNp0HsN72cHzXM+2uFPHI
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '491'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "09121b20-fd88-11ea-b1b0-2fc8185e11b2", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/08ebba34-fd88-11ea-b1b0-070fcd624413/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1G9SOBrnmfyC5G29bCdNvI2JHlJyC7aSDsVB1mrRvQ+HE/loVdx5+fgtIfMtj8Fo
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '490'
      X-RateLimit-Reset:
      - '50'
    status:
      code: 200
      message: OK
version: 1
