interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600680258.465389"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"50f60375-dd19-5234-ab13-da757d0a364c","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600680258.465389","created":"2020-09-21T09:24:18.993739+00:00","modified":"2020-09-21T09:24:18.993739+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - TFCg6TPxHCdpQyTTnaGFjBa5vzZnKeyQ4F7e1flYSnImhl2xBoRKXVAV7LhvPUlL
      X-DD-VERSION:
      - '35.3066006'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetTeam
    method: GET
    uri: https://api.datadoghq.com/api/v2/teams/50f60375-dd19-5234-ab13-da757d0a364c
  response:
    body:
      string: '{"data":{"type":"teams","id":"50f60375-dd19-5234-ab13-da757d0a364c","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600680258.465389","created":"2020-09-21T09:24:18.993739+00:00","modified":"2020-09-21T09:24:18.993739+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-DD-VERSION:
      - '35.3066006'
    status:
      code: 200
      message: OK
version: 1
