interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_list_roles_returns_ok_response-1600774804.019598"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5b6a09b6-fcc8-11ea-b0f2-d7439631f8cb","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600774804.019598","created_at":"2020-09-22T11:40:04.554769+00:00","modified_at":"2020-09-22T11:40:04.554769+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - P6Akw3EF5CkRD9dRTLe+2D7FUH3E+plOtxsv0XR1d07sSAJOUbLe0N5LZ7Ruz6Fj
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '499'
      X-RateLimit-Reset:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=datadog-api-client-python-test_list_roles_returns_ok_response-1600774804.019598
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":931}},"data":[{"type":"roles","id":"5b6a09b6-fcc8-11ea-b0f2-d7439631f8cb","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600774804.019598","created_at":"2020-09-22T11:40:04.554769+00:00","modified_at":"2020-09-22T11:40:04.554769+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - jrMxFzD6DQaVakCp2nBENh1s4Jr6NTi3qR/BnCfgEGv+61BLJvJGE5mL8dgLrarj
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '56'
    status:
      code: 200
      message: OK
version: 1
