interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600763319.572044"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"f75f09f6-d4b0-556f-a3cc-5786fbb958a6","attributes":{"name":"datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600763319.572044","created":"2020-09-22T08:28:39.982889+00:00","modified":"2020-09-22T08:28:39.982889+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - BZ+RYjLsV2y+9XXNTM/Wbkdcz3DkJnqgQFCAf9xIIxOOOd9x3Em2wjhPfW0piM2C
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600763319.572044-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTeam
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/teams/f75f09f6-d4b0-556f-a3cc-5786fbb958a6
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attribu[...]
[...]
