interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"51435bdc-3ec6-11eb-8990-7367785e8fb8","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875@datadoghq.com","created_at":"2020-12-15T11:11:45.272486+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ab2e280cb5549fd949d97f18b28c942?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - UiHAIpiIPiMTUiGNeR+rZVnFnmJkUm64kqWBQawJNSrsYAeselUV6xrARY3WHwv4
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":83279}},"data":[{"type":"users","id":"51435bdc-3ec6-11eb-8990-7367785e8fb8","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875@datadoghq.com","created_at":"2020-12-15T11:11:45.272486+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608030704.765875@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ab2e280cb5549fd949d97f18b28c942?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - eG/dd216xDODxUvrkXQT4VhVvMIAMIlvHBW+Kcmtt6jQYter/nugfyVImQIwF/gz
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/51435bdc-3ec6-11eb-8990-7367785e8fb8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - NAgpeopdgW9X30OuB191/muuvQIfRBmU7ohOgihh9xKnn0bCG7Kguc4bGAIB6OKr
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
version: 1
