interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"d59dbe04-2fd0-11eb-8697-af2b45f86de8","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355","created_at":"2020-11-26T10:19:14.851270+00:00","modified_at":"2020-11-26T10:19:14.851270+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Y0Wuc8E3+SpVlnTzK4RUu97zkN6KtouappB64/8RP7vhb/NV3oylxGvm6vZWDPy/
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '484'
      X-RateLimit-Reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d5c32c20-2fd0-11eb-8697-6ff6a8fce4a9","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355@datadoghq.com","created_at":"2020-11-26T10:19:15.095942+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe5a4f950ff4bb7d6c0ef7788e2eea3f?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZvbT5Hkp4NkmoFNp2kmSQo90Sobu/hiarT/8VcAY1HhBaO2tDabc9sAn9xbJsaIr
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "d5c32c20-2fd0-11eb-8697-6ff6a8fce4a9", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/d59dbe04-2fd0-11eb-8697-af2b45f86de8/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"d5c32c20-2fd0-11eb-8697-6ff6a8fce4a9","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355@datadoghq.com","created_at":"2020-11-26T10:19:15.095942+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1606385954.407355@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe5a4f950ff4bb7d6c0ef7788e2eea3f?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"d59dbe04-2fd0-11eb-8697-af2b45f86de8"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vJlCdCjZjHKDWCQaZXaKHjefwu7Jotxr42UmWttwNlCEvibEd08wFg9UscwYl4z7
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '483'
      X-RateLimit-Reset:
      - '45'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d5c32c20-2fd0-11eb-8697-6ff6a8fce4a9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - +TTazL1HF8qoxYARkG/60PGoq8sbkYkmqeurNry46zV0aHqBZfUrKqxtiyo42NRf
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d59dbe04-2fd0-11eb-8697-af2b45f86de8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - xRBFY2Rp8NHDG9Rp4RaGjcqlKnbzhHpETMjn37ZNtmzdKqGU6DeuhyyL4o7jfpVZ
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '482'
      X-RateLimit-Reset:
      - '45'
    status:
      code: 204
      message: No Content
version: 1
