interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"819c89c8-2fd7-11eb-8698-93d630a5fa87","attributes":{"name":null,"handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647@datadoghq.com","created_at":"2020-11-26T11:07:00.389816+00:00","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647@datadoghq.com","icon":"https://secure.gravatar.com/avatar/796806eef318ddca7e910b44a04694bb?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 554jtl/SJjxTmK4ElYRM70FG0Y8nm2ZpMLRYU7gYOwQo5oClqUW2XRpaqEBdUJZQ
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "incidents", "attributes": {"title": "datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647",
      "customer_impacted": false, "fields": {"state": {"type": "dropdown", "value":
      "resolved"}}}, "relationships": {"commander": {"data": {"type": "users", "id":
      "819c89c8-2fd7-11eb-8698-93d630a5fa87"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"e6cd3eab-c4af-5b9e-9b77-4660cbca65a4","attributes":{"public_id":2060,"postmortem_id":null,"title":"datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-11-26T11:07:00.847725+00:00","modified":"2020-11-26T11:07:00.847725+00:00","commander":{"data":{"type":"users","id":"819c89c8-2fd7-11eb-8698-93d630a5fa87","attributes":{"uuid":"819c89c8-2fd7-11eb-8698-93d630a5fa87","handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647@datadoghq.com","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1606388819.614647@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/796806eef318ddca7e910b44a04694bb?s=48&d=retro"}}},"detected":"2020-11-26T11:07:00.845797+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"819c89c8-2fd7-11eb-8698-93d630a5fa87"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"92e8db08-c7e8-5077-aca2-bbc950ec84fb"},{"type":"user_defined_selection","id":"9862f0bb-28e9-5ad8-9574-02a88d41d059"},{"type":"user_defined_selection","id":"e8af52ec-139a-54d1-8d45-819a77913c4b"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 44pXRUqPlKJksqlF9t12wqxQzE9aBJ9ruTPYPBADYqfMpbefZ37/kVt2KhgjSVU2
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '3180'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncident
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/e6cd3eab-c4af-5b9e-9b77-4660cbca65a4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 4800hhM5D8qj6yrPc+dlMvhUa+SbSJAXG/yPCxJaOKK9a5IkPxDsNnyOdNMLl2nJ
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '59'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/819c89c8-2fd7-11eb-8698-93d630a5fa87
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - x0lXQI7rzyICHjQ6egBdIXvv6oH1uc+zPjPKGBnD3VLYo8imKB14VpRl9Uf7xZN/
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
version: 1
