interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_create_a_new_incident_team_returns_created_response-1608030719.792957"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"724b3c3c-46b2-5952-bf3d-cba296021968","attributes":{"name":"datadog-api-client-python-test_create_a_new_incident_team_returns_created_response-1608030719.792957","created":"2020-12-15T11:12:00.301481+00:00","modified":"2020-12-15T11:12:00.301481+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 3AvoK4pndynA7PY/liBTdpx9AsQktJu+aWgi7foN678xjM6qh6SX+QmI+4s5bpFv
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '60'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentTeam
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/teams/724b3c3c-46b2-5952-bf3d-cba296021968
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - E8kYJH6Hb74I4gS4d8oTnZBbKR38RfM4isuhSW09hK2ARkJHcJxE0DNPxSd582jS
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '60'
    status:
      code: 204
      message: No Content
version: 1
