interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1606385976.243263@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e2a26e9c-2fd0-11eb-8697-ffacd0790806","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1606385976.243263@datadoghq.com","created_at":"2020-11-26T10:19:36.691549+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1606385976.243263@datadoghq.com","icon":"https://secure.gravatar.com/avatar/60b49276c72db8484e9e1d86b582a8e2?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bCBSaf0t3cWhIJuGOGz9PtbBY7MrMPu1HpZVAposegdxNlFMe/qHi/UbtNAIVmzS
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e2a26e9c-2fd0-11eb-8697-ffacd0790806
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - T0M8IUSL6bs+R5gmxnIS28KoD5lx0N0IU04TSlNtiD3lkhl9dUsMKLoAlE6epfmg
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
version: 1
