interactions:
- request:
    body: '{"filter": {"query": "datadog-agent", "indexes": ["main"], "from": "2020-09-17T11:48:36+00:01",
      "to": "2020-09-17T12:48:36+00:01"}, "sort": "timestamp", "page": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '300'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '297'
      X-RateLimit-Reset:
      - '1684'
    status:
      code: 200
      message: OK
version: 1
