interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1598516533.052806@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"69142946-e83e-11ea-aa53-7f204b91f3fd","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598516533.052806@datadoghq.com","created_at":"2020-08-27T08:22:13.675045+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598516533.052806@datadoghq.com","icon":"https://secure.gravatar.com/avatar/807b1add31295fcc36666ad180dac366?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sKAY0l5Dq+9OdN3cdjnBmv3dOgVdaJs4B9XR5o+IUZC5EZY9C+nnqv+YslWCCjmi
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "69142946-e83e-11ea-aa53-7f204b91f3fd", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/69142946-e83e-11ea-aa53-7f204b91f3fd
  response:
    body:
      string: '{"data":{"type":"users","id":"69142946-e83e-11ea-aa53-7f204b91f3fd","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598516533.052806@datadoghq.com","created_at":"2020-08-27T08:22:13.675045+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598516533.052806@datadoghq.com","icon":"https://secure.gravatar.com/avatar/807b1add31295fcc36666ad180dac366?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WMqkdiu/k4tYC8oJLm7ZFuFlnIXAYAXwOPQoxLtj7bgJQppYJErVkGl/2/O/+zpm
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"id": "f9dc25a8-e840-11ea-aa53-af94b6dec965", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/f9dc25a8-e840-11ea-aa53-af94b6dec965
  response:
    body:
      string: '{"data":{"type":"users","id":"f9dc25a8-e840-11ea-aa53-af94b6dec965","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598517635.032527@datadoghq.com","created_at":"2020-08-27T08:40:35.570950+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1598517635.032527@datadoghq.com","icon":"https://secure.gravatar.com/avatar/73e3e769bcc51fd07a2c1e3dda01431d?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1yK3PnBzCoxF/WGKEJeJqS2Jb9mutr3xDuvLdPbJCfX1HVDqeCXkaWYDO6wQpQhO
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 200
      message: OK
version: 1
