interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"60cec126-fcc8-11ea-b0f2-6352c9c8d8c9","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705","created_at":"2020-09-22T11:40:13.603548+00:00","modified_at":"2020-09-22T11:40:13.603548+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ks6TYG2WFSBr2qT+ZTFJB8BB7VWuwPmODDq52A4JjLzCAAitR8HQc9JBq+LHjJu4
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '493'
      X-RateLimit-Reset:
      - '47'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"60f9eec8-fcc8-11ea-b0f2-c751a6cf5bdc","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705@datadoghq.com","created_at":"2020-09-22T11:40:13.884944+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705@datadoghq.com","icon":"https://secure.gravatar.com/avatar/983050c4c2aa775652067f985c2512f5?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "60f9eec8-fcc8-11ea-b0f2-c751a6cf5bdc", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/60cec126-fcc8-11ea-b0f2-6352c9c8d8c9/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"60f9eec8-fcc8-11ea-b0f2-c751a6cf5bdc","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705@datadoghq.com","created_at":"2020-09-22T11:40:13.884944+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600774813.198705@datadoghq.com","icon":"https://secure.gravatar.com/avatar/983050c4c2aa775652067f985c2512f5?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"60cec126-fcc8-11ea-b0f2-6352c9c8d8c9"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - YNPvfo/A+kRa92W7PZNTiFcSJq6YGkB9TIlX47+pHHndNDZ3ZySmub3fInFxn6Db
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/60cec126-fcc8-11ea-b0f2-6352c9c8d8c9/users
  response:
    body:
      string: '{"included":[{"type":"permissions","id":"d90f6832-d3d8-11e9-a77a-bf8a2607f864","attributes":{"name":"dashboards_public_share","display_name":"Dashboards
        Share","description":"The ability to share dashboards externally.","created":"2019-09-10T14:39:51.967094+00:00","group_name":"Dashboards","display_type":"other","restricted":false}},{"type":"permissions","id":"d90f6831-d3d8-11e9-a77a-4fd230ddbc6a","attributes":{"name":"dashboards_write","display_name":"Dashboards","description":"The
        ability to create and change dashboards.","created":"2019-09-10T14:39:51.962944+00:00","group_name":"Dashboards","display_type":"write","restricted":false}},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73","attributes":{"name":"logs_live_tail","display_name":"Logs
        Live Tail Access","description":"The abil[...]
