interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_returns_ok_response-1600941680.439353"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"e5786c30-fe4c-11ea-b268-eff110ea9709","attributes":{"name":"datadog-api-client-python-test_create_role_returns_ok_response-1600941680.439353","created_at":"2020-09-24T10:01:20.905818+00:00","modified_at":"2020-09-24T10:01:20.905818+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '488'
      X-RateLimit-Reset:
      - '40'
    status:
      code: 200
      message: OK
version: 1
