interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1608030930.464707@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d7d649ac-3ec6-11eb-8990-979188ccbbca","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608030930.464707@datadoghq.com","created_at":"2020-12-15T11:15:31.050544+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608030930.464707@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c875d1c3d7f1eb895b299b77bac30421?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - d31ebXSBBNIfMRbwTUSeNjY3IxejCQxGK8GB7MdTMNs7w40n94in+BXmkLo5BsFJ
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "d7d649ac-3ec6-11eb-8990-979188ccbbca", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/d7d649ac-3ec6-11eb-8990-979188ccbbca
  response:
    body:
      string: '{"data":{"type":"users","id":"d7d649ac-3ec6-11eb-8990-979188ccbbca","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608030930.464707@datadoghq.com","created_at":"2020-12-15T11:15:31.050544+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608030930.464707@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c875d1c3d7f1eb895b299b77bac30421?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - SjSxykLY0gTr3VkJbxmjvoevebB2pxQifq0h5HklwYksG7/9u16HyBsdYlpi9mGW
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d7d649ac-3ec6-11eb-8990-979188ccbbca
  response:
    body:
      string: '{"errors": ["d7d649ac-3ec6-11eb-8990-979188ccbbca not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 404
      message: Not Found
version: 1
