interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.232009"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"9e34d804-b6df-11ea-9c12-a77f6392b40c","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.232009","created_at":"2020-06-25T12:30:13.643156+00:00","modified_at":"2020-06-25T12:30:13.643156+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LSmCynIhKaei2ZXhUwyt9n5ny5nHZCYRNYsTU4+Q86mceDsWCQtfUVf4lac22qNa
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.730645@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9e54ffda-b6df-11ea-9c12-47301d593dac","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.730645@datadoghq.com","created_at":"2020-06-25T12:30:13.853769+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.730645@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a9b98e33bd03317e9f7b1a52d79fc9a0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LOVPYRkvxiVgJlSU7tTR5QW5I3IByFfoP5oRWZk6jukYFQiYGeCZXWoo6PiPBzrK
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "9e54ffda-b6df-11ea-9c12-47301d593dac", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/9e34d804-b6df-11ea-9c12-a77f6392b40c/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"9e54ffda-b6df-11ea-9c12-47301d593dac","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.730645@datadoghq.com","created_at":"2020-06-25T12:30:13.853769+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593088213.730645@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a9b98e33bd03317e9f7b1a52d79fc9a0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"9e34d804-b6df-11ea-9c12-a77f6392b40c"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pEDVi2191MvoIMwusdL+COAxndBmcRhJtxAtWxDDnECWDI8Z99hIoBZbpR57tJKz
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
