interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_permissions_returns_ok_response-1600941656.698624@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d74b1892-fe4c-11ea-b268-9751af0636c0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_permissions_returns_ok_response-1600941656.698624@datadoghq.com","created_at":"2020-09-24T10:00:57.119845+00:00","email":"datadog-api-client-python-test_get_a_user_permissions_returns_ok_response-1600941656.698624@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f4a9d585a39191d030f5e045cf31071c?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - b7N5fdPhYXDjMBDnrRAJWxJNxeU8H5y+B5ea/L1cXAMez449FKZtw3SF5mhatH7J
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUserPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/d74b1892-fe4c-11ea-b268-9751af0636c0/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 200
      message: OK
version: 1
