interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600941681.264929@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e5ed06c6-fe4c-11ea-b268-07db08261ae6","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600941681.264929@datadoghq.com","created_at":"2020-09-24T10:01:21.669042+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600941681.264929@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5b33388fe86aba3acef8d08f4c930b14?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - BZ+RYjLsV2y+9XXNTM/Wbkdcz3DkJnqgQFCAf9xIIxOOOd9x3Em2wjhPfW0piM2C
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "e5ed06c6-fe4c-11ea-b268-07db08261ae6"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"e618dd3c-fe4c-11ea-b268-ebdfd9368d7f","attributes":{"uuid":"e618dd3c-fe4c-11ea-b268-ebdfd9368d7f","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-24T10:01:21.957427+00:00","expires_at":"2020-09-26T10:01:21.900011+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e5ed06c6-fe4c-11ea-b268-07db08261ae6"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - lqMB0JFM99VhRtxXIpWUr9JgjDFKxnlkUv1nxFsIcQfFO0NMuI7D2Hh8tiSgYzCo
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
version: 1
