interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1600857122.288996@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"04d9cd6e-fd88-11ea-b1b0-db35c360a062","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600857122.288996@datadoghq.com","created_at":"2020-09-23T10:32:02.696633+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600857122.288996@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1fd79c34efed0ce8c21cd26c06e34d2b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ApDR7dmCPzU09s5sGJ6tunvBxSFKQfwajJriSdeRXXH0ohfkw5+3MDbyzkcCLNJJ
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/04d9cd6e-fd88-11ea-b1b0-db35c360a062
  response:
    body:
      string: '{"data":{"type":"users","id":"04d9cd6e-fd88-11ea-b1b0-db35c360a062","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600857122.288996@datadoghq.com","created_at":"2020-09-23T10:32:02.696633+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600857122.288996@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1fd79c34efed0ce8c21cd26c06e34d2b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 200
      message: OK
version: 1
