interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"69891cce-f9a5-11ea-adf4-d7aa0bfd6e6f","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614","created_at":"2020-09-18T11:52:22.372677+00:00","modified_at":"2020-09-18T11:52:22.372677+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kS9NSnhl4uQ8VlOuLb8SB7TQURuCRIbRwHRx1a1SKX/xDGoogXWL0I8r2t0CM40K
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '480'
      X-RateLimit-Reset:
      - '38'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"69abf456-f9a5-11ea-adf4-ebea463b630a","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614@datadoghq.com","created_at":"2020-09-18T11:52:22.599840+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62eb6036d677ac5755342e6202b18b3a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - NVN1vUIP943yBv5BrKvNkq9LhGENimQCGx913v3GQzIJuXIMEzcrTlr1CpALPFWv
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "69abf456-f9a5-11ea-adf4-ebea463b630a", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/69891cce-f9a5-11ea-adf4-d7aa0bfd6e6f/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"69abf456-f9a5-11ea-adf4-ebea463b630a","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614@datadoghq.com","created_at":"2020-09-18T11:52:22.599840+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600429941.913614@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62eb6036d677ac5755342e6202b18b3a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"69891cce-f9a5-11ea-adf4-d7aa0bfd6e6f"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '479'
      X-RateLimit-Reset:
      - '38'
    status:
      code: 200
      message: OK
[...]
