interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600857095.071275@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f4a43006-fd87-11ea-b1b0-c376a8520117","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600857095.071275@datadoghq.com","created_at":"2020-09-23T10:31:35.501880+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600857095.071275@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d380c34554c4c1da0d7c03d3f4f26d27?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bOYRvpIMaDWtEAFc77xh4cYKoSxr/zmllvfW+/1TUFo7Zbru0n5QEX4LCoKiS3Mv
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "f4a43006-fd87-11ea-b1b0-c376a8520117"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"f4d6fd60-fd87-11ea-b1b0-6b8bd894fedc","attributes":{"uuid":"f4d6fd60-fd87-11ea-b1b0-6b8bd894fedc","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-23T10:31:35.836001+00:00","expires_at":"2020-09-25T10:31:35.774160+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f4a43006-fd87-11ea-b1b0-c376a8520117"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /3efrffY0fOidOw5YXy+ujUt+jIWndj9KkkaQ3CKNiYFs6CCTkTChAR8M9mejUqc
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
version: 1
