interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1606385977.275276@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e3425434-2fd0-11eb-8697-7f31db5ef30b","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1606385977.275276@datadoghq.com","created_at":"2020-11-26T10:19:37.739233+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1606385977.275276@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dc6536b74a4ecbf739ca3fa236717eb8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gOE+aFCHWuxgDnurm/juvZNkjdmweNjl464qle0N/zRJcc4Hspd926ElnnqPP95G
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "e3425434-2fd0-11eb-8697-7f31db5ef30b", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/e3425434-2fd0-11eb-8697-7f31db5ef30b
  response:
    body:
      string: '{"data":{"type":"users","id":"e3425434-2fd0-11eb-8697-7f31db5ef30b","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1606385977.275276@datadoghq.com","created_at":"2020-11-26T10:19:37.739233+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1606385977.275276@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dc6536b74a4ecbf739ca3fa236717eb8?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - NVdxML/FOEgLJzsz37XLTVVLcoGTHoJzcuGu2ZwX+JAXQfJkO87pOpfJK6E0a8TN
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e3425434-2fd0-11eb-8697-7f31db5ef30b
  response:
    body:
      string: '{"errors": ["e3425434-2fd0-11eb-8697-7f31db5ef30b not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 404
      message: Not Found
version: 1
