interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1600762875.671556",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"U1MwT294SjFSNmFpbFBvbnVlandPd3xFb0I3TDlSakt0VnB4a0JnVkxIVHZn","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hj67/REi7e3yYcyH3k1IhaTqyaqEZObxcXfHyl0cMf/YGOgEumufCDMBPGXJkv7n
      X-DD-VERSION:
      - '35.3072861'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1600763490.735502",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"LUdmS1V3Sk1ROUtacndEUXRTRFRPUXxDVXBPbXJIM25nQzlSWjlURzhvM3BB","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZvbT5Hkp4NkmoFNp2kmSQo90Sobu/hiarT/8VcAY1HhBaO2tDabc9sAn9xbJsaIr
      X-DD-VERSION:
      - '35.3072861'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 200
      message: OK
version: 1
