interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_returns_ok_response-1593621115.840645"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"60ecccc6-bbb8-11ea-9c9e-6f5275c4e8fd","attributes":{"name":"datadog-api-client-python-test_create_role_returns_ok_response-1593621115.840645","created_at":"2020-07-01T16:31:56.272127+00:00","modified_at":"2020-07-01T16:31:56.272127+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wi4QF3nhe5s0sRyfZvyTHLc/3mQu/jJVn8BZnev44SXt+VBNA1+haKi5VcNZFpaP
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_returns_ok_response-1593621218.202334"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"9dfa8d92-bbb8-11ea-9c9e-1f5acb8cecd1","attributes":{"name":"datadog-api-client-python-test_create_role_returns_ok_response-1593621218.202334","created_at":"2020-07-01T16:33:38.703375+00:00","modified_at":"2020-07-01T16:33:38.703375+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - cYNsy3QDuOaYo2clO/PharSNtCykS9KtUfiNevH3xDbHJlRyddWkNpuDhMgHWZ43
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
version: 1
