interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_list_roles_returns_ok_response-1600857134.635335"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"0c3c5054-fd88-11ea-b1b0-0f1cd0996035","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600857134.635335","created_at":"2020-09-23T10:32:15.087323+00:00","modified_at":"2020-09-23T10:32:15.087323+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hj67/REi7e3yYcyH3k1IhaTqyaqEZObxcXfHyl0cMf/YGOgEumufCDMBPGXJkv7n
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '482'
      X-RateLimit-Reset:
      - '45'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=datadog-api-client-python-test_list_roles_returns_ok_response-1600857134.635335
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":938}},"data":[{"type":"roles","id":"0c3c5054-fd88-11ea-b1b0-0f1cd0996035","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600857134.635335","created_at":"2020-09-23T10:32:15.087323+00:00","modified_at":"2020-09-23T10:32:15.087323+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pM+XKBj4qFLZ8yMOGFimFFWK4TZi4eDSQXhACYRLW8peTFy6SOt656nT+bVYauOi
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '481'
      X-RateLimit-Reset:
      - '45'
    status:
      code: 200
      message: OK
version: 1
