interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"094ceaa8-2843-11eb-8315-bb3f8d561745","attributes":{"name":null,"handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198@datadoghq.com","created_at":"2020-11-16T19:36:34.887320+00:00","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5fdaf2934bdb21b0db878719d810aa3c?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - M5AkO8bVyO5yuX6OQA9nCjANXZokYPd2NqFZwMNyvfQQbQnBskFTa6rdUllh6BsX
      X-DD-VERSION:
      - '35.3376354'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "incidents", "attributes": {"title": "datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198",
      "customer_impacted": false, "fields": {"state": {"type": "dropdown", "value":
      "resolved"}}}, "relationships": {"commander": {"data": {"type": "users", "id":
      "094ceaa8-2843-11eb-8315-bb3f8d561745"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"f7460fc6-3193-5366-864f-b46e485cf07c","attributes":{"public_id":237,"postmortem_id":null,"title":"datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-11-16T19:36:35.165748+00:00","modified":"2020-11-16T19:36:35.165748+00:00","commander":{"data":{"type":"users","id":"094ceaa8-2843-11eb-8315-bb3f8d561745","attributes":{"uuid":"094ceaa8-2843-11eb-8315-bb3f8d561745","handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198@datadoghq.com","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1605555394.577198@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/5fdaf2934bdb21b0db878719d810aa3c?s=48&d=retro"}}},"detected":"2020-11-16T19:36:35.163685+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"094ceaa8-2843-11eb-8315-bb3f8d561745"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"746b63eb-d695-5624-9001-a468bb33c298"},{"type":"user_defined_selection","id":"9abe89a3-9732-5f06-bb04-19b3d89da9b2"},{"type":"user_defined_selection","id":"ca539a23-cfee-5fb9-9b7f-77b098bf8fa2"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WInJ5NoKnWsGfpc5/7O8IFkOGqBCSPXHlW+v7fDYTqv2rGTGsFEBI9cuh2tqdLoD
      X-DD-VERSION:
      - '35.3376354'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '19'
      X-RateLimit-Reset:
      - '1405'
    status:
      code: 201
      message: Created
version: 1
