interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600774815.387785"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"b5420f18-780a-51ea-a4dc-67045d86c132","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600774815.387785","created":"2020-09-22T11:40:15.856040+00:00","modified":"2020-09-22T11:40:15.856040+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - uJb7fuSDu6iXljQCoPn45fU8YYeT+x+yw2Q7czkcLp8QmqZJ0xH7Oi7cYVs2cz8W
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetTeam
    method: GET
    uri: https://api.datadoghq.com/api/v2/teams/b5420f18-780a-51ea-a4dc-67045d86c132
  response:
    body:
      string: '{"data":{"type":"teams","id":"b5420f18-780a-51ea-a4dc-67045d86c132","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600774815.387785","created":"2020-09-22T11:40:15.856040+00:00","modified":"2020-09-22T11:40:15.856040+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - DzEnZCQWT9euguf/bcLShPm1gznPA9ZqLP7LjIXyQlgbj6pbs1ZQonx5miG7wBC7
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 200
      message: OK
version: 1
