interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608030720.574726"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"8f563bb6-801b-52da-875a-d7f850f76cd2","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608030720.574726","created":"2020-12-15T11:12:01.040392+00:00","modified":"2020-12-15T11:12:01.040392+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - x0lXQI7rzyICHjQ6egBdIXvv6oH1uc+zPjPKGBnD3VLYo8imKB14VpRl9Uf7xZN/
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '59'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetIncidentService
    method: GET
    uri: https://api.datadoghq.com/api/v2/services/8f563bb6-801b-52da-875a-d7f850f76cd2
  response:
    body:
      string: '{"data":{"type":"services","id":"8f563bb6-801b-52da-875a-d7f850f76cd2","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608030720.574726","created":"2020-12-15T11:12:01.040392+00:00","modified":"2020-12-15T11:12:01.040392+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '59'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/8f563bb6-801b-52da-875a-d7f850f76cd2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '59'
    status:
      code: 204
      message: No Content
version: 1
