interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_delete_role_leading_to_ok-1593012109.209646"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"6cd2c8ea-b62e-11ea-9b4e-2b85922e7965","attributes":{"name":"datadog-api-client-python-test_delete_role_leading_to_ok-1593012109.209646","created_at":"2020-06-24T15:21:49.870299+00:00","modified_at":"2020-06-24T15:21:49.870299+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mIWJPPM06xs5rSGFgggpdD5UbOnt6ntntAO8/8YDsVuXnSmp/k0aZ5dEUtAKB7Td
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/6cd2c8ea-b62e-11ea-9b4e-2b85922e7965
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ldNaA6dSEPDapjFoBolZNm9KKT/3iEJM/Q1IyMe2D0P7l2S/rGI4bTGzxgP0/9Zs
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/6cd2c8ea-b62e-11ea-9b4e-2b85922e7965
  response:
    body:
      string: '{"errors": ["The role 6cd2c8ea-b62e-11ea-9b4e-2b85922e7965 does not
        exist not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/7cf91324-b6dc-11ea-9c12-1b779ac323a4
  response:
    body:
      string: '{"errors": ["The role 7cf91324-b6dc-11ea-9c12-1b779ac323a4 does not
        exist not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 404
      message: Not Found
version: 1
