interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1598520611.22743@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e7c2cbfe-e847-11ea-aa53-1746774dd6d4","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1598520611.22743@datadoghq.com","created_at":"2020-08-27T09:30:11.682846+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1598520611.22743@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0498f481209a2c4bdc1717b5ae37c615?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 4zw1NnYiZt4wp0syhFEidO9Mcjc6rfPz6lIvXBSwWuplBSXLVyoWV6VIuyPxYSUD
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "e7c2cbfe-e847-11ea-aa53-1746774dd6d4"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"e7eb6f8c-e847-11ea-aa53-7fff9da7e493","attributes":{"uuid":"e7eb6f8c-e847-11ea-aa53-7fff9da7e493","login_method":null,"invite_type":"openid_invite","created_at":"2020-08-27T09:30:11.950495+00:00","expires_at":"2020-08-29T09:30:11.909891+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e7c2cbfe-e847-11ea-aa53-1746774dd6d4"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Lz3XQmS/aMrD2s8dTb68gJQbMlDQb/2odnJX/DHsjHnv1C9na1q4YNvmnKcr4AfX
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "ff9dc314-e847-11ea-aa53-67da44d49753"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"ffce917e-e847-11ea-aa53-df89595d42e9","attributes":{"uuid":"ffce917e-e847-11ea-aa53-df89595d42e9","login_method":null,"invite_type":"openid_invite","created_at":"2020-08-27T09:30:52.026635+00:00","expires_at":"2020-08-29T09:30:51.962338+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ff9dc314-e847-11ea-aa53-67da44d49753"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RquGBod+QwJwo5jKyeuGJHvfWvWfZ0hMpUnxtqqEEEpqySzsuyt8sx6iN5riB0bK
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 201
      message: Created
version: 1
