interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593088214.825915"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"9f2cab6a-b6df-11ea-9c12-2ba917ae478c","attributes":{"name":"datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593088214.825915","created_at":"2020-06-25T12:30:15.268055+00:00","modified_at":"2020-06-25T12:30:15.268055+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ns395qtajdi4vImLC5PhByq3vzX3KV9r4kOaLqZ3Kb42AGxxpM06vNzB/Pdubr1b
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/9f2cab6a-b6df-11ea-9c12-2ba917ae478c
  response:
    body:
      string: '{"data":{"type":"roles","id":"9f2cab6a-b6df-11ea-9c12-2ba917ae478c","attributes":{"name":"datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593088214.825915","created_at":"2020-06-25T12:30:15.268055+00:00","modified_at":"2020-06-25T12:30:15.268055+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
