interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1608030674.494888@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3f48fea0-3ec6-11eb-8990-ababc7e5ae20","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1608030674.494888@datadoghq.com","created_at":"2020-12-15T11:11:15.110280+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1608030674.494888@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9732717f5fc295c1b53e0b5bdbf7cb32?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IGILlPY3s4a9aUQtJHHVlvsXLPi5u8MQt/Dx/1ZwzrUgiVNBtJEB93e+6VlWNrdA
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3f48fea0-3ec6-11eb-8990-ababc7e5ae20
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - oqlClNgBffXSYxjxM4MXW8YBCUkTvkeEyGekJFD2ia4zlDKNcD3ROot7wMYW8Xj+
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
version: 1
