interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_list_roles_returns_ok_response-1608030700.840077"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"4ee93280-3ec6-11eb-8990-0b164271789a","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1608030700.840077","created_at":"2020-12-15T11:11:41.327229+00:00","modified_at":"2020-12-15T11:11:41.327229+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '491'
      X-RateLimit-Reset:
      - '19'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=datadog-api-client-python-test_list_roles_returns_ok_response-1608030700.840077
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3256}},"data":[{"type":"roles","id":"4ee93280-3ec6-11eb-8990-0b164271789a","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1608030700.840077","created_at":"2020-12-15T11:11:41.327229+00:00","modified_at":"2020-12-15T11:11:41.327229+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - flm57y1PQqDCGTMvz2Hc0LeaE4WpeyLyl0nK7TyUHhnh1/aAaCfINCnK5EAgp4id
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '490'
      X-RateLimit-Reset:
      - '19'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/4ee93280-3ec6-11eb-8990-0b164271789a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 60y8fjrf9Lhu8NRmYggZaUH1GQDnKp7ho4emCLNdZoXJeU4a0zvnmPIF2dQ+VP/K
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '489'
      X-RateLimit-Reset:
      - '19'
    status:
      code: 204
      message: No Content
version: 1
