interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_disable_a_user_leading_to_ok-1592995025.06413@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a5c1a0f4-b606-11ea-9b4a-b73a59419cb3","attributes":{"name":null,"handle":"datadog-api-client-python-test_disable_a_user_leading_to_ok-1592995025.06413@datadoghq.com","created_at":"2020-06-24T10:37:05.519467+00:00","email":"datadog-api-client-python-test_disable_a_user_leading_to_ok-1592995025.06413@datadoghq.com","icon":"https://secure.gravatar.com/avatar/935ad6727dfc96240f1858145fdf0b9d?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - DAk/CQntZmry+u4cYsuVOELuKFo1I3NzKRNwPlY9WvlbH+rffk5VylB8tKDaSRWP
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/a5c1a0f4-b606-11ea-9b4a-b73a59419cb3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2VXDwI2pcuhRZeQ6xt/fJh1koMYSfGcgQg5wAzgLqeh10Zf5/W946U7T5w6SEIhy
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/a5c1a0f4-b606-11ea-9b4a-b73a59419cb3
  response:
    body:
      string: '{"errors": ["a5c1a0f4-b606-11ea-9b4a-b73a59419cb3 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ff143464-b60b-11ea-9b4a-2b1a98c087a9
  response:
    body:
      string: '{"errors": ["ff143464-b60b-11ea-9b4a-2b1a98c087a9 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2659280'
    status:
      code: 404
      message: Not Found
version: 1
