interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d94ca3ea-fe4c-11ea-b268-d7354ebb2759","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681@datadoghq.com","created_at":"2020-09-24T10:01:00.484174+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a826c2582c803437a7cf014d0697b9a6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - DRZWTHDeKolQqk6GEAFoSVDF1cV93C/z8xwO7umb9e0luQPYr8BUl8IXxXdpfaM5
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":39490}},"data":[{"type":"users","id":"d94ca3ea-fe4c-11ea-b268-d7354ebb2759","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681@datadoghq.com","created_at":"2020-09-24T10:01:00.484174+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600941660.09681@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a826c2582c803437a7cf014d0697b9a6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - oARhNtI/6EvWShO4AFzODjV25iS4y9uHctlNmddhrc7oiR5CBUO6OzfRiwtsABEM
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 200
      message: OK
version: 1
