interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"e438e00c-fe4c-11ea-b268-73c10e41fe90","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881","created_at":"2020-09-24T10:01:18.811630+00:00","modified_at":"2020-09-24T10:01:18.811630+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - xX5B3VEUzj/lf2mLoLzvYApJQ8Milw+OjpcorJhw8mNeFxMv2SeFpmruGZDusq8/
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '493'
      X-RateLimit-Reset:
      - '42'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e45accc6-fe4c-11ea-b268-d3fc08593a07","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881@datadoghq.com","created_at":"2020-09-24T10:01:19.032882+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5446be187bb015c436293dc4ff42ae90?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RCObiQ2dtM/JQUOdAbTQmIrpsZR5eT9bZEwE14hAfjq3x8DBTBCy/8ina/nQCRGE
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "e45accc6-fe4c-11ea-b268-d3fc08593a07", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/e438e00c-fe4c-11ea-b268-73c10e41fe90/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"e45accc6-fe4c-11ea-b268-d3fc08593a07","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881@datadoghq.com","created_at":"2020-09-24T10:01:19.032882+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600941678.379881@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5446be187bb015c436293dc4ff42ae90?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"e438e00c-fe4c-11ea-b268-73c10e41fe90"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - TlObKNxJC6mRjORAptBjah7X7IZlZoWDhxDuIhUdNUMmnkpihyb67mpyYPwy4Xl5
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '41'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "e45accc6-fe4c-11ea-b268-d3fc08593a07", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/e438e00c-fe4c-11ea-b268-73c10e41fe90/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - JNmeA3l0ccOXtA8wh8DpQGSmyIQ4z3r0Sqn1W1sQHkMGKxYzMqf/DJpF1RAS+Dpy
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '491'
      X-RateLimit-Reset:
      - '41'
    status:
      code: 200
      message: OK
version: 1
