interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1606385953.492295"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"d511ffb8-2fd0-11eb-8697-a768b5d32794","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1606385953.492295","created_at":"2020-11-26T10:19:13.935411+00:00","modified_at":"2020-11-26T10:19:13.935411+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LYsZ0Yx6eBAuyo7daRCU44YMxz7whaow2DP3vSdsKGIEYbXvJNYBjlZ+OHX/fFOc
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '487'
      X-RateLimit-Reset:
      - '47'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/d511ffb8-2fd0-11eb-8697-a768b5d32794
  response:
    body:
      string: '{"data":{"type":"roles","id":"d511ffb8-2fd0-11eb-8697-a768b5d32794","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1606385953.492295","created_at":"2020-11-26T10:19:13.935411+00:00","modified_at":"2020-11-26T10:19:13.935411+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - tn++ajambiboc22yEZp2LPSDqkKgxYU69+naXgFtW57aX7Q9JfJBptYV8xTFKhXT
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '486'
      X-RateLimit-Reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d511ffb8-2fd0-11eb-8697-a768b5d32794
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - yh6YON+7jbeDMg7CO+AYyoesqWeq0Iw5xzcOjFKKupoYHnh4eyLWds2GSgfB/+lP
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '485'
      X-RateLimit-Reset:
      - '46'
    status:
      code: 204
      message: No Content
version: 1
