interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593085225.935225"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a9a6b876-b6d8-11ea-9c12-2364f3a6b8a1","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593085225.935225","created_at":"2020-06-25T11:40:26.367757+00:00","modified_at":"2020-06-25T11:40:26.367757+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vG5kxpR47Wd0uZGIzWkStfMxs3cmVIjKYEHLQf0xQiHS0P2BwlwJHwTESUSKlcdO
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/a9a6b876-b6d8-11ea-9c12-2364f3a6b8a1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gCSZ7BDMU1GjNFaR6hO6ZgwcgG3iOVugDLAlbR+YVBEuMFHhC330JIFkvjLveHm3
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 204
      message: No Content
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593086115.012567@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"bb6753b6-b6da-11ea-9c12-7ffeab90f07d","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593086115.012567@datadoghq.com","created_at":"2020-06-25T11:55:15.144007+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593086115.012567@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aaabf7e566d11cccf2816c3940203d60?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pT9LlAdgAzlrCUxMXQkBRs/Qti76jKIHng1uB0/SctAaYjB4WqOgOZYpCbOMQKll
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "bb6753b6-b6da-11ea-9c12-7ffeab90f07d", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/a9a6b876-b6d8-11ea-9c12-2364f3a6b8a1/users
  response:
    body:
      string: '{"errors": ["Missing Role a9a6b876-b6d8-11ea-9c12-2364f3a6b8a1 not
        found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/bb6753b6-b6da-11ea-9c12-7ffeab90f07d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - QaEGvF++JqTbTiFomKhE21Fdnra2zinKOaCEqOgwcd7OtJatRLgvovBbCNyGqcpO
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"data": {"id": "7f0e28ac-b6dc-11ea-9c12-930a1ad57934", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/7ed5f2e8-b6dc-11ea-9c12-9b32fb94b75a/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"7f0e28ac-b6dc-11ea-9c12-930a1ad57934","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593086872.619521@datadoghq.com","created_at":"2020-06-25T12:07:52.888133+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_leading_to_ok-1593086872.619521@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1746c0271f1c8b9e3f35d07b0ba1e20d?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"7ed5f2e8-b6dc-11ea-9c12-9b32fb94b75a"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ztq+F8HwxRthTKNo0l2MCEDK5uwvgQzF00nWu49lHsBM51hGZBm/pPILDqupy+Xd
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/7ed5f2e8-b6dc-11ea-9c12-9b32fb94b75a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vQYgH+orCqhRbQG/mSd6IeQSqyYBCkFVCv4Bj6PXMALQcvTK5EvxQuH7fIz3d52m
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
