interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1606385937.835903"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"6fd30164-5d35-5774-8940-3661a61e530d","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1606385937.835903","created":"2020-11-26T10:18:58.293141+00:00","modified":"2020-11-26T10:18:58.293141+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wu8XyxdUJ940l1hlQ/4Scl2Xta78KG1wkfVN63sn1HQ3Sk/ZYNPBQ2v2fbOhjvmn
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11998'
      X-RateLimit-Reset:
      - '2'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetIncidentService
    method: GET
    uri: https://api.datadoghq.com/api/v2/services/6fd30164-5d35-5774-8940-3661a61e530d
  response:
    body:
      string: '{"data":{"type":"services","id":"6fd30164-5d35-5774-8940-3661a61e530d","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1606385937.835903","created":"2020-11-26T10:18:58.293141+00:00","modified":"2020-11-26T10:18:58.293141+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - weu815+ZWWbGQq5tr1Pbgn9tz03CIxMGqv8+DypizfBZ1wZXms1G/y6kUb21vi3s
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11999'
      X-RateLimit-Reset:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/6fd30164-5d35-5774-8940-3661a61e530d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - fOvn++WNyeGiJqGJ1RGVl2OtzlCSW+9FmhW07NDhLHuS9Ypy2JL89j65gnqIRQTf
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11998'
      X-RateLimit-Reset:
      - '2'
    status:
      code: 204
      message: No Content
version: 1
