interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600281789.948388"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"name":"Matt
        Hardwick","handle":"matt.hardwick@datadoghq.com","created_at":"2019-05-15T20:23:56.312874+00:00","email":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"8bb4d410-00cb-11ea-a77b-538f1147085c"}}}}],"data":{"type":"services","id":"a77d2fc5-51fb-5cbb-b4da-684e2509a0a3","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600281789.948388","created":"2020-09-16T18:43:10.208371+00:00","modified":"2020-09-16T18:43:10.208371+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - jrdNt2QvGarP6yOsylH3GAxdMWXM4CYDKNbO7i0omswFkFozD11pdA/9Rp2czovd
      X-DD-VERSION:
      - '35.3045879'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetService
    method: GET
    uri: https://api.datadoghq.com/api/v2/services/a77d2fc5-51fb-5cbb-b4da-684e2509a0a3
  response:
    body:
      string: '{"data":{"type":"services","id":"a77d2fc5-51fb-5cbb-b4da-684e2509a0a3","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600281789.948388","created":"2020-09-16T18:43:10.208371+00:00","modified":"2020-09-16T18:43:10.208371+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - saoIV/FA/z8H0gcXHP3CQ32hxYowRdGCvx+QRO7UdacLP4hVHOLNCuxXnf6LPRGD
      X-DD-VERSION:
      - '35.3045879'
    status:
      code: 200
      message: OK
version: 1
