interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_disable_a_user_returns_ok_response-1608030685.386899@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"45ad910c-3ec6-11eb-8990-5fdf547b31a9","attributes":{"name":null,"handle":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1608030685.386899@datadoghq.com","created_at":"2020-12-15T11:11:25.836336+00:00","email":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1608030685.386899@datadoghq.com","icon":"https://secure.gravatar.com/avatar/298ffdac2013c720cd830e404fbd2cb4?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - YMUurOrBBSQDW8c48zSvcN5vlrEH+LpXx/tElldVcj/y8fT1cTjwsBugqb97UH4Q
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/45ad910c-3ec6-11eb-8990-5fdf547b31a9
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /0aUVUH/0B08LSgkH1j961ejfqRhimJkYAixzpnRf5lscmOFHWjl/leOQ3Mnfn7R
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/45ad910c-3ec6-11eb-8990-5fdf547b31a9
  response:
    body:
      string: '{"errors": ["45ad910c-3ec6-11eb-8990-5fdf547b31a9 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 404
      message: Not Found
version: 1
