interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_delete_role_leading_to_ok-1593088223.069143"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a415f9b0-b6df-11ea-9c12-ebbc50d223f1","attributes":{"name":"datadog-api-client-python-test_delete_role_leading_to_ok-1593088223.069143","created_at":"2020-06-25T12:30:23.508017+00:00","modified_at":"2020-06-25T12:30:23.508017+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wts7Rn21w0qW4rqYtxheVW/4xeY9Y3ARkRMnLeq6etar4hXLqkvskJXcsIyQxYKB
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/a415f9b0-b6df-11ea-9c12-ebbc50d223f1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Iy6HNgrdx6jplabT1ZfQVzkCrk+jqjHEQw0NvfR/5Sb/NsvSUgBv2AbCahJdaB7p
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
