interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1608030675.678964"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"97ca1da1-0c11-523d-b436-c73bc41e5f7d","attributes":{"name":"datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1608030675.678964","created":"2020-12-15T11:11:16.108471+00:00","modified":"2020-12-15T11:11:16.108471+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1rlggRfE73pEFFllgZfChM1RZODDnKFUyVMEk3an2/a5+lJByU7Porp1iIMqRaO7
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '44'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1608030675.678964-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateIncidentService
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/services/97ca1da1-0c11-523d-b436-c73bc41e5f7d
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/97ca1da1-0c11-523d-b436-c73bc41e5f7d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - JGlWx87vjxzcVRF7plc107v2ByhH6ulQ34FTks4+z+qF42As7SYEoQXA/cO3iKfw
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '44'
    status:
      code: 204
      message: No Content
version: 1
