interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"e2a63d70-fe4c-11ea-b268-b73841f2b1b5","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127","created_at":"2020-09-24T10:01:16.172324+00:00","modified_at":"2020-09-24T10:01:16.172324+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WMqkdiu/k4tYC8oJLm7ZFuFlnIXAYAXwOPQoxLtj7bgJQppYJErVkGl/2/O/+zpm
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '496'
      X-RateLimit-Reset:
      - '44'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e2c6bdb6-fe4c-11ea-b268-fb149ba5901e","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127@datadoghq.com","created_at":"2020-09-24T10:01:16.384733+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a5a3f0de10ac1e86f5050b5a80b6d402?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - DWKI7VfCUqAo/A5Bt78Xxe/X4KYslPnCs7Op8wV0HLmiqy7vAxg4/ViL6IoVzy03
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "e2c6bdb6-fe4c-11ea-b268-fb149ba5901e", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/e2a63d70-fe4c-11ea-b268-b73841f2b1b5/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"e2c6bdb6-fe4c-11ea-b268-fb149ba5901e","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127@datadoghq.com","created_at":"2020-09-24T10:01:16.384733+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1600941675.787127@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a5a3f0de10ac1e86f5050b5a80b6d402?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"e2a63d70-fe4c-11ea-b268-b73841f2b1b5"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1G9SOBrnmfyC5G29bCdNvI2JHlJyC7aSDsVB1mrRvQ+HE/loVdx5+fgtIfMtj8Fo
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '495'
      X-RateLimit-Reset:
      - '44'
    status:
      code: 200
      message: OK
version: 1
