interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"f4cc276c-fe4c-11ea-b268-4b23edaacec6","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012","created_at":"2020-09-24T10:01:46.620291+00:00","modified_at":"2020-09-24T10:01:46.620291+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '477'
      X-RateLimit-Reset:
      - '14'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f4f0900c-fe4c-11ea-b268-fb5c36b2717d","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","created_at":"2020-09-24T10:01:46.857835+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8cfe6423d5af45a3b12d8a580069911?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mpg/BCzsUMOxVwcAuQg/6c40bDAb3ejXVT4tkiODN0ExybQ/Ia68faurJX6CivjX
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "f4f0900c-fe4c-11ea-b268-fb5c36b2717d", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/f4cc276c-fe4c-11ea-b268-4b23edaacec6/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"f4f0900c-fe4c-11ea-b268-fb5c36b2717d","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","created_at":"2020-09-24T10:01:46.857835+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8cfe6423d5af45a3b12d8a580069911?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f4cc276c-fe4c-11ea-b268-4b23edaacec6"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - k/zHOOzqpc4r+ZK5tvPeMjc5yHaZZgqaNAwCywXjTJpLyIGjDeV+DLPBFsNU82W8
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '476'
      X-RateLimit-Reset:
      - '13'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/f4cc276c-fe4c-11ea-b268-4b23edaacec6/users
  response:
    body:
      string: '{"included":[{"type":"roles","id":"f4cc276c-fe4c-11ea-b268-4b23edaacec6","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012","created_at":"2020-09-24T10:01:46.620291+00:00","modified_at":"2020-09-24T10:01:46.620291+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"f4f0900c-fe4c-11ea-b268-fb5c36b2717d","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","created_at":"2020-09-24T10:01:46.857835+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600941706.21012@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8cfe6423d5af45a3b12d8a580069911?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"f4cc276c-fe4c-11ea-b268-4b23edaacec6"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '475'
      X-RateLimit-Reset:
      - '13'
    status:
      code: 200
      message: OK
version: 1
