interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1600941651.587681@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d44cf02a-fe4c-11ea-b268-9343c6055fec","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600941651.587681@datadoghq.com","created_at":"2020-09-24T10:00:52.097616+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600941651.587681@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4d8b0d71fff10fd5e3d5301083cdb793?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RCObiQ2dtM/JQUOdAbTQmIrpsZR5eT9bZEwE14hAfjq3x8DBTBCy/8ina/nQCRGE
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "d44cf02a-fe4c-11ea-b268-9343c6055fec", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/d44cf02a-fe4c-11ea-b268-9343c6055fec
  response:
    body:
      string: '{"data":{"type":"users","id":"d44cf02a-fe4c-11ea-b268-9343c6055fec","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600941651.587681@datadoghq.com","created_at":"2020-09-24T10:00:52.097616+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600941651.587681@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4d8b0d71fff10fd5e3d5301083cdb793?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gOE+aFCHWuxgDnurm/juvZNkjdmweNjl464qle0N/zRJcc4Hspd926ElnnqPP95G
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 200
      message: OK
version: 1
