interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1600429916.505128@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5a6623fe-f9a5-11ea-adf4-7f0db0de4c24","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600429916.505128@datadoghq.com","created_at":"2020-09-18T11:51:56.977084+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600429916.505128@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2af277106dcac2c1a56b49978d05420b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - oARhNtI/6EvWShO4AFzODjV25iS4y9uHctlNmddhrc7oiR5CBUO6OzfRiwtsABEM
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/5a6623fe-f9a5-11ea-adf4-7f0db0de4c24
  response:
    body:
      string: '{"data":{"type":"users","id":"5a6623fe-f9a5-11ea-adf4-7f0db0de4c24","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600429916.505128@datadoghq.com","created_at":"2020-09-18T11:51:56.977084+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600429916.505128@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2af277106dcac2c1a56b49978d05420b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - U6D+zHwhpLcyO0Eu02dM74d99H/EBAKoYzfZlZJm0EgywWQgfESFIq6V9eRQe6Gm
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/0496a8ca-fcae-11ea-b0ae-2bfe0df610d7
  response:
    body:
      string: '{"data":{"type":"users","id":"0496a8ca-fcae-11ea-b0ae-2bfe0df610d7","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600763491.56535@datadoghq.com","created_at":"2020-09-22T08:31:31.969349+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600763491.56535@datadoghq.com","icon":"https://secure.gravatar.com/avatar/24be53d4132601c570a53a03b7a96a73?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 8zBNddJvUHkIbPMeF88y91Hz6JbkP3LresIlBCA27F8xJQ5O1jB8COuYutWaPiaL
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
version: 1
