interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_create_a_new_team_returns_created_response-1600774822.687512"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"43f3cb10-b1fa-54ca-9177-8453ddc79aac","attributes":{"name":"datadog-api-client-python-test_create_a_new_team_returns_created_response-1600774822.687512","created":"2020-09-22T11:40:23.123761+00:00","modified":"2020-09-22T11:40:23.123761+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bOYRvpIMaDWtEAFc77xh4cYKoSxr/zmllvfW+/1TUFo7Zbru0n5QEX4LCoKiS3Mv
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
version: 1
