interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_leading_to_ok-1593010555.711381@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ceb74c1a-b62a-11ea-9b4e-63426a0123a2","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_leading_to_ok-1593010555.711381@datadoghq.com","created_at":"2020-06-24T14:55:56.120953+00:00","email":"datadog-api-client-python-test_update_a_user_leading_to_ok-1593010555.711381@datadoghq.com","icon":"https://secure.gravatar.com/avatar/646b48d1cbd84ffcabfaab74d401e390?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Lo9psmCk9egobltaxBGqrQFhgCcgUTQoFZpr2xiSR+6tucB/owychJvFjr9YMWzu
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "ceb74c1a-b62a-11ea-9b4e-63426a0123a2", "type": "users",
      "attributes": {"name": "updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/ceb74c1a-b62a-11ea-9b4e-63426a0123a2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - xNK8D8E4U1PyLMVOdDgzcc4izX6UzMbP9Ygv1jJl/dgpKsJQ0NHsqPPadJ+IsqEV
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/7c376c38-b6dc-11ea-9c12-bb9d36cd4575
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - x4m73yTAj65OpCjnvpw3RBJyiFQpkDOBZ7rE/UM6Q4o0837nUb4ZsWFNJUD0Xh0e
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
