interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1600857140.605513@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0fc48cf0-fd88-11ea-b1b0-a74ed8d9746b","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600857140.605513@datadoghq.com","created_at":"2020-09-23T10:32:21.012360+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600857140.605513@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0b6fd30eee1b0a78fb5c1d27466eb4fa?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Lz3XQmS/aMrD2s8dTb68gJQbMlDQb/2odnJX/DHsjHnv1C9na1q4YNvmnKcr4AfX
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "0fc48cf0-fd88-11ea-b1b0-a74ed8d9746b", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/0fc48cf0-fd88-11ea-b1b0-a74ed8d9746b
  response:
    body:
      string: '{"data":{"type":"users","id":"0fc48cf0-fd88-11ea-b1b0-a74ed8d9746b","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600857140.605513@datadoghq.com","created_at":"2020-09-23T10:32:21.012360+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600857140.605513@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0b6fd30eee1b0a78fb5c1d27466eb4fa?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - cdvpcwnkjuISrw6rfWS7apTmBr9FZehyT0DDN5M25OjQvVqdwR/v3ItBF4P2Rbv7
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 200
      message: OK
version: 1
