interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1594284407.845376"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"b9ddb620-c1c0-11ea-9cec-1b48a7f5ee9e","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1594284407.845376","created_at":"2020-07-09T08:46:48.440941+00:00","modified_at":"2020-07-09T08:46:48.440941+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - CFSDBBie5Okt4N1oWVJNTAqpt778eCo7VQZ0NhVFWw8MHYFUwuA7DURhpFRYY+Wy
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "b9ddb620-c1c0-11ea-9cec-1b48a7f5ee9e", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1594284407.845376-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/b9ddb620-c1c0-11ea-9cec-1b48a7f5ee9e
  response:
    body:
      string: '{"data":{"type":"roles","id":"b9ddb620-c1c0-11ea-9cec-1b48a7f5ee9e","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1594284407.845376-updated","created_at":"2020-07-09T08:46:48.440941+00:00","modified_at":"2020-07-09T08:46:48.667793+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 9KqlMq3gTLpkJSVJyvAwXe8+x8jjzLiadKiJ+urXt2iPIG7RDD8GegNJYYpRqZOo
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
version: 1
