interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1593621108.02983@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5c574ec0-bbb8-11ea-9c9e-f753f1cc03c1","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621108.02983@datadoghq.com","created_at":"2020-07-01T16:31:48.579603+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621108.02983@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed601dd62d32ab53132b8c9e95770d4b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - MZCX71FNdAUQ6AMWRBKW1fkNpiPTypOoXE57zLYE3lG5gigqB2nroYJ/8uMn9muy
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/5c574ec0-bbb8-11ea-9c9e-f753f1cc03c1
  response:
    body:
      string: '{"data":{"type":"users","id":"5c574ec0-bbb8-11ea-9c9e-f753f1cc03c1","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621108.02983@datadoghq.com","created_at":"2020-07-01T16:31:48.579603+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621108.02983@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ed601dd62d32ab53132b8c9e95770d4b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pxuY3ZnSwE+rCP/MLubWk3EuAMlxxciIsQ2EBSRxZafCu9H4+UEVULDCm144bb3W
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/a00e3020-bbb8-11ea-9c9e-d79afb5a7103
  response:
    body:
      string: '{"data":{"type":"users","id":"a00e3020-bbb8-11ea-9c9e-d79afb5a7103","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621221.691719@datadoghq.com","created_at":"2020-07-01T16:33:42.186408+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1593621221.691719@datadoghq.com","icon":"https://secure.gravatar.com/avatar/efc4d75cdac131cdcda4dfe4e15958b2?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mGJe6qmS66N9ddKWdHwHEzQK9VHuaMNr7+EsVTKliCkGq+ayJZmadUyCSwID4him
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
version: 1
