interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"7ddbfad6-ff6b-11ea-b36d-53941f781765","attributes":{"name":null,"handle":"datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624@datadoghq.com","created_at":"2020-09-25T20:12:52.635764+00:00","email":"datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624@datadoghq.com","icon":"https://secure.gravatar.com/avatar/1828fa9df0b7219cd0afc81ebf8e6a83?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - czEVy5beKXV4pQAZ5xftzVoEe/6sl5mAUrgslod1oQM8E1r6UMNK9mDY9umj8H+Q
      X-DD-VERSION:
      - '35.3093372'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "incidents", "attributes": {"title": "datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624",
      "customer_impacted": false}, "relationships": {"commander": {"data": {"type":
      "users", "id": "7ddbfad6-ff6b-11ea-b36d-53941f781765"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"ea28f783-4e00-5d23-9f80-c28d8a19b429","attributes":{"public_id":184,"postmortem_id":null,"title":"datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-25T20:12:52.829623+00:00","modified":"2020-09-25T20:12:52.829623+00:00","commander":{"data":{"type":"users","id":"7ddbfad6-ff6b-11ea-b36d-53941f781765","attributes":{"uuid":"7ddbfad6-ff6b-11ea-b36d-53941f781765","handle":"datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624@datadoghq.com","email":"datadog-api-client-python-test_create_a_new_incident_returns_created_response-1601064772.44624@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/1828fa9df0b7219cd0afc81ebf8e6a83?s=48&d=retro"}}},"state":"active","detected":"2020-09-25T20:12:52.827305+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":null},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - iYSQoeIUH6tZkV8oNBADyUh0i8imvOo9jWWOUgywP9QJ7opgBoT0cWGeCUTl7m+0
      X-DD-VERSION:
      - '35.3093372'
    status:
      code: 201
      message: Created
version: 1
