interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600763282.251107"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"e6548a03-2abf-5802-8e65-2606116ed206","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600763282.251107","created":"2020-09-22T08:28:02.651764+00:00","modified":"2020-09-22T08:28:02.651764+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - P6Akw3EF5CkRD9dRTLe+2D7FUH3E+plOtxsv0XR1d07sSAJOUbLe0N5LZ7Ruz6Fj
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetTeam
    method: GET
    uri: https://api.datadoghq.com/api/v2/teams/e6548a03-2abf-5802-8e65-2606116ed206
  response:
    body:
      string: '{"data":{"type":"teams","id":"e6548a03-2abf-5802-8e65-2606116ed206","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600763282.251107","created":"2020-09-22T08:28:02.651764+00:00","modified":"2020-09-22T08:28:02.651764+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pv0z9DOVfESVNK6d1tOJ7YfC31qHNEzJNjdRZStq3qVP6piD/gWCa9pwKd90Upzy
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetTeam
    method: GET
    uri: https://api.datadoghq.com/api/v2/teams/03512634-eee3-530f-8341-49bcf2be184d
  response:
    body:
      string: '{"data":{"type":"teams","id":"03512634-eee3-530f-8341-49bcf2be184d","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_team_returns_ok_response-1600763494.430775","created":"2020-09-22T08:31:34.809163+00:00","modified":"2020-09-22T08:31:34.809163+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
version: 1
