interactions:
- request:
    body: '{"filter": {"query": "datadog-agent", "indexes": ["main"], "from": "2020-09-17T11:48:36+01:00",
      "to": "2020-09-17T12:48:36+01:00"}, "sort": "timestamp", "page": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - fbpub1YRPbOoyJvhJBk1iFu2e+h0/QC0EzprMcQ+j5QBEVxUjSwBwj1+J3+NnpX8
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '3000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '2999'
      X-RateLimit-Reset:
      - '18'
    status:
      code: 200
      message: OK
version: 1
