interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.286106"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"61c62f7a-bbb8-11ea-9c9e-eb0bbba05b6f","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.286106","created_at":"2020-07-01T16:31:57.696780+00:00","modified_at":"2020-07-01T16:31:57.696780+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wts7Rn21w0qW4rqYtxheVW/4xeY9Y3ARkRMnLeq6etar4hXLqkvskJXcsIyQxYKB
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.791026@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"6247be1e-bbb8-11ea-9c9e-c7c147cee9a5","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.791026@datadoghq.com","created_at":"2020-07-01T16:31:58.545357+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.791026@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f7b96993b71cca3549d4356065167eed?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RbevWUvO2oQYYDnX/G1lndTh/kTt+ebFIvajU6/3Ivb5c6aUQf49/uD1ICaXyx52
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "6247be1e-bbb8-11ea-9c9e-c7c147cee9a5", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/61c62f7a-bbb8-11ea-9c9e-eb0bbba05b6f/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"6247be1e-bbb8-11ea-9c9e-c7c147cee9a5","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.791026@datadoghq.com","created_at":"2020-07-01T16:31:58.545357+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621117.791026@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f7b96993b71cca3549d4356065167eed?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"61c62f7a-bbb8-11ea-9c9e-eb0bbba05b6f"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0Ldh7zbvTvxG6fwW0tw8N7mZPnI2XNOUoKCE8H0O1+b4UJVtdo0G52qWoFveZXDz
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"id": "9634d6bc-bbb8-11ea-9c9e-37d4d3ae2d5b", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/96136482-bbb8-11ea-9c9e-bb7cb1de5dab/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"9634d6bc-bbb8-11ea-9c9e-37d4d3ae2d5b","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621205.541072@datadoghq.com","created_at":"2020-07-01T16:33:25.662844+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1593621205.541072@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ad1d7370e4e0af08c0f72463fd926bf3?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"96136482-bbb8-11ea-9c9e-bb7cb1de5dab"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - CFSDBBie5Okt4N1oWVJNTAqpt778eCo7VQZ0NhVFWw8MHYFUwuA7DURhpFRYY+Wy
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
version: 1
