interactions:
  - request:
      body:
        '{"data": {"attributes": {"customer_impacted": false, "title": "datadog-api-client-python-test_get_a_list_of_incidents_returns_ok_response-1601067487.310225"},
        "type": "incidents"}}'
      headers:
        Content-Type:
          - application/json
        Dd-Operation-Id:
          - CreateIncident
      method: POST
      uri: https://api.datadoghq.com/api/v2/incidents
    response:
      body:
        string: '{"data":{"type":"incidents","id":"77d65c6f-70eb-5e5c-8661-badbd21ff680","attributes":{"public_id":202,"postmortem_id":null,"title":"datadog-api-client-python-test_get_a_list_of_incidents_returns_ok_response-1601067487.310225","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-09-25T20:58:07.634654+00:00","modified":"2020-09-25T20:58:07.634654+00:00","commander":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"state":"active","detected":"2020-09-25T20:58:07.632644+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"severity":"UNKNOWN","udf_values":null,"additional_notifications":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"teams":{"data":[]},"services":{"data":[]},"user_defined_field_selections":{"data":[]},"user_defined_fields":{"data":[]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
      headers:
        Content-Type:
          - application/json
        DD-POOL:
          - dogweb
        X-DD-Debug:
          - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
        X-DD-VERSION:
          - "35.3093372"
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
        Dd-Operation-Id:
          - ListIncidents
      method: GET
      uri: https://api.datadoghq.com/api/v2/incidents
    response:
      body:
        string: '{"meta":{"pagination":{"size":25,"next_offset":25,"offset":0}},"data":[{"type":"incidents","id":"77d65c6f-70eb-5e5c-8661-badbd21ff680","attributes":{"public_id":202,"postmortem_id":null,"title":"datadog-api-client-python-test_get_a_list_of_incidents_returns_ok_response-1601067487.310225","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"last_modified_by_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","created":"2020-09-25T20:58:07.634654+00:00","modified":"2020-09-25T20:58:07.634[...]
