interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593085225.046616"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a91f1362-b6d8-11ea-9c12-ab1de7eb6cf3","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593085225.046616","created_at":"2020-06-25T11:40:25.478763+00:00","modified_at":"2020-06-25T11:40:25.478763+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 6TICFxDFBNq65Lw6aA0hO1z7nxUSiTzUAT0k7ln4UasEU6/emXomwtYWMJdIuxUV
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/a91f1362-b6d8-11ea-9c12-ab1de7eb6cf3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ty7T8eIeXOfZhM7KDN5nGo8JS7ZSIWAqBNFeZshTg3LLDJJa7mPU5wqGt0nOPCpy
      X-DD-VERSION:
      - '35.2664391'
    status:
      code: 204
      message: No Content
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593086067.950003@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9f57bd28-b6da-11ea-9c12-0f50cea61c65","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593086067.950003@datadoghq.com","created_at":"2020-06-25T11:54:28.065995+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593086067.950003@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b02502bbb0e02d04322a09087d83516e?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ns395qtajdi4vImLC5PhByq3vzX3KV9r4kOaLqZ3Kb42AGxxpM06vNzB/Pdubr1b
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "9f57bd28-b6da-11ea-9c12-0f50cea61c65", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/a91f1362-b6d8-11ea-9c12-ab1de7eb6cf3/users
  response:
    body:
      string: '{"errors": ["Missing Role a91f1362-b6d8-11ea-9c12-ab1de7eb6cf3 not
        found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9f57bd28-b6da-11ea-9c12-0f50cea61c65
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sAPKocoLMDEnM5qY2PL6SCQ+dkENYAR/6IistAQ5iiTU/UnJHAba158nxOvVRvKJ
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"data": {"id": "7b31e688-b6dc-11ea-9c12-47169a6389b4", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/7b12ef80-b6dc-11ea-9c12-8fd761b17fb4/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"7b31e688-b6dc-11ea-9c12-47169a6389b4","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593086866.304169@datadoghq.com","created_at":"2020-06-25T12:07:46.413577+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_leading_to_ok-1593086866.304169@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a6fcfe2d154e0bd4c8cb068d1322161b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"7b12ef80-b6dc-11ea-9c12-8fd761b17fb4"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - MZCX71FNdAUQ6AMWRBKW1fkNpiPTypOoXE57zLYE3lG5gigqB2nroYJ/8uMn9muy
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/7b12ef80-b6dc-11ea-9c12-8fd761b17fb4/users
  response:
    body:
      string: '{"included":[{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
        Access","description":"This permission gives you the ability to view and edit
        components in your Datadog organization that do not have explicitly defined
        permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9","attributes":{"name":"logs_write_pipelines","display_name":"Logs
        Write Pipelines","description":"The ability to add and change log pipeline
        configurations, including the ability to grant the Logs Write Processors permission
        to other roles, for some or all pipelines. This permission also grants global
        Log Processor Write implicitly.","created":"2018-10-31T13:40:17.996379+00:00","group_name":"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/7b12ef80-b6dc-11ea-9c12-8fd761b17fb4
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vlc9b/rJPByGsV/acj3ScS7B1lo9nEAbSgYCfkl0GH3egry4iXeiGBP0WX8DpJ/T
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
