interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1600429921.29704@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5d6350d6-f9a5-11ea-adf4-27c3652be230","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600429921.29704@datadoghq.com","created_at":"2020-09-18T11:52:01.989869+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600429921.29704@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ca0b4defdca754d95702fcfc83fae64?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vV/DogUGzHTE+KQ2wvX3OHOU6F0jiDr+6DRfJX4PAu4XZKwR6nmcOJDQQwk5+1/2
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "5d6350d6-f9a5-11ea-adf4-27c3652be230", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/5d6350d6-f9a5-11ea-adf4-27c3652be230
  response:
    body:
      string: '{"data":{"type":"users","id":"5d6350d6-f9a5-11ea-adf4-27c3652be230","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600429921.29704@datadoghq.com","created_at":"2020-09-18T11:52:01.989869+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600429921.29704@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ca0b4defdca754d95702fcfc83fae64?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WMqkdiu/k4tYC8oJLm7ZFuFlnIXAYAXwOPQoxLtj7bgJQppYJErVkGl/2/O/+zpm
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"id": "23e6cafc-fcae-11ea-b0ae-97e95cefe2d0", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/23e6cafc-fcae-11ea-b0ae-97e95cefe2d0
  response:
    body:
      string: '{"data":{"type":"users","id":"23e6cafc-fcae-11ea-b0ae-97e95cefe2d0","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600763543.988198@datadoghq.com","created_at":"2020-09-22T08:32:24.504161+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600763543.988198@datadoghq.com","icon":"https://secure.gravatar.com/avatar/edc4cf38fa7a7982410ab853f155e15c?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0dpwUqkfQHWkgXeMRxMzd53GmXFItYtBrsUmywck00fH892lNzaBVoL155iIFepa
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
version: 1
