interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1598520751.916552@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3ba26a7c-e848-11ea-aa53-4fc031b99f2d","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1598520751.916552@datadoghq.com","created_at":"2020-08-27T09:32:32.399468+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1598520751.916552@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f57cbf46e3d6cbbbad4a55c39a36a3ec?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZpBCDU/bpmKaDCX3ezcoTB0mBcER1z/7nopw48EhUJ44Kn+wkWF9LGL4tUdS8yc3
      X-DD-VERSION:
      - '35.2942348'
    status:
      code: 201
      message: Created
version: 1
