interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"63327366-f9a5-11ea-adf4-af608c8ed974","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955@datadoghq.com","created_at":"2020-09-18T11:52:11.737607+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ac90c506d51eac0f39c2f5082c88aea?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RxKcx0U1IrcJ2sL0co6YTKQdWxTKBjGeO6Rh6plfmXfsHGMiZ332nvRBeUlqIMht
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":36774}},"data":[{"type":"users","id":"63327366-f9a5-11ea-adf4-af608c8ed974","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955@datadoghq.com","created_at":"2020-09-18T11:52:11.737607+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600429931.278955@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6ac90c506d51eac0f39c2f5082c88aea?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1600763501.703142%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":38381}},"data":[{"type":"users","id":"0aa1c448-fcae-11ea-b0ae-b71f66e6d137","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600763501.703142@datadoghq.com","created_at":"2020-09-22T08:31:42.108394+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600763501.703142@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ce9ea6387dcb43f0ee69eaef7aa32a50?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - s0LsNvQsMm21RUzMLDODd6jiqqojzRfEoHLrnASSfK5zaa+QnpY16tmznkR4zVSs
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
version: 1
