interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1600941692.834188@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ecf238b0-fe4c-11ea-b268-8b52e1db7cf3","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600941692.834188@datadoghq.com","created_at":"2020-09-24T10:01:33.447319+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600941692.834188@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5fcea64b15544c0574b6a34fc7cc81c6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Xzkwy3Lys2FRGID1+VD70Hwjf/R/QThkPMaRafobZsVEfAegjDigJz2X0I3L4s9r
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/ecf238b0-fe4c-11ea-b268-8b52e1db7cf3
  response:
    body:
      string: '{"data":{"type":"users","id":"ecf238b0-fe4c-11ea-b268-8b52e1db7cf3","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600941692.834188@datadoghq.com","created_at":"2020-09-24T10:01:33.447319+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600941692.834188@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5fcea64b15544c0574b6a34fc7cc81c6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - JpSPTIQ3ADIUVR7tKVVULYhgssheTcmYaILqA7y+vRKHVMoWYI3X+n8nhC2vhKFP
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 200
      message: OK
version: 1
