interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1600941705.697982",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"YmN2c3ZhclRTUGlxbVFSTVNlUWdDd3xFOG5BWHJGZ2M2cVpidXgxemNraEdR","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - AqBVHmyy+L9zrCUEAQ2Jd2pwskksgC+7nOsWqbNjcjcM+9M/ChipUo2OR6Q8oPwE
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '14'
    status:
      code: 200
      message: OK
version: 1
