interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1606385971.813526@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e058ed64-2fd0-11eb-8697-8b5c4b294102","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1606385971.813526@datadoghq.com","created_at":"2020-11-26T10:19:32.854018+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1606385971.813526@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b3c79d1db9065973291f8a1e3c2518d7?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /JpmMVMj888oDBhNstrXwRRTcjtQP5tKL1A6NwxlJyR/zX9A94/1rKY8MfQgr5Ro
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "e058ed64-2fd0-11eb-8697-8b5c4b294102",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"e0c441ae-2fd0-11eb-8697-cf06a8c0dd1e","attributes":{"uuid":"e0c441ae-2fd0-11eb-8697-cf06a8c0dd1e","login_method":null,"invite_type":"openid_invite","created_at":"2020-11-26T10:19:33.558835+00:00","expires_at":"2020-11-28T10:19:33.320722+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e058ed64-2fd0-11eb-8697-8b5c4b294102"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0xx9Vajt2z9Bjd3zEZxSq+HXBSiVDpVx3zcehHaUF6Rbof5oICp4xtQ5KAyASYVV
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/e0c441ae-2fd0-11eb-8697-cf06a8c0dd1e
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"e0c441ae-2fd0-11eb-8697-cf06a8c0dd1e","attributes":{"uuid":"e0c441ae-2fd0-11eb-8697-cf06a8c0dd1e","login_method":null,"invite_type":"openid_invite","created_at":"2020-11-26T10:19:33.558835+00:00","expires_at":"2020-11-28T10:19:33.320722+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e058ed64-2fd0-11eb-8697-8b5c4b294102"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IGILlPY3s4a9aUQtJHHVlvsXLPi5u8MQt/Dx/1ZwzrUgiVNBtJEB93e+6VlWNrdA
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e058ed64-2fd0-11eb-8697-8b5c4b294102
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LX0aORViMOQWB8T+VX1PN+m0Q/BWIGM8lAfgs+SVlDy/am6DTkPEsJ9PcP8Pvumm
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
version: 1
