interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593088216.52927@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a03e19da-b6df-11ea-9c12-cff5d702cb55","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593088216.52927@datadoghq.com","created_at":"2020-06-25T12:30:17.059615+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593088216.52927@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9f45834f0723bf613153cefdb783d037?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - YCJuwY9AAFMveejFq3DmCuXNgWrXpDBQxqXi3LxQxaHO16MK3yMSWa14TOuRlDjy
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/a03e19da-b6df-11ea-9c12-cff5d702cb55
  response:
    body:
      string: '{"data":{"type":"users","id":"a03e19da-b6df-11ea-9c12-cff5d702cb55","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593088216.52927@datadoghq.com","created_at":"2020-06-25T12:30:17.059615+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593088216.52927@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9f45834f0723bf613153cefdb783d037?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wpac2a5DsHa/eqG3DjQhOxPXeBQRcLxZ18fT3wn3gFeruJMdJwvfZxTA9hAiHLHZ
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
