interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1600429922.887979"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5e316bf6-f9a5-11ea-adf4-97e0ec64d8e9","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600429922.887979","created_at":"2020-09-18T11:52:03.343317+00:00","modified_at":"2020-09-18T11:52:03.343317+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sLT3tMuT71X28AXLk8mlGwO3D5oSAoXgZd6lTF4A+2/3S3PMDx4PqPKge+DRhV/G
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '495'
      X-RateLimit-Reset:
      - '57'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/5e316bf6-f9a5-11ea-adf4-97e0ec64d8e9
  response:
    body:
      string: '{"data":{"type":"roles","id":"5e316bf6-f9a5-11ea-adf4-97e0ec64d8e9","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600429922.887979","created_at":"2020-09-18T11:52:03.343317+00:00","modified_at":"2020-09-18T11:52:03.343317+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - QgQu/iPnCQXRgWPQKBm0M4xipFcbwl50MnRHSjKNayyZv/6KjuJNpOhY5+udaeL8
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '494'
      X-RateLimit-Reset:
      - '57'
    status:
      code: 200
      message: OK
version: 1
