interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_leading_to_ok-1593088215.735723"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"9fb7d2c6-b6df-11ea-9c12-df092d95e42f","attributes":{"name":"datadog-api-client-python-test_create_role_leading_to_ok-1593088215.735723","created_at":"2020-06-25T12:30:16.179463+00:00","modified_at":"2020-06-25T12:30:16.179463+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - OxP+mFpjAbASiVhNf+t4MttAs95ZlMiGosIRnYJJGFoApNgv2oxtdzpnmNlMOki6
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
