interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1600774770.70332"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"47773744-fcc8-11ea-b0f2-e75c5ddd4f7a","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600774770.70332","created_at":"2020-09-22T11:39:31.086370+00:00","modified_at":"2020-09-22T11:39:31.086370+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ab9XUIoH2WQru6KxGEk/Ky3/8hPDJn6S4CroFe2GTMSO5ISVqinE+UtO1EgJ/Q5E
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '499'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/47773744-fcc8-11ea-b0f2-e75c5ddd4f7a
  response:
    body:
      string: '{"data":{"type":"roles","id":"47773744-fcc8-11ea-b0f2-e75c5ddd4f7a","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600774770.70332","created_at":"2020-09-22T11:39:31.086370+00:00","modified_at":"2020-09-22T11:39:31.086370+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - VFEd9WEYHg4A4gkQ37Kh8VC+38V/yfH2X0MUdUVsECnCE1FSV9c52Sqrn7OQ0Mvj
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 200
      message: OK
version: 1
