interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_update_a_role_leading_to_ok-1593088230.267623"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"a85da536-b6df-11ea-9c12-b3ee74a77d35","attributes":{"name":"datadog-api-client-python-test_update_a_role_leading_to_ok-1593088230.267623","created_at":"2020-06-25T12:30:30.689102+00:00","modified_at":"2020-06-25T12:30:30.689102+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ns395qtajdi4vImLC5PhByq3vzX3KV9r4kOaLqZ3Kb42AGxxpM06vNzB/Pdubr1b
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "a85da536-b6df-11ea-9c12-b3ee74a77d35", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_leading_to_ok-1593088230.267623-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/a85da536-b6df-11ea-9c12-b3ee74a77d35
  response:
    body:
      string: '{"data":{"type":"roles","id":"a85da536-b6df-11ea-9c12-b3ee74a77d35","attributes":{"name":"datadog-api-client-python-test_update_a_role_leading_to_ok-1593088230.267623-updated","created_at":"2020-06-25T12:30:30.689102+00:00","modified_at":"2020-06-25T12:30:30.888058+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Lo9psmCk9egobltaxBGqrQFhgCcgUTQoFZpr2xiSR+6tucB/owychJvFjr9YMWzu
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
