interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1593621114.504124@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"602551aa-bbb8-11ea-9c9e-43fc3b84232a","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1593621114.504124@datadoghq.com","created_at":"2020-07-01T16:31:54.963951+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1593621114.504124@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2bce80646cacaca1c86f985953d664f9?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - UH1aMdrlnlnaxy/K+HUi5QUN2T0FBtGPSUC8sLrviqCK1XXfgHsSO5DneAd5J+6F
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "602551aa-bbb8-11ea-9c9e-43fc3b84232a", "type": "users",
      "attributes": {"name": "updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/602551aa-bbb8-11ea-9c9e-43fc3b84232a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - yEcEaKqmSUfeSlQ/kN/c5E6EpIXbM1JPI9KV27pdsvBWWv3FI4tsqqRarYTS+fS+
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"data": {"id": "9c461a3e-bbb8-11ea-9c9e-4bbe0dd5c834", "type": "users",
      "attributes": {"name": "updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/9c461a3e-bbb8-11ea-9c9e-4bbe0dd5c834
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - GAK1J4mJd/EBZfEK4rqUw9OeB9GOeKgSyrXGtzNUi5zrv5sHYU56xJgA4bcbtgUA
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 204
      message: No Content
version: 1
