interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"4822e810-3ec6-11eb-8990-5bd48712501c","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094","created_at":"2020-12-15T11:11:29.960971+00:00","modified_at":"2020-12-15T11:11:29.960971+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hw3ZauSSamfHLo55DFwif1/mO6RiYSc0/libBchlIMnyWX9rK7JgS3Pek5rkz683
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '496'
      X-RateLimit-Reset:
      - '31'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"484792aa-3ec6-11eb-8990-5bf3618e102c","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","created_at":"2020-12-15T11:11:30.200401+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cc7690259a8522fca5335fae82e3bff1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /JpmMVMj888oDBhNstrXwRRTcjtQP5tKL1A6NwxlJyR/zX9A94/1rKY8MfQgr5Ro
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "484792aa-3ec6-11eb-8990-5bf3618e102c", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/4822e810-3ec6-11eb-8990-5bd48712501c/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"484792aa-3ec6-11eb-8990-5bf3618e102c","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","created_at":"2020-12-15T11:11:30.200401+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cc7690259a8522fca5335fae82e3bff1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"4822e810-3ec6-11eb-8990-5bd48712501c"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LYsZ0Yx6eBAuyo7daRCU44YMxz7whaow2DP3vSdsKGIEYbXvJNYBjlZ+OHX/fFOc
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '495'
      X-RateLimit-Reset:
      - '30'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/4822e810-3ec6-11eb-8990-5bd48712501c/users
  response:
    body:
      string: '{"included":[{"type":"roles","id":"4822e810-3ec6-11eb-8990-5bd48712501c","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094","created_at":"2020-12-15T11:11:29.960971+00:00","modified_at":"2020-12-15T11:11:29.960971+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"484792aa-3ec6-11eb-8990-5bf3618e102c","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","created_at":"2020-12-15T11:11:30.200401+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1608030689.529094@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cc7690259a8522fca5335fae82e3bff1?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"4822e810-3ec6-11eb-8990-5bd48712501c"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LkSOFVoHBcsyBoPbYbYfcEWZoNcVif5SL5dX3LvvR/J4mRuKXGmrGqdm859yDQ2v
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '494'
      X-RateLimit-Reset:
      - '30'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/484792aa-3ec6-11eb-8990-5bf3618e102c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - GNNaCEaWbc3UTUClxoMWS01sWxumNliK7MHAxNSLzSt+cr/umvBLJdbOFDCcNeME
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/4822e810-3ec6-11eb-8990-5bd48712501c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - qKfjlUOd47rTL8Zfe+ult0NC1XrJJZn5FzZo3l0g8EiEJqsLoAxULWUGtB1CS4r/
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 204
      message: No Content
version: 1
