interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5ea84dfa-3ec6-11eb-8990-8f84ce2af104","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345","created_at":"2020-12-15T11:12:07.745631+00:00","modified_at":"2020-12-15T11:12:07.745631+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Myj8sd1pziB4C84B4b1rasxwLMPNwfWkbCDNeub0Oa5WtqdY+QrYDSF2rhC1Qab8
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '490'
      X-RateLimit-Reset:
      - '53'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5ecb32b6-3ec6-11eb-8990-ef5cc7c4b7e7","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345@datadoghq.com","created_at":"2020-12-15T11:12:07.973706+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aef6e603a35243befdd10f9db1f29cf5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - YMUurOrBBSQDW8c48zSvcN5vlrEH+LpXx/tElldVcj/y8fT1cTjwsBugqb97UH4Q
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "5ecb32b6-3ec6-11eb-8990-ef5cc7c4b7e7", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/5ea84dfa-3ec6-11eb-8990-8f84ce2af104/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"5ecb32b6-3ec6-11eb-8990-ef5cc7c4b7e7","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345@datadoghq.com","created_at":"2020-12-15T11:12:07.973706+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1608030727.288345@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aef6e603a35243befdd10f9db1f29cf5?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"5ea84dfa-3ec6-11eb-8990-8f84ce2af104"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KdWc5RppKH51u1oZ6tf2ghJTVEevh006eS91RDKZLGoax50FN2VjMvek2ayUmkXw
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '489'
      X-RateLimit-Reset:
      - '52'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5ecb32b6-3ec6-11eb-8990-ef5cc7c4b7e7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sQOy8a0Uobuto7YUtlnbqZIuXh5uDLMP34xhBMJaioPr6917JNPh2PehnbSMnQ69
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/5ea84dfa-3ec6-11eb-8990-8f84ce2af104
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /waQ67o9EXsAiQILmFHWOTHDJ6E+x7ROC0G8iNmC+2lV58E3PSGYbXj1H62A/c+u
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '486'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 204
      message: No Content
version: 1
