interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593010554.702527@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ce2637fc-b62a-11ea-9b4e-7b85a884b2a0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593010554.702527@datadoghq.com","created_at":"2020-06-24T14:55:55.169607+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593010554.702527@datadoghq.com","icon":"https://secure.gravatar.com/avatar/07e3f38f97595139b30b3092e39b9954?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - CFSDBBie5Okt4N1oWVJNTAqpt778eCo7VQZ0NhVFWw8MHYFUwuA7DURhpFRYY+Wy
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/ce2637fc-b62a-11ea-9b4e-7b85a884b2a0
  response:
    body:
      string: '{"data":{"type":"users","id":"ce2637fc-b62a-11ea-9b4e-7b85a884b2a0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593010554.702527@datadoghq.com","created_at":"2020-06-24T14:55:55.169607+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1593010554.702527@datadoghq.com","icon":"https://secure.gravatar.com/avatar/07e3f38f97595139b30b3092e39b9954?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - xDB9TwFteerR1wCiwj8/TgXRHM8VsESQxiCQvltAxyn4fse47E64CquSvdpyvFXM
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/7777d14c-b6dc-11ea-9c12-eb4abc0a013b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /Ib6MMQTHlX0/jTb6tlEMzSZs2crLqjkGjYkoQ/zb0RHtMaXT744DZRFpy23W0oi
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
