interactions:
  - request:
      body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_a_list_of_all_services_returns_ok_response-1601067495.658966"}}}'
      headers:
        Content-Type:
          - application/json
        Dd-Operation-Id:
          - CreateService
      method: POST
      uri: https://api.datadoghq.com/api/v2/services
    response:
      body:
        string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"6c5320c0-3a8d-5160-9659-176fc18e1e4d","attributes":{"name":"datadog-api-client-python-test_get_a_list_of_all_services_returns_ok_response-1601067495.658966","created":"2020-09-25T20:58:16.096839+00:00","modified":"2020-09-25T20:58:16.096839+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
      headers:
        Content-Type:
          - application/json
        DD-POOL:
          - dogweb
        X-DD-Debug:
          - Y0Wuc8E3+SpVlnTzK4RUu97zkN6KtouappB64/8RP7vhb/NV3oylxGvm6vZWDPy/
        X-DD-VERSION:
          - "35.3093372"
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
        Content-Type:
          - application/json
        Dd-Operation-Id:
          - ListServices
      method: GET
      uri: https://api.datadoghq.com/api/v2/services
    response:
      body:
        string: '{"meta":{"sort":"ASC","pagination":{"size":1,"next_offset":1,"offset":0}},"data":[{"type":"services","id":"6c5320c0-3a8d-5160-9659-176fc18e1e4d","attributes":{"name":"datadog-api-client-python-test_get_a_list_of_all_services_returns_ok_response-1601067495.658966","created":"2020-09-25T20:58:16.096839+00:00","modified":"2020-09-25T20:58:16.096839+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
      headers:
        Content-Type:
          - application/json
        DD-POOL:
          - dogweb
        X-DD-Debug:
          - 8zBNddJvUHkIbPMeF88y91Hz6JbkP3LresIlBCA27F8xJQ5O1jB8COuYutWaPiaL
        X-DD-VERSION:
          - "35.3093372"
      status:
        code: 200
        message: OK
version: 1
