interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1608030723.815821"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5c98a38e-3ec6-11eb-8990-57d352a4a183","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1608030723.815821","created_at":"2020-12-15T11:12:04.287152+00:00","modified_at":"2020-12-15T11:12:04.287152+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KZy0Z61AelGSMiW0wwPuJyNwjEfJ0APCpzGlt7XM1KaE6e4cHzuLEBcvgVZz4sZ0
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '497'
      X-RateLimit-Reset:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "5c98a38e-3ec6-11eb-8990-57d352a4a183", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1608030723.815821-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/5c98a38e-3ec6-11eb-8990-57d352a4a183
  response:
    body:
      string: '{"data":{"type":"roles","id":"5c98a38e-3ec6-11eb-8990-57d352a4a183","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1608030723.815821-updated","created_at":"2020-12-15T11:12:04.287152+00:00","modified_at":"2020-12-15T11:12:04.509035+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - t3HUEZc5ir8lXNnqzkff2uqNehUi1czGcghjOPRgwaz4xZmG6O4HwEI6mdtgJV0i
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '496'
      X-RateLimit-Reset:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/5c98a38e-3ec6-11eb-8990-57d352a4a183
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kU8oLj3zrGL/NsMXNRXUrvjc5SX7m5Zi20YpnuFt2mcszekWqSDwHwhFasJc2aus
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '495'
      X-RateLimit-Reset:
      - '56'
    status:
      code: 204
      message: No Content
version: 1
