interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_disable_a_user_returns_ok_response-1593621110.437257@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5db54b3c-bbb8-11ea-9c9e-8fd52ae5254d","attributes":{"name":null,"handle":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1593621110.437257@datadoghq.com","created_at":"2020-07-01T16:31:50.875326+00:00","email":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1593621110.437257@datadoghq.com","icon":"https://secure.gravatar.com/avatar/307e6f733d7a4e4f29881b5125bc9d6f?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - j9H0Mt41m875GBjR2i9r831ZILGOU6+Jata5+JJkOQgIsO+SrMkmgWN80SCun0Sk
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5db54b3c-bbb8-11ea-9c9e-8fd52ae5254d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - AZX6w/8zD+VN3BjlP7mTxsWKLW39bs6QmKw7eyNlBdxzsMsZp5eTFn4umzElZK4n
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/982961cc-bbb8-11ea-9c9e-2f84064707a7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - v8lEj/pYmsavh1I0Db6FT/BAvLdOdAv91ctM9ImcmfZ/KHrCACXEdhuskTCPihd+
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 204
      message: No Content
version: 1
