interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"fc45e8ea-fd87-11ea-b1b0-9b39710c1b84","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323@datadoghq.com","created_at":"2020-09-23T10:31:48.305822+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5235098646acd12c33b1cf3bbc233b55?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Lz3XQmS/aMrD2s8dTb68gJQbMlDQb/2odnJX/DHsjHnv1C9na1q4YNvmnKcr4AfX
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":38858}},"data":[{"type":"users","id":"fc45e8ea-fd87-11ea-b1b0-9b39710c1b84","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323@datadoghq.com","created_at":"2020-09-23T10:31:48.305822+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1600857107.868323@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5235098646acd12c33b1cf3bbc233b55?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - GzqFsJiHmsMG2ZkgPZxP4KU7BbP1543ieTDBlTOcSv7mMVZ5sYoywme9ykeCrzfU
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 200
      message: OK
version: 1
