interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_create_a_new_team_returns_created_response-1600275296.65983"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3","attributes":{"name":"Matt
        Hardwick","handle":"matt.hardwick@datadoghq.com","created_at":"2019-05-15T20:23:56.312874+00:00","email":"matt.hardwick@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0414b0ba84e0c939de98a9a634018961?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"8bb4d410-00cb-11ea-a77b-538f1147085c"}}}}],"data":{"type":"teams","id":"5dad5178-276e-5cbb-abb1-4cf3ab8fe97a","attributes":{"name":"datadog-api-client-python-test_create_a_new_team_returns_created_response-1600275296.65983","created":"2020-09-16T16:54:56.949155+00:00","modified":"2020-09-16T16:54:56.949155+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}},"created_by":{"data":{"type":"users","id":"26101b01-eba0-11e9-a77a-0bb0b66104b3"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - tdTmMoV7+JDwW/bGwbEbuDbCx6X5ibRoYri9oHX2lv21D7sMnra9kH9myxv1lNT4
      X-DD-VERSION:
      - '35.3045542'
    status:
      code: 201
      message: Created
version: 1
