interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1603476801.07363"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"c9379b40-6c85-5e97-bc8a-64650795375d","attributes":{"name":"datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1603476801.07363","created":"2020-10-23T18:13:21.315729+00:00","modified":"2020-10-23T18:13:21.315729+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 554jtl/SJjxTmK4ElYRM70FG0Y8nm2ZpMLRYU7gYOwQo5oClqUW2XRpaqEBdUJZQ
      X-DD-VERSION:
      - '35.3248028'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11995'
      X-RateLimit-Reset:
      - '39'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_incident_service_returns_ok_response-1603476801.07363-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateIncidentService
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/services/c9379b40-6c85-5e97-bc8a-64650795375d
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9[...]
