interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_returns_ok_response-1600857098.609708"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"f6cc2af0-fd87-11ea-b1b0-bf4affc25d46","attributes":{"name":"datadog-api-client-python-test_create_role_returns_ok_response-1600857098.609708","created_at":"2020-09-23T10:31:39.120162+00:00","modified_at":"2020-09-23T10:31:39.120162+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Xzkwy3Lys2FRGID1+VD70Hwjf/R/QThkPMaRafobZsVEfAegjDigJz2X0I3L4s9r
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '492'
      X-RateLimit-Reset:
      - '21'
    status:
      code: 200
      message: OK
version: 1
