interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1600857142.380402",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"dWVoRkIxcmRTSHFWa0ZIbXhLQzhqZ3xDcEJnS0xRbFlTZ2RiT0owOUdGLWJB","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - nFyTUry7tLSCWgKgQTsGO10dBCh8TOEhHGgwdexQMnQchHPTOyo6yaXIidoJXR1X
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
