interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1600774782.557857",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"MUlnU19IeklSUnlBSDl1SW1Wa1Rid3x0MVZTQmdEMy1fQkR3TWxNTF9FcExR","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ab9XUIoH2WQru6KxGEk/Ky3/8hPDJn6S4CroFe2GTMSO5ISVqinE+UtO1EgJ/Q5E
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '18'
    status:
      code: 200
      message: OK
version: 1
