interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1594284411.362949@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"bbfb3af4-c1c0-11ea-9cec-e756fbd44bb5","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1594284411.362949@datadoghq.com","created_at":"2020-07-09T08:46:51.988582+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1594284411.362949@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3216349359337f4cca4c5a522cf6b6b1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WyM4veckZw3QTGGZ+Ro8psXMR12RERTyuAWc4KNrn9Mfk0tQy+xf5Ofi04GlB+uh
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/bbfb3af4-c1c0-11ea-9cec-e756fbd44bb5
  response:
    body:
      string: '{"data":{"type":"users","id":"bbfb3af4-c1c0-11ea-9cec-e756fbd44bb5","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1594284411.362949@datadoghq.com","created_at":"2020-07-09T08:46:51.988582+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1594284411.362949@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3216349359337f4cca4c5a522cf6b6b1?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - GG9N5JNk6zUo5YQ1gmfpF0kYcSj/kjDOsFItaODUS7qQCwsMrhI3QWJVQns7uvtI
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
version: 1
