interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593012148.013315"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"83feb7f4-b62e-11ea-9b4e-af54133db102","attributes":{"name":"datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593012148.013315","created_at":"2020-06-24T15:22:28.746327+00:00","modified_at":"2020-06-24T15:22:28.746327+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 11g4TM+MO8VJV6iUJTOff4hAGEXsIqbG4IMv2YuWygOleCGxCxx6NihCkVtjenZN
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/83feb7f4-b62e-11ea-9b4e-af54133db102
  response:
    body:
      string: '{"data":{"type":"roles","id":"83feb7f4-b62e-11ea-9b4e-af54133db102","attributes":{"name":"datadog-api-client-python-test_get_a_role_leading_to_ok_for_get_role-1593012148.013315","created_at":"2020-06-24T15:22:28.746327+00:00","modified_at":"2020-06-24T15:22:28.746327+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KKQq2SiaDLpychKSp47ffvU6SRxUV+VzBWr187ESkULBuGOI+kREfb/2NCy8DAWC
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/76f27f24-b6dc-11ea-9c12-83a37524858d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - AVsav2jjRGvwjNvJeRUS7kJsgTlhh9y9smyL3UJVQTMAUoPyejdL0bVSnanIQLK4
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
