interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600767608.015204@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9a3076c8-fcb7-11ea-b0b8-d78fb659d40e","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600767608.015204@datadoghq.com","created_at":"2020-09-22T09:40:08.429344+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600767608.015204@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ede4563ecc830eb94f3b6f4c9f4c73b6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - CUBCyaoXY2JdeHi5oQm4sg9onCJMsjgVJ5jLk2ugM2iR7uz4Q+lvjzDdvtcYDFC3
      X-DD-VERSION:
      - '35.3073063'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "9a3076c8-fcb7-11ea-b0b8-d78fb659d40e"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"9a6c65a2-fcb7-11ea-b0b8-9b76f40adc54","attributes":{"uuid":"9a6c65a2-fcb7-11ea-b0b8-9b76f40adc54","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-22T09:40:08.822637+00:00","expires_at":"2020-09-24T09:40:08.731233+00:00"},"relationships":{"user":{"data":{"type":"users","id":"9a3076c8-fcb7-11ea-b0b8-d78fb659d40e"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 92/tpeRQ0by9nn7WsSPyVyXsoLNu8gimYih2BuL6sJV2amfIFPaN8R5eGATyWG3E
      X-DD-VERSION:
      - '35.3073063'
    status:
      code: 201
      message: Created
version: 1
