interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.035049"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"99ab7af8-bbb8-11ea-9c9e-5fe785c52a70","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.035049","created_at":"2020-07-01T16:33:31.473916+00:00","modified_at":"2020-07-01T16:33:31.473916+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - UmZMvwWLI5lgbGFBnw6J7jqO5hwyrvVF8Un8TwZ8TRQQ6jetE/6GVTSaoSUmQWRg
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"99d212e4-bbb8-11ea-9c9e-273429df1840","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","created_at":"2020-07-01T16:33:31.726176+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ded765ecf5ad07d8b6aafe4c69eae92a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 6qTaw+brNWWnKD6ULH8747/TVkPK0wedRsruOmMITJcYBkJ/Eac9bUO9jP1Btfl5
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "99d212e4-bbb8-11ea-9c9e-273429df1840", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/99ab7af8-bbb8-11ea-9c9e-5fe785c52a70/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"99d212e4-bbb8-11ea-9c9e-273429df1840","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","created_at":"2020-07-01T16:33:31.726176+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ded765ecf5ad07d8b6aafe4c69eae92a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"99ab7af8-bbb8-11ea-9c9e-5fe785c52a70"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/99ab7af8-bbb8-11ea-9c9e-5fe785c52a70/users
  response:
    body:
      string: '{"included":[{"type":"roles","id":"99ab7af8-bbb8-11ea-9c9e-5fe785c52a70","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.035049","created_at":"2020-07-01T16:33:31.473916+00:00","modified_at":"2020-07-01T16:33:31.473916+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"99d212e4-bbb8-11ea-9c9e-273429df1840","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","created_at":"2020-07-01T16:33:31.726176+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1593621211.602306@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ded765ecf5ad07d8b6aafe4c69eae92a?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"99ab7af8-bbb8-11ea-9c9e-5fe785c52a70"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - i90G6k4M6qI4UypyvMoczcO5m+jatiEQSMeHpdjycp0h4nWxRpKUHr6efynkbQs+
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
version: 1
