interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600774799.104176"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"586545aa-fcc8-11ea-b0f2-7be320187b11","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600774799.104176","created_at":"2020-09-22T11:39:59.490279+00:00","modified_at":"2020-09-22T11:39:59.490279+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ab9XUIoH2WQru6KxGEk/Ky3/8hPDJn6S4CroFe2GTMSO5ISVqinE+UtO1EgJ/Q5E
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '477'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "586545aa-fcc8-11ea-b0f2-7be320187b11", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600774799.104176-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/586545aa-fcc8-11ea-b0f2-7be320187b11
  response:
    body:
      string: '{"data":{"type":"roles","id":"586545aa-fcc8-11ea-b0f2-7be320187b11","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600774799.104176-updated","created_at":"2020-09-22T11:39:59.490279+00:00","modified_at":"2020-09-22T11:39:59.667929+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kz7POzMRR1DtZrw59X15p2pAWXtFgVtBoSlzXFcGszy5lhwGx7f8GB820VUZODrm
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '476'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
