interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600429929.819911@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"625b3d56-f9a5-11ea-adf4-534788194659","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600429929.819911@datadoghq.com","created_at":"2020-09-18T11:52:10.327161+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600429929.819911@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f3d35687a454c7424fa9d6b34504fdbb?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - jUMr6d+5J+YuJ6qRYTR2w4bV5pSWL1aOCQq2Fsi4IDQJQgpLmKecXN7enHF4E9hf
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "625b3d56-f9a5-11ea-adf4-534788194659"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"62a23a62-f9a5-11ea-adf4-2bc43d589bae","attributes":{"uuid":"62a23a62-f9a5-11ea-adf4-2bc43d589bae","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-18T11:52:10.793634+00:00","expires_at":"2020-09-20T11:52:10.614648+00:00"},"relationships":{"user":{"data":{"type":"users","id":"625b3d56-f9a5-11ea-adf4-534788194659"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - M827keIeHgZeqezhGzPP+Gd5GSRighH0alcGV+l2b9IPZcm0Qit9YxQBjvzL4SO1
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
version: 1
