interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1594284414.371967@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"bdc784d2-c1c0-11ea-9cec-23ad24ee92bc","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1594284414.371967@datadoghq.com","created_at":"2020-07-09T08:46:55.005641+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1594284414.371967@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8a8a1b1fe709b077dff2067e732ccbb?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - UH1aMdrlnlnaxy/K+HUi5QUN2T0FBtGPSUC8sLrviqCK1XXfgHsSO5DneAd5J+6F
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "bdc784d2-c1c0-11ea-9cec-23ad24ee92bc", "type": "users",
      "attributes": {"name": "updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/bdc784d2-c1c0-11ea-9cec-23ad24ee92bc
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - A5a5htKhTUF1FdBQZRUZl4RVawKwk2RUtaZz3EDBmdXc0X6i0O7TBEBWn4bIBQ01
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 204
      message: No Content
version: 1
