interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_a_list_of_all_incident_services_returns_ok_response-1606385968.134523"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"c865f712-6790-5883-b058-5a475b85e5fd","attributes":{"name":"datadog-api-client-python-test_get_a_list_of_all_incident_services_returns_ok_response-1606385968.134523","created":"2020-11-26T10:19:28.598213+00:00","modified":"2020-11-26T10:19:28.598213+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KOOy1lPBGMLqgfaB9uC20OTIJWXg6RQf2/pgyl9zFLuYtKhixa8ypYEhkGX7WYxW
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11998'
      X-RateLimit-Reset:
      - '32'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListIncidentServices
    method: GET
    uri: https://api.datadoghq.com/api/v2/services?filter=datadog-api-client-python-test_get_a_list_of_all_incident_services_returns_ok_response-1606385968.134523
  response:
    body:
      string: '{"meta":{"sort":"ASC","pagination":{"total":5461,"size":1,"next_offset":1,"offset":0},"total":5461},"data":[{"type":"services","id":"c865f712-6790-5883-b058-5a475b85e5fd","attributes":{"name":"datadog-api-client-python-test_get_a_list_of_all_incident_services_returns_ok_response-1606385968.134523","created":"2020-11-26T10:19:28.598213+00:00","modified":"2020-11-26T10:19:28.598213+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11999'
      X-RateLimit-Reset:
      - '32'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/c865f712-6790-5883-b058-5a475b85e5fd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LkSOFVoHBcsyBoPbYbYfcEWZoNcVif5SL5dX3LvvR/J4mRuKXGmrGqdm859yDQ2v
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '12000'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '11997'
      X-RateLimit-Reset:
      - '31'
    status:
      code: 204
      message: No Content
version: 1
