interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_disable_a_user_leading_to_ok-1593010553.59777@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"cd867046-b62a-11ea-9b4e-0711c5daea57","attributes":{"name":null,"handle":"datadog-api-client-python-test_disable_a_user_leading_to_ok-1593010553.59777@datadoghq.com","created_at":"2020-06-24T14:55:54.122939+00:00","email":"datadog-api-client-python-test_disable_a_user_leading_to_ok-1593010553.59777@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9007d05df84f9f036e3b18c252cac902?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/cd867046-b62a-11ea-9b4e-0711c5daea57
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - vwiIwb5QepaQFIQrmPfIwwVWkQ/z0inFQwNEDjqDDy4v3CsF5qbv9dnyfb7UGzLf
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/cd867046-b62a-11ea-9b4e-0711c5daea57
  response:
    body:
      string: '{"errors": ["cd867046-b62a-11ea-9b4e-0711c5daea57 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/8232cd30-b6dc-11ea-9c12-f7630d401bf7
  response:
    body:
      string: '{"errors": ["8232cd30-b6dc-11ea-9c12-f7630d401bf7 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 404
      message: Not Found
version: 1
