interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_permissions_leading_to_ok-1593088212.145855@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9d9432d2-b6df-11ea-9c12-9f0a2460a8e8","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_permissions_leading_to_ok-1593088212.145855@datadoghq.com","created_at":"2020-06-25T12:30:12.590130+00:00","email":"datadog-api-client-python-test_get_a_user_permissions_leading_to_ok-1593088212.145855@datadoghq.com","icon":"https://secure.gravatar.com/avatar/724f2567114ed91f016e2b03b09260f6?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - u9VEJv4YNx+Fl9tRGJNbGm0+76jyym0t+mec2t84PhoJYEedil3ajyEhP7U3EneZ
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUserPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/9d9432d2-b6df-11ea-9c12-9f0a2460a8e8/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - tp1qdVxoUmtlsVp6hgBWraWfL5vEbA116VZkaWKWIZtgPr5Ima8zysCBv+o2WoZ/
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 200
      message: OK
version: 1
