interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1606385970.790849"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"df6da098-2fd0-11eb-8697-9bc6e50a69d2","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1606385970.790849","created_at":"2020-11-26T10:19:31.312264+00:00","modified_at":"2020-11-26T10:19:31.312264+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - a52+bkva5fMDFMmi2v17bUHPljQFhzXPnsLiGGP3HLm+LCaJfIpSjqgfWqa8LIOd
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '477'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "df6da098-2fd0-11eb-8697-9bc6e50a69d2", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1606385970.790849-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/df6da098-2fd0-11eb-8697-9bc6e50a69d2
  response:
    body:
      string: '{"data":{"type":"roles","id":"df6da098-2fd0-11eb-8697-9bc6e50a69d2","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1606385970.790849-updated","created_at":"2020-11-26T10:19:31.312264+00:00","modified_at":"2020-11-26T10:19:31.540862+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - VbuXVkM6abYwIF9A0EUx/hxlOb2fUYUuj3PZZOBGVUtLSPf9Jpa+BbRUppU4yJ6y
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '476'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/df6da098-2fd0-11eb-8697-9bc6e50a69d2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WyPl7Uohyy2nhJ7RWrq85UM5TEMaIEIfRwQveR0xpNBygzZEP8S/qWubDM7SoNjW
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '475'
      X-RateLimit-Reset:
      - '29'
    status:
      code: 204
      message: No Content
version: 1
