interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_update_a_role_leading_to_ok-1593012406.366195"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"1dd86938-b62f-11ea-9b4e-87e1024785df","attributes":{"name":"datadog-api-client-python-test_update_a_role_leading_to_ok-1593012406.366195","created_at":"2020-06-24T15:26:46.865365+00:00","modified_at":"2020-06-24T15:26:46.865365+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - FkKIRCzyOlcTfevOWu/Pn0jzNwYGEOKsDSSLLIk1UH0umdv3B3q8BoRMqfK8ce37
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "1dd86938-b62f-11ea-9b4e-87e1024785df", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_leading_to_ok-1593012406.366195-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/1dd86938-b62f-11ea-9b4e-87e1024785df
  response:
    body:
      string: '{"data":{"type":"roles","id":"1dd86938-b62f-11ea-9b4e-87e1024785df","attributes":{"name":"datadog-api-client-python-test_update_a_role_leading_to_ok-1593012406.366195-updated","created_at":"2020-06-24T15:26:46.865365+00:00","modified_at":"2020-06-24T15:26:47.091551+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - FiLv+OaMPfXL1uddbn+9yDPMV5awac1EEhAgzXF2ZG6GNVh7KFUCM+HhGv6IDSg0
      X-DD-VERSION:
      - '35.2660307'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/80806182-b6dc-11ea-9c12-4fc4856086aa
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sg8vzlrAXfi82gDuSEBUxkn5dG85uDtr4RhaVLNn521TM8s6JdimiKDHvX2NhFjo
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
