interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600429923.805373@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5ec81c40-f9a5-11ea-adf4-bf12b49864d9","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600429923.805373@datadoghq.com","created_at":"2020-09-18T11:52:04.328997+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600429923.805373@datadoghq.com","icon":"https://secure.gravatar.com/avatar/06380ac5942f5c8591ff18968bd66718?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Et2YiqVRxti9EZo6Gk/yyRrgDmYxZuoE62JE6GLJjDYX0PgDmkmo9d4ASFrtRIDj
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"id": "5ec81c40-f9a5-11ea-adf4-bf12b49864d9", "type": "users"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"5eff8158-f9a5-11ea-adf4-8b309c4fb22c","attributes":{"uuid":"5eff8158-f9a5-11ea-adf4-8b309c4fb22c","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-18T11:52:04.693820+00:00","expires_at":"2020-09-20T11:52:04.618889+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5ec81c40-f9a5-11ea-adf4-bf12b49864d9"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - snRlN2mG6m2XG8PW7FJyIbLe3cfPR84i7BVTReiz8buNCpZ4AuQEpjHGMH+TQHsx
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/5eff8158-f9a5-11ea-adf4-8b309c4fb22c
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"5eff8158-f9a5-11ea-adf4-8b309c4fb22c","attributes":{"uuid":"5eff8158-f9a5-11ea-adf4-8b309c4fb22c","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-18T11:52:04.693820+00:00","expires_at":"2020-09-20T11:52:04.618889+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5ec81c40-f9a5-11ea-adf4-bf12b49864d9"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/22c92624-fcae-11ea-b0ae-77b116d30876
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"22c92624-fcae-11ea-b0ae-77b116d30876","attributes":{"uuid":"22c92624-fcae-11ea-b0ae-77b116d30876","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-22T08:32:22.633362+00:00","expires_at":"2020-09-24T08:32:22.553731+00:00"},"relationships":{"user":{"data":{"type":"users","id":"228c6fb8-fcae-11ea-b0ae-336563150d71"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - USPe37g2wIwIGkWqvMeYK22fiihO1rdleNZ85kBYngzEXbpyfQ3VYIDyHV+nawI1
      X-DD-VERSION:
      - '35.3072861'
    status:
      code: 200
      message: OK
version: 1
