interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1600774795.489066@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"563d5312-fcc8-11ea-b0f2-d718ad8f1e18","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600774795.489066@datadoghq.com","created_at":"2020-09-22T11:39:55.872571+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600774795.489066@datadoghq.com","icon":"https://secure.gravatar.com/avatar/523e0e2baad7559f57b66a644818e3e3?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - USPe37g2wIwIGkWqvMeYK22fiihO1rdleNZ85kBYngzEXbpyfQ3VYIDyHV+nawI1
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/563d5312-fcc8-11ea-b0f2-d718ad8f1e18
  response:
    body:
      string: '{"data":{"type":"users","id":"563d5312-fcc8-11ea-b0f2-d718ad8f1e18","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600774795.489066@datadoghq.com","created_at":"2020-09-22T11:39:55.872571+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1600774795.489066@datadoghq.com","icon":"https://secure.gravatar.com/avatar/523e0e2baad7559f57b66a644818e3e3?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mpg/BCzsUMOxVwcAuQg/6c40bDAb3ejXVT4tkiODN0ExybQ/Ia68faurJX6CivjX
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 200
      message: OK
version: 1
