interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284404.830072"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"b81810a6-c1c0-11ea-9cec-67b58552398d","attributes":{"name":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284404.830072","created_at":"2020-07-09T08:46:45.468242+00:00","modified_at":"2020-07-09T08:46:45.468242+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - rK52fEhHKxisnKo2rembr3YValr4L+BG6/8tD9iNDc8Prg2mnV6DynBkS75++wh/
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284405.533793@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"b846a434-c1c0-11ea-9cec-e7b501f3531f","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284405.533793@datadoghq.com","created_at":"2020-07-09T08:46:45.772962+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284405.533793@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ab056270b9cba867d091a6aa6e1ddf3f?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - NclXS5F5t+kukUaODU4jY2oSI1KBdPHFdFhJZNfbXLWDOThxbCLlKKmYvikjdDSg
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "b846a434-c1c0-11ea-9cec-e7b501f3531f", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/b81810a6-c1c0-11ea-9cec-67b58552398d/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"b846a434-c1c0-11ea-9cec-e7b501f3531f","attributes":{"name":null,"handle":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284405.533793@datadoghq.com","created_at":"2020-07-09T08:46:45.772962+00:00","email":"datadog-api-client-python-test_add_a_user_to_a_role_returns_ok_response-1594284405.533793@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ab056270b9cba867d091a6aa6e1ddf3f?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"b81810a6-c1c0-11ea-9cec-67b58552398d"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - l+fZq7vW9gg1qInAzXkJZdt8f8e/094RDnN9pOEIlkXbx1jb6kpjgt1+syYCZyFC
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
version: 1
