interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1593621103.58987"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"599ea228-bbb8-11ea-9c9e-e7fee306d8e2","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1593621103.58987","created_at":"2020-07-01T16:31:44.015460+00:00","modified_at":"2020-07-01T16:31:44.015460+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 5gIeAyE850e1lqVwTAgwvudewR8EzuQd3qGaXsS2D0CKQVhFOIjBoeQYiH0qPohy
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/599ea228-bbb8-11ea-9c9e-e7fee306d8e2
  response:
    body:
      string: '{"data":{"type":"roles","id":"599ea228-bbb8-11ea-9c9e-e7fee306d8e2","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1593621103.58987","created_at":"2020-07-01T16:31:44.015460+00:00","modified_at":"2020-07-01T16:31:44.015460+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KHJbOoqp3I4BOBzIFnc/Ois3eg3Rjmudy0YalRpnXQEDXDoppykpDMDaJPIufi9t
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/93d6577e-bbb8-11ea-9c9e-2bda3c395b01
  response:
    body:
      string: '{"data":{"type":"roles","id":"93d6577e-bbb8-11ea-9c9e-2bda3c395b01","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1593621201.164398","created_at":"2020-07-01T16:33:21.688784+00:00","modified_at":"2020-07-01T16:33:21.688784+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - EbXB0e7cF4uDRViRvI+w6qPg1YzykoJqZiw5SbqL/81VRQW4a286h09eTGyIVvXJ
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
version: 1
