interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_list_roles_returns_ok_response-1600941694.69827"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"edf2b7a8-fe4c-11ea-b268-7789b2e1c92d","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600941694.69827","created_at":"2020-09-24T10:01:35.128587+00:00","modified_at":"2020-09-24T10:01:35.128587+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sKAY0l5Dq+9OdN3cdjnBmv3dOgVdaJs4B9XR5o+IUZC5EZY9C+nnqv+YslWCCjmi
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '483'
      X-RateLimit-Reset:
      - '25'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=datadog-api-client-python-test_list_roles_returns_ok_response-1600941694.69827
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":942}},"data":[{"type":"roles","id":"edf2b7a8-fe4c-11ea-b268-7789b2e1c92d","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1600941694.69827","created_at":"2020-09-24T10:01:35.128587+00:00","modified_at":"2020-09-24T10:01:35.128587+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gxfSlUtZJz4/cDPBxW1+YhseAnu5514ckuMWbI3rl8N4exeAZPF+KTE0BQhrBgSI
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '482'
      X-RateLimit-Reset:
      - '25'
    status:
      code: 200
      message: OK
version: 1
