interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_leading_to_ok-1592988828.906849@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"389acab8-b5f8-11ea-9b4a-f3c26b1dd9a2","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_leading_to_ok-1592988828.906849@datadoghq.com","created_at":"2020-06-24T08:53:49.439263+00:00","email":"datadog-api-client-python-test_create_a_user_leading_to_ok-1592988828.906849@datadoghq.com","icon":"https://secure.gravatar.com/avatar/55e51cee72c18d238d0f0a6804b57150?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - o1rjyOSbDnvYaQgtO33vwWSNsIwHafzLqam2amG/PbTP69SVY965ZpWutdoYJB30
      X-DD-VERSION:
      - '35.2658709'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_leading_to_ok-1592997321.752322@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"feb4c95c-b60b-11ea-9b4a-ab82e912a7a1","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_leading_to_ok-1592997321.752322@datadoghq.com","created_at":"2020-06-24T11:15:22.235074+00:00","email":"datadog-api-client-python-test_create_a_user_leading_to_ok-1592997321.752322@datadoghq.com","icon":"https://secure.gravatar.com/avatar/efd32d90d1e1d28c0821a49676ef76d2?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mIWJPPM06xs5rSGFgggpdD5UbOnt6ntntAO8/8YDsVuXnSmp/k0aZ5dEUtAKB7Td
      X-DD-VERSION:
      - '35.2659280'
    status:
      code: 201
      message: Created
version: 1
