interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5b771b91-f9a5-11ea-adf4-074fd7b75af2","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785","created_at":"2020-09-18T11:51:59.720210+00:00","modified_at":"2020-09-18T11:51:59.720210+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - PJIyDXpxEN4mcEZXeKHAupMoEkL0DxL1Os4C2/ywa2GjpRxyYTc76kt+BnhUGIa5
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '485'
      X-RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5b8b4f49-f9a5-11ea-adf4-ab41ee718358","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","created_at":"2020-09-18T11:51:59.955879+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3ccde0c1af8463b52fd3f9c0e47644e9?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - n+NV79XuUQY1zXMLrjRysjwaT2qzFWS0TneyrqIFDbOz2iCaH1br1q0uLZWIG8on
      X-DD-VERSION:
      - '35.3056650'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "5b8b4f49-f9a5-11ea-adf4-ab41ee718358", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/5b771b91-f9a5-11ea-adf4-074fd7b75af2/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"5b8b4f49-f9a5-11ea-adf4-ab41ee718358","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","created_at":"2020-09-18T11:51:59.955879+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3ccde0c1af8463b52fd3f9c0e47644e9?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"5b771b91-f9a5-11ea-adf4-074fd7b75af2"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - jksv6NXchM8W/4CgjBiDDYPQGBQ0jGtm+dmNJmQoft/ZYfYSEvwpU9lIHwYKsM2d
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '499'
      X-RateLimit-Reset:
      - '60'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoleUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/5b771b91-f9a5-11ea-adf4-074fd7b75af2/users
  response:
    body:
      string: '{"included":[{"type":"roles","id":"5b771b91-f9a5-11ea-adf4-074fd7b75af2","attributes":{"name":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785","created_at":"2020-09-18T11:51:59.720210+00:00","modified_at":"2020-09-18T11:51:59.720210+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}],"meta":{"page":{"total_filtered_count":1,"total_count":1}},"data":[{"type":"users","id":"5b8b4f49-f9a5-11ea-adf4-ab41ee718358","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","created_at":"2020-09-18T11:51:59.955879+00:00","email":"datadog-api-client-python-test_get_all_users_of_a_role_returns_ok_response-1600429919.281785@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3ccde0c1af8463b52fd3f9c0e47644e9?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"5b771b91-f9a5-11ea-adf4-074fd7b75af2"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - G84mPdYpSAGk3Cn+ow9K78cPip5wn5xve1MIezJYJmKYQLcpCyyPvAIMLsVAC7W/
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '60'
    status:
      code: 200
      message: OK
version: 1
