interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_returns_ok_response-1594284417.316457@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"bf8c43d4-c1c0-11ea-9cec-ff800e73b0bb","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_returns_ok_response-1594284417.316457@datadoghq.com","created_at":"2020-07-09T08:46:57.972300+00:00","email":"datadog-api-client-python-test_create_a_user_returns_ok_response-1594284417.316457@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5810592c902594e1937b45044cac01e0?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - XrVF9iGOfdATIczLJsCTqr1ORVJWAydZm12oLZRyDN+lGe5bU8VekbcSMjJ2fj90
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 201
      message: Created
version: 1
