interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1600857141.549113"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"1051437a-fd88-11ea-b1b0-bbe280e8dfea","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600857141.549113","created_at":"2020-09-23T10:32:21.935892+00:00","modified_at":"2020-09-23T10:32:21.935892+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sKAY0l5Dq+9OdN3cdjnBmv3dOgVdaJs4B9XR5o+IUZC5EZY9C+nnqv+YslWCCjmi
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '479'
      X-RateLimit-Reset:
      - '39'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/1051437a-fd88-11ea-b1b0-bbe280e8dfea
  response:
    body:
      string: '{"data":{"type":"roles","id":"1051437a-fd88-11ea-b1b0-bbe280e8dfea","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1600857141.549113","created_at":"2020-09-23T10:32:21.935892+00:00","modified_at":"2020-09-23T10:32:21.935892+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - DzEnZCQWT9euguf/bcLShPm1gznPA9ZqLP7LjIXyQlgbj6pbs1ZQonx5miG7wBC7
      X-DD-VERSION:
      - '35.3080163'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '478'
      X-RateLimit-Reset:
      - '38'
    status:
      code: 200
      message: OK
version: 1
