interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_leading_to_ok-1592995028.04983@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a78e056c-b606-11ea-9b4a-4bc0e0f342e1","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_leading_to_ok-1592995028.04983@datadoghq.com","created_at":"2020-06-24T10:37:08.536062+00:00","email":"datadog-api-client-python-test_update_a_user_leading_to_ok-1592995028.04983@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7945dc0caf76449755813b5aafb8e54d?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KKdI9UAf8fC5q7osIllxNui0A1CUm45w7mZBz+tu6Vlp/ga+Q6ZXvY0JoJlUBVi+
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "a78e056c-b606-11ea-9b4a-4bc0e0f342e1", "type": "users",
      "attributes": {"name": "updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/a78e056c-b606-11ea-9b4a-4bc0e0f342e1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bZImwKnIO3sUAXCuyRs9fWaEMDsBOTeSFh5dFNajdvBKpGDGzy05mj4PBPSf18hx
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/007cd81a-b60c-11ea-9b4a-7fee96266be1
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - bJj7D3RvHsKo+7eO3lrtPpPG0z8SsAwLw7bNfLb4htD+N9Ub8bD3AFgh45XaVsFM
      X-DD-VERSION:
      - '35.2659280'
    status:
      code: 204
      message: No Content
version: 1
