interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600941682.592363"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"e6c6e97c-fe4c-11ea-b268-33c297939703","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600941682.592363","created_at":"2020-09-24T10:01:23.097877+00:00","modified_at":"2020-09-24T10:01:23.097877+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - P6Akw3EF5CkRD9dRTLe+2D7FUH3E+plOtxsv0XR1d07sSAJOUbLe0N5LZ7Ruz6Fj
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '486'
      X-RateLimit-Reset:
      - '37'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "e6c6e97c-fe4c-11ea-b268-33c297939703", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600941682.592363-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/e6c6e97c-fe4c-11ea-b268-33c297939703
  response:
    body:
      string: '{"data":{"type":"roles","id":"e6c6e97c-fe4c-11ea-b268-33c297939703","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600941682.592363-updated","created_at":"2020-09-24T10:01:23.097877+00:00","modified_at":"2020-09-24T10:01:23.296347+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - t3HUEZc5ir8lXNnqzkff2uqNehUi1czGcghjOPRgwaz4xZmG6O4HwEI6mdtgJV0i
      X-DD-VERSION:
      - '35.3086554'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '485'
      X-RateLimit-Reset:
      - '37'
    status:
      code: 200
      message: OK
version: 1
