interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600774816.36278@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"61e24eae-fcc8-11ea-b0f2-b795bde2144b","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600774816.36278@datadoghq.com","created_at":"2020-09-22T11:40:16.771052+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600774816.36278@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fff5ee3f60751cf974fc0de260a1fcea?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WrTDvawKJxc/3XHcVO+oe9kLOi9bBLB0fyesfpZ4AlLEoPVyUvH7rJdlyTxrqyNg
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"id": "61e24eae-fcc8-11ea-b0f2-b795bde2144b", "type": "users"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"62e41466-fcc8-11ea-b0f3-9f94c53bc43c","attributes":{"uuid":"62e41466-fcc8-11ea-b0f3-9f94c53bc43c","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-22T11:40:17.098866+00:00","expires_at":"2020-09-24T11:40:17.018222+00:00"},"relationships":{"user":{"data":{"type":"users","id":"61e24eae-fcc8-11ea-b0f2-b795bde2144b"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - k/zHOOzqpc4r+ZK5tvPeMjc5yHaZZgqaNAwCywXjTJpLyIGjDeV+DLPBFsNU82W8
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/62e41466-fcc8-11ea-b0f3-9f94c53bc43c
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"62e41466-fcc8-11ea-b0f3-9f94c53bc43c","attributes":{"uuid":"62e41466-fcc8-11ea-b0f3-9f94c53bc43c","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-22T11:40:17.098866+00:00","expires_at":"2020-09-24T11:40:17.018222+00:00"},"relationships":{"user":{"data":{"type":"users","id":"61e24eae-fcc8-11ea-b0f2-b795bde2144b"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 200
      message: OK
version: 1
