interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1600774763.504473@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"433160a6-fcc8-11ea-b0f2-27bf2ef82964","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600774763.504473@datadoghq.com","created_at":"2020-09-22T11:39:23.917166+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600774763.504473@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f36fe7d4f0e49cba44caba3a88c34fd9?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - motUb+3MrSbL60qP2VQvKfticEMFw/ITb9aZ1t0IvCT8MphWULXKj1d6mnYOkJDn
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "433160a6-fcc8-11ea-b0f2-27bf2ef82964", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/433160a6-fcc8-11ea-b0f2-27bf2ef82964
  response:
    body:
      string: '{"data":{"type":"users","id":"433160a6-fcc8-11ea-b0f2-27bf2ef82964","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600774763.504473@datadoghq.com","created_at":"2020-09-22T11:39:23.917166+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1600774763.504473@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f36fe7d4f0e49cba44caba3a88c34fd9?s=48&d=retro","title":null,"verified":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - USPe37g2wIwIGkWqvMeYK22fiihO1rdleNZ85kBYngzEXbpyfQ3VYIDyHV+nawI1
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 200
      message: OK
version: 1
