interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_list_permissions_for_a_role_returns_ok_response-1593621105.75941"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"5aeb3d4e-bbb8-11ea-9c9e-7f9454efdb3b","attributes":{"name":"datadog-api-client-python-test_list_permissions_for_a_role_returns_ok_response-1593621105.75941","created_at":"2020-07-01T16:31:46.195741+00:00","modified_at":"2020-07-01T16:31:46.195741+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - qQjtInIx1/QKXFlq6Yoz4D/caW/S2oJqgJl91CEEpXrlxRmYHcLgIFCRCvW61KAy
      X-DD-VERSION:
      - '35.2688709'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
        Access","description":"This permission gives you the ability to view and edit
        everything in your Datadog organization that does not have an explicitly defined
        permission. This includes billing and usage, user, key, and organization management.
        This permission is inclusive of all Standard access permissions.","created":"2018-10-19T15:35:23.734317+00:00","group_name":"General","display_type":"other","restricted":false}},{"type":"permissions","id":"984d2f00-d3b4-11e8-a200-bb47109e9987","attributes":{"name":"standard","display_name":"Standard
        Access","description":"This permission gives you the ability to view and edit
        components in your Datadog organization that do not have explicitly defined
        permissions. This includes APM, Events, and other non-Account Management functionality.","created":"2018-10-19T15:35:23.756736+00:00","group_name":"General","display_type":"other","restricted[...]
- request:
    body: '{"data": {"id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029", "type": "permissions"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddPermissionToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/5aeb3d4e-bbb8-11ea-9c9e-7f9454efdb3b/permissions
  response:
    body:
      string: '{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029","attributes":{"name":"admin","display_name":"Privileged
      [...]
[...]
