interactions:
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600941685.217193"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"6edf4607-e398-5e1a-a7e5-f877c01053dd","attributes":{"name":"datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600941685.217193","created":"2020-09-24T10:01:25.632466+00:00","modified":"2020-09-24T10:01:25.632466+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - qQXsO+f4B3HCvLT+wx7LVBDCKoA9+mEzcYYTapfT4+npOWtAMz9R4B+8HSWkVhsm
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_team_returns_ok_response-1600941685.217193-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateTeam
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/teams/6edf4607-e398-5e1a-a7e5-f877c01053dd
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attribu[...]
