interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"cccf853c-2fd0-11eb-8697-3badb971584c","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698@datadoghq.com","created_at":"2020-11-26T10:19:00.077017+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698@datadoghq.com","icon":"https://secure.gravatar.com/avatar/22996d8bc8e7bf2fe3ad57fa89e0e0fd?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":70805}},"data":[{"type":"users","id":"cccf853c-2fd0-11eb-8697-3badb971584c","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698@datadoghq.com","created_at":"2020-11-26T10:19:00.077017+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1606385939.554698@datadoghq.com","icon":"https://secure.gravatar.com/avatar/22996d8bc8e7bf2fe3ad57fa89e0e0fd?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IEUzjgpnyUrp74lH2dqPweGXNQU7es3CY44HHPIdy7aSNeimMebMvcKCoCgyWWVx
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/cccf853c-2fd0-11eb-8697-3badb971584c
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 7ZZAowMV9z1Vr+0y/WbNkvcDUXbHQ7uNKkyZU3E6k00RqTwxh53CgITxXoDQsQqv
      X-DD-VERSION:
      - '35.3435414'
    status:
      code: 204
      message: No Content
version: 1
