interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600857093.20858@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f3a904d8-fd87-11ea-b1b0-7b37944c059c","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600857093.20858@datadoghq.com","created_at":"2020-09-23T10:31:33.856150+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600857093.20858@datadoghq.com","icon":"https://secure.gravatar.com/avatar/db31bcf6d4c0ac38071cd2ce4047bd68?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - JywPpt+4BVnbPdSe3Y1Brr4edpaGbhQEf1Cv7s/evHeASrfyUCmzDpnXMXyJJDQz
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"id": "f3a904d8-fd87-11ea-b1b0-7b37944c059c", "type": "users"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"f3efe8b2-fd87-11ea-b1b0-e320bc0078ee","attributes":{"uuid":"f3efe8b2-fd87-11ea-b1b0-e320bc0078ee","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-23T10:31:34.321561+00:00","expires_at":"2020-09-25T10:31:34.142077+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f3a904d8-fd87-11ea-b1b0-7b37944c059c"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - L5YZybc1cyjBP6Pj7fxCLn7WXppFUz91jOJ8laQX9oZfrQHZBjzm1VU3LVztvJTa
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/f3efe8b2-fd87-11ea-b1b0-e320bc0078ee
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"f3efe8b2-fd87-11ea-b1b0-e320bc0078ee","attributes":{"uuid":"f3efe8b2-fd87-11ea-b1b0-e320bc0078ee","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-23T10:31:34.321561+00:00","expires_at":"2020-09-25T10:31:34.142077+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f3a904d8-fd87-11ea-b1b0-7b37944c059c"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - zdUdESDt99y2SVrNik+lLSBmyFFFNlFUO4zEnFYNO3qGTBg30VN2+XGqoJzWlOgd
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 200
      message: OK
version: 1
