interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_delete_role_returns_ok_response-1606385949.066807"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"d278e38e-2fd0-11eb-8697-434836db1f2d","attributes":{"name":"datadog-api-client-python-test_delete_role_returns_ok_response-1606385949.066807","created_at":"2020-11-26T10:19:09.576404+00:00","modified_at":"2020-11-26T10:19:09.576404+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - E8kYJH6Hb74I4gS4d8oTnZBbKR38RfM4isuhSW09hK2ARkJHcJxE0DNPxSd582jS
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '499'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d278e38e-2fd0-11eb-8697-434836db1f2d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hhAfI9DpjHRbHS2z+2prVh0mHwAun3McFDOF8AzNv8c8J6c/l2q8Kye8syKGTxkY
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d278e38e-2fd0-11eb-8697-434836db1f2d
  response:
    body:
      string: '{"errors": ["The role d278e38e-2fd0-11eb-8697-434836db1f2d does not
        exist not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3435414'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '497'
      X-RateLimit-Reset:
      - '50'
    status:
      code: 404
      message: Not Found
version: 1
