interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_service_returns_ok_response-1600857125.580038"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"8ef063be-7ba5-5562-8790-516801abfe73","attributes":{"name":"datadog-api-client-python-test_update_an_existing_service_returns_ok_response-1600857125.580038","created":"2020-09-23T10:32:05.967814+00:00","modified":"2020-09-23T10:32:05.967814+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - G84mPdYpSAGk3Cn+ow9K78cPip5wn5xve1MIezJYJmKYQLcpCyyPvAIMLsVAC7W/
      X-DD-VERSION:
      - '35.3080163'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_update_an_existing_service_returns_ok_response-1600857125.580038-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateService
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/services/8ef063be-7ba5-5562-8790-516801abfe73
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660[...]
