interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_create_role_leading_to_ok-1593010551.40015"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"cc2dd9dc-b62a-11ea-9b4e-23fd3d32bfce","attributes":{"name":"datadog-api-client-python-test_create_role_leading_to_ok-1593010551.40015","created_at":"2020-06-24T14:55:51.865221+00:00","modified_at":"2020-06-24T14:55:51.865221+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Wn01ZjXucAfzJfwvKAkpy0yFfNtHyWu4ZB2aA4ZDwwhXkyLHirYeUNsx208dZz9p
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/cc2dd9dc-b62a-11ea-9b4e-23fd3d32bfce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - oQ/oy4ezTZ+/WzL4afBMlDjLd5w62e5H15hF5BJChw1Gte+Sq8B8tB7i6vlTiLL0
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 204
      message: No Content
version: 1
