interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_leading_to_ok-1593088228.68796@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a77e3086-b6df-11ea-9c12-8ffc5d1ae548","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_leading_to_ok-1593088228.68796@datadoghq.com","created_at":"2020-06-25T12:30:29.223332+00:00","email":"datadog-api-client-python-test_create_a_user_leading_to_ok-1593088228.68796@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a416b741d9c1e35513c8d2f263e64276?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /Ib6MMQTHlX0/jTb6tlEMzSZs2crLqjkGjYkoQ/zb0RHtMaXT744DZRFpy23W0oi
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 201
      message: Created
version: 1
