interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1592995026.334265@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"a6870d94-b606-11ea-9b4a-a71868c116a0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1592995026.334265@datadoghq.com","created_at":"2020-06-24T10:37:06.813268+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1592995026.334265@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a6218e74c0bac8c6a0b80115952b3bf4?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - IYH6Ubmq2MBSPq8ODr3BCv3hq6/qfjckWAQPmybeluQn4umf0be4fk6ceyy1pnBw
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/a6870d94-b606-11ea-9b4a-a71868c116a0
  response:
    body:
      string: '{"data":{"type":"users","id":"a6870d94-b606-11ea-9b4a-a71868c116a0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1592995026.334265@datadoghq.com","created_at":"2020-06-24T10:37:06.813268+00:00","email":"datadog-api-client-python-test_get_a_user_leading_to_ok_for_get_user-1592995026.334265@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a6218e74c0bac8c6a0b80115952b3bf4?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - oQ/oy4ezTZ+/WzL4afBMlDjLd5w62e5H15hF5BJChw1Gte+Sq8B8tB7i6vlTiLL0
      X-DD-VERSION:
      - '35.2659166'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ffec0d9e-b60b-11ea-9b4a-5bc31ed8a446
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sg8vzlrAXfi82gDuSEBUxkn5dG85uDtr4RhaVLNn521TM8s6JdimiKDHvX2NhFjo
      X-DD-VERSION:
      - '35.2659280'
    status:
      code: 204
      message: No Content
version: 1
