interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"54da9fca-fcc8-11ea-b0f2-9f3d096bb738","attributes":{"name":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937","created_at":"2020-09-22T11:39:53.548347+00:00","modified_at":"2020-09-22T11:39:53.548347+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sLT3tMuT71X28AXLk8mlGwO3D5oSAoXgZd6lTF4A+2/3S3PMDx4PqPKge+DRhV/G
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '482'
      X-RateLimit-Reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"54fd232e-fcc8-11ea-b0f2-af8a5ae911bb","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937@datadoghq.com","created_at":"2020-09-22T11:39:53.774006+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f91e9de83aa9b8a654e5114bf4e00908?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - d31ebXSBBNIfMRbwTUSeNjY3IxejCQxGK8GB7MdTMNs7w40n94in+BXmkLo5BsFJ
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "54fd232e-fcc8-11ea-b0f2-af8a5ae911bb", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/54da9fca-fcc8-11ea-b0f2-9f3d096bb738/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"54fd232e-fcc8-11ea-b0f2-af8a5ae911bb","attributes":{"name":null,"handle":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937@datadoghq.com","created_at":"2020-09-22T11:39:53.774006+00:00","email":"datadog-api-client-python-test_remove_a_user_from_a_role_returns_ok_response-1600774793.143937@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f91e9de83aa9b8a654e5114bf4e00908?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"54da9fca-fcc8-11ea-b0f2-9f3d096bb738"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /pM3t244uCdX9dMTNWxe1gvYLT702JRfo8ITQW70OgOLnoV6jDL7q1DSaqmfhgYL
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '481'
      X-RateLimit-Reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "54fd232e-fcc8-11ea-b0f2-af8a5ae911bb", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - RemoveUserFromRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/54da9fca-fcc8-11ea-b0f2-9f3d096bb738/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - uJ83xA1OCfjNbetv+4JhF+oFizEHF56t3Lja6jtB8P5etMWBi14GRkWSrGetOvyr
      X-DD-VERSION:
      - '35.3073683'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '480'
      X-RateLimit-Reset:
      - '6'
    status:
      code: 200
      message: OK
version: 1
