interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600429943.358998"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"6a65c714-f9a5-11ea-adf4-af20b8fb603e","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600429943.358998","created_at":"2020-09-18T11:52:23.818858+00:00","modified_at":"2020-09-18T11:52:23.818858+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2WpVLT6XfnIg4Icl10Bkfr2LmWju5l1mcL3EeaTPuJ+k4vOzKW0gcbyPFosLZlNj
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '477'
      X-RateLimit-Reset:
      - '37'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "6a65c714-f9a5-11ea-adf4-af20b8fb603e", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600429943.358998-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/6a65c714-f9a5-11ea-adf4-af20b8fb603e
  response:
    body:
      string: '{"data":{"type":"roles","id":"6a65c714-f9a5-11ea-adf4-af20b8fb603e","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600429943.358998-updated","created_at":"2020-09-18T11:52:23.818858+00:00","modified_at":"2020-09-18T11:52:24.034257+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - TFCg6TPxHCdpQyTTnaGFjBa5vzZnKeyQ4F7e1flYSnImhl2xBoRKXVAV7LhvPUlL
      X-DD-VERSION:
      - '35.3056650'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '476'
      X-RateLimit-Reset:
      - '36'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"id": "199919b0-fcae-11ea-b0ae-ff25c2f95a94", "type": "roles",
      "attributes": {"name": "datadog-api-client-python-test_update_a_role_returns_ok_response-1600763526.545126-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/199919b0-fcae-11ea-b0ae-ff25c2f95a94
  response:
    body:
      string: '{"data":{"type":"roles","id":"199919b0-fcae-11ea-b0ae-ff25c2f95a94","attributes":{"name":"datadog-api-client-python-test_update_a_role_returns_ok_response-1600763526.545126-updated","created_at":"2020-09-22T08:32:07.218512+00:00","modified_at":"2020-09-22T08:32:07.404724+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-DD-VERSION:
      - '35.3072861'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '493'
      X-RateLimit-Reset:
      - '53'
    status:
      code: 200
      message: OK
version: 1
