interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600774805.04604@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5befb282-fcc8-11ea-b0f2-c79d587aa153","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600774805.04604@datadoghq.com","created_at":"2020-09-22T11:40:05.429938+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1600774805.04604@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c60a569af11e0ae24f466ba06bb08d95?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LX0aORViMOQWB8T+VX1PN+m0Q/BWIGM8lAfgs+SVlDy/am6DTkPEsJ9PcP8Pvumm
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "5befb282-fcc8-11ea-b0f2-c79d587aa153"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"5c1bca16-fcc8-11ea-b0f2-ab00554afa1c","attributes":{"uuid":"5c1bca16-fcc8-11ea-b0f2-ab00554afa1c","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-22T11:40:05.720100+00:00","expires_at":"2020-09-24T11:40:05.653845+00:00"},"relationships":{"user":{"data":{"type":"users","id":"5befb282-fcc8-11ea-b0f2-c79d587aa153"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - flm57y1PQqDCGTMvz2Hc0LeaE4WpeyLyl0nK7TyUHhnh1/aAaCfINCnK5EAgp4id
      X-DD-VERSION:
      - '35.3073683'
    status:
      code: 201
      message: Created
version: 1
