interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"4bf797ba-3ec6-11eb-8990-4741b8db79ba","attributes":{"name":null,"handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315@datadoghq.com","created_at":"2020-12-15T11:11:36.387112+00:00","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b3a27fa46431f344e800da38af192048?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /waQ67o9EXsAiQILmFHWOTHDJ6E+x7ROC0G8iNmC+2lV58E3PSGYbXj1H62A/c+u
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "incidents", "attributes": {"title": "datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315",
      "customer_impacted": false, "fields": {"state": {"type": "dropdown", "value":
      "resolved"}}}, "relationships": {"commander": {"data": {"type": "users", "id":
      "4bf797ba-3ec6-11eb-8990-4741b8db79ba"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"b6038946-b008-5e5b-b490-27798243116e","attributes":{"public_id":5726,"postmortem_id":null,"title":"datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"responders":[],"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2020-12-15T11:11:36.846614+00:00","modified":"2020-12-15T11:11:36.846614+00:00","commander":{"data":{"type":"users","id":"4bf797ba-3ec6-11eb-8990-4741b8db79ba","attributes":{"uuid":"4bf797ba-3ec6-11eb-8990-4741b8db79ba","handle":"datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315@datadoghq.com","email":"datadog-api-client-python-test_create_an_incident_returns_created_response-1608030695.903315@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/b3a27fa46431f344e800da38af192048?s=48&d=retro"}}},"detected":"2020-12-15T11:11:36.844366+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"resolved"},"services":{"type":"autocomplete","value":null}},"severity":"UNKNOWN","state":"resolved","udf_values":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"4bf797ba-3ec6-11eb-8990-4741b8db79ba"}},"user_defined_field_selections":{"data":[{"type":"user_defined_selection","id":"6cc5cf89-81d3-5efd-a006-a28d21f3bbfc"},{"type":"user_defined_selection","id":"ecee8c41-8394-50f9-970c-34e344108fbc"},{"type":"user_defined_selection","id":"a691cc07-005e-59c5-b900-326f64a566f1"}]},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"}]},"postmortem":{"data":null},"integrations":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 5Vp6Lwv2kl5vwmtrK8x4SHT87up1E/Mb5wu+zWq1n+sTPuGmJfRlxsKBupN/GCCj
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '12'
      X-RateLimit-Reset:
      - '2904'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncident
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/b6038946-b008-5e5b-b490-27798243116e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sY27RT2rAVs9Imt5xTmPKBmhAzxpa7AQtTrw7L5i9IuvHhhrKb0AIwGzO934kbtj
      X-DD-VERSION:
      - '35.3542700'
      X-RateLimit-Limit:
      - '20'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '17'
      X-RateLimit-Reset:
      - '22'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/4bf797ba-3ec6-11eb-8990-4741b8db79ba
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - mjjix3i7KxHakJGjOSXbyjGLp+IPNWPrPaCVopgkuqm46lk1b+kLivuxRokDQC1N
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
version: 1
