interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1608030686.978114@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"46abbb4c-3ec6-11eb-8990-bf0efef49e67","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1608030686.978114@datadoghq.com","created_at":"2020-12-15T11:11:27.502163+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1608030686.978114@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8419fcd70151f229198e76f7cd53d5e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - XhN3sROXhRtxvw2F+uRtJTWMwUQRYhDKBCNr1DfCqtzQgh490ZXtNSOhIx1TzG8K
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "46abbb4c-3ec6-11eb-8990-bf0efef49e67",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"46efb6f8-3ec6-11eb-8990-c7864cf9ab37","attributes":{"uuid":"46efb6f8-3ec6-11eb-8990-c7864cf9ab37","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-15T11:11:27.948930+00:00","expires_at":"2020-12-17T11:11:27.848534+00:00"},"relationships":{"user":{"data":{"type":"users","id":"46abbb4c-3ec6-11eb-8990-bf0efef49e67"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - I0yEH4xFhLuk+yM2GIR/dtCF29+DEBKb58kq6TOpApqsa53yIh0t7lSVmFnrgEx+
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/46efb6f8-3ec6-11eb-8990-c7864cf9ab37
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"46efb6f8-3ec6-11eb-8990-c7864cf9ab37","attributes":{"uuid":"46efb6f8-3ec6-11eb-8990-c7864cf9ab37","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-15T11:11:27.948930+00:00","expires_at":"2020-12-17T11:11:27.848534+00:00"},"relationships":{"user":{"data":{"type":"users","id":"46abbb4c-3ec6-11eb-8990-bf0efef49e67"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZG2d6PTZdN5GjOj1q5TL+mECh5HT9EM/Aj77tmQRsy/bdfhBJv7oKLtfntznaoTC
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/46abbb4c-3ec6-11eb-8990-bf0efef49e67
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Dx/lglfFHSSR55lZZXPJOntjJp7qb35tIKm/SqO1nkg0n+U6yMAlHYP22LPWSHfP
      X-DD-VERSION:
      - '35.3542700'
    status:
      code: 204
      message: No Content
version: 1
