interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "datadog-api-client-python-test_create_a_user_leading_to_ok-1593010548.402636@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ca8aa31c-b62a-11ea-9b4e-0fa2b093c42a","attributes":{"name":"Datadog
        API Client Python","handle":"datadog-api-client-python-test_create_a_user_leading_to_ok-1593010548.402636@datadoghq.com","created_at":"2020-06-24T14:55:49.117284+00:00","email":"datadog-api-client-python-test_create_a_user_leading_to_ok-1593010548.402636@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c20acf320156565c0762ae4d717bab1b?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kqXz3OvR7iajEJOdRFWpzJtcDHRumYwGfjdF12Vd65Xt1uV9T6lEO/K0lkxmcRvl
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ca8aa31c-b62a-11ea-9b4e-0fa2b093c42a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2qCkWfddHrPF9jSCADI+4oMJC7ye/JJPxREHTFHEFILURsabvi1w9B+PDmBrh/Xk
      X-DD-VERSION:
      - '35.2659892'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/81b54c2a-b6dc-11ea-9c12-478ea8e54d86
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - EE74ncTR989SomsonUvABJWdGDkXBs7Emqj3HVDpp6NYddpvHp95kXsnHux1Es9E
      X-DD-VERSION:
      - '35.2664483'
    status:
      code: 204
      message: No Content
version: 1
