interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600680281.67706"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"705cf3f6-8314-5c30-9ba8-d7e15f566309","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600680281.67706","created":"2020-09-21T09:24:42.106870+00:00","modified":"2020-09-21T09:24:42.106870+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - P1Zl2WBjv6MmQy4Wz5dVVmMx+jZ8eifOyWRE5KLp6dZWiS4DybK2ThOqXH2WyhkS
      X-DD-VERSION:
      - '35.3066006'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetService
    method: GET
    uri: https://api.datadoghq.com/api/v2/services/705cf3f6-8314-5c30-9ba8-d7e15f566309
  response:
    body:
      string: '{"data":{"type":"services","id":"705cf3f6-8314-5c30-9ba8-d7e15f566309","attributes":{"name":"datadog-api-client-python-test_get_details_of_a_service_returns_ok_response-1600680281.67706","created":"2020-09-21T09:24:42.106870+00:00","modified":"2020-09-21T09:24:42.106870+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - laGkCMnt9yzADERvt5/nU5tJ2BKmoQx1BUE4x31rlC7mriAyKM9Zk5E+JikpAz3V
      X-DD-VERSION:
      - '35.3066006'
    status:
      code: 200
      message: OK
version: 1
