interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600941683.764739@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e769ab12-fe4c-11ea-b268-3301e530c7e0","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600941683.764739@datadoghq.com","created_at":"2020-09-24T10:01:24.163955+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1600941683.764739@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0a9371c74fd40af3e8a5d64d2a70c3b3?s=48&d=retro","title":null,"verified":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZvbT5Hkp4NkmoFNp2kmSQo90Sobu/hiarT/8VcAY1HhBaO2tDabc9sAn9xbJsaIr
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "e769ab12-fe4c-11ea-b268-3301e530c7e0",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"e79a33d6-fe4c-11ea-b268-234ac6ba062a","attributes":{"uuid":"e79a33d6-fe4c-11ea-b268-234ac6ba062a","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-24T10:01:24.482962+00:00","expires_at":"2020-09-26T10:01:24.389380+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e769ab12-fe4c-11ea-b268-3301e530c7e0"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1P9wTBqAbIBgrelvLhZC6yMU4dh3hoPJxqgVxGKRZAP7KGr8YPkzxcmHF9q0g7sB
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/e79a33d6-fe4c-11ea-b268-234ac6ba062a
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"e79a33d6-fe4c-11ea-b268-234ac6ba062a","attributes":{"uuid":"e79a33d6-fe4c-11ea-b268-234ac6ba062a","login_method":null,"invite_type":"openid_invite","created_at":"2020-09-24T10:01:24.482962+00:00","expires_at":"2020-09-26T10:01:24.389380+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e769ab12-fe4c-11ea-b268-3301e530c7e0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gKyXo3ULf4VOW0DRCpK6x6wW7WjimdWLkpQ5lRR6vSBvVWmlphnibJv0tavEU2N8
      X-DD-VERSION:
      - '35.3086554'
    status:
      code: 200
      message: OK
version: 1
