interactions:
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1594284413.243112"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"bd185872-c1c0-11ea-9cec-634c16b15a6f","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1594284413.243112","created_at":"2020-07-09T08:46:53.858525+00:00","modified_at":"2020-07-09T08:46:53.858525+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - aswcxBk1J00Iy18+kQFKF6EQfzLy4sWD4ILciesVMX5rWDYniffEYH6qbK0qwOgw
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/bd185872-c1c0-11ea-9cec-634c16b15a6f
  response:
    body:
      string: '{"data":{"type":"roles","id":"bd185872-c1c0-11ea-9cec-634c16b15a6f","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1594284413.243112","created_at":"2020-07-09T08:46:53.858525+00:00","modified_at":"2020-07-09T08:46:53.858525+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - zgs4/R8U39Dx88K274ycCG8gmotK2r1yjyecTfeITqBuGEc/zW9V1MMOyMl9URns
      X-DD-VERSION:
      - '35.2718508'
    status:
      code: 200
      message: OK
version: 1
