repos:
- repo: local
  hooks:
  - id: docs
    name: Format documentation
    stages: [manual]
    language: node
    language_version: 14.12.0
    entry: prettier --write --list-different --ignore-unknown README.md
    "types": [text]
    files: 'README.md'
    pass_filenames: false
    additional_dependencies:
      # When updating the version of prettier, make sure to check the  pre-commit file
      # And keep the `entry` here up to date https://github.com/pre-commit/mirrors-prettier/blob/master/.pre-commit-hooks.yaml
      - prettier@2.5.1
  - id: api-docs
    name: Generate API docs
    stages: [manual]
    language: python
    entry: sphinx-apidoc --output-dir docs --force --no-toc --templatedir docs/_templates src/datadog_api_client *apis *models *version.py
    pass_filenames: false
    additional_dependencies:
      - Sphinx
  - id: generator
    name: generator
    language: python
    language_version: "3.9"
    entry: bash -c "cd .generator && python -m pip install . && python -m generator -i ./schemas/v1/openapi.yaml -o ../src/ && python -m generator -i schemas/v2/openapi.yaml -o ../src/"
    files: "^.generator/.*"
    stages: [manual]
    pass_filenames: false
- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
    stages: [manual]
    entry: black --fast --line-length 120 src tests
    files: '^(src|tests)'
    pass_filenames: false
- repo: https://github.com/myint/autoflake
  rev: v1.4
  hooks:
  - id: autoflake
    stages: [manual]
    entry: autoflake --remove-all-unused-imports --ignore-init-module-imports --in-place --recursive src tests
    files: '^(src|tests)'
    pass_filenames: false
