interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/events
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/events
  response:
    body:
      string: '{"data":[{"id":"AgAAAYlu5noUx3iWbQAAAAAAAAAYAAAAAEFZbHU1b0I2QUFEdnI0TEUtZ2hJX3dBQQAAACQAAAAAMDE4OTZlZTYtN2ExNC00NWE1LThmMTMtMjk3MDMyYjEwZDBk","type":"log","attributes":{"service":"go-sample-app-mysticred","host":"compute-0-caa45922-1164-4388-b4fa-888c9ecbbb19","attributes":{"network":{"ip":{"attributes":[{"source":["tags"],"ip":"8.8.8.8"},{"source":["tags"],"ip":"10.0.4.8"}],"list":["8.8.8.8","10.0.4.8"]}}},"message":"hello
        world!","status":"info","timestamp":"2023-07-19T16:05:45.620Z","tags":["app_guid:386de7d0-251e-4cd1-af98-e3700ccd8192","app_id:386de7d0-251e-4cd1-af98-e3700ccd8192","app_instance_guid:36581c17-3e42-4d23-7a4c-5add","app_instance_index:0","app_name:go-sample-app-mysticred","application_id:386de7d0-251e-4cd1-af98-e3700ccd8192","application_name:go-sample-app-mysticred","bosh_address:10.0.4.8","bosh_az:us-central1-f","bosh_deployment:cf-5cc9eaf39286b62c1384","bosh_id:caa45922-1164-4388-b4fa-888c9ecbbb19","bosh_index:0","bosh_ip:10.0.4.8","bosh_job:compute","bosh_name:[...]
