interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"dpm-665-j6y","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/dpm-665-j6y/test-updateadashboardwithtagsreturnsokresponse-1731699191-with-profile-metrics-q","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":7755905539203163}],"notify_list":null,"created_at":"2024-11-15T19:33:11.685174+00:00","modified_at":"2024-11-15T19:33:11.685174+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"description":"Updated description","layout_type":"ordered","tags":["team:foo","team:bar"],"title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/dpm-665-j6y
  response:
    body:
      string: '{"id":"dpm-665-j6y","title":"Test-Update_a_dashboard_with_tags_returns_OK_response-1731699191
        with list_stream widget","description":"Updated description","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/dpm-665-j6y/test-updateadashboardwithtagsreturnsokresponse-1731699191-with-liststream-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":4561855444879229}],"notify_list":null,"created_at":"2024-11-15T19:33:11.685174+00:00","modified_at":"2024-11-15T19:33:11.905971+00:00","tags":["team:foo","team:bar"],"restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/dpm-665-j6y
  response:
    body:
      string: '{"deleted_dashboard_id":"dpm-665-j6y"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
