interactions:
- request:
    body: '{"type": "metric", "name": "Test-Update_an_SLO_returns_Bad_Request_response-1618831573",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"255de552129b52cbb80ff47fa1135f77","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618831573","created_at":1618831574,"tags":[],"modified_at":1618831574,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "monitor", "name": "Test-Update_an_SLO_returns_Bad_Request_response-1618831573",
      "thresholds": [{"target": 95.0, "target_display": "95.0", "timeframe": "7d",
      "warning": 98, "warning_display": "98.0"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSlo
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/255de552129b52cbb80ff47fa1135f77
  response:
    body:
      string: '{"errors": ["Invalid payload: must specify the query for count types"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '46'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/255de552129b52cbb80ff47fa1135f77
  response:
    body:
      string: '{"data":["255de552129b52cbb80ff47fa1135f77"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2997'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
version: 1
