interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1618831571
      with timeseries widget", "widgets": [{"definition": {"type": "timeseries", "requests":
      [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()",
      "on_right_yaxis": false, "style": {"palette": "warm", "line_type": "solid",
      "line_width": "normal"}, "display_type": "bars"}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"7qi-ra9-fus","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1618831571
        with timeseries widget","url":"/dashboard/7qi-ra9-fus/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1618831571","created_at":"2021-04-19T11:26:12.097700+00:00","modified_at":"2021-04-19T11:26:12.097700+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","on_right_yaxis":false,"style":{"line_width":"normal","palette":"warm","line_type":"solid"},"display_type":"bars"}],"type":"timeseries"},"id":3590868120738659}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/7qi-ra9-fus
  response:
    body:
      string: '{"deleted_dashboard_id":"7qi-ra9-fus"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
version: 1
