interactions:
- request:
    body: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_iframe_widget-1640210585","widgets":[{"definition":{"type":"iframe","url":"https://docs.datadoghq.com/api/latest/"},"layout":{"height":12,"width":12,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"uik-kyz-xi4","title":"Test-Create_a_new_dashboard_with_iframe_widget-1640210585","url":"/dashboard/uik-kyz-xi4/test-createanewdashboardwithiframewidget-1640210585","created_at":"2021-12-22T22:03:05.969306+00:00","modified_at":"2021-12-22T22:03:05.969306+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"url":"https://docs.datadoghq.com/api/latest/","type":"iframe"},"layout":{"y":0,"width":12,"x":0,"height":12},"id":2292796990276120}],"layout_type":"free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/uik-kyz-xi4
  response:
    body:
      string: '{"deleted_dashboard_id":"uik-kyz-xi4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
