interactions:
- request:
    body: '{"message":"some message Notify: @hipchat-channel","name":"Test-Edit_a_monitor_returns_OK_response-1633076915","options":{"enable_logs_sample":true,"escalation_message":"the
      situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","tags":["test:testeditamonitorreturnsokresponse1633076915","env:ci"],"type":"log
      alert"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles":null,"tags":["test:testeditamonitorreturnsokresponse1633076915","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":55498411,"multi":true,"name":"Test-Edit_a_monitor_returns_OK_response-1633076915","created":"2021-11-23T19:51:33.052863+00:00","created_at":1637697093000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-11-23T19:51:33.052863+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '496'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Test-Edit_a_monitor_returns_OK_response-1633076915-updated","options":{"evaluation_delay":null,"new_group_delay":600,"new_host_delay":null,"renotify_interval":null,"thresholds":{"critical":2,"warning":null},"timeout_h":null}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/monitor/55498411
  response:
    body:
      string: '{"restricted_roles":null,"tags":["test:testeditamonitorreturnsokresponse1633076915","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":55498411,"multi":true,"name":"Test-Edit_a_monitor_returns_OK_response-1633076915-updated","created":"2021-11-23T19:51:33.052863+00:00","created_at":1637697093000,"org_id":321813,"modified":"2021-11-23T19:51:33.407692+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":null,"silenced":{},"include_tags":true,"thresholds":{"critical":2.0},"new_host_delay":null,"notify_no_data":false,"renotify_interval":null,"groupby_simple_monitor":false,"new_group_delay":600,"evaluation_delay":null}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/55498411
  response:
    body:
      string: '{"deleted_monitor_id":55498411}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
