interactions:
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1652349003","recurrence":{"period":1,"type":"weeks","until_date":1654163403,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"start":1652349003,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1654163403,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652349004,"org_id":321813,"modified":1652349004,"disabled":false,"start":1652349003,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"message":"Test-Update_a_downtime_returns_OK_response-1652349003","downtime_type":2,"id":1944162328,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1652349003-updated","mute_first_recovery_notification":true}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/downtime/1944162328
  response:
    body:
      string: '{"recurrence":{"until_date":1654163403,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1652349004,"org_id":321813,"modified":1652349004,"disabled":false,"start":1652349003,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1652349003"],"message":"Test-Update_a_downtime_returns_OK_response-1652349003-updated","downtime_type":2,"id":1944162328,"updater_id":1445416}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162328
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
