interactions:
- request:
    body: '{"account_id":"171234183200","account_specific_namespace_rules":{"auto_scaling":false},"cspm_resource_collection_enabled":true,"excluded_regions":["us-east-1","us-west-2"],"extended_resource_collection_enabled":true,"filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"metrics_collection_enabled":false,"role_name":"DatadogAWSIntegrationRole"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      string: '{"external_id":"6aa1bf95e5dc4c9985593e94169bd2f6"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"account_id":"171234183200","role_name":"DatadogAWSIntegrationRole"}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      string: '{"errors":["AWS account 171234183200 does not exist in integration"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
