interactions:
- request:
    body: '{"type": "metric", "name": "Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618476796",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"0a67f1bd0c4850d9a9974c4f4b452a5d","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1618476796","created_at":1618476795,"tags":[],"modified_at":1618476795,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '45'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"slo_id": "0a67f1bd0c4850d9a9974c4f4b452a5d",
      "start": 1618476795, "end": 1618480395, "category": "Other", "timezone": "UTC",
      "description": "Test Correction"}, "type": "correction"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSloCorrection
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"048a64a0-9dc8-11eb-9df0-da7ad0900002","attributes":{"slo_id":"0a67f1bd0c4850d9a9974c4f4b452a5d","start":1618476795,"end":1618480395,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '45'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetSloCorrection
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction/048a64a0-9dc8-11eb-9df0-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"correction","id":"048a64a0-9dc8-11eb-9df0-da7ad0900002","attributes":{"slo_id":"0a67f1bd0c4850d9a9974c4f4b452a5d","start":1618476795,"end":1618480395,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '44'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/0a67f1bd0c4850d9a9974c4f4b452a5d
  response:
    body:
      string: '{"data":["0a67f1bd0c4850d9a9974c4f4b452a5d"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '4'
    status:
      code: 200
      message: OK
version: 1
