interactions:
- request:
    body: '{"end":1649333168,"message":"Test-Schedule_a_downtime_until_date-1649329568","mute_first_recovery_notification":true,"recurrence":{"period":1,"type":"weeks","until_date":1651143968,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1649329568,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1651143968,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1649333168,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1649329568,"org_id":321813,"modified":1649329568,"disabled":false,"start":1649329568,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_until_date-1649329568","downtime_type":0,"id":1861906415,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1861906415
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
