interactions:
- request:
    body: '{"name":"Test-Update_an_SLO_returns_Bad_Request_response-1704322489","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"id":"9000070725e15b55a16fa1b2bcd1909c","name":"Test-Update_an_SLO_returns_Bad_Request_response-1704322489","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"created_at":1704322489,"modified_at":1704322489}],"error":null}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Test-Update_an_SLO_returns_Bad_Request_response-1704322489","thresholds":[{"target":95,"target_display":"95.0","timeframe":"7d","warning":98,"warning_display":"98.0"}],"type":"monitor"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/9000070725e15b55a16fa1b2bcd1909c
  response:
    body:
      string: '{"errors":["Invalid payload: must specify the query for count types"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/9000070725e15b55a16fa1b2bcd1909c
  response:
    body:
      string: '{"data":["9000070725e15b55a16fa1b2bcd1909c"],"error":null}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
