interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_a_profile_metric_query-1617968272
      with Profile Metrics Query", "widgets": [{"definition": {"type": "timeseries",
      "requests": [{"profile_metrics_query": {"compute": {"aggregation": "sum", "facet":
      "@prof_core_cpu_cores"}, "search": {"query": "runtime:jvm"}, "group_by": [{"facet":
      "service", "limit": 10, "sort": {"aggregation": "sum", "order": "desc", "facet":
      "@prof_core_cpu_cores"}}]}}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"a94-t7v-u7k","title":"Test-Create_a_new_dashboard_with_a_profile_metric_query-1617968272
        with Profile Metrics Query","url":"/dashboard/a94-t7v-u7k/test-createanewdashboardwithaprofilemetricquery-1617968272-with-profile-metrics","created_at":"2021-04-09T11:37:52.891940+00:00","modified_at":"2021-04-09T11:37:52.891940+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":6446827736152926}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/a94-t7v-u7k
  response:
    body:
      string: '{"deleted_dashboard_id":"a94-t7v-u7k"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
version: 1
