interactions:
- request:
    body: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_event_stream_widget-1640284816","widgets":[{"definition":{"event_size":"s","query":"example-query","tags_execution":"and","title":"","title_align":"left","title_size":"16","type":"event_stream"},"layout":{"height":38,"width":47,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"bgh-urb-hxs","title":"Test-Create_a_new_dashboard_with_event_stream_widget-1640284816","url":"/dashboard/bgh-urb-hxs/test-createanewdashboardwitheventstreamwidget-1640284816","created_at":"2021-12-23T18:40:16.583000+00:00","modified_at":"2021-12-23T18:40:16.583000+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"","title_align":"left","tags_execution":"and","query":"example-query","type":"event_stream","event_size":"s"},"layout":{"y":0,"width":47,"x":0,"height":38},"id":297821549837389}],"layout_type":"free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/bgh-urb-hxs
  response:
    body:
      string: '{"deleted_dashboard_id":"bgh-urb-hxs"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
