interactions:
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1633076913","recurrence":{"period":1,"type":"weeks","until_date":1634891313,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1633076913"],"start":1633076913,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1634891313,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1633076913,"org_id":321813,"modified":1633076913,"disabled":false,"start":1633076913,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1633076913"],"message":"Test-Update_a_downtime_returns_OK_response-1633076913","downtime_type":2,"id":1477730827,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1633076913-updated"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/downtime/1477730827
  response:
    body:
      string: '{"recurrence":{"until_date":1634891313,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1633076913,"org_id":321813,"modified":1633076913,"disabled":false,"start":1633076913,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testupdateadowntimereturnsokresponse1633076913"],"message":"Test-Update_a_downtime_returns_OK_response-1633076913-updated","downtime_type":2,"id":1477730827,"updater_id":1445416}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1477730827
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
