interactions:
- request:
    body: '{"config":{"assertions":[{"operator":"is","property":"{{ PROPERTY }}","target":"text/html","type":"header"},{"operator":"lessThan","target":2000,"type":"responseTime"},{"operator":"validatesJSONPath","target":{"jsonPath":"topKey","operator":"isNot","targetValue":"0"},"type":"body"}],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"certificate":{"cert":{"content":"cert-content","filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"content":"key-content","filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"headers":{"unique":"testtriggersyntheticstestsreturnsokresponse1638298711"},"method":"GET","timeout":10,"url":"https://datadoghq.com"}},"locations":["aws:us-east-2"],"message":"BDD
      test payload: synthetics_api_test_payload.json","name":"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711","options":{"accept_self_signed":false,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"monitor_name":"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711","monitor_priority":5,"retry":{"count":3,"interval":10},"tick_every":60},"subtype":"http","tags":["testing:api"],"type":"api"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      string: '{"status":"live","public_id":"kii-4vc-wbd","tags":["testing:api"],"org_id":321813,"locations":["aws:us-east-2"],"message":"BDD
        test payload: synthetics_api_test_payload.json","deleted_at":null,"name":"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711","monitor_id":56047057,"type":"api","created_at":"2021-11-30T18:58:32.445850+00:00","modified_at":"2021-11-30T18:58:32.445850+00:00","subtype":"http","config":{"request":{"url":"https://datadoghq.com","headers":{"unique":"testtriggersyntheticstestsreturnsokresponse1638298711"},"certificate":{"cert":{"filename":"cert-filename","updatedAt":"2020-10-16T09:23:24.857Z"},"key":{"filename":"key-filename","updatedAt":"2020-10-16T09:23:24.857Z"}},"method":"GET","timeout":10},"assertions":[{"operator":"is","property":"{{
        PROPERTY }}","type":"header","target":"text/html"},{"operator":"lessThan","type":"responseTime","target":2000},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}}],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"monitor_priority":5,"monitor_name":"Test-Trigger_Synthetics_tests_returns_OK_response-1638298711","tick_every":60}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '28'
    status:
      code: 200
      message: OK
- request:
    body: '{"tests":[{"public_id":"kii-4vc-wbd"}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/trigger
  response:
    body:
      string: '{"batch_id":null,"results":[{"result_id":"8558589901394778471","public_id":"kii-4vc-wbd","location":30005}],"triggered_check_ids":["kii-4vc-wbd"],"locations":[{"display_name":"Ohio
        (AWS)","name":"aws:us-east-2","region":"Americas","is_active":true,"is_public":true,"id":30005}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '4'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '3'
      x-ratelimit-reset:
      - '87'
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids":["kii-4vc-wbd"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"deleted_at":"2021-11-30T18:58:33.570255+00:00","public_id":"kii-4vc-wbd"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
version: 1
