interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_events_query_using_flat_group_by_fields-1771612271
      with events flat group_by fields","widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"events","group_by":{"fields":["service","host"],"limit":10},"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"55h-xu8-bf3","title":"Test-Create_a_new_dashboard_with_formulas_and_functions_events_query_using_flat_group_by_fields-1771612271
        with events flat group_by fields","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/55h-xu8-bf3/test-createanewdashboardwithformulasandfunctionseventsqueryusingflatgroupbyfield","template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"events","group_by":{"fields":["service","host"],"limit":10},"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":0,"y":0},"id":5327054421054936}],"notify_list":null,"created_at":"2026-02-20T18:31:11.718905+00:00","modified_at":"2026-02-20T18:31:11.718905+00:00","restricted_roles":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/55h-xu8-bf3
  response:
    body:
      string: '{"deleted_dashboard_id":"55h-xu8-bf3"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
