interactions:
- request:
    body: '{"name":"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1635350338","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"b602d1e488095f08960f099a0d60c27f","name":"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1635350338","created_at":1635350339,"tags":[],"modified_at":1635350339,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"category":"Scheduled Maintenance","description":"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1635350338","duration":3600,"rrule":"RRULE:FREQ=DAILY;INTERVAL=10;COUNT=5","slo_id":"b602d1e488095f08960f099a0d60c27f","start":1635350338,"timezone":"UTC"},"type":"correction"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"cc357bf6-373e-11ec-9aa4-da7ad0900002","attributes":{"slo_id":"b602d1e488095f08960f099a0d60c27f","start":1635350338,"end":null,"description":"Test-Create_an_SLO_correction_with_rrule_returns_OK_response-1635350338","category":"Scheduled
        Maintenance","timezone":"UTC","created_at":null,"modified_at":null,"rrule":"RRULE:FREQ=DAILY;INTERVAL=10;COUNT=5","duration":3600,"creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"modifier":null}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/correction/cc357bf6-373e-11ec-9aa4-da7ad0900002
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '60'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/b602d1e488095f08960f099a0d60c27f
  response:
    body:
      string: '{"data":["b602d1e488095f08960f099a0d60c27f"],"error":null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '10'
    status:
      code: 200
      message: OK
version: 1
