interactions:
- request:
    body: '{"message":"Test-Cancel_downtimes_by_scope_returns_OK_response-1633076912","recurrence":{"period":1,"type":"weeks","until_date":1634891312,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testcanceldowntimesbyscopereturnsokresponse1633076912"],"start":1633076912,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1634891312,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1633076912,"org_id":321813,"modified":1633076912,"disabled":false,"start":1633076912,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testcanceldowntimesbyscopereturnsokresponse1633076912"],"message":"Test-Cancel_downtimes_by_scope_returns_OK_response-1633076912","downtime_type":2,"id":1477730819,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
{"scope":"test:testcanceldowntimesbyscopereturnsokresponse1633076912"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime/cancel/by_scope
  response:
    body:
      string: '{"cancelled_ids":[1477730819]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1477730819
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
