interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_apm_dependency_stats_widget-1631307496","widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_dependency_stats","env":"ci","name":"query1","operation_name":"cassandra.query","primary_tag_name":"datacenter","primary_tag_value":"edge-eu1.prod.dog","resource_name":"DELETE
      FROM monitor_history.monitor_state_change_history WHERE org_id = ? AND monitor_id
      IN ? AND group = ?","service":"cassandra","stat":"avg_duration"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"5ui-de3-77b","title":"Test-Create_a_new_dashboard_with_apm_dependency_stats_widget-1631307496","url":"/dashboard/5ui-de3-77b/test-createanewdashboardwithapmdependencystatswidget-1631307496","created_at":"2021-09-10T20:58:16.854096+00:00","modified_at":"2021-09-10T20:58:16.854096+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"type":"query_table","requests":[{"response_format":"scalar","queries":[{"primary_tag_value":"edge-eu1.prod.dog","stat":"avg_duration","data_source":"apm_dependency_stats","name":"query1","service":"cassandra","resource_name":"DELETE
        FROM monitor_history.monitor_state_change_history WHERE org_id = ? AND monitor_id
        IN ? AND group = ?","env":"ci","primary_tag_name":"datacenter","operation_name":"cassandra.query"}]}],"title_align":"left","title_size":"16","title":""},"layout":{"y":0,"width":4,"x":0,"height":4},"id":397986188455122}],"layout_type":"ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/5ui-de3-77b
  response:
    body:
      string: '{"deleted_dashboard_id":"5ui-de3-77b"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
