interactions:
- request:
    body: '[{"check": "app.ok", "host_name": "host", "status": 0, "tags": ["test:TestSubmitaServiceCheckreturnsPayloadacceptedresponse1617968273"]}]'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SubmitServiceCheck
    method: POST
    uri: https://api.datadoghq.com/api/v1/check_run
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status:
      code: 202
      message: Accepted
version: 1
