interactions:
- request:
    body: '{"type": "monitor", "name": "Test-Create_an_SLO_object_returns_Bad_Request_response-1618476796",
      "thresholds": [{"target": 95.0, "target_display": "95.0", "timeframe": "7d",
      "warning": 98, "warning_display": "98.0"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"errors": ["Invalid payload: must specify monitor_ids or monitor_search"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '44'
    status:
      code: 400
      message: Bad Request
version: 1
