interactions:
- request:
    body: '{"tags":["test:TestPostaneventwithalongtitlereturnsOKresponse1632816790"],"text":"A
      text message.","title":"Test-Post_an_event_with_a_long_title_returns_OK_response-1632816790
      very very very looooooooong looooooooooooong loooooooooooooooooooooong looooooooooooooooooooooooooong
      title with 100+ characters"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/events
  response:
    body:
      string: '{"status":"ok","event":{"id":6183308802141975575,"id_str":"6183308802141975575","title":"Test-Post_an_event_with_a_long_title_returns_OK_response-1632816790
        very very very looooooooong looooooooooooong loooooooooooooooooooooong looooooooooooooooooooooooooong
        title with 100+ characters","text":"A text message.","date_happened":1632816790,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventwithalongtitlereturnsOKresponse1632816790"],"url":"https://app.datadoghq.com/event/event?id=6183308802141975575"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
