interactions:
- request:
    body: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"#
      Test-Update_a_notebook_returns_OK_response-1620731122 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620731122","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      string: '{"data":{"type":"notebooks","id":774485,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620731122","cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620731122 notebook text","type":"markdown"}},"type":"notebook_cells","id":"fba7ha9z"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T11:05:22.614667+00:00","created":"2021-05-11T11:05:22.614667+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"##
      Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells"},{"attributes":{"definition":{"requests":[{"display_type":"line","q":"avg:system.load.1{*}","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"type":"timeseries","yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells"}],"name":"Test-Update_a_notebook_returns_OK_response-1620731122-updated","status":"published","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/notebooks/774485
  response:
    body:
      string: '{"data":{"type":"notebooks","id":774485,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620731122-updated","cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"j5oy1chn"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"8s9f0zci"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T11:05:23.057423+00:00","created":"2021-05-11T11:05:22.614667+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/774485
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
