interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_returns_OK_response-1641430224
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"755-ivq-cdy","title":"Test-Create_a_new_dashboard_returns_OK_response-1641430224
        with Profile Metrics Query","url":"/dashboard/755-ivq-cdy/test-createanewdashboardreturnsokresponse-1641430224-with-profile-metrics-query","created_at":"2022-01-06T00:50:24.573359+00:00","modified_at":"2022-01-06T00:50:24.573359+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":3702932968523926}],"layout_type":"ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/755-ivq-cdy
  response:
    body:
      string: '{"deleted_dashboard_id":"755-ivq-cdy"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
