interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator-1731611530
      with QVW Percentile Aggregator","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"p90:dist.dd.dogweb.latency{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"5e6-uwt-hiw","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_the_percentile_aggregator-1731611530
        with QVW Percentile Aggregator","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/5e6-uwt-hiw/test-createanewdashboardwithaqueryvaluewidgetusingthepercentileaggregator-173161","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"p90:dist.dd.dogweb.latency{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0},"id":2654036272451651}],"notify_list":null,"created_at":"2024-11-14T19:12:10.298509+00:00","modified_at":"2024-11-14T19:12:10.298509+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/5e6-uwt-hiw
  response:
    body:
      string: '{"deleted_dashboard_id":"5e6-uwt-hiw"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
