interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Revoke_a_shared_dashboard_URL_returns_OK_response-1700812591
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"fu6-4ez-vb5","title":"Test-Revoke_a_shared_dashboard_URL_returns_OK_response-1700812591
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/fu6-4ez-vb5/test-revokeashareddashboardurlreturnsokresponse-1700812591-with-profile-metrics","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":5260536581947900}],"notify_list":null,"created_at":"2023-11-24T07:56:32.427967+00:00","modified_at":"2023-11-24T07:56:32.427967+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboard_id":"fu6-4ez-vb5","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testrevokeashareddashboardurlreturnsokresponse1700812591@datadoghq.com"],"share_type":"invite"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      string: '{"author":{"handle":"frog@datadoghq.com","name":null},"dashboard_id":"fu6-4ez-vb5","dashboard_type":"custom_timeboard","global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d","created":"2023-11-24T07:56:33.026485+00:00","share_type":"invite","share_list":["testrevokeashareddashboardurlreturnsokresponse1700812591@datadoghq.com"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d
  response:
    body:
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d
  response:
    body:
      string: '{"errors":["Public Dashboard with token fasjyydbcgwwc2uc-1c3c27ed4a9989e71dac11ee9fe3bc7d
        not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/fu6-4ez-vb5
  response:
    body:
      string: '{"deleted_dashboard_id":"fu6-4ez-vb5"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
