interactions:
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_log_stream_widget-1731699165","widgets":[{"definition":{"columns":["host","service"],"indexes":["main"],"message_display":"expanded-md","query":"","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"title":"","title_align":"left","title_size":"16","type":"log_stream"},"layout":{"height":36,"width":47,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"eb9-ta5-d6g","title":"Test-Create_a_new_dashboard_with_log_stream_widget-1731699165","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/eb9-ta5-d6g/test-createanewdashboardwithlogstreamwidget-1731699165","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"columns":["host","service"],"indexes":["main"],"message_display":"expanded-md","query":"","show_date_column":true,"show_message_column":true,"sort":{"column":"time","order":"desc"},"title":"","title_align":"left","title_size":"16","type":"log_stream"},"layout":{"height":36,"width":47,"x":0,"y":0},"id":2405546418579587}],"notify_list":[],"created_at":"2024-11-15T19:32:45.939890+00:00","modified_at":"2024-11-15T19:32:45.939890+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/eb9-ta5-d6g
  response:
    body:
      string: '{"deleted_dashboard_id":"eb9-ta5-d6g"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
