interactions:
- request:
    body: '{"layout_type":"ordered","reflow_type":"auto","title":"Test-Create_a_new_timeseries_widget_with_legacy_live_span_time_format-1723063140
      with legacy live span time","widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1"}],"queries":[{"compute":{"aggregation":"count","metric":"@ci.queue_time"},"data_source":"ci_pipelines","group_by":[],"indexes":["*"],"name":"query1","search":{"query":"ci_level:job"}}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"5m"},"title":"","type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"a6n-vaw-vcr","title":"Test-Create_a_new_timeseries_widget_with_legacy_live_span_time_format-1723063140
        with legacy live span time","description":null,"author_handle":"d5459c54-9e9d-11ee-a5c9-ce6dc639753f","author_name":"CI
        Service Account","layout_type":"ordered","url":"/dashboard/a6n-vaw-vcr/test-createanewtimeserieswidgetwithlegacylivespantimeformat-1723063140-with-lega","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1"}],"queries":[{"compute":{"aggregation":"count","metric":"@ci.queue_time"},"data_source":"ci_pipelines","group_by":[],"indexes":["*"],"name":"query1","search":{"query":"ci_level:job"}}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{"live_span":"5m"},"title":"","type":"timeseries"},"id":7966641853786595}],"notify_list":null,"created_at":"2024-08-07T20:39:00.914653+00:00","modified_at":"2024-08-07T20:39:00.914653+00:00","reflow_type":"auto","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/a6n-vaw-vcr
  response:
    body:
      string: '{"deleted_dashboard_id":"a6n-vaw-vcr"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
