interactions:
- request:
    body: '{"end":1657667266,"message":"Test-Schedule_a_downtime_with_invalid_weekdays-1657663666","monitor_tags":["tag0"],"recurrence":{"period":1,"type":"weeks","week_days":["mon","tue"]},"scope":["*"],"start":1657663666,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"errors": ["Invalid set of days in week_days. Be sure that the first
        letter is capitalized."]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
