interactions:
- request:
    body: '{"message":"some message Notify: @hipchat-channel","name":"Test-Validate_a_monitor_returns_OK_response-1633076916","options":{"enable_logs_sample":true,"escalation_message":"the
      situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","tags":["test:testvalidateamonitorreturnsokresponse1633076916","env:ci"],"type":"log
      alert"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor/validate
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
