interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731611566
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"zc8-ujq-5pw","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731611566
        with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/zc8-ujq-5pw/test-createashareddashboardreturnsokresponse-1731611566-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":8629710172038882}],"notify_list":null,"created_at":"2024-11-14T19:12:46.843636+00:00","modified_at":"2024-11-14T19:12:46.843636+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboard_id":"zc8-ujq-5pw","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_type":"open"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      string: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"zc8-ujq-5pw","dashboard_type":"custom_timeboard","status":"active","title":"Test-Create_a_shared_dashboard_returns_OK_response-1731611566
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4","created":"2024-11-14T19:12:47.159926+00:00","share_type":"open","share_list":null,"session_duration_in_days":null,"invitees":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4
  response:
    body:
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-cdab0ba2d895a0652a2125ec4addf7a4"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/zc8-ujq-5pw
  response:
    body:
      string: '{"deleted_dashboard_id":"zc8-ujq-5pw"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
