interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_a_profile_metric_query-1617999735
      with Profile Metrics Query", "widgets": [{"definition": {"type": "timeseries",
      "requests": [{"profile_metrics_query": {"compute": {"aggregation": "sum", "facet":
      "@prof_core_cpu_cores"}, "search": {"query": "runtime:jvm"}, "group_by": [{"facet":
      "service", "limit": 10, "sort": {"aggregation": "sum", "order": "desc", "facet":
      "@prof_core_cpu_cores"}}]}}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"wkx-vhy-96m","title":"Test-Create_a_new_dashboard_with_a_profile_metric_query-1617999735
        with Profile Metrics Query","url":"/dashboard/wkx-vhy-96m/test-createanewdashboardwithaprofilemetricquery-1617999735-with-profile-metrics","created_at":"2021-04-09T20:22:16.068974+00:00","modified_at":"2021-04-09T20:22:16.068974+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":3620343832605725}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/wkx-vhy-96m
  response:
    body:
      string: '{"deleted_dashboard_id":"wkx-vhy-96m"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
version: 1
