interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_funnel_widget-1731699161
      with funnel widget","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"","steps":[]},"request_type":"funnel"}],"type":"funnel"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"xfs-csi-vjh","title":"Test-Create_a_new_dashboard_with_funnel_widget-1731699161
        with funnel widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/xfs-csi-vjh/test-createanewdashboardwithfunnelwidget-1731699161-with-funnel-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"","steps":[]},"request_type":"funnel"}],"type":"funnel"},"id":4755008273116868}],"notify_list":null,"created_at":"2024-11-15T19:32:41.625961+00:00","modified_at":"2024-11-15T19:32:41.625961+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/xfs-csi-vjh
  response:
    body:
      string: '{"deleted_dashboard_id":"xfs-csi-vjh"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
