interactions:
- request:
    body: '{"title": "Test-Post_an_event_returns_OK_response-1617999731", "text":
      "A text message.", "tags": ["test:TestPostaneventreturnsOKresponse1617999731"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    method: POST
    uri: https://api.datadoghq.com/api/v1/events
  response:
    body:
      string: '{"status":"ok","event":{"id":5934719801181587474,"title":"Test-Post_an_event_returns_OK_response-1617999731","text":"A
        text message.","date_happened":1617999731,"handle":null,"priority":null,"related_event_id":null,"tags":["test:TestPostaneventreturnsOKresponse1617999731"],"url":"https://app.datadoghq.com/event/event?id=5934719801181587474"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
