interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget-1731699167
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"service"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"6dq-36y-p59","title":"Test-Create_a_new_dashboard_with_logs_transaction_stream_list_stream_widget-1731699167
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/6dq-36y-p59/test-createanewdashboardwithlogstransactionstreamliststreamwidget-1731699167-wit","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"compute":[{"aggregation":"count","facet":"service"}],"data_source":"logs_transaction_stream","group_by":[{"facet":"service"}],"query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":2144413846825527}],"notify_list":null,"created_at":"2024-11-15T19:32:47.601494+00:00","modified_at":"2024-11-15T19:32:47.601494+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/6dq-36y-p59
  response:
    body:
      string: '{"deleted_dashboard_id":"6dq-36y-p59"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
