interactions:
- request:
    body: '{"filter":{"query":"source:python"},"name":"testPipelineArrayAppendNoPreserve","processors":[{"is_enabled":true,"name":"append_ip_and_remove_source","operation":{"preserve_source":false,"source":"network.client.ip","target":"sourceIps","type":"append"},"type":"array-processor"}],"tags":[]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '{"id":"B91fO94kQnCeZ4bOoZQOWg","type":"pipeline","name":"testPipelineArrayAppendNoPreserve","is_enabled":false,"is_read_only":false,"filter":{"query":"source:python"},"processors":[{"name":"append_ip_and_remove_source","is_enabled":true,"operation":{"source":"network.client.ip","target":"sourceIps","preserve_source":false,"type":"append"},"type":"array-processor"}],"tags":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines/B91fO94kQnCeZ4bOoZQOWg
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
