interactions:
- request:
    body: '{"series": [{"metric": "system.load.1", "type": "gauge", "points": [[1623933601,
      1.1]], "tags": ["test:TestSubmitmetricsreturnsPayloadacceptedresponse1623933601"]}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SubmitMetrics
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      Content-Type:
      - text/json
    status:
      code: 202
      message: Accepted
version: 1
