interactions:
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_servicemap_widget-1731699172","widgets":[{"definition":{"filters":["env:none","environment:*"],"service":"","title":"","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"npz-y6x-z4g","title":"Test-Create_a_new_dashboard_with_servicemap_widget-1731699172","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/npz-y6x-z4g/test-createanewdashboardwithservicemapwidget-1731699172","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"filters":["env:none","environment:*"],"service":"","title":"","title_align":"left","title_size":"16","type":"servicemap"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":4704608837901441}],"notify_list":[],"created_at":"2024-11-15T19:32:52.841936+00:00","modified_at":"2024-11-15T19:32:52.841936+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/npz-y6x-z4g
  response:
    body:
      string: '{"deleted_dashboard_id":"npz-y6x-z4g"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
