interactions:
- request:
    body: '{"config": {"assertions": [{"operator": "contains", "property": "content-type",
      "target": "application/json", "type": "header"}, {"operator": "is", "target":
      200, "type": "statusCode"}, {"operator": "validatesJSONPath", "target": {"jsonPath":
      "topKey", "operator": "isNot", "targetValue": "0"}, "type": "body"}, {"operator":
      "validatesJSONPath", "target": {"jsonPath": "something", "operator": "moreThan",
      "targetValue": 5}, "type": "body"}, {"operator": "isNot", "target": 200, "type":
      "statusCode"}, {"operator": "matches", "target": "20[04]", "type": "statusCode"},
      {"operator": "doesNotMatch", "target": "20[04]", "type": "statusCode"}], "configVariables":
      [], "request": {"basicAuth": {"password": "secret", "username": "admin"}, "body":
      "this is a body", "headers": {}, "method": "GET",
      "query": {"foo": "bar"}, "timeout": 30, "url": "https://www.datadoghq.com"}},
      "locations": ["aws:eu-central-1"], "message": "Notify @datadog.user", "name":
      "Test-Create_an_API_test_returns_OK_Returns_the_created_test_details_response-1624019150",
      "options": {"follow_redirects": true, "min_location_failed": 1, "monitor_options":
      {"renotify_interval": 100}, "tick_every": 60}, "status": "paused", "subtype":
      "http", "tags": ["foo:bar", "baz"], "type": "api"}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSyntheticsApiTest
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      string: '{"status":"paused","public_id":"z28-93g-afx","tags":["foo:bar","baz"],"org_id":321813,"locations":["aws:eu-central-1"],"message":"Notify
        @datadog.user","deleted_at":null,"name":"Test-Create_an_API_test_returns_OK_Returns_the_created_test_details_response-1624019150","monitor_id":38926045,"type":"api","created_at":"2021-06-18T12:25:51.393485+00:00","modified_at":"2021-06-18T12:25:51.393485+00:00","subtype":"http","config":{"request":{"body":"this
        is a body","url":"https://www.datadoghq.com","basicAuth":{"username":"admin","password":"secret"},"headers":{},"timeout":30,"query":{"foo":"bar"},"method":"GET"},"assertions":[{"operator":"contains","property":"content-type","type":"header","target":"application/json"},{"operator":"is","type":"statusCode","target":200},{"operator":"validatesJSONPath","type":"body","target":{"operator":"isNot","targetValue":"0","jsonPath":"topKey"}},{"operator":"validatesJSONPath","type":"body","target":{"operator":"moreThan","targetValue":5,"jsonPath":"something"}},{"operator":"isNot","type":"statusCode","target":200},{"operator":"matches","type":"statusCode","target":"20[04]"},{"operator":"doesNotMatch","type":"statusCode","target":"20[04]"}],"configVariables":[]},"options":{"follow_redirects":true,"monitor_options":{"notify_audit":false,"locked":false,"include_tags":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":100},"min_location_failed":1,"tick_every":60}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4781545'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids": ["z28-93g-afx"]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTests
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"deleted_at":"2021-06-18T12:25:51.815581+00:00","public_id":"z28-93g-afx"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4781545'
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
