interactions:
- request:
    body: '{"name": "Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1617954846.789",
      "thresholds": [{"target": 95.0, "timeframe": "7d", "warning": 98.0}], "type":
      "metric", "query": {"denominator": "sum:httpservice.hits{!code:3xx}.as_count()",
      "numerator": "sum:httpservice.hits{code:2xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"7f19b9213f0a5878ae8f0761518512db","name":"Test-Get_an_SLO_correction_for_an_SLO_returns_OK_response-1617954846.789","created_at":1617954847,"tags":[],"modified_at":1617954847,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"category": "Other", "end": 1617958446, "slo_id":
      "7f19b9213f0a5878ae8f0761518512db", "start": 1617954846, "timezone": "UTC",
      "description": "Test Correction"}, "type": "correction"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSloCorrection
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"c32f2ef0-9908-11eb-9ce8-da7ad0900002","attributes":{"slo_id":"7f19b9213f0a5878ae8f0761518512db","start":1617954846,"end":1617958446,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetSloCorrection
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction/c32f2ef0-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"correction","id":"c32f2ef0-9908-11eb-9ce8-da7ad0900002","attributes":{"slo_id":"7f19b9213f0a5878ae8f0761518512db","start":1617954846,"end":1617958446,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '52'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/7f19b9213f0a5878ae8f0761518512db
  response:
    body:
      string: '{"data":["7f19b9213f0a5878ae8f0761518512db"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
