interactions:
- request:
    body: '{"name": "TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628771618", "value":
      "variable-value", "is_secret": false}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateWebhooksIntegrationCustomVariable
    method: POST
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables
  response:
    body:
      string: '{"is_secret":false,"name":"TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628771618","value":"variable-value"}'
    headers:
      Content-Type:
      - application/json
      location:
      - https://app.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628771618
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Dd-Operation-Id:
      - DeleteWebhooksIntegrationCustomVariable
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628771618
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Dd-Operation-Id:
      - DeleteWebhooksIntegrationCustomVariable
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/webhooks/configuration/custom-variables/TESTDELETEACUSTOMVARIABLERETURNSOKRESPONSE1628771618
  response:
    body:
      string: '{"errors": ["Custom variable does not exist"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
