interactions:
- request:
    body: '{"type": "metric", "name": "Test-Update_an_SLO_returns_Bad_Request_response-1618476797",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"68ae35920b345f05b1dffcc0e0157334","name":"Test-Update_an_SLO_returns_Bad_Request_response-1618476797","created_at":1618476796,"tags":[],"modified_at":1618476796,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '44'
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "monitor", "name": "Test-Update_an_SLO_returns_Bad_Request_response-1618476797",
      "thresholds": [{"target": 95.0, "target_display": "95.0", "timeframe": "7d",
      "warning": 98, "warning_display": "98.0"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSlo
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/68ae35920b345f05b1dffcc0e0157334
  response:
    body:
      string: '{"errors": ["Invalid payload: must specify the query for count types"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '43'
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/68ae35920b345f05b1dffcc0e0157334
  response:
    body:
      string: '{"data":["68ae35920b345f05b1dffcc0e0157334"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2998'
      x-ratelimit-reset:
      - '3'
    status:
      code: 200
      message: OK
version: 1
