interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_a_profile_metric_query-1617954849.403
      with Profile Metrics Query", "widgets": [{"definition": {"type": "timeseries",
      "requests": [{"profile_metrics_query": {"compute": {"aggregation": "sum", "facet":
      "@prof_core_cpu_cores"}, "search": {"query": "runtime:jvm"}, "group_by": [{"facet":
      "service", "limit": 10, "sort": {"aggregation": "sum", "order": "desc", "facet":
      "@prof_core_cpu_cores"}}]}}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"duj-brq-nqc","title":"Test-Create_a_new_dashboard_with_a_profile_metric_query-1617954849.403
        with Profile Metrics Query","url":"/dashboard/duj-brq-nqc/test-createanewdashboardwithaprofilemetricquery-1617954849403-with-profile-metri","created_at":"2021-04-09T07:54:10.011481+00:00","modified_at":"2021-04-09T07:54:10.011481+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":339058372545326}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/duj-brq-nqc
  response:
    body:
      string: '{"deleted_dashboard_id":"duj-brq-nqc"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
version: 1
