interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731611530
      with QVW Timeseries Background","widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}],"response_format":"scalar"}],"time":{},"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"e79-3k8-wck","title":"Test-Create_a_new_dashboard_with_a_query_value_widget_using_timeseries_background-1731611530
        with QVW Timeseries Background","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/e79-3k8-wck/test-createanewdashboardwithaqueryvaluewidgetusingtimeseriesbackground-173161153","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"autoscale":true,"precision":2,"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"percentile","data_source":"metrics","name":"query1","query":"sum:my.cool.count.metric{*}"}],"response_format":"scalar"}],"time":{},"timeseries_background":{"type":"area","yaxis":{"include_zero":true}},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":2,"width":2,"x":0,"y":0},"id":7702897477190165}],"notify_list":null,"created_at":"2024-11-14T19:12:10.739610+00:00","modified_at":"2024-11-14T19:12:10.739610+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/e79-3k8-wck
  response:
    body:
      string: '{"deleted_dashboard_id":"e79-3k8-wck"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
