interactions:
- request:
    body: '{"description":null,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_hostmap_widget-1731611544","widgets":[{"definition":{"no_group_hosts":true,"no_metric_hosts":true,"node_type":"host","requests":{"fill":{"q":"avg:system.cpu.user{*}
      by {host}"}},"style":{"palette":"green_to_orange","palette_flip":false},"title":"","title_align":"left","title_size":"16","type":"hostmap"},"layout":{"height":22,"width":47,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"m3c-vup-t7s","title":"Test-Create_a_new_dashboard_with_hostmap_widget-1731611544","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/m3c-vup-t7s/test-createanewdashboardwithhostmapwidget-1731611544","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"no_group_hosts":true,"no_metric_hosts":true,"node_type":"host","requests":{"fill":{"q":"avg:system.cpu.user{*}
        by {host}"}},"style":{"palette":"green_to_orange","palette_flip":false},"title":"","title_align":"left","title_size":"16","type":"hostmap"},"layout":{"height":22,"width":47,"x":0,"y":0},"id":142423722512604}],"notify_list":[],"created_at":"2024-11-14T19:12:24.459149+00:00","modified_at":"2024-11-14T19:12:24.459149+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/m3c-vup-t7s
  response:
    body:
      string: '{"deleted_dashboard_id":"m3c-vup-t7s"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
