interactions:
- request:
    body: '{"name":"Test-Delete_a_dashboard_list_returns_OK_response-1633076910"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"is_favorite":false,"name":"Test-Delete_a_dashboard_list_returns_OK_response-1633076910","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:30.884570+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:30.884612+00:00","id":240515}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240515
  response:
    body:
      string: '{"deleted_dashboard_list_id":240515}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240515
  response:
    body:
      string: '{"errors": ["Manual Dashboard List with id 240515 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
