interactions:
- request:
    body: '{"access_role":"st","disabled":false,"email":"test@datadoghq.com","handle":"test@datadoghq.com","name":"test
      user"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/user
  response:
    body:
      string: '{"user":{"handle":"test@datadoghq.com","name":"test user","role":null,"title":null,"email":"test@datadoghq.com","disabled":false,"access_role":null,"is_admin":false,"icon":"https://secure.gravatar.com/avatar/f979f58720feb88e09cc3d11ce3d15da?s=48&d=retro","verified":false}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/user/test%40datadoghq.com
  response:
    body:
      string: '{"message":"User test@datadoghq.com disabled"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
