interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1731611559","widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
      by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"w74-sg2-g2b","title":"Test-Create_a_new_dashboard_with_sunburst_widget_and_metrics_data-1731611559","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/w74-sg2-g2b/test-createanewdashboardwithsunburstwidgetandmetricsdata-1731611559","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"formulas":[{"formula":"query1"}],"queries":[{"aggregator":"sum","data_source":"metrics","name":"query1","query":"sum:system.mem.used{*}
        by {service}"}],"response_format":"scalar","style":{"palette":"dog_classic"}}],"title":"","title_align":"left","title_size":"16","type":"sunburst"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":4368317924299162}],"notify_list":null,"created_at":"2024-11-14T19:12:39.757201+00:00","modified_at":"2024-11-14T19:12:39.757201+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/w74-sg2-g2b
  response:
    body:
      string: '{"deleted_dashboard_id":"w74-sg2-g2b"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
