interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617954852.604
      with timeseries widget", "widgets": [{"definition": {"type": "timeseries", "requests":
      [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()",
      "on_right_yaxis": false, "style": {"palette": "warm", "line_type": "solid",
      "line_width": "normal"}, "display_type": "bars"}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"435-hfd-qx5","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617954852.604
        with timeseries widget","url":"/dashboard/435-hfd-qx5/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1617954852","created_at":"2021-04-09T07:54:13.182906+00:00","modified_at":"2021-04-09T07:54:13.182906+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","on_right_yaxis":false,"style":{"line_width":"normal","palette":"warm","line_type":"solid"},"display_type":"bars"}],"type":"timeseries"},"id":7459672875094780}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/435-hfd-qx5
  response:
    body:
      string: '{"deleted_dashboard_id":"435-hfd-qx5"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
version: 1
