interactions:
- request:
    body: '{"message":"Test-Cancel_a_downtime_returns_OK_response-1652348993","recurrence":{"period":1,"type":"weeks","until_date":1654163393,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testcanceladowntimereturnsokresponse1652348993"],"start":1652348993,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1654163393,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652348994,"org_id":321813,"modified":1652348994,"disabled":false,"start":1652348993,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testcanceladowntimereturnsokresponse1652348993"],"message":"Test-Cancel_a_downtime_returns_OK_response-1652348993","downtime_type":2,"id":1944162237,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162237
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162237
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
