interactions:
- request:
    body: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_note_widget-1640286789","widgets":[{"definition":{"content":"#
      Example Note","type":"note"},"layout":{"height":24,"width":18,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"9c2-irq-xh9","title":"Test-Create_a_new_dashboard_with_note_widget-1640286789","url":"/dashboard/9c2-irq-xh9/test-createanewdashboardwithnotewidget-1640286789","created_at":"2021-12-23T19:13:09.313338+00:00","modified_at":"2021-12-23T19:13:09.313338+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"content":"#
        Example Note","type":"note"},"layout":{"y":0,"width":18,"x":0,"height":24},"id":1328096231719907}],"layout_type":"free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/9c2-irq-xh9
  response:
    body:
      string: '{"deleted_dashboard_id":"9c2-irq-xh9"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
