interactions:
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1731699168","widgets":[{"definition":{"color_preference":"text","count":50,"display_format":"countsAndList","hide_zero_counts":true,"query":"","show_last_triggered":false,"show_priority":false,"sort":"priority,asc","start":0,"summary_type":"monitors","type":"manage_status"},"layout":{"height":25,"width":50,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"u5w-9hp-tch","title":"Test-Create_a_new_dashboard_with_manage_status_widget_and_show_priority_parameter-1731699168","description":"","author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"free","url":"/dashboard/u5w-9hp-tch/test-createanewdashboardwithmanagestatuswidgetandshowpriorityparameter-173169916","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"color_preference":"text","count":50,"display_format":"countsAndList","hide_zero_counts":true,"query":"","show_last_triggered":false,"show_priority":false,"sort":"priority,asc","start":0,"summary_type":"monitors","type":"manage_status"},"layout":{"height":25,"width":50,"x":0,"y":0},"id":2266858598981736}],"notify_list":[],"created_at":"2024-11-15T19:32:48.341884+00:00","modified_at":"2024-11-15T19:32:48.341884+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/u5w-9hp-tch
  response:
    body:
      string: '{"deleted_dashboard_id":"u5w-9hp-tch"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
