interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1731699164
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"p6y-umd-i2r","title":"Test-Create_a_new_dashboard_with_list_stream_widget-1731699164
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/p6y-umd-i2r/test-createanewdashboardwithliststreamwidget-1731699164-with-liststream-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"apm_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":8526780473770766}],"notify_list":null,"created_at":"2024-11-15T19:32:44.310733+00:00","modified_at":"2024-11-15T19:32:44.310733+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/p6y-umd-i2r
  response:
    body:
      string: '{"deleted_dashboard_id":"p6y-umd-i2r"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
