interactions:
- request:
    body: '{"type": "metric", "name": "Test-Get_all_SLO_corrections_returns_OK_response-1619078388",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"2d86eda137665650896fbb70d6103f8a","name":"Test-Get_all_SLO_corrections_returns_OK_response-1619078388","created_at":1619078388,"tags":[],"modified_at":1619078388,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '487'
      x-ratelimit-reset:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"slo_id": "2d86eda137665650896fbb70d6103f8a",
      "start": 1619078388, "end": 1619081988, "category": "Other", "timezone": "UTC",
      "description": "Test Correction"}, "type": "correction"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSloCorrection
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"b5a29190-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"2d86eda137665650896fbb70d6103f8a","start":1619078388,"end":1619081988,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11987'
      x-ratelimit-reset:
      - '12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSloCorrection
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/correction/b5a29190-a340-11eb-9fc2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11987'
      x-ratelimit-reset:
      - '12'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/2d86eda137665650896fbb70d6103f8a
  response:
    body:
      string: '{"data":["2d86eda137665650896fbb70d6103f8a"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2997'
      x-ratelimit-reset:
      - '2'
    status:
      code: 200
      message: OK
version: 1
