interactions:
- request:
    body: '{"end":1650524470,"message":"Test-Schedule_a_downtime_once_a_year-1650520870","mute_first_recovery_notification":true,"recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1650520870,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1650524470,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":true,"created":1650520871,"org_id":321813,"modified":1650520871,"disabled":false,"start":1650520870,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_once_a_year-1650520870","downtime_type":0,"id":1894788565,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1894788565
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
