interactions:
- request:
    body: '{"name":"Test-Create_a_new_dashboard_with_slo_widget-1731611557","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"id":"dd4731783bfb5c97b01e19a5c3224429","name":"Test-Create_a_new_dashboard_with_slo_widget-1731611557","tags":[],"monitor_tags":[],"thresholds":[{"timeframe":"7d","target":95.0,"target_display":"95.","warning":98.0,"warning_display":"98."}],"type":"metric","type_id":1,"description":"","timeframe":"7d","warning_threshold":98,"target_threshold":95,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"creator":{"name":"Anika
        Maskara","handle":"anika.maskara@datadoghq.com","email":"anika.maskara@datadoghq.com"},"created_at":1731611557,"modified_at":1731611557}],"error":null}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_slo_widget-1731611557","widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"0","show_error_budget":true,"slo_id":"dd4731783bfb5c97b01e19a5c3224429","time_windows":["7d"],"title_align":"left","title_size":"16","type":"slo","view_mode":"overall","view_type":"detail"},"layout":{"height":21,"width":60,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"xaz-u6q-et4","title":"Test-Create_a_new_dashboard_with_slo_widget-1731611557","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/xaz-u6q-et4/test-createanewdashboardwithslowidget-1731611557","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"additional_query_filters":"!host:excluded_host","global_time_target":"0","show_error_budget":true,"slo_id":"dd4731783bfb5c97b01e19a5c3224429","time_windows":["7d"],"title_align":"left","title_size":"16","type":"slo","view_mode":"overall","view_type":"detail"},"layout":{"height":21,"width":60,"x":0,"y":0},"id":7303989423042166}],"notify_list":[],"created_at":"2024-11-14T19:12:38.037003+00:00","modified_at":"2024-11-14T19:12:38.037003+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/xaz-u6q-et4
  response:
    body:
      string: '{"deleted_dashboard_id":"xaz-u6q-et4"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/dd4731783bfb5c97b01e19a5c3224429
  response:
    body:
      string: '{"data":["dd4731783bfb5c97b01e19a5c3224429"],"error":null}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
