interactions:
- request:
    body: '{"type": "metric", "description": "string", "groups": ["env:test", "role:mysql"],
      "monitor_ids": [], "name": "Test-Create_an_SLO_object_returns_OK_response-1618576076",
      "query": {"denominator": "sum:httpservice.hits{!code:3xx}.as_count()", "numerator":
      "sum:httpservice.hits{code:2xx}.as_count()"}, "tags": ["env:prod", "app:core"],
      "thresholds": [{"target": 95.0, "target_display": "95.0", "timeframe": "7d",
      "warning": 98, "warning_display": "98.0"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"string","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"groups":["env:test","role:mysql"],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"ebdb475b5a7d5ade93f841b9ce3b3f99","name":"Test-Create_an_SLO_object_returns_OK_response-1618576076","created_at":1618576076,"tags":["app:core","env:prod"],"modified_at":1618576076,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '4'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/ebdb475b5a7d5ade93f841b9ce3b3f99
  response:
    body:
      string: '{"data":["ebdb475b5a7d5ade93f841b9ce3b3f99"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2998'
      x-ratelimit-reset:
      - '4'
    status:
      code: 200
      message: OK
version: 1
