interactions:
- request:
    body: '{"type": "metric", "description": "string", "groups": ["env:test", "role:mysql"],
      "monitor_ids": [], "name": "datadog-api-client-python-test_create_an_slo_object_returns_ok_response-1617977823.866538",
      "query": {"denominator": "sum:httpservice.hits{!code:3xx}.as_count()", "numerator":
      "sum:httpservice.hits{code:2xx}.as_count()"}, "tags": ["env:prod", "app:core"],
      "thresholds": [{"target": 95.0, "target_display": "95.0", "timeframe": "7d",
      "warning": 98, "warning_display": "98.0"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"string","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"groups":["env:test","role:mysql"],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"324305dde65658ada6a47adcf320618b","name":"datadog-api-client-python-test_create_an_slo_object_returns_ok_response-1617977823.866538","created_at":1617977824,"tags":["app:core","env:prod"],"modified_at":1617977824,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4276613'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '56'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/324305dde65658ada6a47adcf320618b
  response:
    body:
      string: '{"data":["324305dde65658ada6a47adcf320618b"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4276613'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2998'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
version: 1
