interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1731611540","widgets":[{"definition":{"requests":[{"apm_stats_query":{"env":"prod","name":"cassandra.query","primary_tag":"datacenter:dc1","row_type":"service","service":"cassandra"}}],"title":"","title_align":"left","title_size":"16","type":"distribution"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"hvz-a5v-6fx","title":"Test-Create_a_new_dashboard_with_distribution_widget_and_apm_stats_data-1731611540","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/hvz-a5v-6fx/test-createanewdashboardwithdistributionwidgetandapmstatsdata-1731611540","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"apm_stats_query":{"env":"prod","name":"cassandra.query","primary_tag":"datacenter:dc1","row_type":"service","service":"cassandra"}}],"title":"","title_align":"left","title_size":"16","type":"distribution"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":893124335643854}],"notify_list":null,"created_at":"2024-11-14T19:12:20.407882+00:00","modified_at":"2024-11-14T19:12:20.407882+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/hvz-a5v-6fx
  response:
    body:
      string: '{"deleted_dashboard_id":"hvz-a5v-6fx"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
