interactions:
- request:
    body: '{"account_id":"171234183400","account_specific_namespace_rules":{"auto_scaling":false},"cspm_resource_collection_enabled":true,"excluded_regions":["us-east-1","us-west-2"],"extended_resource_collection_enabled":true,"filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"metrics_collection_enabled":false,"role_name":"DatadogAWSIntegrationRole"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      string: '{"external_id":"c8ceedec95fc472fb6156f3104d425c9"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"account_id":"171234183400","account_specific_namespace_rules":{"auto_scaling":false},"cspm_resource_collection_enabled":false,"excluded_regions":["us-east-1","us-west-2"],"extended_resource_collection_enabled":true,"filter_tags":["$KEY:$VALUE"],"host_tags":["$KEY:$VALUE"],"metrics_collection_enabled":true,"role_name":"DatadogAWSIntegrationRole"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/integration/aws?account_id=171234183400&role_name=DatadogAWSIntegrationRole
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"account_id":"171234183400","role_name":"DatadogAWSIntegrationRole"}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/integration/aws
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
