interactions:
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_iframe_widget-1731611544","widgets":[{"definition":{"type":"iframe","url":"https://docs.datadoghq.com/api/latest/"},"layout":{"height":12,"width":12,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"az3-9m4-ywf","title":"Test-Create_a_new_dashboard_with_iframe_widget-1731611544","description":"","author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"free","url":"/dashboard/az3-9m4-ywf/test-createanewdashboardwithiframewidget-1731611544","is_read_only":false,"template_variables":[],"widgets":[{"definition":{"type":"iframe","url":"https://docs.datadoghq.com/api/latest/"},"layout":{"height":12,"width":12,"x":0,"y":0},"id":3286517205333846}],"notify_list":[],"created_at":"2024-11-14T19:12:24.844136+00:00","modified_at":"2024-11-14T19:12:24.844136+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/az3-9m4-ywf
  response:
    body:
      string: '{"deleted_dashboard_id":"az3-9m4-ywf"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
