interactions:
- request:
    body: '{"end":1634659061,"message":"Test-Schedule_a_downtime_once_a_year-1634655461","recurrence":{"period":1,"type":"years"},"scope":["*"],"start":1634655461,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":null,"type":"years","period":1},"end":1634659061,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1634655461,"org_id":321813,"modified":1634655461,"disabled":false,"start":1634655461,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_once_a_year-1634655461","downtime_type":0,"id":1511004125,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1511004125
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
