interactions:
- request:
    body: '{"config":{"assertions":[{"operator":"isInMoreThan","target":10,"type":"certificate"}],"request":{"host":"datadoghq.com","port":"{{
      DATADOG_PORT }}"}},"locations":["aws:us-east-2"],"message":"BDD test payload:
      synthetics_api_ssl_test_payload.json","name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1752254637","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"disableAiaIntermediateFetching":true,"tick_every":60},"subtype":"ssl","tags":["testing:api"],"type":"api"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      string: '{"public_id":"ppr-ina-vd6","name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1752254637","status":"live","type":"api","subtype":"ssl","tags":["testing:api"],"created_at":"2025-07-11T17:23:58.189592+00:00","modified_at":"2025-07-11T17:23:58.189592+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":10,"type":"certificate"}],"request":{"host":"datadoghq.com","port":"{{
        DATADOG_PORT }}"},"configVariables":[{"id":"7865d47f-47df-43b5-a612-e2dea9ed40e8","name":"DATADOG_PORT","type":"global"}]},"message":"BDD
        test payload: synthetics_api_ssl_test_payload.json","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"disableAiaIntermediateFetching":true,"tick_every":60},"locations":["aws:us-east-2"],"created_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"},"deleted_at":null,"monitor_id":177655296,"org_id":321813,"modified_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids":["ppr-ina-vd6"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"public_id":"ppr-ina-vd6","deleted_at":"2025-07-11T17:23:59.574697+00:00"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
