interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_event_stream_list_stream_widget-1684858761
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"event_stream","event_size":"l","query_string":"","show_year":true},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"s56-ph7-gmi","title":"Test-Create_a_new_dashboard_with_event_stream_list_stream_widget-1684858761
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/s56-ph7-gmi/test-createanewdashboardwitheventstreamliststreamwidget-1684858761-with-liststre","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"event_stream","event_size":"l","query_string":"","show_year":true},"response_format":"event_list"}],"type":"list_stream"},"id":3197043212239739}],"notify_list":null,"created_at":"2023-05-23T16:19:21.576643+00:00","modified_at":"2023-05-23T16:19:21.576643+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/s56-ph7-gmi
  response:
    body:
      string: '{"deleted_dashboard_id":"s56-ph7-gmi"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
