interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1731611538","widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_resource_stats","env":"ci","group_by":["resource_name"],"name":"query1","operation_name":"cassandra.query","primary_tag_name":"datacenter","primary_tag_value":"edge-eu1.prod.dog","service":"cassandra","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"x8c-a59-up4","title":"Test-Create_a_new_dashboard_with_apm_resource_stats_widget-1731611538","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/x8c-a59-up4/test-createanewdashboardwithapmresourcestatswidget-1731611538","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"data_source":"apm_resource_stats","env":"ci","group_by":["resource_name"],"name":"query1","operation_name":"cassandra.query","primary_tag_name":"datacenter","primary_tag_value":"edge-eu1.prod.dog","service":"cassandra","stat":"hits"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"query_table"},"layout":{"height":4,"width":4,"x":0,"y":0},"id":2616835259044428}],"notify_list":null,"created_at":"2024-11-14T19:12:18.815289+00:00","modified_at":"2024-11-14T19:12:18.815289+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/x8c-a59-up4
  response:
    body:
      string: '{"deleted_dashboard_id":"x8c-a59-up4"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
