interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_ci_test_stream_list_stream_widget-1731699158
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"ci_test_stream","query_string":"test_level:suite"},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"as4-cys-wwb","title":"Test-Create_a_new_dashboard_with_ci_test_stream_list_stream_widget-1731699158
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/as4-cys-wwb/test-createanewdashboardwithciteststreamliststreamwidget-1731699158-with-liststr","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"ci_test_stream","query_string":"test_level:suite"},"response_format":"event_list"}],"type":"list_stream"},"id":723670979268214}],"notify_list":null,"created_at":"2024-11-15T19:32:38.213091+00:00","modified_at":"2024-11-15T19:32:38.213091+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/as4-cys-wwb
  response:
    body:
      string: '{"deleted_dashboard_id":"as4-cys-wwb"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
