interactions:
- request:
    body: '{"config":{"assertions":[{"operator":"isInMoreThan","target":10,"type":"certificate"}],"request":{"host":"datadoghq.com","port":"443"}},"locations":["aws:us-east-2"],"message":"BDD
      test payload: synthetics_api_ssl_test_payload.json","name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1724244630","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"tick_every":60},"subtype":"ssl","tags":["testing:api"],"type":"api"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      string: '{"public_id":"6t5-htj-7c6","name":"Test-Create_an_API_SSL_test_returns_OK_Returns_the_created_test_details_response-1724244630","status":"live","type":"api","tags":["testing:api"],"created_at":"2024-08-21T12:50:31.117037+00:00","modified_at":"2024-08-21T12:50:31.117037+00:00","config":{"assertions":[{"operator":"isInMoreThan","target":10,"type":"certificate"}],"request":{"host":"datadoghq.com","port":"443"}},"message":"BDD
        test payload: synthetics_api_ssl_test_payload.json","options":{"accept_self_signed":true,"checkCertificateRevocation":true,"tick_every":60},"locations":["aws:us-east-2"],"subtype":"ssl","created_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"},"deleted_at":null,"monitor_id":151907282,"org_id":321813,"modified_by":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids":["6t5-htj-7c6"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"public_id":"6t5-htj-7c6","deleted_at":"2024-08-21T12:50:31.942193+00:00"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
