interactions:
- request:
    body: '{"message":"Test-Get_a_downtime_returns_OK_response-1641829811","recurrence":{"period":1,"type":"weeks","until_date":1643644211,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testgetadowntimereturnsokresponse1641829811"],"start":1641829811,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1643644211,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829811,"org_id":321813,"modified":1641829811,"disabled":false,"start":1641829811,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1641829811"],"message":"Test-Get_a_downtime_returns_OK_response-1641829811","downtime_type":2,"id":1672791219,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime/1672791219
  response:
    body:
      string: '{"recurrence":{"until_date":1643644211,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829811,"org_id":321813,"modified":1641829811,"disabled":false,"start":1641829811,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1641829811"],"message":"Test-Get_a_downtime_returns_OK_response-1641829811","downtime_type":2,"id":1672791219,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1672791219
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
