interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1731611571
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"vmk-awa-gje","title":"Test-Restore_deleted_dashboards_returns_No_Content_response-1731611571
        with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/vmk-awa-gje/test-restoredeleteddashboardsreturnsnocontentresponse-1731611571-with-profile-me","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":1217565763013822}],"notify_list":null,"created_at":"2024-11-14T19:12:51.626570+00:00","modified_at":"2024-11-14T19:12:51.626570+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/vmk-awa-gje
  response:
    body:
      string: '{"deleted_dashboard_id":"vmk-awa-gje"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":[{"id":"vmk-awa-gje","type":"dashboard"}]}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/vmk-awa-gje
  response:
    body:
      string: '{"deleted_dashboard_id":"vmk-awa-gje"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
