interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists":[{"is_favorite":true,"name":"frog''s List","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2020-09-08T07:12:57.679027+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2020-09-09T08:48:11.523877+00:00","id":126798},{"is_favorite":false,"name":"Test-Create_a_dashboard_list_returns_OK_response-1633007462","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-09-30T13:11:03.022973+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-09-30T13:11:03.023004+00:00","id":240355},{"is_favorite":false,"name":"Test-Create_a_dashboard_list_returns_OK_response-1633075854","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"20[...]
