interactions:
- request:
    body: '{"name":"Test-Delete_an_SLO_returns_OK_response-1641430271","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98,"warning_display":"98.","target":95,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"7c7a8700d1125ac99aa0ffa12f686b89","name":"Test-Delete_an_SLO_returns_OK_response-1641430271","created_at":1641430271,"tags":[],"modified_at":1641430271,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/7c7a8700d1125ac99aa0ffa12f686b89
  response:
    body:
      string: '{"data":["7c7a8700d1125ac99aa0ffa12f686b89"],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/7c7a8700d1125ac99aa0ffa12f686b89
  response:
    body:
      string: '{"errors":["SLO not found: 7c7a8700d1125ac99aa0ffa12f686b89 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
