interactions:
- request:
    body: '{"type": "metric", "name": "Test-Delete_an_SLO_returns_OK_response-1618386924",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"0418feb3f8e35a9895eec945778fdaad","name":"Test-Delete_an_SLO_returns_OK_response-1618386924","created_at":1618386925,"tags":[],"modified_at":1618386925,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/0418feb3f8e35a9895eec945778fdaad
  response:
    body:
      string: '{"data":["0418feb3f8e35a9895eec945778fdaad"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/0418feb3f8e35a9895eec945778fdaad
  response:
    body:
      string: '{"errors": ["SLO not found: 0418feb3f8e35a9895eec945778fdaad not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2998'
      x-ratelimit-reset:
      - '5'
    status:
      code: 404
      message: Not Found
version: 1
