interactions:
- request:
    body: '{"filter":{"query":"source:python"},"name":"testPipelineArrayMapTargetElemSource","processors":[{"is_enabled":true,"name":"invalid
      targetElem source","processors":[{"sources":["$targetElem.uid"],"target":"$targetElem.label","type":"attribute-remapper"}],"source":"items","target":"out","type":"array-map-processor"}],"tags":[]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '{"error":{"code":"InvalidArgument","message":"Invalid Pipeline","details":[{"code":"InvalidArgument","message":"$targetElem
        cannot be used as a source, got: $targetElem.uid"}]}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
