interactions:
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Test-Delete_a_notebook_returns_OK_response-1620723971",
      "time": {"live_span": "1h"}, "cells": [{"attributes": {"definition": {"text":
      "# Test-Delete_a_notebook_returns_OK_response-1620723971 notebook text", "type":
      "markdown"}}, "type": "notebook_cells"}]}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateNotebook
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      string: '{"data":{"type":"notebooks","id":773899,"attributes":{"name":"Test-Delete_a_notebook_returns_OK_response-1620723971","cells":[{"attributes":{"definition":{"text":"#
        Test-Delete_a_notebook_returns_OK_response-1620723971 notebook text","type":"markdown"}},"type":"notebook_cells","id":"2y7jp8gw"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:06:12.032755+00:00","created":"2021-05-11T09:06:12.032755+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '48'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteNotebook
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/773899
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '48'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteNotebook
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/773899
  response:
    body:
      string: '{"errors": ["Notebook not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '48'
    status:
      code: 404
      message: Not Found
version: 1
