interactions:
- request:
    body: '{"data":{"attributes":{"cells":[{"attributes":{"definition":{"text":"#
      Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells"}],"name":"Test-Get_a_notebook_returns_OK_response-1620726175","time":{"live_span":"1h"}},"type":"notebooks"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      string: '{"data":{"type":"notebooks","id":774056,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620726175","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells","id":"avx0umk1"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:42:55.675039+00:00","created":"2021-05-11T09:42:55.675039+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '28'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks/774056
  response:
    body:
      string: '{"data":{"type":"notebooks","id":774056,"attributes":{"name":"Test-Get_a_notebook_returns_OK_response-1620726175","cells":[{"attributes":{"definition":{"text":"#
        Test-Get_a_notebook_returns_OK_response-1620726175 notebook text","type":"markdown"}},"type":"notebook_cells","id":"avx0umk1"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:42:55.675039+00:00","created":"2021-05-11T09:42:55.675039+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '90'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '89'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/774056
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '26'
      x-ratelimit-reset:
      - '4'
    status:
      code: 204
      message: No Content
version: 1
