interactions:
- request:
    body: '{"title": "Testing event", "text": "A text message."}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateEvent
    method: POST
    uri: https://api.datadoghq.com/api/v1/events
  response:
    body:
      string: '{"status":"ok","event":{"id":5880630020768841848,"title":"Testing event","text":"A
        text message.","date_happened":1614775729,"handle":null,"priority":null,"related_event_id":null,"tags":null,"url":"https://app.datadoghq.com/event/event?id=5880630020768841848"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
