interactions:
- request:
    body: '{"name":"Test-Update_a_dashboard_list_returns_OK_response-1633076911"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"is_favorite":false,"name":"Test-Update_a_dashboard_list_returns_OK_response-1633076911","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:31.803012+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:31.803044+00:00","id":240517}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"updated Test-Update_a_dashboard_list_returns_OK_response-1633076911"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240517
  response:
    body:
      string: '{"is_favorite":false,"name":"updated Test-Update_a_dashboard_list_returns_OK_response-1633076911","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-10-01T08:28:31.803012+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-10-01T08:28:31.924633+00:00","id":240517}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/240517
  response:
    body:
      string: '{"deleted_dashboard_list_id":240517}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
