interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListNotebooks
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":4,"total_count":4}},"data":[{"type":"notebooks","id":764775,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620392467","cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"dx28obq5"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseries","show_legend":true,"yaxis":{"scale":"linear"}},"graph_size":"m","split_by":{"keys":[],"tags":[]},"time":null},"type":"notebook_cells","id":"hgaw2tgz"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-07T13:01:08.586587+00:00","created":"2021-05-07T13:01:08.586587+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}},{"type":"notebooks","id":764728,"attributes":{"name":"Test-Create_a_notebook_returns_OK_response-1620392221","cells":[{"attributes":{"definition":{"text":"##
        Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```","type":"markdown"}},"type":"notebook_cells","id":"xkfenula"},{"attributes":{"definition":{"requests":[{"q":"avg:system.load.1{*}","style":{"line_width":"normal","palette":"dog_classic","line_type":"solid"},"display_type":"line"}],"type":"timeseri[...]
