interactions:
- request:
    body: '{"name":"Test-Update_an_SLO_returns_OK_response-1646749095","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"75d6eadff5155234a11fcf7be783e170","name":"Test-Update_an_SLO_returns_OK_response-1646749095","created_at":1646749096,"tags":[],"modified_at":1646749096,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Test-Update_an_SLO_returns_OK_response-1646749095","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":97,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/slo/75d6eadff5155234a11fcf7be783e170
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":97.0,"target_display":"97.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"75d6eadff5155234a11fcf7be783e170","name":"Test-Update_an_SLO_returns_OK_response-1646749095","created_at":1646749096,"tags":[],"modified_at":1646749097,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/75d6eadff5155234a11fcf7be783e170
  response:
    body:
      string: '{"data":["75d6eadff5155234a11fcf7be783e170"],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
