interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_distribution_widget_with_markers_and_num_buckets-1764889684","widgets":[{"definition":{"markers":[{"display_type":"percentile","value":"50"},{"display_type":"percentile","value":"99"},{"display_type":"percentile","value":"90"}],"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
      by {service}"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","num_buckets":55,"scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":4,"width":4,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"ved-atm-2g5","title":"Test-Create_a_new_dashboard_with_distribution_widget_with_markers_and_num_buckets-1764889684","description":null,"author_handle":"shishi.liu@datadoghq.com","author_name":"Shishi
        Liu","layout_type":"ordered","url":"/dashboard/ved-atm-2g5/test-createanewdashboardwithdistributionwidgetwithmarkersandnumbuckets-176488968","template_variables":null,"widgets":[{"definition":{"markers":[{"display_type":"percentile","value":"50"},{"display_type":"percentile","value":"99"},{"display_type":"percentile","value":"90"}],"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}
        by {service}"}],"response_format":"scalar"}],"title":"","title_align":"left","title_size":"16","type":"distribution","xaxis":{"include_zero":true,"max":"auto","min":"auto","num_buckets":55,"scale":"linear"},"yaxis":{"include_zero":true,"max":"auto","min":"auto","scale":"linear"}},"layout":{"height":4,"width":4,"x":0,"y":0},"id":984443192078703}],"notify_list":null,"created_at":"2025-12-04T23:08:05.111437+00:00","modified_at":"2025-12-04T23:08:05.111437+00:00","restricted_roles":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/ved-atm-2g5
  response:
    body:
      string: '{"deleted_dashboard_id":"ved-atm-2g5"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
