interactions:
- request:
    body: '{"config":{"assertions":[],"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"request":{"method":"GET","url":"https://datadoghq.com"},"setCookie":"name:test"},"locations":["aws:us-east-2"],"message":"Test
      message","name":"Test-Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response-1657546886","options":{"accept_self_signed":false,"allow_insecure":true,"ci":{"executionRule":"skipped"},"device_ids":["tablet"],"disableCors":true,"follow_redirects":true,"min_failure_duration":10,"min_location_failed":1,"noScreenshot":true,"retry":{"count":3,"interval":10},"rumSettings":{"applicationId":"mockApplicationId","clientTokenId":12345,"isEnabled":true},"tick_every":300},"steps":[{"allowFailure":false,"isCritical":true,"name":"Refresh
      page","params":{},"type":"refresh"}],"tags":["testing:browser"],"type":"browser"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/browser
  response:
    body:
      string: '{"status":"paused","public_id":"wc2-mv4-f5w","tags":["testing:browser"],"org_id":321813,"locations":["aws:us-east-2"],"message":"Test
        message","deleted_at":null,"name":"Test-Create_a_browser_test_returns_OK_Returns_saved_rumSettings_response-1657546886","monitor_id":76610201,"type":"browser","created_at":"2022-07-11T13:41:27.188209+00:00","modified_at":"2022-07-11T13:41:27.188209+00:00","steps":[{"name":"Refresh
        page","allowFailure":false,"params":{},"isCritical":true,"type":"refresh"}],"config":{"setCookie":"name:test","request":{"url":"https://datadoghq.com","method":"GET"},"assertions":[],"configVariables":[{"pattern":"content-type","type":"text","example":"content-type","name":"PROPERTY"}]},"options":{"accept_self_signed":false,"retry":{"count":3,"interval":10},"min_location_failed":1,"allow_insecure":true,"follow_redirects":true,"min_failure_duration":10,"ci":{"executionRule":"skipped"},"noScreenshot":true,"rumSettings":{"isEnabled":true,"applicationId":"mockApplicationId","clientTokenId":12345},"disableCors":true,"device_ids":["tablet"],"tick_every":300}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids":["wc2-mv4-f5w"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"deleted_at":"2022-07-11T13:41:32.446608+00:00","public_id":"wc2-mv4-f5w"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
