interactions:
- request:
    body: '{"name":"Test-Get_all_SLO_corrections_returns_OK_response-1619078405","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"f7b252ed5af35ea5b94be9e9c8688489","name":"Test-Get_all_SLO_corrections_returns_OK_response-1619078405","created_at":1619078405,"tags":[],"modified_at":1619078405,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '55'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"category":"Other","description":"Test Correction","end":1619082005,"slo_id":"f7b252ed5af35ea5b94be9e9c8688489","start":1619078405,"timezone":"UTC"},"type":"correction"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"bf9e01a2-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"f7b252ed5af35ea5b94be9e9c8688489","start":1619078405,"end":1619082005,"description":"Test
        Correction","category":"Other","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '55'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/correction/bf9e01a2-a340-11eb-9fc2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '55'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/f7b252ed5af35ea5b94be9e9c8688489
  response:
    body:
      string: '{"data":["f7b252ed5af35ea5b94be9e9c8688489"],"error":null}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2998'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
version: 1
