interactions:
- request:
    body: '{"type": "metric", "name": "Test-Create_an_SLO_correction_returns_OK_response-1619078389",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account","email":"team-intg-tools-libs@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"5b2ba9a5d0975ef8ae5ca69076d8c8e1","name":"Test-Create_an_SLO_correction_returns_OK_response-1619078389","created_at":1619078389,"tags":[],"modified_at":1619078389,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '486'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"category": "Scheduled Maintenance", "description":
      "Test-Create_an_SLO_correction_returns_OK_response-1619078389", "end": 1619081989,
      "slo_id": "5b2ba9a5d0975ef8ae5ca69076d8c8e1", "start": 1619078389, "timezone":
      "UTC"}, "type": "correction"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSloCorrection
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data":{"type":"correction","id":"b61bf008-a340-11eb-9fc2-da7ad0900002","attributes":{"slo_id":"5b2ba9a5d0975ef8ae5ca69076d8c8e1","start":1619078389,"end":1619081989,"description":"Test-Create_an_SLO_correction_returns_OK_response-1619078389","category":"Scheduled
        Maintenance","timezone":"UTC","creator":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro"}}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11986'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSloCorrection
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/correction/b61bf008-a340-11eb-9fc2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11986'
      x-ratelimit-reset:
      - '11'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/5b2ba9a5d0975ef8ae5ca69076d8c8e1
  response:
    body:
      string: '{"data":["5b2ba9a5d0975ef8ae5ca69076d8c8e1"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4367882'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2996'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
