interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_funnel_widget-1731611543
      with funnel widget","widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"","steps":[]},"request_type":"funnel"}],"type":"funnel"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"zta-rqr-z7r","title":"Test-Create_a_new_dashboard_with_funnel_widget-1731611543
        with funnel widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/zta-rqr-z7r/test-createanewdashboardwithfunnelwidget-1731611543-with-funnel-widget","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"query":{"data_source":"rum","query_string":"","steps":[]},"request_type":"funnel"}],"type":"funnel"},"id":3177333241748468}],"notify_list":null,"created_at":"2024-11-14T19:12:23.172576+00:00","modified_at":"2024-11-14T19:12:23.172576+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/zta-rqr-z7r
  response:
    body:
      string: '{"deleted_dashboard_id":"zta-rqr-z7r"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
