interactions:
- request:
    body: '{"message":"some message Notify: @hipchat-channel","name":"Test-Create_a_new_dashboard_with_alert_value_widget-1640210580","options":{"enable_logs_sample":true,"escalation_message":"the
      situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notify_audit":false,"notify_no_data":false,"renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","tags":["test:testcreateanewdashboardwithalertvaluewidget1640210580","env:ci"],"type":"log
      alert"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles":null,"tags":["test:testcreateanewdashboardwithalertvaluewidget1640210580","env:ci"],"deleted":null,"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","message":"some message Notify: @hipchat-channel","id":58703572,"multi":true,"name":"Test-Create_a_new_dashboard_with_alert_value_widget-1640210580","created":"2021-12-22T22:03:00.829986+00:00","created_at":1640210580000,"creator":{"id":1445416,"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"org_id":321813,"modified":"2021-12-22T22:03:00.829986+00:00","priority":3,"overall_state_modified":null,"overall_state":"No
        Data","type":"log alert","options":{"notify_audit":false,"locked":false,"timeout_h":24,"renotify_interval":60,"include_tags":true,"no_data_timeframe":null,"silenced":{},"new_host_delay":600,"require_full_window":true,"notify_no_data":false,"enable_logs_sample":true,"groupby_simple_monitor":true,"escalation_message":"the
        situation has escalated","evaluation_delay":700,"thresholds":{"critical":2.0,"warning":1.0}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_alert_value_widget-1640210580","widgets":[{"definition":{"alert_id":"58703572","precision":2,"text_align":"left","title":"","title_align":"left","title_size":"16","type":"alert_value","unit":"auto"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"2pp-b2g-z5e","title":"Test-Create_a_new_dashboard_with_alert_value_widget-1640210580","url":"/dashboard/2pp-b2g-z5e/test-createanewdashboardwithalertvaluewidget-1640210580","created_at":"2021-12-22T22:03:01.047986+00:00","modified_at":"2021-12-22T22:03:01.047986+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"58703572","type":"alert_value","unit":"auto"},"layout":{"y":0,"width":15,"x":0,"height":8},"id":5712653184038328}],"layout_type":"free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/2pp-b2g-z5e
  response:
    body:
      string: '{"deleted_dashboard_id":"2pp-b2g-z5e"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/58703572
  response:
    body:
      string: '{"deleted_monitor_id":58703572}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
