interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - QueryMetrics
    method: GET
    uri: https://api.datadoghq.com/api/v1/query?from=1624197921&query=system.cpu.idle%7B%2A%7D&to=1624284321
  response:
    body:
      string: '{"status":"ok","resp_version":1,"series":[{"end":1624284599000,"attributes":{},"metric":"system.cpu.idle","interval":300,"tag_set":[],"start":1624198200000,"length":288,"query_index":0,"aggr":null,"scope":"*","pointlist":[[1624198200000.0,94.39813191320759],[1624198500000.0,94.19734655290642],[1624198800000.0,94.53104766743296],[1624199100000.0,94.39338729858399],[1624199400000.0,94.28765021006267],[1624199700000.0,94.41133007049561],[1624200000000.0,94.36866771697999],[1624200300000.0,94.17877393086751],[1624200600000.0,94.40067696889241],[1624200900000.0,94.48034049987793],[1624201200000.0,94.23829783121745],[1624201500000.0,94.55879801432292],[1624201800000.0,94.41020482381185],[1624202100000.0,94.17601174672[...]
