interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Get_a_dashboard_returns_author_name_-1640898263
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":null,"template_variables":null,"is_read_only":false,"id":"xb2-jve-hxz","title":"Test-Get_a_dashboard_returns_author_name_-1640898263
        with Profile Metrics Query","url":"/dashboard/xb2-jve-hxz/test-getadashboardreturnsauthorname-1640898263-with-profile-metrics-query","created_at":"2021-12-30T21:04:23.947661+00:00","modified_at":"2021-12-30T21:04:23.947661+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":2446599900087366}],"layout_type":"ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/xb2-jve-hxz
  response:
    body:
      string: '{"notify_list":null,"description":null,"restricted_roles":[],"author_name":"Frog
        Account","template_variables":null,"is_read_only":false,"id":"xb2-jve-hxz","title":"Test-Get_a_dashboard_returns_author_name_-1640898263
        with Profile Metrics Query","url":"/dashboard/xb2-jve-hxz/test-getadashboardreturnsauthorname-1640898263-with-profile-metrics-query","created_at":"2021-12-30T21:04:23.947661+00:00","modified_at":"2021-12-30T21:04:23.947661+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"search":{"query":"runtime:jvm"},"group_by":[{"facet":"service","sort":{"facet":"@prof_core_cpu_cores","aggregation":"sum","order":"desc"},"limit":10}],"compute":{"facet":"@prof_core_cpu_cores","aggregation":"sum"}}}],"type":"timeseries"},"id":2446599900087366}],"layout_type":"ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/xb2-jve-hxz
  response:
    body:
      string: '{"deleted_dashboard_id":"xb2-jve-hxz"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
