interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_timeseries_widget_using_has_value_labels-1772473111
      with has_value_labels","widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*}
      by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"ue9-kuc-ix2","title":"Test-Create_a_new_dashboard_with_timeseries_widget_using_has_value_labels-1772473111
        with has_value_labels","description":null,"author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
        Account","layout_type":"ordered","url":"/dashboard/ue9-kuc-ix2/test-createanewdashboardwithtimeserieswidgetusinghasvaluelabels-1772473111-with","template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"line","q":"avg:system.cpu.user{*}
        by {host}","style":{"has_value_labels":true,"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"type":"timeseries"},"id":3800027122356131}],"notify_list":null,"created_at":"2026-03-02T17:38:31.488630+00:00","modified_at":"2026-03-02T17:38:31.488630+00:00","restricted_roles":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/ue9-kuc-ix2
  response:
    body:
      string: '{"deleted_dashboard_id":"ue9-kuc-ix2"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
