interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731611574
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"88w-xn2-mij","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731611574
        with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/88w-xn2-mij/test-updateashareddashboardreturnsokresponse-1731611574-with-profile-metrics-que","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":6560132249388355}],"notify_list":null,"created_at":"2024-11-14T19:12:55.067902+00:00","modified_at":"2024-11-14T19:12:55.067902+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboard_id":"88w-xn2-mij","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testupdateashareddashboardreturnsokresponse1731611574@datadoghq.com"],"share_type":"invite"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      string: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"88w-xn2-mij","dashboard_type":"custom_timeboard","status":"active","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731611574
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec","created":"2024-11-14T19:12:55.398738+00:00","share_type":"invite","share_list":["testupdateashareddashboardreturnsokresponse1731611574@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testupdateashareddashboardreturnsokresponse1731611574@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-14T19:12:55.430476+00:00"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"global_time":{"live_span":"15m"},"share_list":[],"share_type":"open"}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec
  response:
    body:
      string: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"88w-xn2-mij","dashboard_type":"custom_timeboard","status":"active","title":"Test-Update_a_shared_dashboard_returns_OK_response-1731611574
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"15m"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec","created":"2024-11-14T19:12:55.398738+00:00","share_type":"open","share_list":[],"session_duration_in_days":null,"invitees":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec
  response:
    body:
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-671f5753eee0a2a6b3fd80019ccbf1ec"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/88w-xn2-mij
  response:
    body:
      string: '{"deleted_dashboard_id":"88w-xn2-mij"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
