interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Delete_a_dashboard_returns_OK_response-1731699184
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"hai-uhn-87g","title":"Test-Delete_a_dashboard_returns_OK_response-1731699184
        with Profile Metrics Query","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/hai-uhn-87g/test-deleteadashboardreturnsokresponse-1731699184-with-profile-metrics-query","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":1882306032459411}],"notify_list":null,"created_at":"2024-11-15T19:33:05.172609+00:00","modified_at":"2024-11-15T19:33:05.172609+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/hai-uhn-87g
  response:
    body:
      string: '{"deleted_dashboard_id":"hai-uhn-87g"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/hai-uhn-87g
  response:
    body:
      string: '{"errors":["Dashboard with ID hai-uhn-87g not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
