interactions:
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1683306781","recurrence":{"period":1,"type":"weeks","until_date":1685121181,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testupdateadowntimereturnsokresponse1683306781"],"start":1683306781,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"id":2893673146,"monitor_id":null,"org_id":321813,"start":1683306781,"end":null,"canceled":null,"created":1683306781,"modified":1683306781,"message":"Test-Update_a_downtime_returns_OK_response-1683306781","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1685121181},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
        data","warn"],"uuid":"171537cc-eb68-11ed-8a83-da7ad0900002","scope":["test:testupdateadowntimereturnsokresponse1683306781"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"message":"Test-Update_a_downtime_returns_OK_response-1683306781-updated","mute_first_recovery_notification":true,"notify_end_states":["alert","no
      data","warn"],"notify_end_types":["canceled","expired"]}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v1/downtime/2893673146
  response:
    body:
      string: '{"id":2893673146,"monitor_id":null,"org_id":321813,"start":1683306781,"end":null,"canceled":null,"created":1683306781,"modified":1683306781,"message":"Test-Update_a_downtime_returns_OK_response-1683306781-updated","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1685121181},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":1445416,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":true,"notify_end_types":["canceled","expired"],"notify_end_states":["alert","no
        data","warn"],"uuid":null,"scope":["test:testupdateadowntimereturnsokresponse1683306781"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/2893673146
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
