interactions:
- request:
    body: '{"config": {"configVariables": [{"example": "content-type", "name": "PROPERTY",
      "pattern": "content-type", "type": "text"}], "steps": [{"allowFailure": true,
      "assertions": [{"operator": "is", "type": "statusCode", "target": 200}], "extractedValues":
      [{"field": "server", "name": "EXTRACTED_VALUE", "parser": {"type": "raw"}, "type":
      "http_header", "secure": true}], "isCritical": true, "name": "request is sent",
      "request": {"method": "GET", "timeout": 10, "url": "https://datadoghq.com",
      "httpVersion": "http2"}, "retry": {"count": 5, "interval": 1000}, "subtype":
      "http"}, {"name": "Wait", "subtype": "wait", "value": 1}, {"name": "GRPC CALL",
      "subtype": "grpc", "extractedValues": [], "allowFailure": false, "isCritical":
      true, "retry": {"count": 0, "interval": 300}, "assertions": [{"operator": "lessThan",
      "type": "responseTime", "target": 1000}], "request": {"host": "grpcbin.test.k6.io",
      "port": 9000, "service": "grpcbin.GRPCBin", "method": "Index", "message": "{}",
      "compressedJsonDescriptor": "eJy1lU1z2yAQhv+Lzj74I3ETH506bQ7OZOSm1w4Wa4epBARQppqM/3v5koCJJdvtxCdW77vPssCO3zMKUgHOFu/ZXvBiS6hZho/f8qe7pftYgXphWJrlA8XwxywEvNba+6PhkC2yVcVVswYp0R6ykRYlZ1SCV21SDrxsssPIeS9FJKqGfK2rqnmmSBwhWa2XlKgtaQPiDcRGCUDVfwGD2sKUqKEtc1cSoOrsMlaMOec1sySYCCgUYRSVLv2zSva2u+FQkB0pVkIw8bFuIudOOn3pOaKYVT3Iy97Pd0AYhOx5QcMsnxvRHlnuLf8ETDd3CNtrv2nejkDpRnANCmGkkFn/hsYzpBKE7jVbufgnKnV9HRM9zRPDDKPttYT61n0TdWkAAjggk9AhuxIeaXd69CYTcsGw7cBTakLVbNpRzGEgyWjkSOpMbZXkhGL6oX30R49qt3GoHrap7i0XdD41WQ+2icCNm5p1hmFqnHNlcla0riKmDZ183crDxChjbnurtxHPRE784sVhWvDfGP+SsTKibU3o5NtWHuZFGZOxP6P5VXqIOvaOSec4eYohyd7NslHuJbd1bewds85xYrNxkr2d+5IhFWF3NvaO684xjE2S5ulY+tu64Pna0fCPJgzw6vF5/WucLcYjt5xoq19O3UDptOg/OamJQRaCcPPnMTQ2QDFn+uhPvUfnCrMc99upyQY4Ui9Dlc/YoG3R/v4Cs9YE+g==",
      "metadata": {}, "callType": "unary"}}]}, "locations": ["aws:us-east-2"], "message":
      "BDD test payload: synthetics_api_test_multi_step_payload.json", "name": "Test-Create_a_global_MFA_Token_from_test_returns_OK_response-1720703785",
      "options": {"accept_self_signed": false, "allow_insecure": true, "follow_redirects":
      true, "min_failure_duration": 10, "min_location_failed": 1, "monitor_name":
      "Test-Create_a_global_MFA_Token_from_test_returns_OK_response-1720703785", "monitor_priority":
      5, "retry": {"count": 3, "interval": 1000}, "tick_every": 60}, "subtype": "multi",
      "tags": ["testing:api"], "type": "api"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api
  response:
    body:
      string: '{"public_id":"bia-zhf-wx2","name":"Test-Create_a_global_MFA_Token_from_test_returns_OK_response-1720703785","status":"live","type":"api","tags":["testing:api"],"created_at":"2024-07-11T13:16:26.152564+00:00","modified_at":"2024-07-11T13:16:26.152564+00:00","config":{"configVariables":[{"example":"content-type","name":"PROPERTY","pattern":"content-type","type":"text"}],"steps":[{"allowFailure":true,"assertions":[{"operator":"is","type":"statusCode","target":200}],"extractedValues":[{"field":"server","name":"EXTRACTED_VALUE","parser":{"type":"raw"},"type":"http_header","secure":true}],"isCritical":true,"name":"request
        is sent","request":{"method":"GET","timeout":10,"url":"https://datadoghq.com","httpVersion":"http2"},"retry":{"count":5,"interval":1000},"subtype":"http","id":"ph7-pjm-9tq"},{"name":"Wait","subtype":"wait","value":1,"id":"5rj-eze-4c7"},{"name":"GRPC
        CALL","subtype":"grpc","extractedValues":[],"allowFailure":false,"isCritical":true,"retry":{"count":0,"interval":300},"assertions":[{"operator":"lessThan","type":"responseTime","target":1000}],"request":{"host":"grpcbin.test.k6.io","port":9000,"service":"grpcbin.GRPCBin","method":"Index","message":"{}","compressedJsonDescriptor":"eJy1lU1z2yAQhv+Lzj74I3ETH506bQ7OZOSm1w4Wa4epBARQppqM/3v5koCJJdvtxCdW7[...]
- request:
    body: '{"parse_test_options": {"localVariableName": "EXTRACTED_VALUE", "type":
      "local_variable"}, "parse_test_public_id": "bia-zhf-wx2", "is_totp": true, "description":
      "", "name": "GLOBAL_VARIABLE_PAYLOAD_TESTCREATEAGLOBALMFATOKENFROMTESTRETURNSOKRESPONSE1720703785",
      "tags": [], "value": {"options": {"totp_parameters": {"digits": 6, "refresh_interval":
      30}}, "secure": false, "value": ""}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"id":"c2299729-ed30-4eb6-872d-ecff8441a848","name":"GLOBAL_VARIABLE_PAYLOAD_TESTCREATEAGLOBALMFATOKENFROMTESTRETURNSOKRESPONSE1720703785","description":"","type":"variable","tags":[],"parse_test_public_id":"bia-zhf-wx2","parse_test_name":null,"parse_test_options":{"localVariableName":"EXTRACTED_VALUE","type":"local_variable"},"parse_test_extracted_at":null,"is_totp":true,"is_fido":null,"last_error":null,"value":{"options":{"totp_parameters":{"digits":6,"refresh_interval":30}},"secure":false,"value":""}}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-name:
      - synthetics_create_variable
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '34'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/synthetics/variables/c2299729-ed30-4eb6-872d-ecff8441a848
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-name:
      - synthetics_delete_variable
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '34'
    status:
      code: 200
      message: OK
- request:
    body: '{"public_ids": ["bia-zhf-wx2"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests":[{"public_id":"bia-zhf-wx2","deleted_at":"2024-07-11T13:16:27.798810+00:00"}]}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-name:
      - synthetics_delete_tests
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '33'
    status:
      code: 200
      message: OK
version: 1
