interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1731699171
      with list_stream widget","widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"ce9-y6g-66s","title":"Test-Create_a_new_dashboard_with_rum_issue_stream_list_stream_widget-1731699171
        with list_stream widget","description":null,"author_handle":"frog@datadoghq.com","author_name":null,"layout_type":"ordered","url":"/dashboard/ce9-y6g-66s/test-createanewdashboardwithrumissuestreamliststreamwidget-1731699171-with-lists","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"columns":[{"field":"timestamp","width":"auto"}],"query":{"data_source":"rum_issue_stream","query_string":""},"response_format":"event_list"}],"type":"list_stream"},"id":6059436646329395}],"notify_list":null,"created_at":"2024-11-15T19:32:51.588133+00:00","modified_at":"2024-11-15T19:32:51.588133+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/ce9-y6g-66s
  response:
    body:
      string: '{"deleted_dashboard_id":"ce9-y6g-66s"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
