interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1731611562
      with timeseries widget","widgets":[{"definition":{"requests":[{"display_type":"bars","on_right_yaxis":false,"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
      by {resource_name}.as_count()","style":{"line_type":"solid","line_width":"normal","palette":"warm"}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"d2u-a79-uqv","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1731611562
        with timeseries widget","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/d2u-a79-uqv/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1731611562","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"display_type":"bars","on_right_yaxis":false,"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","style":{"line_type":"solid","line_width":"normal","palette":"warm"}}],"type":"timeseries"},"id":123635508219251}],"notify_list":null,"created_at":"2024-11-14T19:12:42.289738+00:00","modified_at":"2024-11-14T19:12:42.289738+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/d2u-a79-uqv
  response:
    body:
      string: '{"deleted_dashboard_id":"d2u-a79-uqv"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
