interactions:
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Test-Update_a_notebook_returns_OK_response-1620724126",
      "time": {"live_span": "1h"}, "cells": [{"attributes": {"definition": {"text":
      "# Test-Update_a_notebook_returns_OK_response-1620724126 notebook text", "type":
      "markdown"}}, "type": "notebook_cells"}]}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateNotebook
    method: POST
    uri: https://api.datadoghq.com/api/v1/notebooks
  response:
    body:
      string: '{"data":{"type":"notebooks","id":773902,"attributes":{"name":"Test-Update_a_notebook_returns_OK_response-1620724126","cells":[{"attributes":{"definition":{"text":"#
        Test-Update_a_notebook_returns_OK_response-1620724126 notebook text","type":"markdown"}},"type":"notebook_cells","id":"amxiqk5e"}],"time":{"live_span":"1h"},"status":"published","modified":"2021-05-11T09:08:47.553226+00:00","created":"2021-05-11T09:08:47.553226+00:00","author":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"disabled":false,"status":"Active"}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '13'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"cells": [{"attributes": {"definition": {"text":
      "## Some test markdown\n\n```js\nvar x, y;\nx = 5;\ny = 6;\n```", "type": "markdown"}},
      "type": "notebook_cells"}, {"attributes": {"definition": {"requests": [{"display_type":
      "line", "q": "avg:system.load.1{*}", "style": {"line_type": "solid", "line_width":
      "normal", "palette": "dog_classic"}}], "show_legend": true, "type": "timeseries",
      "yaxis": {"scale": "linear"}}, "graph_size": "m", "split_by": {"keys": [], "tags":
      []}, "time": null}, "type": "notebook_cells"}], "name": "Test-Update_a_notebook_returns_OK_response-1620724126-updated",
      "status": "published", "time": {"live_span": "1h"}}, "type": "notebooks"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateNotebook
    method: PUT
    uri: https://api.datadoghq.com/api/v1/notebooks/773902
  response:
    body:
      string: '{"data":{"type":"notebooks","id":773902,"attributes":{"name":"Test-Update_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteNotebook
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/notebooks/773902
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4503153'
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '12'
    status:
      code: 204
      message: No Content
version: 1
