interactions:
- request:
    body: '{"name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-02-16T21:10:17.185865+00:00","dashboards":null,"dashboard_count":0,"id":364491,"is_favorite":false,"modified":"2023-02-16T21:10:17.185872+00:00","name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817","type":"manual_dashboard_list"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists":[{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2023-02-16T21:10:17.185865+00:00","dashboards":null,"dashboard_count":0,"id":364491,"is_favorite":false,"modified":"2023-02-16T21:10:17.185872+00:00","name":"Test-Get_all_dashboard_lists_returns_OK_response-1676581817","type":"manual_dashboard_list"},{"author":{"name":null,"handle":"frog@datadoghq.com"},"created":"2022-12-09T15:04:28.806069+00:00","dashboards":null,"dashboard_count":1,"id":348463,"is_favorite":false,"modified":"2022-12-09T15:04:29.985883+00:00","name":"Test-Go-TestDashboardListItemCRUD-1670598268","type":"manual_dashboard_list"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual/364491
  response:
    body:
      string: '{"deleted_dashboard_list_id":364491}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
