interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570
      with Profile Metrics Query","widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"fkc-v6q-qze","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570
        with Profile Metrics Query","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/fkc-v6q-qze/test-getallinvitationsforashareddashboardreturnsokresponse-1731611570-with-profi","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"requests":[{"profile_metrics_query":{"compute":{"aggregation":"sum","facet":"@prof_core_cpu_cores"},"group_by":[{"facet":"service","limit":10,"sort":{"aggregation":"sum","facet":"@prof_core_cpu_cores","order":"desc"}}],"search":{"query":"runtime:jvm"}}}],"type":"timeseries"},"id":366760305923022}],"notify_list":null,"created_at":"2024-11-14T19:12:50.495987+00:00","modified_at":"2024-11-14T19:12:50.495987+00:00","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboard_id":"fkc-v6q-qze","dashboard_type":"custom_timeboard","global_time":{"live_span":"1h"},"share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com"],"share_type":"invite"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard/public
  response:
    body:
      string: '{"author":{"handle":"anika.maskara@datadoghq.com","name":"Anika Maskara"},"dashboard_id":"fkc-v6q-qze","dashboard_type":"custom_timeboard","status":"active","title":"Test-Get_all_invitations_for_a_shared_dashboard_returns_OK_response-1731611570
        with Profile Metrics Query","viewing_preferences":{},"expiration":null,"last_accessed":null,"global_time_selectable_enabled":false,"global_time":{"live_span":"1h"},"selectable_template_vars":null,"token":"fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da","public_url":"https://p.datadoghq.com/sb/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da","created":"2024-11-14T19:12:50.829214+00:00","share_type":"invite","share_list":["testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com"],"session_duration_in_days":30,"invitees":[{"email":"testgetallinvitationsforashareddashboardreturnsokresponse1731611570@datadoghq.com","access_expiration":null,"last_accessed":null,"created_at":"2024-11-14T19:12:50.855355+00:00"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da/invitation
  response:
    body:
      string: '{"data":[],"meta":{"page":{"total_count":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/public/fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da
  response:
    body:
      string: '{"deleted_public_dashboard_token":"fasjyydbcgwwc2uc-91e2d2e8c19d6a2b80d2b4a75d7303da"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/fkc-v6q-qze
  response:
    body:
      string: '{"deleted_dashboard_id":"fkc-v6q-qze"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
