interactions:
- request:
    body: '{"layout_type":"ordered","title":"Test-Create_a_new_dashboard_with_an_audit_logs_query-1771618761
      with Audit Logs Query","widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"audit","indexes":["*"],"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":2,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"yid-eiq-hpr","title":"Test-Create_a_new_dashboard_with_an_audit_logs_query-1771618761
        with Audit Logs Query","description":null,"author_handle":"frog@datadoghq.com","author_name":"frog","layout_type":"ordered","url":"/dashboard/yid-eiq-hpr/test-createanewdashboardwithanauditlogsquery-1771618761-with-audit-logs-query","template_variables":null,"widgets":[{"definition":{"requests":[{"queries":[{"compute":{"aggregation":"count"},"data_source":"audit","indexes":["*"],"name":"query1","search":{"query":""}}],"response_format":"timeseries"}],"type":"timeseries"},"layout":{"height":2,"width":4,"x":2,"y":0},"id":296735922843810}],"notify_list":null,"created_at":"2026-02-20T20:19:21.362795+00:00","modified_at":"2026-02-20T20:19:21.362795+00:00","restricted_roles":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/yid-eiq-hpr
  response:
    body:
      string: '{"deleted_dashboard_id":"yid-eiq-hpr"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
