interactions:
- request:
    body: '{"end":1684769382,"message":"Test-Cancel_downtimes_by_scope_returns_OK_response-1684765782","recurrence":{"period":1,"type":"weeks","until_date":1686580182,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testcanceldowntimesbyscopereturnsokresponse1684765782"],"start":1684765782,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"id":2941965647,"monitor_id":null,"org_id":321813,"start":1684765782,"end":1684769382,"canceled":null,"created":1684765783,"modified":1684765783,"message":"Test-Cancel_downtimes_by_scope_returns_OK_response-1684765782","active":true,"disabled":false,"recurrence":{"type":"weeks","period":1,"week_days":["Mon","Tue","Wed","Thu","Fri"],"until_occurrences":null,"until_date":1686580182},"timezone":"Etc/UTC","parent_id":null,"child_id":null,"creator_id":1445416,"updater_id":null,"downtime_type":2,"status":"active","monitor_tags":["*"],"mute_first_recovery_notification":false,"notify_end_types":["expired"],"notify_end_states":["alert","no
        data","warn"],"uuid":"17fac312-f8ad-11ed-9ae8-da7ad0900002","scope":["test:testcanceldowntimesbyscopereturnsokresponse1684765782"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
{"scope":"test:testcanceldowntimesbyscopereturnsokresponse1684765782"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime/cancel/by_scope
  response:
    body:
      string: '{"cancelled_ids":[2941965647]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/2941965647
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
