interactions:
- request:
    body: '{"description":"","layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_query_value_widget-1774292382","widgets":[{"definition":{"autoscale":true,"description":"Example
      widget description","precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"uqx-8vk-iqr","title":"Test-Create_a_new_dashboard_with_query_value_widget-1774292382","description":"","author_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","author_name":"CI
        Account","layout_type":"free","url":"/dashboard/uqx-8vk-iqr/test-createanewdashboardwithqueryvaluewidget-1774292382","template_variables":[],"widgets":[{"definition":{"autoscale":true,"description":"Example
        widget description","precision":2,"requests":[{"queries":[{"aggregator":"avg","data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"scalar"}],"time":{},"title":"","title_align":"left","title_size":"16","type":"query_value"},"layout":{"height":15,"width":47,"x":0,"y":0},"id":4377270537334340}],"notify_list":[],"created_at":"2026-03-23T18:59:42.225807+00:00","modified_at":"2026-03-23T18:59:42.225807+00:00","restricted_roles":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/uqx-8vk-iqr
  response:
    body:
      string: '{"deleted_dashboard_id":"uqx-8vk-iqr"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
