interactions:
- request:
    body: '{"name":"Test-Get_an_SLO_s_details_returns_OK_response-1646747470","query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"thresholds":[{"target":95,"timeframe":"7d","warning":98}],"type":"metric"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"152e72d970e15e799e4b195d7193ed18","name":"Test-Get_an_SLO_s_details_returns_OK_response-1646747470","created_at":1646747471,"tags":[],"modified_at":1646747471,"type":"metric"}],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/152e72d970e15e799e4b195d7193ed18
  response:
    body:
      string: '{"data":{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"152e72d970e15e799e4b195d7193ed18","name":"Test-Get_an_SLO_s_details_returns_OK_response-1646747470","created_at":1646747471,"tags":[],"modified_at":1646747471,"type":"metric"},"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/152e72d970e15e799e4b195d7193ed18
  response:
    body:
      string: '{"data":["152e72d970e15e799e4b195d7193ed18"],"error":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
