interactions:
- request:
    body: '{"layout_type": "ordered", "title": "Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617953615.870048
      with timeseries widget", "widgets": [{"definition": {"type": "timeseries", "requests":
      [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()",
      "on_right_yaxis": false, "style": {"palette": "warm", "line_type": "solid",
      "line_width": "normal"}, "display_type": "bars"}]}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateDashboard
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":null,"description":null,"author_name":null,"template_variables":null,"is_read_only":false,"id":"pn4-h8f-5dn","title":"Test-Create_a_new_dashboard_with_timeseries_widget_containing_style_attributes-1617953615.870048
        with timeseries widget","url":"/dashboard/pn4-h8f-5dn/test-createanewdashboardwithtimeserieswidgetcontainingstyleattributes-1617953615","created_at":"2021-04-09T07:33:36.439508+00:00","modified_at":"2021-04-09T07:33:36.439508+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"requests":[{"q":"sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()","on_right_yaxis":false,"style":{"line_width":"normal","palette":"warm","line_type":"solid"},"display_type":"bars"}],"type":"timeseries"},"id":8362866454018905}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteDashboard
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/pn4-h8f-5dn
  response:
    body:
      string: '{"deleted_dashboard_id":"pn4-h8f-5dn"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
version: 1
