interactions:
- request:
    body: '{"layout_type":"ordered","reflow_type":"auto","title":"Test-Create_a_new_dashboard_with_timeseries_widget_and_formula_style_attributes-1731611561
      with formula style","widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1","style":{"palette":"classic","palette_index":4}}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{},"title":"styled
      timeseries","type":"timeseries"}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"id":"4pu-5hi-9ap","title":"Test-Create_a_new_dashboard_with_timeseries_widget_and_formula_style_attributes-1731611561
        with formula style","description":null,"author_handle":"anika.maskara@datadoghq.com","author_name":"Anika
        Maskara","layout_type":"ordered","url":"/dashboard/4pu-5hi-9ap/test-createanewdashboardwithtimeserieswidgetandformulastyleattributes-1731611561","is_read_only":false,"template_variables":null,"widgets":[{"definition":{"legend_columns":["avg","min","max","value","sum"],"legend_layout":"auto","requests":[{"display_type":"line","formulas":[{"formula":"query1","style":{"palette":"classic","palette_index":4}}],"queries":[{"data_source":"metrics","name":"query1","query":"avg:system.cpu.user{*}"}],"response_format":"timeseries","style":{"line_type":"solid","line_width":"normal","palette":"dog_classic"}}],"show_legend":true,"time":{},"title":"styled
        timeseries","type":"timeseries"},"id":3400368429094420}],"notify_list":null,"created_at":"2024-11-14T19:12:41.887469+00:00","modified_at":"2024-11-14T19:12:41.887469+00:00","reflow_type":"auto","restricted_roles":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/4pu-5hi-9ap
  response:
    body:
      string: '{"deleted_dashboard_id":"4pu-5hi-9ap"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
