interactions:
- request:
    body: '{"end":1641833413,"message":"Test-Schedule_a_downtime_until_date-1641829813","recurrence":{"period":1,"type":"weeks","until_date":1643644213,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["*"],"start":1641829813,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1643644213,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":1641833413,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1641829814,"org_id":321813,"modified":1641829814,"disabled":false,"start":1641829813,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["*"],"message":"Test-Schedule_a_downtime_until_date-1641829813","downtime_type":0,"id":1672791240,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1672791240
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
