interactions:
- request:
    body: '{"message":"Test-Get_a_downtime_returns_OK_response-1652348996","recurrence":{"period":1,"type":"weeks","until_date":1654163396,"week_days":["Mon","Tue","Wed","Thu","Fri"]},"scope":["test:testgetadowntimereturnsokresponse1652348996"],"start":1652348996,"timezone":"Etc/UTC"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '{"recurrence":{"until_date":1654163396,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652348997,"org_id":321813,"modified":1652348997,"disabled":false,"start":1652348996,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1652348996"],"message":"Test-Get_a_downtime_returns_OK_response-1652348996","downtime_type":2,"id":1944162261,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime/1944162261
  response:
    body:
      string: '{"recurrence":{"until_date":1654163396,"until_occurrences":null,"week_days":["Mon","Tue","Wed","Thu","Fri"],"type":"weeks","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"mute_first_recovery_notification":false,"created":1652348997,"org_id":321813,"modified":1652348997,"disabled":false,"start":1652348996,"creator_id":1445416,"parent_id":null,"timezone":"Etc/UTC","active":true,"scope":["test:testgetadowntimereturnsokresponse1652348996"],"message":"Test-Get_a_downtime_returns_OK_response-1652348996","downtime_type":2,"id":1944162261,"updater_id":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/downtime/1944162261
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
