interactions:
- request:
    body: '{"description":"","is_read_only":false,"layout_type":"free","notify_list":[],"template_variables":[],"title":"Test-Create_a_new_dashboard_with_check_status_widget-1640210581","widgets":[{"definition":{"check":"datadog.agent.up","grouping":"check","tags":["*"],"title_align":"left","title_size":"16","type":"check_status"},"layout":{"height":8,"width":15,"x":0,"y":0}}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"notify_list":[],"description":"","restricted_roles":[],"author_name":null,"template_variables":[],"is_read_only":false,"id":"npg-g5b-7iz","title":"Test-Create_a_new_dashboard_with_check_status_widget-1640210581","url":"/dashboard/npg-g5b-7iz/test-createanewdashboardwithcheckstatuswidget-1640210581","created_at":"2021-12-22T22:03:01.835329+00:00","modified_at":"2021-12-22T22:03:01.835329+00:00","author_handle":"frog@datadoghq.com","widgets":[{"definition":{"title_size":"16","tags":["*"],"title_align":"left","type":"check_status","check":"datadog.agent.up","grouping":"check"},"layout":{"y":0,"width":15,"x":0,"height":8},"id":7745352999159719}],"layout_type":"free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/dashboard/npg-g5b-7iz
  response:
    body:
      string: '{"deleted_dashboard_id":"npg-g5b-7iz"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
