interactions:
- request:
    body: '{"type": "metric", "name": "datadog-api-client-python-test_delete_an_slo_returns_ok_response-1617977826.422617",
      "thresholds": [{"timeframe": "7d", "target": 95.0, "warning": 98.0}], "query":
      {"numerator": "sum:httpservice.hits{code:2xx}.as_count()", "denominator": "sum:httpservice.hits{!code:3xx}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSlo
    method: POST
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data":[{"description":"","monitor_tags":[],"creator":{"handle":"frog@datadoghq.com","name":null,"email":"frog@datadoghq.com"},"thresholds":[{"warning":98.0,"warning_display":"98.","target":95.0,"target_display":"95.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:httpservice.hits{!code:3xx}.as_count()","numerator":"sum:httpservice.hits{code:2xx}.as_count()"},"id":"8c9f80b7df085cd1b4fb6648c3ff3226","name":"datadog-api-client-python-test_delete_an_slo_returns_ok_response-1617977826.422617","created_at":1617977827,"tags":[],"modified_at":1617977827,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4276613'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '53'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/8c9f80b7df085cd1b4fb6648c3ff3226
  response:
    body:
      string: '{"data":["8c9f80b7df085cd1b4fb6648c3ff3226"],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4276613'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2997'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSlo
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/slo/8c9f80b7df085cd1b4fb6648c3ff3226
  response:
    body:
      string: '{"errors": ["SLO not found: 8c9f80b7df085cd1b4fb6648c3ff3226 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4276613'
      x-ratelimit-limit:
      - '3000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '2999'
      x-ratelimit-reset:
      - '10'
    status:
      code: 404
      message: Not Found
version: 1
