{%- for api in apis %}
{%- set classname = api|class_name %}
from {{ package }}.{{ version }}.api.{{ api|safe_snake_case }}_api import {{ classname }}
{%- endfor %}


__all__ = [
{%- for api in apis %}
{%- set classname = api|class_name %}
    "{{ classname }}",
{%- endfor %}
]
