interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"value":{"data":"test-value","id":"test-key"}},"id":"263cb32b-0e88-48d5-8b60-1e3b58d5a43d","type":"items"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5/items
  response:
    body:
      string: '{"data":{"id":"720541b7-325b-463c-a755-558e1460bd36","type":"items"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"item_key":"test-key"},"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"items"}}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5/items
  response:
    body:
      string: '{"data":{"id":"720541b7-325b-463c-a755-558e1460bd36","type":"items"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/db5c5a0b-87ee-4747-9dfa-de2edd6910c5
  response:
    body:
      string: '{"data":{"id":"db5c5a0b-87ee-4747-9dfa-de2edd6910c5","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
