interactions:
- request:
    body: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1711391280000,"queries":[{"aggregator":"avg","data_source":"metrics","name":"a","query":"avg:system.cpu.user{*}"}],"to":1711394880000},"type":"scalar_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/scalar
  response:
    body:
      string: '{"data":{"type":"scalar_response","attributes":{"columns":[{"values":[6.368151928283307],"name":"a","meta":{"unit":[{"short_name":"%","id":17,"plural":"percent","name":"percent","family":"percentage","scale_factor":1.0},null]},"type":"number"}]}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
