interactions:
- request:
    body: '{"data":{"attributes":{"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"queried_tags_window_seconds":3600,"related_asset_tags":false},"manage_preexisting_metrics":true,"metric_match":{"queried_window_seconds":3600},"override_previous_rules":false},"version":1},"rule_order":2,"tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/not-a-valid-uuid
  response:
    body:
      string: '{"errors":["Invalid tag indexing rule ID format"]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
