interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_update_a_user_returns_ok_response-1617954898.515@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e1bd1eea-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_update_a_user_returns_ok_response-1617954898.515@datadoghq.com","created_at":"2021-04-09T07:54:59.097485+00:00","modified_at":"2021-04-09T07:54:59.127981+00:00","email":"test-test_update_a_user_returns_ok_response-1617954898.515@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e07f47f262522f188b99b61b442c4738?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4273965'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "e1bd1eea-9908-11eb-9ce8-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/e1bd1eea-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"e1bd1eea-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"updated","handle":"test-test_update_a_user_returns_ok_response-1617954898.515@datadoghq.com","created_at":"2021-04-09T07:54:59.097485+00:00","modified_at":"2021-04-09T07:54:59.699263+00:00","email":"test-test_update_a_user_returns_ok_response-1617954898.515@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e07f47f262522f188b99b61b442c4738?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e1bd1eea-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"errors": ["e1bd1eea-9908-11eb-9ce8-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
    status:
      code: 404
      message: Not Found
version: 1
