interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason_description":"We want to focus
      on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"type":"inbox_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body:
      string: '{"data":{"id":"e0e466a5-6a37-4311-85e3-41edcd5bf075","type":"inbox_rules","attributes":{"action":{"reason_description":"We
        want to focus on these items."},"created_at":1738076176650,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076176650,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Rule
        1","rule":{"issue_type":"vulnerability","rule_types":["application_code_vulnerability"],"rule_ids":["rule-id-1"],"query":"key:val","severities":["critical"]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/e0e466a5-6a37-4311-85e3-41edcd5bf075
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
