interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      string: '{"data":{"id":"5c6eadf5-0758-416a-ab9e-f69aa76d69f1","type":"workflows-webhook-handle","attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951--updated"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/5c6eadf5-0758-416a-ab9e-f69aa76d69f1
  response:
    body:
      string: '{"data":{"id":"5c6eadf5-0758-416a-ab9e-f69aa76d69f1","type":"workflows-webhook-handle","attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1748457951--updated"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/5c6eadf5-0758-416a-ab9e-f69aa76d69f1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
