interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":[],"automute":false,"is_cspm_enabled":false},"id":"91cde1ef-1da8-4340-9563-5b491f1176a7"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"client_email":"89e7e1c05bdec66f@example.com","host_filters":["foo:bar"]},"id":"91cde1ef-1da8-4340-9563-5b491f1176a7","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"91cde1ef-1da8-4340-9563-5b491f1176a7","attributes":{"client_email":"89e7e1c05bdec66f@example.com","is_cspm_enabled":false,"automute":false,"host_filters":["foo:bar"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/91cde1ef-1da8-4340-9563-5b491f1176a7
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
