interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"f5bb885b-d05e-4a9f-97f6-c050a5ba771b","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"value":{"missing":"item-key"}},"type":"items"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/f5bb885b-d05e-4a9f-97f6-c050a5ba771b/items
  response:
    body:
      string: '{"errors":[{"status":"400","id":"be36891b-613e-4a1a-bca8-5bcb05cfb1b5","title":"item
        key missing or invalid","detail":"primary column \"id\" is missing"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/f5bb885b-d05e-4a9f-97f6-c050a5ba771b
  response:
    body:
      string: '{"data":{"id":"f5bb885b-d05e-4a9f-97f6-c050a5ba771b","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
