interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"02a6c50e-60f7-4deb-b828-15f6de4a421b","type":"incident_types","attributes":{"createdAt":"2026-02-23T14:06:35.091613563Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-23T14:06:35.091613645Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@test-email@company.com"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"incident_type":{"data":{"id":"02a6c50e-60f7-4deb-b828-15f6de4a421b","type":"incident_types"}}},"type":"incident_notification_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body:
      string: '{"data":{"id":"160a9a8f-0db7-494a-87b2-1f02859e38f5","type":"incident_notification_rules","attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"created":"2026-02-23T14:06:35.419838663Z","enabled":true,"handles":["@test-email@company.com"],"modified":"2026-02-23T14:06:35.419838663Z","renotify_on":[],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"02a6c50e-60f7-4deb-b828-15f6de4a421b","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules/160a9a8f-0db7-494a-87b2-1f02859e38f5
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/02a6c50e-60f7-4deb-b828-15f6de4a421b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
