interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_list_all_users_returns_ok_response-1617968218@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e4e3994a-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_list_all_users_returns_ok_response-1617968218@datadoghq.com","created_at":"2021-04-09T11:36:58.782002+00:00","modified_at":"2021-04-09T11:36:58.811413+00:00","email":"test-test_list_all_users_returns_ok_response-1617968218@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c2d74d2f8da7226f208ac1818d040dbb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=test-test_list_all_users_returns_ok_response-1617968218%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177791}},"data":[{"type":"users","id":"e4e3994a-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_list_all_users_returns_ok_response-1617968218@datadoghq.com","created_at":"2021-04-09T11:36:58.782002+00:00","modified_at":"2021-04-09T11:36:58.811413+00:00","email":"test-test_list_all_users_returns_ok_response-1617968218@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c2d74d2f8da7226f208ac1818d040dbb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e4e3994a-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
version: 1
