interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"0b8ce528-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907","created_at":"2021-04-09T07:34:40.756646+00:00","modified_at":"2021-04-09T07:34:40.756646+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '489'
      x-ratelimit-reset:
      - '20'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "Test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0bd31f98-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907@datadoghq.com","created_at":"2021-04-09T07:34:41.216151+00:00","modified_at":"2021-04-09T07:34:41.247651+00:00","email":"test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8c5d90747a53ef059458de06dbc8216?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "0bd31f98-9906-11eb-9ce8-da7ad0900002", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/0b8ce528-9906-11eb-9ce8-da7ad0900002/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"0bd31f98-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907@datadoghq.com","created_at":"2021-04-09T07:34:41.216151+00:00","modified_at":"2021-04-09T07:34:41.247651+00:00","email":"test-test_remove_a_user_from_a_role_returns_ok_response-1617953680.193907@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e8c5d90747a53ef059458de06dbc8216?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"0b8ce528-9906-11eb-9ce8-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '488'
      x-ratelimit-reset:
      - '19'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0bd31f98-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/0b8ce528-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '486'
      x-ratelimit-reset:
      - '17'
    status:
      code: 204
      message: No Content
version: 1
