interactions:
- request:
    body: '{"data":{"attributes":{"formulas":[{"formula":"a+b"}],"from":1689871087,"interval":5000,"queries":[{"data_source":"metrics","query":"avg:system.cpu.user{*}"}],"to":1689874687},"type":"timeseries_rquest"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body:
      string: '{"errors":["API input validation failed: Invalid type. Expected \"timeseries_request\"."]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
