interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_returns_OK_response-1617999718@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3c3197c6-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617999718@datadoghq.com","created_at":"2021-04-09T20:21:58.514842+00:00","modified_at":"2021-04-09T20:21:58.550572+00:00","email":"test-get_a_user_returns_ok_response-1617999718@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e979201bf84783350414b859089a994f?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/3c3197c6-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"3c3197c6-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1617999718@datadoghq.com","created_at":"2021-04-09T20:21:58.514842+00:00","modified_at":"2021-04-09T20:21:58.550572+00:00","email":"test-get_a_user_returns_ok_response-1617999718@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e979201bf84783350414b859089a994f?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3c3197c6-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
version: 1
