interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.datadog-api-client-python-test_aggregate_events_returns_ok_response-1608079895.242024",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"cW1CSkphQ1RURW0wSFRCaW1hR1lhUXxzRkVfeEpPdnphY3JJbDZYNHVZYjBB","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 6IhQMEQHjYL1ZYwBd1xPnaqhoM5GIKrVP4vKHrLdyvV0W9ZbpSld8lY0ehD40SZe
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '5'
      X-RateLimit-Period:
      - '30'
      X-RateLimit-Remaining:
      - '4'
      X-RateLimit-Reset:
      - '25'
    status:
      code: 200
      message: OK
version: 1
