interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_all_workflow_webhook_handles_returns_OK_response-1748457950","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      string: '{"data":{"id":"a415a4f2-2b2b-49ad-9f53-3ff6cf5427a4","type":"workflows-webhook-handle","attributes":{"name":"Test-Get_all_workflow_webhook_handles_returns_OK_response-1748457950"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      string: '{"data":[{"id":"250dc9c5-c441-4dd5-95af-eff475b0f03a","type":"workflows-webhook-handle","attributes":{"name":"Example-Create_workflow_webhook_handle_returns_CREATED_response_1742407475"}},{"id":"905704d9-dd74-4b4a-9904-3d77aafb2bb7","type":"workflows-webhook-handle","attributes":{"name":"Example-Get_work[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/a415a4f2-2b2b-49ad-9f53-3ff6cf5427a4
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
