interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"82a1a46d-7acc-4fcd-a448-c5993752640a","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120","created_at":"2021-12-17T16:05:20.518462+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"id":"82a1a46d-7acc-4fcd-a448-c5993752640a","type":"application_keys","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120-updated"}}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/application_keys/82a1a46d-7acc-4fcd-a448-c5993752640a
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"82a1a46d-7acc-4fcd-a448-c5993752640a","attributes":{"name":"Test-Edit_an_application_key_returns_OK_response-1639757120-updated","created_at":"2021-12-17T16:05:20.518462+00:00","last4":"beef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/82a1a46d-7acc-4fcd-a448-c5993752640a
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
