interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"d0b09599-e180-4a05-b8cf-d8a518149301","attributes":{"name":null,"handle":"d0b09599-e180-4a05-b8cf-d8a518149301","created_at":"2022-01-10T15:51:40.383597+00:00","modified_at":"2022-01-10T15:51:40.420607+00:00","email":"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1641829899@datadoghq.com","icon":"https://secure.gravatar.com/avatar/058bbf5e2d63130b944273db7f6177c2?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/d0b09599-e180-4a05-b8cf-d8a518149301/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"049a8336-2752-4ed7-bdc5-4000af01cb81","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899","created_at":"2022-01-10T15:51:40.961126+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"d0b09599-e180-4a05-b8cf-d8a518149301"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/d0b09599-e180-4a05-b8cf-d8a518149301/application_keys/049a8336-2752-4ed7-bdc5-4000af01cb81
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"049a8336-2752-4ed7-bdc5-4000af01cb81","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1641829899","created_at":"2022-01-10T15:51:40.961126+00:00","last4":"xxxx","scopes":null}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d0b09599-e180-4a05-b8cf-d8a518149301
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
