interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-c12045e3c85ab6fe","name":"name-c12045e3c85ab6fe"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"a74521bc-20d9-11ee-be22-da7ad0900002","attributes":{"name":"name-c12045e3c85ab6fe","handle":"handle-c12045e3c85ab6fe","summary":null,"description":null,"created_at":"2023-07-12T17:29:28.136431+00:00","modified_at":"2023-07-12T17:29:28.136436+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"handle-c12045e3c85ab6fe","name":"Example
      Team"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"errors":["Team name and handle must be unique"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a74521bc-20d9-11ee-be22-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
