interactions:
- request:
    body: '{"data": {"id": "datadog-api-client-python-test_create_a_logbased_metric_returns_ok_response-1608595661.620162",
      "type": "logs_metrics", "attributes": {"compute": {"aggregation_type": "count"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1608595661.620162","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WrTDvawKJxc/3XHcVO+oe9kLOi9bBLB0fyesfpZ4AlLEoPVyUvH7rJdlyTxrqyNg
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '3138'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_create_a_logbased_metric_returns_ok_response_1608595661.620162
  response:
    body:
      string: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - D6xOASGs+SeSoSr1onTNqEyFDtjQwnjR937DW7eQT5G8CxiOSfzMZ/Hv6SqRh+8b
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '3132'
    status:
      code: 200
      message: OK
version: 1
