interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_invitation_returns_ok_response-1617968199@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d9347f06-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_invitation_returns_ok_response-1617968199@datadoghq.com","created_at":"2021-04-09T11:36:39.178448+00:00","modified_at":"2021-04-09T11:36:39.209696+00:00","email":"test-test_get_a_user_invitation_returns_ok_response-1617968199@datadoghq.com","icon":"https://secure.gravatar.com/avatar/da1e1dd4e8125d81cc6694ad5df1ac81?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "d9347f06-9927-11eb-9ceb-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"d991d50c-9927-11eb-9ceb-da7ad0900002","attributes":{"uuid":"d991d50c-9927-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:36:39.790491+00:00","expires_at":"2021-04-11T11:36:39.654518+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d9347f06-9927-11eb-9ceb-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/d991d50c-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"d991d50c-9927-11eb-9ceb-da7ad0900002","attributes":{"uuid":"d991d50c-9927-11eb-9ceb-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T11:36:39.790491+00:00","expires_at":"2021-04-11T11:36:39.654518+00:00"},"relationships":{"user":{"data":{"type":"users","id":"d9347f06-9927-11eb-9ceb-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d9347f06-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
version: 1
