interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"6abb4aad-629b-4a90-9259-fca22d3a8a99","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855","created_at":"2022-01-10T15:50:55.804516+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/application_keys/6abb4aad-629b-4a90-9259-fca22d3a8a99
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"6abb4aad-629b-4a90-9259-fca22d3a8a99","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1641829855","created_at":"2022-01-10T15:50:55.804516+00:00","last4":"xxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/6abb4aad-629b-4a90-9259-fca22d3a8a99
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
