interactions:
- request:
    body: '{"data":{"attributes":{"prompt_id":"Test-List_LLM_Observability_prompts_returns_OK_response-1784539804","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      string: '{"data":{"id":"b04a1ded-d2da-578c-a520-1c1dd2046d1c","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:30:04.928462935Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:30:04.928462935Z","num_versions":1,"prompt_id":"Test-List_LLM_Observability_prompts_returns_OK_response-1784539804","source":"registry"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts?filter%5Bprompt_id%5D=Test-List_LLM_Observability_prompts_returns_OK_response-1784539804
  response:
    body:
      string: '{"data":[{"id":"b04a1ded-d2da-578c-a520-1c1dd2046d1c","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:30:04.928462Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:30:04.928462Z","num_versions":1,"prompt_id":"Test-List_LLM_Observability_prompts_returns_OK_response-1784539804","source":"registry"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-List_LLM_Observability_prompts_returns_OK_response-1784539804
  response:
    body:
      string: '{"data":{"id":"b04a1ded-d2da-578c-a520-1c1dd2046d1c","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:30:06.787619Z","prompt_id":"Test-List_LLM_Observability_prompts_returns_OK_response-1784539804"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
