interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-f05d64ea2c336925","name":"test-name-f05d64ea2c336925"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"32b31d26-405b-11ee-8641-da7ad0900002","attributes":{"name":"test-name-f05d64ea2c336925","handle":"test-handle-f05d64ea2c336925","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:53.186188+00:00","modified_at":"2023-08-21T19:44:53.186194+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Link label","url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002/links/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/32b31d26-405b-11ee-8641-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
