interactions:
- request:
    body: '{"name": "Test-Delete_an_existing_rule_returns_OK_response-1617999672",
      "queries": [{"query": "@test:true", "aggregation": "count", "groupByFields":
      [], "distinctFields": [], "metric": ""}], "filters": [], "cases": [{"name":
      "", "status": "info", "condition": "a > 0", "notifications": []}], "options":
      {"evaluationWindow": 900, "keepAlive": 3600, "maxSignalDuration": 86400}, "hasExtendedTitle":
      false, "message": "Test rule", "tags": [], "isDefault": false, "isEnabled":
      true, "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1617999672465,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"o4w-qjs-qqg","isDefault":false,"name":"Test-Delete_an_existing_rule_returns_OK_response-1617999672"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/o4w-qjs-qqg
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/o4w-qjs-qqg
  response:
    body:
      string: '{"errors":["Threat detection rule not found: o4w-qjs-qqg"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4280781'
    status:
      code: 404
      message: Not Found
version: 1
