interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Assign_case_returns_Not_Found_response-1755778890@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5e7df5cb-7e89-11f0-b3e2-2ee8b0ead543","attributes":{"name":null,"handle":"test-assign_case_returns_not_found_response-1755778890@datadoghq.com","created_at":"2025-08-21T12:21:30.941829+00:00","modified_at":"2025-08-21T12:21:30.941829+00:00","email":"test-assign_case_returns_not_found_response-1755778890@datadoghq.com","icon":"https://secure.gravatar.com/avatar/64a43b3e8bfc89456f8304f2382a6ca6?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"assignee_id":"5e7df5cb-7e89-11f0-b3e2-2ee8b0ead543"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/67d80aa3-36ff-44b9-a694-c501a7591737/assign
  response:
    body:
      string: '{"errors":[{"code":"resource_not_found","title":"case not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5e7df5cb-7e89-11f0-b3e2-2ee8b0ead543
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
