interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_all_organization_handles_returns_OK_response-1770059965","space_resource_name":"spaces/AAQA-zFIks8"}},"type":"google-chat-organization-handle"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body:
      string: '{"data":{"id":"f6d65e4c-5e72-4e20-935d-4f9548c9afdb","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_all_organization_handles_returns_OK_response-1770059965","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/f6d65e4c-5e72-4e20-935d-4f9548c9afdb
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
