interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"0292830c-dde3-4e62-a568-573e4be65dff","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488","created_at":"2025-09-08T09:24:48.499395+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/application_keys/0292830c-dde3-4e62-a568-573e4be65dff
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"0292830c-dde3-4e62-a568-573e4be65dff","attributes":{"name":"Test-Get_an_application_key_returns_OK_response-1757323488","created_at":"2025-09-08T09:24:48.499395+00:00","last4":"xxxx","scopes":null,"last_used_at":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/0292830c-dde3-4e62-a568-573e4be65dff
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
