interactions:
- request:
    body: '{"data":{"attributes":{"handle":"","name":"","requirements":[{"controls":[{"name":"","rules_id":[""]}],"name":""}],"version":""},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/create-framework-new/10
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field
        ''data.attributes.requirements.name'' is invalid: field ''requirements.name''
        must not be empty), input_validation_error(Field ''data.attributes.controls.name''
        is invalid: field ''controls.name'' must not be empty), input_validation_error(Field
        ''data.attributes.name'' is invalid: field ''name'' must not be empty)"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
