interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"58c097c1-b44a-4eca-8e92-ec2598a6ca04","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:30.034351Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"58c097c1-b44a-4eca-8e92-ec2598a6ca04","key":"DDFC-77677","merge_status":"NOT_MERGED","priority":"P4","public_id":"77759","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"assignee_id":"invalid-uuid"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/58c097c1-b44a-4eca-8e92-ec2598a6ca04/assign
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
