interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"021ecfa6-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677","created_at":"2021-04-09T07:34:24.935585+00:00","modified_at":"2021-04-09T07:34:24.935585+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '494'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "Test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0264d3e8-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677@datadoghq.com","created_at":"2021-04-09T07:34:25.392722+00:00","modified_at":"2021-04-09T07:34:25.429204+00:00","email":"test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677@datadoghq.com","icon":"https://secure.gravatar.com/avatar/456fb14fbf887dc0344588ce55bcc1d0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "0264d3e8-9906-11eb-9ce8-da7ad0900002", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/021ecfa6-9906-11eb-9ce8-da7ad0900002/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"0264d3e8-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677@datadoghq.com","created_at":"2021-04-09T07:34:25.392722+00:00","modified_at":"2021-04-09T07:34:25.429204+00:00","email":"test-test_add_a_user_to_a_role_returns_ok_response-1617953664.384677@datadoghq.com","icon":"https://secure.gravatar.com/avatar/456fb14fbf887dc0344588ce55bcc1d0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"021ecfa6-9906-11eb-9ce8-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '35'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0264d3e8-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/021ecfa6-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '34'
    status:
      code: 204
      message: No Content
version: 1
