interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_list_all_users_returns_ok_response-1617953642.158974@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f4df5a68-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_list_all_users_returns_ok_response-1617953642.158974@datadoghq.com","created_at":"2021-04-09T07:34:02.708413+00:00","modified_at":"2021-04-09T07:34:02.746558+00:00","email":"test-test_list_all_users_returns_ok_response-1617953642.158974@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c60d356770cc56a0b62dcbf22a3821fb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=test-test_list_all_users_returns_ok_response-1617953642.158974%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":177458}},"data":[{"type":"users","id":"f4df5a68-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_list_all_users_returns_ok_response-1617953642.158974@datadoghq.com","created_at":"2021-04-09T07:34:02.708413+00:00","modified_at":"2021-04-09T07:34:02.746558+00:00","email":"test-test_list_all_users_returns_ok_response-1617953642.158974@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c60d356770cc56a0b62dcbf22a3821fb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f4df5a68-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
version: 1
