interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Patch_a_signal_based_notification_rule_returns_Bad_Request_response-1773394504","selectors":{"query":"env:test","rule_types":["signal_correlation"],"severities":["critical"],"trigger_source":"security_signals"},"targets":["@email@email.com"]},"type":"notification_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/signals/notification_rules
  response:
    body:
      string: '{"data":{"id":"sa8-rjy-zkl","type":"notification_rules","attributes":{"created_at":1773394506389,"created_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"enabled":true,"modified_at":1773394506389,"modified_by":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"name":"Test-Patch_a_signal_based_notification_rule_returns_Bad_Request_response-1773394504","selectors":{"severities":["critical"],"rule_types":["signal_correlation"],"query":"env:test","trigger_source":"security_signals"},"targets":["@email@email.com"],"time_aggregation":0,"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Rule 1","selectors":{"query":"(source:production_service
      OR env:prod)","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@john.doe@email.com"],"time_aggregation":86400},"id":"aaa-bbb-ccc","type":"notification_rules"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security/signals/notification_rules/sa8-rjy-zkl
  response:
    body:
      string: '{"errors":["input_validation_error(Field ''data.attributes.version''
        is invalid: Specify the notification rule version to update, it cannot be
        0.)"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
[...]
