interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Get_details_of_a_vulnerability_based_rule_returns_Notification_rule_details_response-1737539425","selectors":{"query":"env:test","rule_types":["misconfiguration","attack_path"],"severities":["critical"],"trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400},"type":"notification_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules
  response:
    body:
      string: '{"data":{"id":"aqq-x71-k2h","type":"notification_rules","attributes":{"created_at":1737539426417,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737539426417,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Get_details_of_a_vulnerability_based_rule_returns_Notification_rule_details_response-1737539425","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/notification_rules/aqq-x71-k2h
  response:
    body:
      string: '{"data":{"id":"aqq-x71-k2h","type":"notification_rules","attributes":{"created_at":1737539426417,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737539426417,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Get_details_of_a_vulnerability_based_rule_returns_Notification_rule_details_response-1737539425","selectors":{"severities":["critical"],"rule_types":["misconfiguration","attack_path"],"query":"env:test","trigger_source":"security_findings"},"targets":["@email@email.com"],"time_aggregation":86400,"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
