interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-99ca65bcb7eba7f2","name":"name-99ca65bcb7eba7f2"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"adfa785e-20d9-11ee-9b3a-da7ad0900002","attributes":{"name":"name-99ca65bcb7eba7f2","handle":"handle-99ca65bcb7eba7f2","summary":null,"description":null,"created_at":"2023-07-12T17:29:39.390829+00:00","modified_at":"2023-07-12T17:29:39.390834+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/adfa785e-20d9-11ee-9b3a-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
