interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Update_a_role_returns_OK_response-1618831550"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"fed9b438-a101-11eb-9f19-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618831550","created_at":"2021-04-19T11:25:50.764149+00:00","modified_at":"2021-04-19T11:25:50.764149+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '487'
      x-ratelimit-reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "fed9b438-a101-11eb-9f19-da7ad0900002", "type": "roles",
      "attributes": {"name": "Test-Update_a_role_returns_OK_response-1618831550-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/fed9b438-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"fed9b438-a101-11eb-9f19-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618831550-updated","created_at":"2021-04-19T11:25:50.764149+00:00","modified_at":"2021-04-19T11:25:51.204312+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '486'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/fed9b438-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '485'
      x-ratelimit-reset:
      - '9'
    status:
      code: 204
      message: No Content
version: 1
