interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_send_invitation_emails_returns_ok_response-1617953693.77207@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"13a4f82c-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_send_invitation_emails_returns_ok_response-1617953693.77207@datadoghq.com","created_at":"2021-04-09T07:34:54.334580+00:00","modified_at":"2021-04-09T07:34:54.371216+00:00","email":"test-test_send_invitation_emails_returns_ok_response-1617953693.77207@datadoghq.com","icon":"https://secure.gravatar.com/avatar/91a930e1a21ae9d115eb4aa79f6d012a?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "13a4f82c-9906-11eb-9ce8-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"140281fe-9906-11eb-9ce8-da7ad0900002","attributes":{"uuid":"140281fe-9906-11eb-9ce8-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T07:34:54.948864+00:00","expires_at":"2021-04-11T07:34:54.813721+00:00"},"relationships":{"user":{"data":{"type":"users","id":"13a4f82c-9906-11eb-9ce8-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/13a4f82c-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
version: 1
