interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_update_a_user_returns_ok_response-1617953715.535509@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"209d356c-9906-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_update_a_user_returns_ok_response-1617953715.535509@datadoghq.com","created_at":"2021-04-09T07:35:16.094243+00:00","modified_at":"2021-04-09T07:35:16.134947+00:00","email":"test-test_update_a_user_returns_ok_response-1617953715.535509@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2cd72bf27a5f2e759bf7f5e8cd81ca4e?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "209d356c-9906-11eb-9ce8-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/209d356c-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"209d356c-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"updated","handle":"test-test_update_a_user_returns_ok_response-1617953715.535509@datadoghq.com","created_at":"2021-04-09T07:35:16.094243+00:00","modified_at":"2021-04-09T07:35:17.073051+00:00","email":"test-test_update_a_user_returns_ok_response-1617953715.535509@datadoghq.com","icon":"https://secure.gravatar.com/avatar/2cd72bf27a5f2e759bf7f5e8cd81ca4e?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/209d356c-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"errors": ["209d356c-9906-11eb-9ce8-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4272858'
    status:
      code: 404
      message: Not Found
version: 1
