interactions:
- request:
    body: '{"data":{"attributes":{"message":"test message","monitor_identifier":{"monitor_tags":["cat:hat"]},"schedule":{"start":null},"scope":"test:testupdateadowntimereturnsokresponse1685739207"},"type":"downtime"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/downtime
  response:
    body:
      string: '{"data":{"type":"downtime","relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}},"id":"865c7f20-0187-11ee-ac0a-da7ad0900002","attributes":{"monitor_identifier":{"monitor_tags":["cat:hat"]},"status":"active","message":"test
        message","created":"2023-06-02T20:53:28.147387+00:00","schedule":{"end":null,"start":"2023-06-02T20:53:28.134493+00:00"},"modified":"2023-06-02T20:53:28.147387+00:00","display_timezone":"UTC","mute_first_recovery_notification":false,"notify_end_states":["no
        data","warn","alert"],"scope":"test:testupdateadowntimereturnsokresponse1685739207","notify_end_types":["expired"],"canceled":null}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"message":"light speed"},"id":"865c7f20-0187-11ee-ac0a-da7ad0900002","type":"downtime"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/downtime/865c7f20-0187-11ee-ac0a-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"downtime","attributes":{"display_timezone":"UTC","status":"active","message":"light
        speed","created":"2023-06-02T20:53:28.147387+00:00","ca[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/downtime/865c7f20-0187-11ee-ac0a-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
