interactions:
- request:
    body: '{"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule","name":"Test-Create_a_detection_rule_returns_Bad_Request_response-1715358868","options":{},"queries":[{"query":""}],"tags":[]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"errors":["Invalid rule configuration","Query filter cannot be empty"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
