interactions:
- request:
    body: '{"data":{"attributes":{"name":"test-rum-a630eb80b3e09124","type":"ios"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"type":"rum_application","id":"cfc4270c-7df3-4a8b-a24a-20f2a25e15b2","attributes":{"created_by_handle":"frog@datadoghq.com","name":"test-rum-a630eb80b3e09124","product_analytics_replay_sample_rate":100,"tags":[],"type":"ios","updated_at":1755612214266,"updated_by_handle":"frog@datadoghq.com","hash":"pub8da0c745dc9ed0616e72239bf54c23ff","product_scales":{"rum_event_processing_scale":{"state":"ALL","last_modified_at":1755612214266},"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1755612214266}},"created_at":1755612214266,"client_token":"pub8da0c745dc9ed0616e72239bf54c23ff","org_id":321813,"application_id":"cfc4270c-7df3-4a8b-a24a-20f2a25e15b2","is_active":false}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/cfc4270c-7df3-4a8b-a24a-20f2a25e15b2
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
