interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608151197.780981"},
      "type": "api_keys"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:58.014686+00:00","key":"7691b083004a579f6be20756de3b815b","last4":"815b","modified_at":"2020-12-16T20:39:58.014686+00:00","name":"datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608151197.780981"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"5d99471f-b833-5c21-b9a5-fefc0bb4e4b8"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - fOvn++WNyeGiJqGJ1RGVl2OtzlCSW+9FmhW07NDhLHuS9Ypy2JL89j65gnqIRQTf
      x-dd-version:
      - '35.3555652'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "api_keys", "id": "5d99471f-b833-5c21-b9a5-fefc0bb4e4b8",
      "attributes": {"name": "datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608151197.780981"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateApiKey
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/api_keys/5d99471f-b833-5c21-b9a5-fefc0bb4e4b8
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:58.014686+00:00","key":"7691b083004a579f6be20756de3b815b","last4":"815b","modified_at":"2020-12-16T20:39:58.014686+00:00","name":"datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608151197.780981"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"5d99471f-b833-5c21-b9a5-fefc0bb4e4b8"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - kVIyULqFJCTq7UhIHgqWvXavJTAli9sBlPotrAu3H7ZFGiPbwUZRL8l0MLdeDTt4
      x-dd-version:
      - '35.3555652'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/5d99471f-b833-5c21-b9a5-fefc0bb4e4b8
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JywPpt+4BVnbPdSe3Y1Brr4edpaGbhQEf1Cv7s/evHeASrfyUCmzDpnXMXyJJDQz
      x-dd-version:
      - '35.3555652'
    status:
      code: 204
      message: No Content
version: 1
