interactions:
- request:
    body: '{"data":{"attributes":{"name":"datastore-name","primary_column_name":"primaryKey","values":[{"primaryKey":"key1","value":"Newton"},{"primaryKey":"key2","value":"Leibniz"}]},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/import
  response:
    body:
      string: '{"data":{"id":"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602","type":"datastores","attributes":{"item_count":2}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602
  response:
    body:
      string: '{"data":{"id":"20c0eef2-c999-4b9f-a0c0-e3aa2ee4e602","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
