interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"name":"d7b6718b33c64158","type":"component"}],"domain_prefix":"dd-integration-tests-d7b6718b33c64158","enabled":true,"name":"[DD
      Integration Tests] d7b6718b33c64158","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"78493753-727b-428a-bcd8-5e1430aeac43","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","name":"d7b6718b33c64158","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T18:43:30.053538Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-d7b6718b33c64158","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T18:43:30.053538Z","name":"[DD
        Integration Tests] d7b6718b33c64158","page_url":"https://frog.datadoghq.com/status-pages/78493753-727b-428a-bcd8-5e1430aeac43/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"components_affected":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","status":"major_outage"}],"status":"investigating","title":"Test-List_degradations_returns_OK_response-1767984209"},"type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/78493753-727b-428a-bcd8-5e1430aeac43/degradations
  response:
    body:
      string: '{"data":{"id":"f24344db-10cb-4216-a7e4-09ed31aeee8b","type":"degradations","attributes":{"components_affected":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","name":"d7b6718b33c64158","status":"major_outage"}],"created_at":"2026-01-09T18:43:30.546603Z","description":"","modified_at":"2026-01-09T18:43:30.546603Z","status":"investigating","title":"Test-List_degradations_returns_OK_response-1767984209","updates":[{"id":"558b4409-9552-4dbf-a897-daa67ec7bbe9","created_at":"2026-01-09T18:43:30.546603Z","modified_at":"2026-01-09T18:43:30.546603Z","started_at":"0001-01-01T00:00:00Z","status":"investigating","description":"","components_affected":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","name":"d7b6718b33c64158","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"78493753-727b-428a-bcd8-5e1430aeac43","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body:
      string: '{"data":[{"id":"f24344db-10cb-4216-a7e4-09ed31aeee8b","type":"degradations","attributes":{"components_affected":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","name":"d7b6718b33c64158","status":"major_outage"}],"created_at":"2026-01-09T18:43:30.546603Z","description":"","modified_at":"2026-01-09T18:43:30.546603Z","status":"investigating","title":"Test-List_degradations_returns_OK_response-1767984209","updates":[{"id":"558b4409-9552-4dbf-a897-daa67ec7bbe9","created_at":"2026-01-09T18:43:30.546603Z","modified_at":"2026-01-09T18:43:30.546603Z","started_at":"0001-01-01T00:00:00Z","status":"investigating","description":"","components_affected":[{"id":"a521c403-7602-4420-bcca-923c0883c3af","name":"d7b6718b33c64158","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"78493753-727b-428a-bcd8-5e1430aeac43","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/78493753-727b-428a-bcd8-5e1430aeac43/degradations/f24344db-10cb-4216-a7e4-09ed31aeee8b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/78493753-727b-428a-bcd8-5e1430aeac43
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
