interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","type":"sensitive_data_scanner_group"},{"id":"ec9a039b-523c-4b48-af30-62bb2838610f","type":"sensitive_data_scanner_group"},{"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","type":"sensitive_data_scanner_group"},{"id":"d9ff2a5f-698a-4743-a80a-e669fd23a3a9","type":"sensitive_data_scanner_group"},{"id":"b6088534-c2a8-4ae1-8bdb-b3923199caf3","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Typescript-Create_Scanning_Group_returns_OK_response-1766488603","product_list":["logs"],"samplings":[]},"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"ec9a039b-523c-4b48-af30-62bb2838610f","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","relationships":{[...]
- request:
    body: '{"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      string: '{"data":{"id":"c73e4099-436a-4e22-915b-41ef39a9b67c","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":275780}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"excluded_namespaces":["admin.name"],"included_keyword_configuration":{"character_count":35,"keywords":["credit
      card"]},"is_enabled":true,"name":"Test-Create_Scanning_Rule_returns_OK_response-1768505199","namespaces":["admin"],"pattern":"pattern","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"c73e4099-436a-4e22-915b-41ef39a9b67c","type":"sensitive_data_scanner_group"}}},"type":"sensitive_data_scanner_rule"},"meta":{}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/rules
  response:
    body:
      string: '{"data":{"id":"51338c31-deac-414b-a3c7-2c68f47926dd","type":"sensitive_data_scanner_rule","attributes":{"excluded_namespaces":["admin.name"],"included_keyword_configuration":{"keywords":["credit
        card"],"character_count":35},"is_enabled":true,"labels":[],"name":"Test-Create_Scanning_Rule_returns_OK_response-1768505199","namespaces":["admin"],"pattern":"pattern","priority":1,"tags":["sensitive_data:true"],"text_replacement":{"type":"none"}},"relationships":{"group":{"data":{"id":"c73e4099-436a-4e22-915b-41ef39a9b67c","type":"sensitive_data_scanner_group"}}}},"meta":{"version":275781}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"meta":{}}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/rules/51338c31-deac-414b-a3c7-2c68f47926dd
  response:
    body:
      string: '{"meta":{"version":275782}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"meta":{}}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/c73e4099-436a-4e22-915b-41ef39a9b67c
  response:
    body:
      string: '{"meta":{"version":275783}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
