interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_delete_a_logbased_metric_returns_ok_response-1617954903.250"}},
      "id": "Test-test_delete_a_logbased_metric_returns_ok_response-1617954903.250",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_delete_a_logbased_metric_returns_ok_response_1617954903.250","attributes":{"filter":{"query":"source:Test-test_delete_a_logbased_metric_returns_ok_response-1617954903.250"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '297'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_delete_a_logbased_metric_returns_ok_response_1617954903.250
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4940'
      x-ratelimit-reset:
      - '296'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_delete_a_logbased_metric_returns_ok_response_1617954903.250
  response:
    body:
      string: '{"errors":["not_found(Metric with name ''Test_test_delete_a_logbased_metric_returns_ok_response_1617954903.250''
        not found)"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4939'
      x-ratelimit-reset:
      - '296'
    status:
      code: 404
      message: Not Found
version: 1
