interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_get_a_logbased_metric_returns_ok_response-1617953688.646217"}},
      "id": "Test-test_get_a_logbased_metric_returns_ok_response-1617953688.646217",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_get_a_logbased_metric_returns_ok_response_1617953688.646217","attributes":{"filter":{"query":"source:Test-test_get_a_logbased_metric_returns_ok_response-1617953688.646217"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '289'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetLogsMetric
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_get_a_logbased_metric_returns_ok_response_1617953688.646217
  response:
    body:
      string: '{"data":{"id":"Test_test_get_a_logbased_metric_returns_ok_response_1617953688.646217","attributes":{"filter":{"query":"source:Test-test_get_a_logbased_metric_returns_ok_response-1617953688.646217"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4974'
      x-ratelimit-reset:
      - '1511'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_get_a_logbased_metric_returns_ok_response_1617953688.646217
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4973'
      x-ratelimit-reset:
      - '1510'
    status:
      code: 200
      message: OK
version: 1
