interactions:
- request:
    body: '{"data":{"attributes":{"metric_type":"distribution","tags":["app","datacenter","TestListtagconfigurationsreturnsSuccessresponse1618491736"]},"id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","type":"manage_tags"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618491736/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618491736"],"include_percentiles":false,"created_at":"2021-04-15T13:02:16.731735+00:00","updated_at":"2021-04-15T13:02:16.731735+00:00","metric_type":"distribution"}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '39'
      x-ratelimit-reset:
      - '44'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618491736
  response:
    body:
      string: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618491736","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1618491736"],"include_percentiles":false,"created_at":"2021-04-15T13:02:16.731735+00:00","updated_at":"2021-04-15T13:02:16.731735+00:00","metric_type":"distribution"}}]}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '38'
      x-ratelimit-reset:
      - '43'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618491736/tags
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '37'
      x-ratelimit-reset:
      - '37'
    status:
      code: 204
      message: No Content
version: 1
