interactions:
- request:
    body: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
      Execution Policy Updated"},"id":"aaa11111-aa11-aa11-aaaa-aaaaaa111111","type":"execution_policy"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies/aaa11111-aa11-aa11-aaaa-aaaaaa111111
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"error updating execution
        policy"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
