interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_all_restriction_queries_for_a_given_user_returns_OK_response-1763149479@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"5bde5c10-c192-11f0-924a-766f31fff523","attributes":{"name":null,"handle":"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com","created_at":"2025-11-14T19:44:39.917112+00:00","modified_at":"2025-11-14T19:44:39.917112+00:00","email":"test-get_all_restriction_queries_for_a_given_user_returns_ok_response-1763149479@datadoghq.com","icon":"https://secure.gravatar.com/avatar/876b69d93fda39b3d7945f71e37894b0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/user/5bde5c10-c192-11f0-924a-766f31fff523
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5bde5c10-c192-11f0-924a-766f31fff523
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
