interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"df8cb99c-89ac-11ec-80b7-da7ad0900002","attributes":{"name":"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611","created_at":"2022-02-09T13:33:31.955465+00:00","modified_at":"2022-02-09T13:33:31.999958+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"attribute_key":"testcreateanauthnmappingreturnsokresponse1644413611","attribute_value":"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611"},"relationships":{"role":{"data":{"id":"df8cb99c-89ac-11ec-80b7-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/authn_mappings
  response:
    body:
      string: '{"included":[{"type":"roles","id":"df8cb99c-89ac-11ec-80b7-da7ad0900002","attributes":{"name":"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611","created_at":"2022-02-09T13:33:31.955465+00:00","modified_at":"2022-02-09T13:33:31.999958+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"dfde6576-89ac-11ec-80b7-da7ad0900002","attributes":{"attribute_key":"testcreateanauthnmappingreturnsokresponse1644413611","attribute_value":"Test-Create_an_AuthN_Mapping_returns_OK_response-1644413611","created_at":"2022-02-09T13:33:32.490685+00:00","modified_at":"2022-02-09T13:33:32.490685+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"df8cb99c-89ac-11ec-80b7-da7ad0900002"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/authn_mappings/dfde6576-89ac-11ec-80b7-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/df8cb99c-89ac-11ec-80b7-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
