interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:datadog-api-client-python-test_update_a_logbased_metric_returns_ok_response-1608595673.013269"}},
      "id": "datadog-api-client-python-test_update_a_logbased_metric_returns_ok_response-1608595673.013269",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"datadog_api_client_python_test_update_a_logbased_metric_returns_ok_response_1608595673.013269","attributes":{"filter":{"query":"source:datadog-api-client-python-test_update_a_logbased_metric_returns_ok_response-1608595673.013269"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - lgQawiZEOFHj/SKplEcqOwzaMI6OQtdSQ9dotiTxYUar2ksXhijPkw9yrBoSKHNa
      X-DD-VERSION:
      - '35.3583277'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '3127'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "datadog_api_client_python_test_update_a_logbased_metric_returns_ok_response_1608595673.013269",
      "type": "logs_metrics", "attributes": {"filter": {"query": "source:datadog-api-client-python-test_update_a_logbased_metric_returns_ok_response-1608595673.013269-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_update_a_logbased_metric_returns_ok_response_1608595673.013269
  response:
    body:
      string: '{"data":{"id":"datadog_api_client_python_test_update_a_logbased_metric_returns_ok_response_1608595673.013269","attributes":{"filter":{"query":"source:datadog-api-client-python-test_update_a_logbased_metric_returns_ok_response-1608595673.013269-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - LX0aORViMOQWB8T+VX1PN+m0Q/BWIGM8lAfgs+SVlDy/am6DTkPEsJ9PcP8Pvumm
      X-DD-VERSION:
      - '35.3583277'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '95'
      X-RateLimit-Reset:
      - '3126'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_update_a_logbased_metric_returns_ok_response_1608595673.013269
  response:
    body:
      string: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - FP8Y2ks6/+u/R8ikARtQQYvp9IVj9nSQPYtAt3WVuBjumgKP35t8vnUuGfeHdr64
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '4994'
      X-RateLimit-Reset:
      - '3125'
    status:
      code: 200
      message: OK
version: 1
