interactions:
- request:
    body: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testupdateacsmthreatsagentrulereturnsnotfoundresponse1743170355"},"type":"policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      string: '{"data":{"id":"f45-v36-j72","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testupdateacsmthreatsagentrulereturnsnotfoundresponse1743170355","policyVersion":"1","priority":1000000026,"ruleCount":226,"updateDate":1743170355995,"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","policy_id":"f45-v36-j72","product_tags":[]},"id":"non-existent-rule-id","type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/agent_rules/non-existent-rule-id
  response:
    body:
      string: '{"errors":[{"title":"failed to update rule"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/remote_config/products/cws/policy/f45-v36-j72
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
