interactions:
- request:
    body: '{"data":{"attributes":{"name":"test-rum-2b75921f066af13d","type":"ios"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"type":"rum_application","id":"40e84dc3-03d2-4839-83c0-929248f0b18c","attributes":{"type":"ios","application_id":"40e84dc3-03d2-4839-83c0-929248f0b18c","is_active":false,"org_id":321813,"updated_at":1693328714224,"name":"test-rum-2b75921f066af13d","updated_by_handle":"frog@datadoghq.com","hash":"pube38c4c6cfb13be706c9f90c6c949e507","client_token":"pube38c4c6cfb13be706c9f90c6c949e507","created_at":1693328714224,"created_by_handle":"frog@datadoghq.com"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/40e84dc3-03d2-4839-83c0-929248f0b18c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
