interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"9604b133-26c1-4d2d-99de-b9dbea136897","attributes":{"name":null,"handle":"9604b133-26c1-4d2d-99de-b9dbea136897","created_at":"2022-01-10T15:51:36.056949+00:00","modified_at":"2022-01-10T15:51:36.091800+00:00","email":"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1641829895@datadoghq.com","icon":"https://secure.gravatar.com/avatar/14f39236defad9d949b21a870522bfa6?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/9604b133-26c1-4d2d-99de-b9dbea136897/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"243e87b0-f9bd-4ef9-803c-e6e50803501a","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895","created_at":"2022-01-10T15:51:36.632024+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"9604b133-26c1-4d2d-99de-b9dbea136897"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895-updated"},"id":"243e87b0-f9bd-4ef9-803c-e6e50803501a","type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/service_accounts/9604b133-26c1-4d2d-99de-b9dbea136897/application_keys/243e87b0-f9bd-4ef9-803c-e6e50803501a
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"243e87b0-f9bd-4ef9-803c-e6e50803501a","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1641829895-updated","created_at":"2022-01-10T15:51:36.632024+00:00","last4":"xxxx","scopes":null}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9604b133-26c1-4d2d-99de-b9dbea136897
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
