interactions:
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-04-06T06:00:55.733Z","end_date":"2025-04-26T06:00:55.733Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-11T06:00:55.733Z"}],"name":"Test-Get_on_call_schedule_returns_OK_response-1744783255","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"fb021b53-bdda-42dd-860d-ab3005c55a12","type":"schedules","attributes":{"name":"Test-Get_on_call_schedule_returns_OK_response-1744783255","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"26ca2bf3-dc0d-4195-84e4-c8092f00afa7","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/fb021b53-bdda-42dd-860d-ab3005c55a12
  response:
    body:
      string: '{"data":{"id":"fb021b53-bdda-42dd-860d-ab3005c55a12","type":"schedules","attributes":{"name":"Test-Get_on_call_schedule_returns_OK_response-1744783255","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"26ca2bf3-dc0d-4195-84e4-c8092f00afa7","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/fb021b53-bdda-42dd-860d-ab3005c55a12
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
