interactions:
- request:
    body: '{"data":{"attributes":{"name":"Security Audit Dataset","principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"product_filters":[{"filters":["@application.id:ABCD"],"product":"metrics"}]},"type":"dataset"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/datasets
  response:
    body:
      string: '{"data":{"type":"dataset","id":"b0f617b4-affb-4411-970a-2c157933514c","attributes":{"name":"Security
        Audit Dataset","product_filters":[{"product":"metrics","filters":["@application.id:ABCD"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/datasets
  response:
    body:
      string: '{"data":[{"type":"dataset","id":"b0f617b4-affb-4411-970a-2c157933514c","attributes":{"name":"Security
        Audit Dataset","product_filters":[{"product":"metrics","filters":["@application.id:ABCD"]}],"principals":["role:94172442-be03-11e9-a77a-3b7612558ac1"],"created_by":"3ad549bf-eba0-11e9-a77a-0705486660d0","created_at":"2025-07-29T20:36:00.94442Z"}}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/datasets/b0f617b4-affb-4411-970a-2c157933514c
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
