interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"b6a0f192-9be6-4898-b05b-f4cc308de679","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T13:52:51.610535Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"b6a0f192-9be6-4898-b05b-f4cc308de679","key":"DDFC-72324","merge_status":"NOT_MERGED","priority":"P4","public_id":"72384","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/b6a0f192-9be6-4898-b05b-f4cc308de679/unarchive
  response:
    body:
      string: '{"data":{"id":"b6a0f192-9be6-4898-b05b-f4cc308de679","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-07-21T13:52:51.610535Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"b6a0f192-9be6-4898-b05b-f4cc308de679","key":"DDFC-72324","merge_status":"NOT_MERGED","priority":"P4","public_id":"72384","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
