interactions:
- request:
    body: '{"data":{"attributes":{"name":"updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/00000000-dead-beef-dead-ffffffffffff
  response:
    body:
      string: '{"errors": ["Missing Role 00000000-dead-beef-dead-ffffffffffff not
        found"]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '12'
    status:
      code: 404
      message: Not Found
version: 1
