interactions:
- request:
    body: '{"data":{"attributes":{"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_Bad_Request_response-1784543299","template":"
      "},"type":"prompt-templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"invalid prompt template"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
