interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"ace1b83708e2910f","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"1abc85f9-6c22-4a51-b2b9-afec48f3108b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"289a6704-9392-43ec-b17a-286772a40c5d","name":"Application","type":"group","position":0,"components":[{"id":"295811f5-87a1-41a5-bd77-05dafe25404a","name":"Login","type":"component","status":"operational","position":0},{"id":"e069c248-3994-4ca6-bcf3-176a45716ed5","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:47.885504Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"ace1b83708e2910f","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:47.885504Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/1abc85f9-6c22-4a51-b2b9-afec48f3108b/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"A Status Page in US1"},"id":"1abc85f9-6c22-4a51-b2b9-afec48f3108b","type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/statuspages/1abc85f9-6c22-4a51-b2b9-afec48f3108b
  response:
    body:
      string: '{"data":{"id":"1abc85f9-6c22-4a51-b2b9-afec48f3108b","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"289a6704-9392-43ec-b1[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/1abc85f9-6c22-4a51-b2b9-afec48f3108b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
