interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_list_roles_returns_ok_response-1617954932.729"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"f61edafe-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_list_roles_returns_ok_response-1617954932.729","created_at":"2021-04-09T07:55:33.291446+00:00","modified_at":"2021-04-09T07:55:33.291446+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '490'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=Test-test_list_roles_returns_ok_response-1617954932.729
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3480}},"data":[{"type":"roles","id":"f61edafe-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_list_roles_returns_ok_response-1617954932.729","created_at":"2021-04-09T07:55:33.291446+00:00","modified_at":"2021-04-09T07:55:33.291446+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '489'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/f61edafe-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '488'
      x-ratelimit-reset:
      - '26'
    status:
      code: 204
      message: No Content
version: 1
