interactions:
- request:
    body: '{"data":{"attributes":{"account_tags":["lorem","ipsum"],"client_email":"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"resource_collection_enabled":false,"account_tags":["lorem","ipsum"],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"host_filters":[],"client_email":"Test-e5f8eebedfc95a5e@test-project.iam.gserviceaccount.com","automute":false},"id":"62f1287b-89d6-414d-8b80-713208d91299"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/62f1287b-89d6-414d-8b80-713208d91299
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
