interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679942002","name":"1679942002"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"da910f28-cccd-11ed-bf7d-da7ad0900002","attributes":{"name":"1679942002","handle":"1679942002","summary":null,"description":null,"color":9,"created_at":"2023-03-27T18:33:22.564937+00:00","modified_at":"2023-03-27T18:33:22.564941+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1679942002","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"dadfcaa0-cccd-11ed-9ea9-da7ad0900002","attributes":{"team_id":"da910f28-cccd-11ed-bf7d-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1679942002","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002/links/dadfcaa0-cccd-11ed-9ea9-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/da910f28-cccd-11ed-bf7d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
