interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"event_type":"session","name":"Test
      creating retention filter","query":"custom_query","sample_rate":50},"meta":{"source":"terraform"},"type":"retention_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications/a33671aa-24fd-4dcd-ba4b-5bbdbafe7690/retention_filters
  response:
    body:
      string: '{"data":{"id":"b81b6095-cd80-454f-967e-02cf7bec5b1d","type":"retention_filters","attributes":{"enabled":true,"event_type":"session","name":"Test
        creating retention filter","query":"custom_query","sample_rate":50},"meta":{"source":"terraform"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/%5Bobject%20Object%5D/retention_filters/b81b6095-cd80-454f-967e-02cf7bec5b1d
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"rpc error:
        code = NotFound desc = NotFound: This retention filter does not exist"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
