interactions:
- request:
    body: '{"data":{"attributes":{"from":1671612804000,"query":"service:orders-* AND
      @language:go","to":1671620004000,"track":"invalid-track"},"type":"search_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/error-tracking/issues/search
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"invalid
        json value for TrackType: invalid-track"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
