interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"dabff9f7-18d4-40ac-acd5-50b2d311ff53","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:46.622659Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"dabff9f7-18d4-40ac-acd5-50b2d311ff53","key":"DDFC-98809","merge_status":"NOT_MERGED","priority":"P4","public_id":"99265","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"comment":""},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/dabff9f7-18d4-40ac-acd5-50b2d311ff53/comment
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
