interactions:
- request:
    body: '{"data":{"attributes":{"mute":{"description":"Resolved.","is_muted":false,"reason":"RISK_ACCEPTED"}},"relationships":{"findings":{"data":[{"id":"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==","type":"findings"}]}},"type":"mute"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security/findings/mute
  response:
    body:
      string: '{"errors":[{"status":"422","title":"Invalid Request","detail":"The
        provided reason is not valid for the specified mute action. Possible values:
        [NO_PENDING_FIX HUMAN_ERROR NO_LONGER_ACCEPTED_RISK OTHER]"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
