interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"b69c5616-c246-4650-bf25-affaf5d9454e","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:43.101473Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"b69c5616-c246-4650-bf25-affaf5d9454e","key":"DDFC-75927","merge_status":"NOT_MERGED","priority":"P4","public_id":"75987","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"comment":"Hello World !"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/b69c5616-c246-4650-bf25-affaf5d9454e/comment
  response:
    body:
      string: '{"data":[{"id":"f7623c15-be41-45cd-99bb-9838689cd5cc","type":"timeline_cell","attributes":{"author":{"type":"USER","content":{"ID":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","active":true}},"cell_content":{"message":"Hello
        World !"},"content":"{\"message\":\"Hello World !\"}","created_at":"2025-08-12T11:05:43.486353187Z","type":"COMMENT"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
