interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_On_Call_schedule_returns_Created_response-1764252682@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f4106d12-cb9a-11f0-a56e-4e680b759023","attributes":{"name":null,"handle":"test-create_on_call_schedule_returns_created_response-1764252682@datadoghq.com","created_at":"2025-11-27T14:11:22.860522+00:00","modified_at":"2025-11-27T14:11:22.860522+00:00","email":"test-create_on_call_schedule_returns_created_response-1764252682@datadoghq.com","icon":"https://secure.gravatar.com/avatar/97f54253d0353bf6811320274d5cf8eb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-a115b862e893678b","name":"test-name-a115b862e893678b"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"id":"8802359f-5663-4ed4-b3c8-06d5618def25","type":"team","attributes":{"avatar":null,"banner":2,"created_at":"2025-11-27T14:11:23.389409+00:00","description":null,"handle":"test-handle-a115b862e893678b","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:11:23.389409+00:00","name":"test-name-a115b862e893678b","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/8802359f-5663-4ed4-b3c8-06d5618def25/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/8802359f-5663-4ed4-b3c8-06d5618def25/permission-settings"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:22.484Z","end_date":"2025-12-07T14:11:22.484Z","interval":{"days":1},"members":[{"user":{"id":"f4106d12-cb9a-11f0-a56e-4e680b759023"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:22.484Z"}],"name":"Test-Create_On_Call_schedule_returns_Created_response-1764252682","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"8802359f-5663-4ed4-b3c8-06d5618def25","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"f56173aa-b72e-4a29-a9dd-e8a4fe57f47a","type":"schedules","attributes":{"name":"Test-Create_On_Call_schedule_returns_Created_response-1764252682","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"886b9854-9487-4b13-a4a1-955922ced1cf","type":"layers"}]},"teams":{"data":[{"id":"8802359f-5663-4ed4-b3c8-06d5618def25","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/f56173aa-b72e-4a29-a9dd-e8a4fe57f47a
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/8802359f-5663-4ed4-b3c8-06d5618def25
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f4106d12-cb9a-11f0-a56e-4e680b759023
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
