interactions:
- request:
    body: '{"name": "datadog-api-client-python-test_create_a_detection_rule_returns_ok_response-1616672238.71334",
      "queries": [{"query": "@test:true", "aggregation": "count", "groupByFields":
      [], "distinctFields": [], "metric": ""}], "filters": [], "cases": [{"name":
      "", "status": "info", "condition": "a > 0", "notifications": []}], "options":
      {"evaluationWindow": 900, "keepAlive": 3600, "maxSignalDuration": 86400}, "hasExtendedTitle":
      false, "message": "Test rule", "tags": [], "isDefault": false, "isEnabled":
      true, "type": "log_detection"}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1616672239501,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"aqf-ehy-p0l","isDefault":false,"name":"datadog-api-client-python-test_create_a_detection_rule_returns_ok_response-1616672238.71334"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4167755'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/aqf-ehy-p0l
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4167755'
    status:
      code: 204
      message: No Content
version: 1
