interactions:
- request:
    body: '{"data":{"attributes":{"conditions":[{"field":"severity","values":["SEV-1","SEV-2"]}],"enabled":true,"handles":["@test-email@company.com"],"trigger":"incident_created_trigger","visibility":"organization"},"relationships":{"incident_type":{"data":{"id":"00000000-0000-0000-0000-000000000000","type":"incident_types"}}},"type":"invalid_type"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-rules
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"got type
        \"invalid_type\" expected one of \"incident_notification_rules\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
