interactions:
- request:
    body: '{"data": {"attributes": {"login_method": "standard"}, "type": "org_login_methods"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateOrganizationLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/org_login_methods
  response:
    body:
      string: '{"data":{"type":"org_login_methods","id":"ab59246e-1468-4fd1-87f9-9c7fd9930a3b","attributes":{"created_at":"2020-12-23T12:31:22.427487+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - /AIuUBUzXheMzx1cvxhB+WjJEVZnNytkpRgIpTWZSwENaLk6ZqapvZetzfxbHHYM
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteOrganizationLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/org_login_methods/ab59246e-1468-4fd1-87f9-9c7fd9930a3b
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 4/n0qOsNbcCLs0O62LExTPssq0SdRyX2Rk0dgQQIozMoViHF7e4pyB0ZeXOioNEA
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 204
      message: No Content
version: 1
