interactions:
- request:
    body: '{"data":{"attributes":{"description":"It''s a threshold","monitor_definition":{"message":"cats","name":"High
      Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
      > 100","type":"query alert"},"tags":["category:test"],"template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"title":"api
      spec given template test-get_all_monitor_user_templates_returns_ok_response-1748486181"},"type":"monitor-user-template"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/template
  response:
    body:
      string: '{"data":{"type":"monitor-user-template","attributes":{"description":"It''s
        a threshold","created":"2025-05-29T02:36:21.696273+00:00","template_variables":[{"available_values":[],"defaults":["cats"],"name":"scope"}],"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","version":0,"tags":["category:test"],"modified":"2025-05-29T02:36:21.696273+00:00","title":"api
        spec given template test-get_all_monitor_user_templates_returns_ok_response-1748486181","monitor_definition":{"message":"cats","name":"High
        Error Rate on service","query":"avg(last_5m):sum:system.net.bytes_rcvd{host:host0}
        > 100","type":"query alert"}},"id":"900b870a-1f9d-4b6c-95b7-9859bbb0a778"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/template/900b870a-1f9d-4b6c-95b7-9859bbb0a778
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
