interactions:
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
      staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606"},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","is_builtin":false},"type":"security_filters","id":"dtb-n4z-x9c"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","version":1},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/dtb-n4z-x9c
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1666186606","filtered_data_type":"logs","exclusion_filters":[],"version":2,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1666186606","is_builtin":false},"type":"security_filters","id":"dtb-n4z-x9c"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
