interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"domain_prefix":"48b4b1f5feb870a5","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"241bdfcf-4e32-4c33-9d82-ff079cc74040","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"803fdee3-c46a-40cf-8dce-6ae8db73a204","name":"Login","type":"component","status":"operational","position":0},{"id":"00955671-5931-47be-8212-c62d9ace91a4","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-02-19T21:09:23.271414Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"48b4b1f5feb870a5","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:23.271414Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/241bdfcf-4e32-4c33-9d82-ff079cc74040/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/241bdfcf-4e32-4c33-9d82-ff079cc74040
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
