interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Delete_role_returns_OK_response-1618491751"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"d6ae4ed4-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Delete_role_returns_OK_response-1618491751","created_at":"2021-04-15T13:02:31.457841+00:00","modified_at":"2021-04-15T13:02:31.457841+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '494'
      x-ratelimit-reset:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d6ae4ed4-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '29'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d6ae4ed4-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: '{"errors": ["The role d6ae4ed4-9dea-11eb-9df5-da7ad0900002 does not
        exist not found"]}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '28'
    status:
      code: 404
      message: Not Found
version: 1
