interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Update_a_notification_rule_returns_OK_response-1699997664","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[]},"targets":["test"]},"type":"notification_profiles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles
  response:
    body:
      string: '{"data":{"id":"iqf-mgr-mp4","attributes":{"version":1,"name":"Test-Update_a_notification_rule_returns_OK_response-1699997664","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"implicit_vm_rule_match":false},"enabled":true,"creation_date":1699997664354,"update_date":1699997664354,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_profiles"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"enabled":false,"name":"Test-Update_a_notification_rule_returns_OK_response-1699997664","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[]},"targets":["test2"],"version":1},"type":"notification_profiles"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_profiles/iqf-mgr-mp4
  response:
    body:
      string: '{"data":{"id":"iqf-mgr-mp4","attributes":{"version":2,"name":"Test-Update_a_notification_rule_returns_OK_response-1699997664","targets":["test2"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"implicit_vm_rule_match":false},"enabled":false,"creation_date":1699997664354,"update_date":1699997664577,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_profiles"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
