interactions:
- request:
    body: '{"data":{"attributes":{"description":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","enabled":true,"name":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      string: '{"data":{"id":"h4v-y6f-ycg","attributes":{"name":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","enabled":true,"description":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","rule_query":"source:cloudtrail","suppression_query":"env:test","log_exclusion_query":"","data_exclusion_query":"","version":1,"creation_date":1712570264756,"update_date":1712570264756,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"suppression_query":"env:staging status:low"},"type":"suppressions"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/h4v-y6f-ycg
  response:
    body:
      string: '{"data":{"id":"h4v-y6f-ycg","attributes":{"name":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","enabled":true,"description":"Test-Update_a_suppression_rule_returns_OK_response-1712570263","rule_query":"source:cloudtrail","suppression_query":"env:staging
        status:low","log_exclusion_query":"","data_exclusion_query":"","version":2,"creation_date":1712570264756,"update_date":1712570265486,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
