interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1738093013","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      string: '{"data":{"id":"756d04a2-e0b5-439a-9be0-8772b62ba02c","type":"workflows-webhook-handle","attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1738093013"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1738093013--updated"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/756d04a2-e0b5-439a-9be0-8772b62ba02c
  response:
    body:
      string: '{"data":{"id":"756d04a2-e0b5-439a-9be0-8772b62ba02c","type":"workflows-webhook-handle","attributes":{"name":"Test-Update_workflow_webhook_handle_returns_OK_response-1738093013--updated"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/756d04a2-e0b5-439a-9be0-8772b62ba02c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
