interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1686139084","type":"logs_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1686139084","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1686139084
  response:
    body:
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1686139084","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1686139084"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1686139084
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
