interactions:
- request:
    body: '{"data":{"attributes":{"name":"v1.2.0 - bug fix release"},"type":"versionNames"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/version-name?version=latest
  response:
    body:
      string: '{"errors":[{"status":"404","id":"16fc993f-2445-4b88-b1e7-c924feed5141","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
