interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Delete_a_mute_rule_returns_Rule_successfully_deleted_response-1781624465","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body:
      string: '{"data":{"id":"03c9e010-5a46-40b2-af26-5ff613828897","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624465962,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624465962,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Delete_a_mute_rule_returns_Rule_successfully_deleted_response-1781624465","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/03c9e010-5a46-40b2-af26-5ff613828897
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/03c9e010-5a46-40b2-af26-5ff613828897
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"rule does
        not exist"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
