interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/cost/aws_cur_config/123456
  response:
    body:
      string: '{"data":{"id":"123456","type":"aws_cur_config","attributes":{"account_filters":{"include_new_accounts":null},"account_id":"123456123456","bucket_name":"dd-bucket-name","bucket_region":"us-east-1","created_at":"2023-05-01T20:05:41.849823","error_messages":null,"months":15,"report_name":"report-name-test","report_prefix":"report-prefix-test","status":"active","status_updated_at":"2025-01-15T14:57:27.799558","updated_at":"2023-05-01T20:05:41.849823"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
