interactions:
- request:
    body: '{"filter":{"from":"now-15m","query":"@type:session AND @session.type:user","to":"now"},"options":{"time_offset":0,"timezone":"GMT"},"page":{"limit":25},"sort":"timestamp"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/events/search
  response:
    body:
      string: '{"data":[],"meta":{"elapsed":8,"request_id":"pddv1ChZuVVBDZFI0cFFSQzZUWGR2TUVFYTRRIiwKHKl8fXhuRXGvOyjzriL7J6Jc6RqbmKFnOgcA4oMSDPmicr8fZBUCKcqymg","status":"done"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
