interactions:
- request:
    body: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"000000000005","type":"aws_scan_options"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/aws/000000000003
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"data id must be equal
        to the id provided in the url path"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
