interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679942004","name":"1679942004"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"dbd52aae-cccd-11ed-988f-da7ad0900002","attributes":{"name":"1679942004","handle":"1679942004","summary":null,"description":null,"color":12,"created_at":"2023-03-27T18:33:24.689063+00:00","modified_at":"2023-03-27T18:33:24.689067+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"1679942004","name":"1679942004 updated"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team","id":"dbd52aae-cccd-11ed-988f-da7ad0900002","attributes":{"name":"1679942004
        updated","handle":"1679942004","summary":null,"description":null,"color":12,"created_at":"2023-03-27T18:33:24.689063+00:00","modified_at":"2023-03-27T18:33:25.139823+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/dbd52aae-cccd-11ed-988f-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
