interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679941994","name":"1679941994"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"d5ed9248-cccd-11ed-bdb0-da7ad0900002","attributes":{"name":"1679941994","handle":"1679941994","summary":null,"description":null,"color":12,"created_at":"2023-03-27T18:33:14.782729+00:00","modified_at":"2023-03-27T18:33:14.782734+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002/links/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d5ed9248-cccd-11ed-bdb0-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
