interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Create_a_rum_based_metric_returns_Conflict_response-1729785958"},"group_by":[{"path":"@browser.name","tag":"browser_name"}],"uniqueness":{"when":"match"}},"id":"Test-Create_a_rum_based_metric_returns_Conflict_response-1729785958","type":"rum_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Create_a_rum_based_metric_returns_Conflict_response_1729785958","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Create_a_rum_based_metric_returns_Conflict_response-1729785958"},"group_by":[{"path":"@browser.name","tag_name":"browser.name"}],"uniqueness":{"when":"MATCH"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"event_type":"action"},"id":"Test_Create_a_rum_based_metric_returns_Conflict_response_1729785958","type":"rum_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      string: '{"errors":[{"status":"409","title":"Conflict","detail":"conflict(Field
        ''data.id'' is invalid: ''Test_Create_a_rum_based_metric_returns_Conflict_response_1729785958''
        cannot be used as metric name, a metric already exists with that name)"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/Test_Create_a_rum_based_metric_returns_Conflict_response_1729785958
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
