interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_returns_ok_response-1608079936.683365@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f1bdafb4-3f38-11eb-89bd-83d830046c98","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1608079936.683365@datadoghq.com","created_at":"2020-12-16T00:52:17.136794+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1608079936.683365@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5d3a79a90095a0a12d29e894215ac755?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - h6yqPaHNwx3ZGZPMs75pO93HC01YoL8B6e/Fb89zqQCmU57u6KTAhksrYQV/dzkY
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/f1bdafb4-3f38-11eb-89bd-83d830046c98
  response:
    body:
      string: '{"data":{"type":"users","id":"f1bdafb4-3f38-11eb-89bd-83d830046c98","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_returns_ok_response-1608079936.683365@datadoghq.com","created_at":"2020-12-16T00:52:17.136794+00:00","email":"datadog-api-client-python-test_get_a_user_returns_ok_response-1608079936.683365@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5d3a79a90095a0a12d29e894215ac755?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - Rk64tCoF3V07+a4szeABxTtZIJ+mXpZWikk4VsgNuvqwu3MpGXqLHxCVHOt9N39v
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f1bdafb4-3f38-11eb-89bd-83d830046c98
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - EsLH6+rdgSqeLdBeq9HZpt+45W9grH+dHsUtM9XuCxYJqQJyctcAVJKfVBiasXIW
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 204
      message: No Content
version: 1
