interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Update_On_Call_schedule_returns_OK_response-1764252719@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"09e2b0f4-cb9b-11f0-a56e-4e680b759023","attributes":{"name":null,"handle":"test-update_on_call_schedule_returns_ok_response-1764252719@datadoghq.com","created_at":"2025-11-27T14:11:59.470672+00:00","modified_at":"2025-11-27T14:11:59.470672+00:00","email":"test-update_on_call_schedule_returns_ok_response-1764252719@datadoghq.com","icon":"https://secure.gravatar.com/avatar/62638e49f4a83e63caabec2a6ab50bba?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:59.069Z","end_date":"2025-12-07T14:11:59.069Z","interval":{"days":1},"members":[{"user":{"id":"09e2b0f4-cb9b-11f0-a56e-4e680b759023"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:59.069Z"}],"name":"Test-Update_On_Call_schedule_returns_OK_response-1764252719","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"0e2c2b38-3f21-4216-aeb7-49eb8b371c09","type":"schedules","attributes":{"name":"Test-Update_On_Call_schedule_returns_OK_response-1764252719","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"140f452a-0ecf-48ab-b7e9-e358a2cf925b","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-0db1ad1d49052f19","name":"test-name-0db1ad1d49052f19"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"id":"500acba0-bf4f-4f5c-83be-d0de24c5739c","type":"team","attributes":{"avatar":null,"banner":8,"created_at":"2025-11-27T14:12:00.429799+00:00","description":null,"handle":"test-handle-0db1ad1d49052f19","hidden_modules":[],"link_count":0,"modified_at":"2025-11-27T14:12:00.429799+00:00","name":"test-name-0db1ad1d49052f19","summary":null,"user_count":0,"visible_modules":[]},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/500acba0-bf4f-4f5c-83be-d0de24c5739c/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/500acba0-bf4f-4f5c-83be-d0de24c5739c/permission-settings"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:59.069Z","end_date":"2025-12-07T14:11:59.069Z","id":"140f452a-0ecf-48ab-b7e9-e358a2cf925b","interval":{"seconds":3600},"members":[{"user":{"id":"09e2b0f4-cb9b-11f0-a56e-4e680b759023"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:59.069Z"}],"name":"Test-Update_On_Call_schedule_returns_OK_response-1764252719","time_zone":"America/New_York"},"id":"0e2c2b38-3f21-4216-aeb7-49eb8b371c09","relationships":{"teams":{"data":[{"id":"500acba0-bf4f-4f5c-83be-d0de24c5739c","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/0e2c2b38-3f21-4216-aeb7-49eb8b371c09
  response:
    body:
      string: '{"data":{"id":"0e2c2b38-3f21-4216-aeb7-49eb8b371c09","type":"schedules","attributes":{"name":"Test-Update_On_Call_schedule_returns_OK_response-1764252719","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"140f452a-0ecf-48ab-b7e9-e358a2cf925b","type":"layers"}]},"teams":{"data":[{"id":"500acba0-bf4f-4f5c-83be-d0de24c5739c","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/500acba0-bf4f-4f5c-83be-d0de24c5739c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/09e2b0f4-cb9b-11f0-a56e-4e680b759023
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
