interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_returns_OK_response-1618576109@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"4054f8aa-9eaf-11eb-9e40-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618576109@datadoghq.com","created_at":"2021-04-16T12:28:30.068357+00:00","modified_at":"2021-04-16T12:28:30.100290+00:00","email":"test-get_a_user_returns_ok_response-1618576109@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0c21337fb54500f71cde0b1a0420f63b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/4054f8aa-9eaf-11eb-9e40-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"4054f8aa-9eaf-11eb-9e40-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618576109@datadoghq.com","created_at":"2021-04-16T12:28:30.068357+00:00","modified_at":"2021-04-16T12:28:30.100290+00:00","email":"test-get_a_user_returns_ok_response-1618576109@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0c21337fb54500f71cde0b1a0420f63b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4327775'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/4054f8aa-9eaf-11eb-9e40-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4327775'
    status:
      code: 204
      message: No Content
version: 1
