interactions:
- request:
    body: '{"data":{"attributes":{"description":"A sample workflow.","name":"Example
      Workflow","published":true,"spec":{"connectionEnvs":[{"connections":[{"connectionId":"11111111-1111-1111-1111-111111111111","label":"INTEGRATION_DATADOG"}],"env":"default"}],"inputSchema":{"parameters":[{"defaultValue":"default","name":"input","type":"STRING"}]},"outputSchema":{"parameters":[{"name":"output","type":"ARRAY_OBJECT","value":"outputValue"}]},"steps":[{"actionId":"com.datadoghq.dd.monitor.listMonitors","connectionLabel":"INTEGRATION_DATADOG","name":"Step1","outboundEdges":[{"branchName":"main","nextStepName":"Step2"}],"parameters":[{"name":"tags","value":"service:monitoring"}]},{"actionId":"com.datadoghq.core.noop","name":"Step2"}],"triggers":[{"monitorTrigger":{"rateLimit":{"count":1,"interval":"3600s"}},"startStepNames":["Step1"]},{"githubWebhookTrigger":{},"startStepNames":["Step1"]}]},"tags":["team:infra","service:monitoring","foo:bar"]},"type":"workflows"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/workflows
  response:
    body:
      string: '{"data":{"id":"6e011494-48af-46ff-82a2-25ac95128192","type":"workflows","attributes":{"createdAt":"2025-05-20T19:25:36.301621Z","description":"A
        sample workflow.","name":"Example Workflow","published":true,"spec":{"triggers":[{"startStepNames":["Step1"],"monitorTrigger":{"rateLimit":{"count":1,"interval":"3600s"}}},{"startStepNames":["Step1"],"githubWebhookTrigger":{}}],"steps":[{"name":"Step1","actionId":"com.datadoghq.dd.monitor.listMonitors","connectionLabel":"INTEGRATION_DATADOG","parameters":[{"name":"tags","value":"service:monitoring"}],"outboundEdges":[{"nextStepName":"Step2","branchName":"main"}]},{"name":"Step2","actionId":"com.datadoghq.core.noop"}],"connectionEnvs":[{"env":"default","connections":[{"connectionId":"11111111-1111-1111-1111-111111111111","label":"INTEGRATION_DATADOG"}]}],"inputSchema":{"parameters":[{"name":"input","type":"STRING","defaultValue":"default"}]},"outputSchema":{"parameters":[{"name":"output","type":"ARRAY_OBJECT","value":"outputValue"}]}},"systemTags":["service:monitoring","team:infra"],"tags":["foo:bar","service:monitoring","team:infra"],"updatedAt":"2025-05-20T19:25:36.301621Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/workflows/6e011494-48af-46ff-82a2-25ac95128192
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
