interactions:
- request:
    body: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testcreateaworkloadprotectionagentrulewithsetactionwithexpressionreturnsokresponse1765469361"},"type":"policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      string: '{"data":{"id":"xia-aut-8xj","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTagsLists":[["env:staging"]],"monitoringRulesCount":7,"name":"testcreateaworkloadprotectionagentrulewithsetactionwithexpressionreturnsokresponse1765469361","pinned":false,"policyVersion":"1","ruleCount":8,"updateDate":1765469362120,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"actions":[{"set":{"default_value":"/dev/null","expression":"exec.file.path","name":"test_set","scope":"process"}}],"description":"My
      Agent rule with set action with expression","enabled":true,"expression":"exec.file.name
      == \"sh\"","filters":[],"name":"testcreateaworkloadprotectionagentrulewithsetactionwithexpressionreturnsokresponse1765469361","policy_id":"xia-aut-8xj","product_tags":[]},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      string: '{"data":{"id":"0xb-jfr-rih","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_set","default_value":"/dev/null","expression":"exec.file.path","scope":"process"},"disabled":false}],"category":"Process
        Activity","creationDate":1765469362850,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule with set action with expression","enabled":true,"expression":"exec.file.name
        == \"sh\"","filters":["os == \"linux\""],"monitoring":["xia-aut-8xj"],"name":"testcreateaworkloadprotectionagentrulewithsetactionwithexpressionreturnsokresponse1765469361","product_tags":[],"updateDate":1765469362850,"updater":{"name":"frog","handle":"frog@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/0xb-jfr-rih
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/xia-aut-8xj
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
