interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Create_outcomes_batch_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"type":"rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body:
      string: '{"data":{"id":"b124b446-f246-41ab-b477-99293969cc5e","type":"rule","attributes":{"category":"OpenAPI
        Spec Test Best Practices","created_at":"2023-11-01T22:17:31.577258Z","custom":true,"enabled":true,"modified_at":"2023-11-01T22:17:31.577258Z","name":"Test-Create_outcomes_batch_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
        Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"results":[{"remarks":"See: <a href=\"https://app.datadoghq.com/services\">Services</a>","rule_id":"b124b446-f246-41ab-b477-99293969cc5e","service_name":"my-service","state":"pass"}]},"type":"batched-outcome"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/scorecard/outcomes/batch
  response:
    body:
      string: '{"data":[{"id":"b124b446-f246-41ab-b477-99293969cc5e\\my-service","type":"outcome","attributes":{"modified_at":"2023-11-01T22:17:31.68808Z","remarks":"See:
        \u003ca href=\"https://app.datadoghq.com/services\"\u003eServices\u003c/a\u003e","service_name":"my-service","state":"pass"},"relationships":{"rule":{"data":{"id":"b124b446-f246-41ab-b477-99293969cc5e","type":"rule"}}}}],"meta":{"total_received":1,"total_updated":1}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/scorecard/rules/b124b446-f246-41ab-b477-99293969cc5e
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 204
      message: No Content
version: 1
