interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":3},"max_allowed_per_user":1000},"data":[{"type":"application_keys","id":"109352f1-8828-5305-8e07-f9224517a443","attributes":{"name":"XXXXXXXXXXXXXXX","created_at":"2021-04-15T14:20:28.940731+00:00","last4":"beef"}},{"type":"application_keys","id":"4d462b64-f64d-5e23-aed5-01f4b10fb9f2","attributes":{"name":"XXXXXXXXXXXXXXXXXX","created_at":"2021-04-29T15:54:07.404178+00:00","last4":"beef"}},{"type":"application_keys","id":"b35e8f9a-a94b-5b20-8ec2-4b76dd2e13e1","attributes":{"name":"XXXXXX","created_at":"2021-04-19T14:01:09.155025+00:00","last4":"beef"}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
