interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_a_user_returns_OK_response-1652349215@datadoghq.com","name":"Datadog
      API Client Python"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"6409ce70-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1652349215@datadoghq.com","created_at":"2022-05-12T09:53:35.809381+00:00","modified_at":"2022-05-12T09:53:35.827707+00:00","email":"test-create_a_user_returns_ok_response-1652349215@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ae2bdc16fa2261f6d4aec640077b332f?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/6409ce70-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
