interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-427b76ae43f10fe0","name":"test-name-427b76ae43f10fe0"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"33d811ca-405b-11ee-a640-da7ad0900002","attributes":{"name":"test-name-427b76ae43f10fe0","handle":"test-handle-427b76ae43f10fe0","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:55.105594+00:00","modified_at":"2023-08-21T19:44:55.105599+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/33d811ca-405b-11ee-a640-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
