interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"423ed66623e5d9e2","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"0ea78329-1935-47e6-98e8-3178e6e849a2","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"8a559237-d655-4ca4-ac9c-d5b22387d23c","name":"Application","type":"group","position":0,"components":[{"id":"9b3dc9e8-a282-4d7a-a15a-b4d9e941a086","name":"Login","type":"component","status":"operational","position":0},{"id":"fffdd9b9-a2eb-41d4-ac85-7c91c0a4df68","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:44.286172Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"423ed66623e5d9e2","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:44.286172Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/0ea78329-1935-47e6-98e8-3178e6e849a2/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"components_affected":[{"id":"9b3dc9e8-a282-4d7a-a15a-b4d9e941a086","status":"major_outage"}],"description":"Our
      API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated
      API Latency"},"type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/0ea78329-1935-47e6-98e8-3178e6e849a2/degradations
  response:
    body:
      string: '{"data":{"id":"affd3fe5-a59c-4928-9b5b-72f2b22cde19","type":"degradations","attributes":{"components_affected":[{"id":"9b3dc9e8-a282-4d7a-a15a-b4d9e941a086","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:44.935459Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:44.935459Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"a852c60f-4e5e-433d-8b7d-e318ba3b1b97","created_at":"2026-02-19T21:09:44.935459Z","modified_at":"2026-02-19T21:09:44.935459Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"9b3dc9e8-a282-4d7a-a15a-b4d9e941a086","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0ea78329-1935-47e6-98e8-3178e6e849a2","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"title":"Elevated API Latency in US1"},"id":"affd3fe5-a59c-4928-9b5b-72f2b22cde19","type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/statuspages/0ea78329-1935-47e6-98e8-3178e6e849a2/degradations/affd3fe5-a59c-4928-9b5b-72f2b22cde19
  response:
    body:
      string: '{"data":{"id":"affd3fe5-a59c-4928-9b5b-72f2b22cde19","type":"degradations","attributes":{"com[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/0ea78329-1935-47e6-98e8-3178e6e849a2
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
