interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1732807886"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}},"id":"testupdatearumbasedmetricreturnsnotfoundresponse1732807886","type":"rum_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics
  response:
    body:
      string: '{"data":{"id":"testupdatearumbasedmetricreturnsnotfoundresponse1732807886","type":"rum_metrics","attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":true,"path":"@duration"},"event_type":"session","filter":{"query":"source:Test-Update_a_rum_based_metric_returns_Not_Found_response-1732807886"},"group_by":[{"path":"@browser.name","tag_name":"browser_name"}],"uniqueness":{"when":"match"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"compute":{"include_percentiles":true}},"id":"8fc991bf-967e-4652-8a5b-0711a985abe3","type":"rum_metrics"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/8fc991bf-967e-4652-8a5b-0711a985abe3
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"not_found(Metric
        with name ''8fc991bf-967e-4652-8a5b-0711a985abe3'' not found)"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/config/metrics/testupdatearumbasedmetricreturnsnotfoundresponse1732807886
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
