interactions:
- request:
    body: '{"data":{"attributes":{"from_ts":1721505230,"interval":"monthly","query":"slo_type:metric
      \"SLO Reporting Test\"","timezone":"America/New_York","to_ts":1724961230}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      string: '{"data":{"id":"69cfaa02-6640-11ef-8501-33b2b403f044","type":"report_id"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
