interactions:
- request:
    body: '{"series":[{"metric":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","points":[[1652354850,1.1]],"tags":["test:ExampleSubmitmetricsreturnsPayloadacceptedresponse"],"type":"gauge"}]}'
    headers:
      content-type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      content-type:
      - text/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"data":{"attributes":{"metric_type":"gauge","tags":["app","datacenter"]},"id":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","type":"manage_tags"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1652354850/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"TestCreateatagconfigurationreturnsCreatedresponse1652354850","attributes":{"tags":["datacenter","app"],"created_at":"2022-05-12T11:27:35.411959+00:00","modified_at":"2022-05-12T11:27:35.411959+00:00","metric_type":"gauge","aggregations":[{"space":"avg","time":"avg"}]}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestCreateatagconfigurationreturnsCreatedresponse1652354850/tags
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
