interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Update_a_user_returns_OK_response-1618576079@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"2e62c794-9eaf-11eb-9e3e-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1618576079@datadoghq.com","created_at":"2021-04-16T12:27:59.961240+00:00","modified_at":"2021-04-16T12:27:59.991888+00:00","email":"test-update_a_user_returns_ok_response-1618576079@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6b9d0421dbb72082df38c599bcb50527?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "2e62c794-9eaf-11eb-9e3e-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/2e62c794-9eaf-11eb-9e3e-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"2e62c794-9eaf-11eb-9e3e-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1618576079@datadoghq.com","created_at":"2021-04-16T12:27:59.961240+00:00","modified_at":"2021-04-16T12:28:00.646629+00:00","email":"test-update_a_user_returns_ok_response-1618576079@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6b9d0421dbb72082df38c599bcb50527?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      x-dd-version:
      - '35.4327775'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/2e62c794-9eaf-11eb-9e3e-da7ad0900002
  response:
    body:
      string: '{"errors": ["2e62c794-9eaf-11eb-9e3e-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
    status:
      code: 404
      message: Not Found
version: 1
