interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"100b029e-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074","created_at":"2022-05-12T09:51:14.889838+00:00","modified_at":"2022-05-12T09:51:14.940000+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"attribute_key":"testgetanauthnmappingbyuuidreturnsokresponse1652349074","attribute_value":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074"},"relationships":{"role":{"data":{"id":"100b029e-d1d9-11ec-ad3d-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/authn_mappings
  response:
    body:
      string: '{"included":[{"type":"roles","id":"100b029e-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074","created_at":"2022-05-12T09:51:14.889838+00:00","modified_at":"2022-05-12T09:51:14.940000+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"},{"type":"permissions","id":"b6bf9ac6-9a59-11ec-8480-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"10da3f46-d1d9-11ec-ad3d-da7ad0900002","attributes":{"attribute_key":"testgetanauthnmappingbyuuidreturnsokresponse1652349074","attribute_value":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074","created_at":"2022-05-12T09:51:16.248429+00:00","modified_at":"2022-05-12T09:51:16.248429+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"100b029e-d1d9-11ec-ad3d-da7ad0900002"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/authn_mappings/10da3f46-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      string: '{"included":[{"type":"roles","id":"100b029e-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1652349074","created_at":"2022-05-12T09:51:14.889838+00:00","modified_at":"2022-05-12T09:51:14.940000+00:00"},"relationships":{"permissions":{"data":[{"type":"permis[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/100b029e-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
