interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_all_Application_keys_returns_OK_response-1639757124"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"99423f64-d715-47f5-8188-d03e0d508b8c","attributes":{"name":"Test-Get_all_Application_keys_returns_OK_response-1639757124","created_at":"2021-12-17T16:05:25.175706+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/application_keys
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 28}, "max_allowed_per_user":
        1000}, "data": [{"type": "application_keys", "id": "f22f59f2-50cd-4d48-b8b7-1ed748973ce8",
        "attributes": {"name": "Test-Typescript-Delete_an_Application_key_returns_No_Content_response-1639174548",
        "created_at": "2021-12-10T22:15:49.116590+00:00", "last4": "beef"}, "relationships":
        {"owned_by": {"data": {"type": "users", "id": "9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/99423f64-d715-47f5-8188-d03e0d508b8c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
