interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-98fa6b5d3df15a52","name":"test-name-98fa6b5d3df15a52"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"id":"ec95ccd2-5cf4-494a-971c-84a604f7dde5","type":"team","attributes":{"avatar":null,"banner":0,"created_at":"2026-01-23T11:00:17.893904+00:00","description":null,"handle":"test-handle-98fa6b5d3df15a52","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-23T11:00:17.893904+00:00","name":"test-name-98fa6b5d3df15a52","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/permission-settings"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1769166017","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"b433501a-f84a-11f0-9cd8-da7ad0900002","attributes":{"team_id":"ec95ccd2-5cf4-494a-971c-84a604f7dde5","label":"Test-Update_a_team_link_returns_OK_response-1769166017","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5/links/b433501a-f84a-11f0-9cd8-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ec95ccd2-5cf4-494a-971c-84a604f7dde5
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
