interactions:
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-05-03T00:41:58.620Z","end_date":"2025-05-23T00:41:58.620Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-08T00:41:58.620Z"}],"name":"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1747096918","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"a69018b0-28a9-4ec1-ad13-dd74bb82ad3c","type":"schedules","attributes":{"name":"Test-Get_the_schedule_of_an_on_call_user_returns_OK_response-1747096918","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"133a579b-0b88-4732-91bd-7eb4a75271ab","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/a69018b0-28a9-4ec1-ad13-dd74bb82ad3c/on-call
  response:
    body:
      string: '{"data":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596-2025-05-12T20:41:59-04:00-2025-05-13T20:41:58-04:00","type":"shifts","attributes":{"end":"2025-05-13T20:41:58-04:00","start":"2025-05-12T20:41:59.394997-04:00"},"relationships":{"user":{"data":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/a69018b0-28a9-4ec1-ad13-dd74bb82ad3c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
