interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"9f1a4d75-3a34-47b7-9eab-692f290e7b1b","type":"incident_types","attributes":{"createdAt":"2024-11-04T18:02:45.286101149Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2024-11-04T18:02:45.286101149Z","name":"Security
        Incident","prefix":"IR"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/9f1a4d75-3a34-47b7-9eab-692f290e7b1b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/9f1a4d75-3a34-47b7-9eab-692f290e7b1b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
