interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_scheduled_on_call_user_returns_OK_response-1764838218@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"42e2447f-d0ee-11f0-b246-f6a778e5e220","attributes":{"name":null,"handle":"test-get_scheduled_on_call_user_returns_ok_response-1764838218@datadoghq.com","created_at":"2025-12-04T08:50:19.140471+00:00","modified_at":"2025-12-04T08:50:19.140471+00:00","email":"test-get_scheduled_on_call_user_returns_ok_response-1764838218@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6a6c3614a2758d626d4fcde0e9727205?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-11-24T08:50:18.341Z","end_date":"2025-12-14T08:50:18.341Z","interval":{"days":1},"members":[{"user":{"id":"42e2447f-d0ee-11f0-b246-f6a778e5e220"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-29T08:50:18.341Z"}],"name":"Test-Get_scheduled_on_call_user_returns_OK_response-1764838218","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"7f4eb086-4141-4f2a-ae4a-c0a06816672b","type":"schedules","attributes":{"name":"Test-Get_scheduled_on_call_user_returns_OK_response-1764838218","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"ad5985ec-b9e0-4dc7-aff9-a7bb75fc334f","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/7f4eb086-4141-4f2a-ae4a-c0a06816672b/on-call
  response:
    body:
      string: '{"data":{"id":"42e2447f-d0ee-11f0-b246-f6a778e5e220-2025-12-04T03:50:19-05:00-2025-12-05T03:50:18-05:00","type":"shifts","attributes":{"end":"2025-12-05T03:50:18-05:00","start":"2025-12-04T03:50:19.261184-05:00"},"relationships":{"user":{"data":{"id":"42e2447f-d0ee-11f0-b246-f6a778e5e220","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/7f4eb086-4141-4f2a-ae4a-c0a06816672b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/42e2447f-d0ee-11f0-b246-f6a778e5e220
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
