interactions:
- request:
    body: '{"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":7,"severity":"critical"}],"due_from":"first_seen"},"enabled":true,"name":"Test-Update_a_due_date_rule_returns_Successfully_updated_the_due_date_rule_response-1781624478","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"due_date_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules
  response:
    body:
      string: '{"data":{"id":"22df6980-9710-496d-bf46-85e0ac181dc0","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":7}],"due_from":"first_seen"},"created_at":1781624478629,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624478629,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Update_a_due_date_rule_returns_Successfully_updated_the_due_date_rule_response-1781624478","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"action":{"due_days_per_severity":[{"due_in_days":14,"severity":"critical"}],"due_from":"first_seen"},"enabled":false,"name":"Test-Update_a_due_date_rule_returns_Successfully_updated_the_due_date_rule_response-1781624478","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"due_date_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/22df6980-9710-496d-bf46-85e0ac181dc0
  response:
    body:
      string: '{"data":{"id":"22df6980-9710-496d-bf46-85e0ac181dc0","type":"due_date_rules","attributes":{"action":{"due_days_per_severity":[{"severity":"critical","due_in_days":14}],"due_from":"first_seen"},"created_at":1781624478629,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":false,"modified_at":1781624479036,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Update_a_due_date_rule_returns_Successfully_updated_the_due_date_rule_response-1781624478","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/due_date_rules/22df6980-9710-496d-bf46-85e0ac181dc0
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
