interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"e030702b-1f81-4ff0-94ba-ff9650823cf3","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:47:05.547127Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"e030702b-1f81-4ff0-94ba-ff9650823cf3","key":"DDFC-82988","merge_status":"NOT_MERGED","priority":"P4","public_id":"83077","status":"OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"status":"IN_PROGRESS"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/e030702b-1f81-4ff0-94ba-ff9650823cf3/status
  response:
    body:
      string: '{"data":{"id":"e030702b-1f81-4ff0-94ba-ff9650823cf3","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:47:05.547127Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"e030702b-1f81-4ff0-94ba-ff9650823cf3","key":"DDFC-82988","merge_status":"NOT_MERGED","modified_at":"2025-10-01T12:47:05.982532Z","priority":"P4","public_id":"83077","status":"IN_PROGRESS","status_name":"In
        Progress","title":"My new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
