interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679942005","name":"1679942005"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"dc7e6240-cccd-11ed-bc0b-da7ad0900002","attributes":{"name":"1679942005","handle":"1679942005","summary":null,"description":null,"color":8,"created_at":"2023-03-27T18:33:25.798162+00:00","modified_at":"2023-03-27T18:33:25.798166+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"role":"admin"},"type":"team_memberships"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002/memberships/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/dc7e6240-cccd-11ed-bc0b-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
