interactions:
- request:
    body: '{"data":{"attributes":{"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113","template":[{"content":"You
      are a helpful customer support assistant for {{company_name}}.","role":"system"},{"content":"Help
      {{customer_name}} with this question: {{question}}","role":"user"}],"title":"Customer
      Support Assistant"},"type":"prompt-templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      string: '{"data":{"id":"7d3137ab-7d6a-5358-b791-26ead4540e09","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-21T12:31:53.812929348Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-21T12:31:53.812929348Z","num_versions":1,"prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113","source":"registry","title":"Customer
        Support Assistant"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113
  response:
    body:
      string: '{"data":{"id":"7d3137ab-7d6a-5358-b791-26ead4540e09","type":"prompt-templates","attributes":{"deleted_at":"2026-07-21T12:31:55.799078Z","prompt_id":"Test-Create_an_LLM_Observability_prompt_returns_OK_response-1784637113"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
