interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.Test-test_aggregate_events_returns_ok_response-1617968227",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"pddv1ChZNdzZVdWNySVRoeVBtenNld21JLUVRIi0KHduZlPjbEQiJlQzQNqDDlX1JPdaZUjdmXp1pIkwEEgzJkZv5APp_dPujxn4","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '173'
    status:
      code: 200
      message: OK
version: 1
