interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Delete_an_application_key_owned_by_current_user_returns_No_Content_response-1697466191"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"be94f6b2-1704-4126-a898-94d65f6f28d8","attributes":{"name":"Test-Delete_an_application_key_owned_by_current_user_returns_No_Content_response-1697466191","created_at":"2023-10-16T14:23:12.034758+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/be94f6b2-1704-4126-a898-94d65f6f28d8
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/be94f6b2-1704-4126-a898-94d65f6f28d8
  response:
    body:
      string: '{"errors":["Application key not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
