interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"ce12e269-ed50-4b7d-b0b6-01e1f48b8c89","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/ce12e269-ed50-4b7d-b0b6-01e1f48b8c89
  response:
    body:
      string: '{"data":{"id":"ce12e269-ed50-4b7d-b0b6-01e1f48b8c89","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/ce12e269-ed50-4b7d-b0b6-01e1f48b8c89
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
