interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Update_a_mute_rule_returns_Successfully_updated_the_mute_rule_response-1781624479","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body:
      string: '{"data":{"id":"9a1d22ad-558c-4c4e-bdf5-72cd264cf7a9","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624479894,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624479894,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Update_a_mute_rule_returns_Successfully_updated_the_mute_rule_response-1781624479","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"action":{"reason":"false_positive"},"enabled":false,"name":"Test-Update_a_mute_rule_returns_Successfully_updated_the_mute_rule_response-1781624479","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/9a1d22ad-558c-4c4e-bdf5-72cd264cf7a9
  response:
    body:
      string: '{"data":{"id":"9a1d22ad-558c-4c4e-bdf5-72cd264cf7a9","type":"mute_rules","attributes":{"action":{"reason":"false_positive"},"created_at":1781624479894,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":false,"modified_at":1781624480318,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Update_a_mute_rule_returns_Successfully_updated_the_mute_rule_response-1781624479","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/9a1d22ad-558c-4c4e-bdf5-72cd264cf7a9
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
