interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_update_a_logbased_metric_returns_ok_response-1617953706.675267"}},
      "id": "Test-test_update_a_logbased_metric_returns_ok_response-1617953706.675267",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_update_a_logbased_metric_returns_ok_response_1617953706.675267","attributes":{"filter":{"query":"source:Test-test_update_a_logbased_metric_returns_ok_response-1617953706.675267"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '293'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "Test_test_update_a_logbased_metric_returns_ok_response_1617953706.675267",
      "type": "logs_metrics", "attributes": {"filter": {"query": "source:Test-test_update_a_logbased_metric_returns_ok_response-1617953706.675267-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_update_a_logbased_metric_returns_ok_response_1617953706.675267
  response:
    body:
      string: '{"data":{"id":"Test_test_update_a_logbased_metric_returns_ok_response_1617953706.675267","attributes":{"filter":{"query":"source:Test-test_update_a_logbased_metric_returns_ok_response-1617953706.675267-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '293'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_update_a_logbased_metric_returns_ok_response_1617953706.675267
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4970'
      x-ratelimit-reset:
      - '1492'
    status:
      code: 200
      message: OK
version: 1
