interactions:
- request:
    body: '{"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1743713884"]},"name":"test
      rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1743713884"]},"recipients":["slack-monitor-app"],"creator_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","modified_at":"1970-01-01T00:00:00+00:00","name":"test
        rule","created_at":"2025-04-03T20:58:05.080336+00:00"},"id":"30523422-5ed5-477d-b310-211ab89031dc"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_bad_request_response-1743713884","host:abc"]},"name":"updated
      rule","recipients":["@slack-test-channel"]},"id":"30523422-5ed5-477d-b310-211ab89031dc","type":"monitor-notification-rule"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/30523422-5ed5-477d-b310-211ab89031dc
  response:
    body:
      string: '{"errors":["Invalid recipients: Recipient handle should not start with
        ''@''"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/30523422-5ed5-477d-b310-211ab89031dc
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
