interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"c0ea5a28-68e7-11ee-af78-7221d1e45f66","attributes":{"name":null,"handle":"c0ea5a28-68e7-11ee-af78-7221d1e45f66","created_at":"2023-10-12T10:11:47.838233+00:00","modified_at":"2023-10-12T10:11:47.838233+00:00","email":"test-create_an_application_key_for_this_service_account_returns_created_response-1697105507@datadoghq.com","icon":"https://secure.gravatar.com/avatar/45057f7ed4c5662bd175fd2657bf58f2?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/c0ea5a28-68e7-11ee-af78-7221d1e45f66/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"6315ab43-ce92-4130-b6d2-94ceb5f7142a","attributes":{"name":"Test-Create_an_application_key_for_this_service_account_returns_Created_response-1697105507","created_at":"2023-10-12T10:11:48.340554+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c0ea5a28-68e7-11ee-af78-7221d1e45f66"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/c0ea5a28-68e7-11ee-af78-7221d1e45f66/application_keys/6315ab43-ce92-4130-b6d2-94ceb5f7142a
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/c0ea5a28-68e7-11ee-af78-7221d1e45f66
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
