interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1701962406@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"1a6aac59-9514-11ee-8d56-0adb1a638a47","attributes":{"name":null,"handle":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1701962406@datadoghq.com","created_at":"2023-12-07T15:20:07.014747+00:00","modified_at":"2023-12-07T15:20:07.014747+00:00","email":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1701962406@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0a707b27174d49cd592ec7a4fc13bc4d?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"3386799c-00cc-11ea-a77b-eb0f88a49e0f"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1701962406@datadoghq.com"],"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1701962406"]},"id":"system.load.1","type":"metric_bulk_configure_tags"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/config/bulk-tags
  response:
    body:
      string: '{"data":{"type":"metric_bulk_configure_tags","id":"system.load.1","attributes":{"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1701962406"],"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1701962406@datadoghq.com"],"status":"Accepted","exclude_tags_mode":null}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/1a6aac59-9514-11ee-8d56-0adb1a638a47
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
