interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_all_service_objects_returns_OK_response-1655132328","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body:
      string: '{"data":{"attributes":{"region":"us","name":"Test-Get_all_service_objects_returns_OK_response-1655132328","custom_url":null},"type":"opsgenie-service","id":"337861b6-ed46-4c66-b4a0-32d7a4ba94b9"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services/337861b6-ed46-4c66-b4a0-32d7a4ba94b9
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
