interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-5a20aee41547b866","name":"name-5a20aee41547b866"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"5a6cbeba-ef4f-11ed-9628-da7ad0900002","attributes":{"name":"name-5a20aee41547b866","handle":"handle-5a20aee41547b866","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:26:01.688992+00:00","modified_at":"2023-05-10T16:26:01.688999+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"handle-5a20aee41547b866","name":"name-5a20aee41547b866
      updated"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team","id":"5a6cbeba-ef4f-11ed-9628-da7ad0900002","attributes":{"name":"name-5a20aee41547b866
        updated","handle":"handle-5a20aee41547b866","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:26:01.688992+00:00","modified_at":"2023-05-10T16:26:01.882353+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/5a6cbeba-ef4f-11ed-9628-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
