interactions:
- request:
    body: '{"data":{"attributes":{"auth_method":"oauth","client_id":"fakeclientid","client_secret":"fakeclientsecret","domain":"https://dev-test.okta.com/","name":"testlistoktaaccountsreturnsokresponse1700585986"},"type":"okta-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body:
      string: '{"data":{"type":"okta-accounts","attributes":{"client_id":"fakeclientid","name":"testlistoktaaccountsreturnsokresponse1700585986","auth_method":"oauth","domain":"https://dev-test.okta.com/"},"id":"a5e9a04b-ac5b-4a5c-a4d5-c697deb232aa"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts/a5e9a04b-ac5b-4a5c-a4d5-c697deb232aa
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
