interactions:
- request:
    body: '{"data":{"attributes":{"env":"staging","service":"non-existent-service-xyz"},"type":"deployment_gates_evaluation_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/deployments/gates/evaluation
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"no gate found
        for service non-existent-service-xyz, env staging, and identifier default"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
