interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_list_roles_returns_ok_response-1617953714.016699"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"1fb3583e-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_list_roles_returns_ok_response-1617953714.016699","created_at":"2021-04-09T07:35:14.562298+00:00","modified_at":"2021-04-09T07:35:14.562298+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '495'
      x-ratelimit-reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=Test-test_list_roles_returns_ok_response-1617953714.016699
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3480}},"data":[{"type":"roles","id":"1fb3583e-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_list_roles_returns_ok_response-1617953714.016699","created_at":"2021-04-09T07:35:14.562298+00:00","modified_at":"2021-04-09T07:35:14.562298+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '494'
      x-ratelimit-reset:
      - '46'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/1fb3583e-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '45'
    status:
      code: 204
      message: No Content
version: 1
