interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "Test-test_create_a_user_returns_ok_response-1617968198@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d89fced8-9927-11eb-9ceb-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-test_create_a_user_returns_ok_response-1617968198@datadoghq.com","created_at":"2021-04-09T11:36:38.204475+00:00","modified_at":"2021-04-09T11:36:38.219180+00:00","email":"test-test_create_a_user_returns_ok_response-1617968198@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f2c282efee1c73593211bd023d4835f9?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d89fced8-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
version: 1
