interactions:
- request:
    body: '{"name": "Test-Delete_an_existing_rule_returns_OK_response-1618831528",
      "queries": [{"query": "@test:true", "aggregation": "count", "groupByFields":
      [], "distinctFields": [], "metric": ""}], "filters": [], "cases": [{"name":
      "", "status": "info", "condition": "a > 0", "notifications": []}], "options":
      {"evaluationWindow": 900, "keepAlive": 3600, "maxSignalDuration": 86400}, "message":
      "Test rule", "tags": [], "isEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618831528496,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"5ri-aq2-gz8","isDefault":false,"name":"Test-Delete_an_existing_rule_returns_OK_response-1618831528"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/5ri-aq2-gz8
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4339380'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/5ri-aq2-gz8
  response:
    body:
      string: '{"errors":["Threat detection rule not found: 5ri-aq2-gz8"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4339380'
    status:
      code: 404
      message: Not Found
version: 1
