interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "5m", "type": "timeseries"}],
      "filter": {"from": "now-15m", "indexes": ["main"], "query": "*", "to": "now"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"pddv1ChY5cjc0MktqclRaV1lGdVJVODVTOWV3IiwKHK0u6RuqXLXD8sJvwwz_qe9dtl4osBDiJ9HGh2MSDJ3yYk4uBvbPLvozvg","elapsed":4},"data":{"buckets":[{"computes":{"c0":[{"value":2,"time":"2021-06-02T07:50:00.000Z"},{"value":5,"time":"2021-06-02T07:55:00.000Z"},{"value":1,"time":"2021-06-02T08:00:00.000Z"}]},"by":{}}]}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4654814'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-reset:
      - '22'
    status:
      code: 200
      message: OK
version: 1
