interactions:
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"An incident has been
      declared. Please join the incident channel for updates.","name":"Test Template","subject":"Incident
      Alert"},"type":"invalid_type"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"got type
        \"invalid_type\" expected one of \"notification_templates\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
