interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_returns_ok_response-1617968201@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"da98bc86-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617968201@datadoghq.com","created_at":"2021-04-09T11:36:41.512383+00:00","modified_at":"2021-04-09T11:36:41.553148+00:00","email":"test-test_get_a_user_returns_ok_response-1617968201@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bf6f7f0b019f699ba4a997efd7eca8f0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/da98bc86-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"da98bc86-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617968201@datadoghq.com","created_at":"2021-04-09T11:36:41.512383+00:00","modified_at":"2021-04-09T11:36:41.553148+00:00","email":"test-test_get_a_user_returns_ok_response-1617968201@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bf6f7f0b019f699ba4a997efd7eca8f0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/da98bc86-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
version: 1
