interactions:
- request:
    body: '{"data":{"attributes":{"from_ts":1710870996,"interval":"monthly","query":"slo_type:metric
      \"SLO Reporting Test\"","to_ts":1712685396}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/slo/report
  response:
    body:
      string: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/slo/report/8288c800-f69a-11ee-aab1-0772aa10fea1/status
  response:
    body:
      string: '{"data":{"id":"8288c800-f69a-11ee-aab1-0772aa10fea1","type":"report_id","attributes":{"status":"in_progress"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
