interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1641829898@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf","attributes":{"name":null,"handle":"cb10abbd-04d2-44db-8ae8-b8aa7cb700cf","created_at":"2022-01-10T15:51:38.877542+00:00","modified_at":"2022-01-10T15:51:38.913618+00:00","email":"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1641829898@datadoghq.com","icon":"https://secure.gravatar.com/avatar/dc95dff7458abc481def50bb5c7b1d7f?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf/application_keys
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":0},"max_allowed_per_user":1000},"data":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/cb10abbd-04d2-44db-8ae8-b8aa7cb700cf
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
