interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"fc450a02-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050","created_at":"2021-04-09T07:55:43.610013+00:00","modified_at":"2021-04-09T07:55:43.610013+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '483'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "Test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"fccb6a84-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050@datadoghq.com","created_at":"2021-04-09T07:55:44.489313+00:00","modified_at":"2021-04-09T07:55:44.524451+00:00","email":"test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9b8a5013d20251d2645eb3248b688d84?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      x-dd-version:
      - '35.4273965'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "fccb6a84-9908-11eb-9ce8-da7ad0900002", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/fc450a02-9908-11eb-9ce8-da7ad0900002/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"fccb6a84-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050@datadoghq.com","created_at":"2021-04-09T07:55:44.489313+00:00","modified_at":"2021-04-09T07:55:44.524451+00:00","email":"test-test_add_a_user_to_a_role_returns_ok_response-1617954943.050@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9b8a5013d20251d2645eb3248b688d84?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"fc450a02-9908-11eb-9ce8-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '482'
      x-ratelimit-reset:
      - '16'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/fccb6a84-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4273965'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/fc450a02-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '481'
      x-ratelimit-reset:
      - '14'
    status:
      code: 204
      message: No Content
version: 1
