interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"f0e95b2e-1132-46eb-95ad-86ea23bd5ef1","type":"incident_types","attributes":{"createdAt":"2026-01-19T20:15:50.950799587Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-19T20:15:50.950799669Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"An incident has been
      declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected Services:
      web-service, database-service\nStatus: active\n\nPlease join the incident channel
      for updates.","name":"Test-Create_incident_notification_template_returns_Created_response-1768853750","subject":"SEV-2
      Incident: Sample Incident Title"},"relationships":{"incident_type":{"data":{"id":"f0e95b2e-1132-46eb-95ad-86ea23bd5ef1","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"data":{"id":"f1e7a13e-f9c4-41ac-9d49-1b10bf6b5910","type":"notification_templates","attributes":{"category":"alert","content":"An
        incident has been declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected
        Services: web-service, database-service\nStatus: active\n\nPlease join the
        incident channel for updates.","created":"2026-01-19T20:15:51.200076Z","modified":"2026-01-19T20:15:51.200076Z","name":"Test-Create_incident_notification_template_returns_Created_response-1768853750","subject":"SEV-2
        Incident: Sample Incident Title"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"f0e95b2e-1132-46eb-95ad-86ea23bd5ef1","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/f1e7a13e-f9c4-41ac-9d49-1b10bf6b5910
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/f0e95b2e-1132-46eb-95ad-86ea23bd5ef1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
