interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"2f9b2becfee9c7e6","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"31d2b0c8-d4c4-4336-9286-f656f17db3e6","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"1cf3ef81-f392-4ca0-934f-5255ef3a0747","name":"Application","type":"group","position":0,"components":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","name":"Login","type":"component","status":"operational","position":0},{"id":"6ddadacd-6897-4851-a41c-bfe2f9f10919","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:30.917541Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"2f9b2becfee9c7e6","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:30.917541Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/31d2b0c8-d4c4-4336-9286-f656f17db3e6/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"components_affected":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","status":"major_outage"}],"description":"Our
      API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated
      API Latency"},"type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/31d2b0c8-d4c4-4336-9286-f656f17db3e6/degradations
  response:
    body:
      string: '{"data":{"id":"1428e2ae-f8e1-42a5-a008-d0dce5470a75","type":"degradations","attributes":{"components_affected":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:31.624248Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:31.624248Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"6493b9ae-cbbf-48d8-8343-c903be2f5bc2","created_at":"2026-02-19T21:09:31.624248Z","modified_at":"2026-02-19T21:09:31.624248Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"31d2b0c8-d4c4-4336-9286-f656f17db3e6","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/31d2b0c8-d4c4-4336-9286-f656f17db3e6/degradations/1428e2ae-f8e1-42a5-a008-d0dce5470a75
  response:
    body:
      string: '{"data":{"id":"1428e2ae-f8e1-42a5-a008-d0dce5470a75","type":"degradations","attributes":{"components_affected":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:31.624248Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:31.624248Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"6493b9ae-cbbf-48d8-8343-c903be2f5bc2","created_at":"2026-02-19T21:09:31.624248Z","modified_at":"2026-02-19T21:09:31.624248Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"4bb4cfaf-c2b8-4dec-bba3-689caecb1f39","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"31d2b0c8-d4c4-4336-9286-f656f17db3e6","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/31d2b0c8-d4c4-4336-9286-f656f17db3e6
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
