interactions:
- request:
    body: '{"data":{"attributes":{"description":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","enabled":true,"name":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","rule_query":"source:cloudtrail","suppression_query":"env:test"},"type":"suppressions"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      string: '{"data":{"id":"ol3-0o2-rrp","attributes":{"name":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","enabled":true,"description":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","rule_query":"source:cloudtrail","suppression_query":"env:test","data_exclusion_query":"","version":1,"creation_date":1715358886671,"update_date":1715358886671,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/ol3-0o2-rrp
  response:
    body:
      string: '{"data":{"id":"ol3-0o2-rrp","attributes":{"name":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","enabled":true,"description":"Test-Get_a_suppression_rule_returns_OK_response-1715358886","rule_query":"source:cloudtrail","suppression_query":"env:test","data_exclusion_query":"","version":1,"creation_date":1715358886671,"update_date":1715358886671,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"suppressions"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
