interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"9289de40ecee7851","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"5fee28e5-913c-4c8e-b043-d580d3f99848","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"787b5f03-cbdf-40ce-b1da-75943e70dc1d","name":"Application","type":"group","position":0,"components":[{"id":"a646452b-3e0d-4a0f-be71-234237dd6b4f","name":"Login","type":"component","status":"operational","position":0},{"id":"1501d5e7-2576-4d6e-ab2c-9197f75e3210","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-24T17:00:47.709256Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"9289de40ecee7851","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-24T17:00:47.709256Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/5fee28e5-913c-4c8e-b043-d580d3f99848/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/5fee28e5-913c-4c8e-b043-d580d3f99848
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/5fee28e5-913c-4c8e-b043-d580d3f99848
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
