interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5","attributes":{"name":null,"handle":"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5","created_at":"2022-01-10T15:51:31.005540+00:00","modified_at":"2022-01-10T15:51:31.037643+00:00","email":"test-create_an_app_key_for_this_service_account_returns_created_response-1641829890@datadoghq.com","icon":"https://secure.gravatar.com/avatar/92bd7f1dc0fcaed5d4f3243367618d70?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"2d3d834d-db1d-44cb-af79-1714a814e31d","attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1641829890","created_at":"2022-01-10T15:51:31.563628+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"5fcb6052-3eb4-42a1-8bd7-6aa675a095f5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5/application_keys/2d3d834d-db1d-44cb-af79-1714a814e31d
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/5fcb6052-3eb4-42a1-8bd7-6aa675a095f5
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
