interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Disable_a_user_returns_OK_response-1617999726@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"41301770-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1617999726@datadoghq.com","created_at":"2021-04-09T20:22:06.891911+00:00","modified_at":"2021-04-09T20:22:06.941403+00:00","email":"test-disable_a_user_returns_ok_response-1617999726@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6d3e99ce921e8993a12bc357c84c967d?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/41301770-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/41301770-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"errors": ["41301770-9971-11eb-9cf2-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4280781'
    status:
      code: 404
      message: Not Found
version: 1
