interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.Test-Aggregate_events_returns_OK_response-1617999691",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"pddv1ChY3LWF5R0VIYVRlSzlfRWV4ejJEeXpRIi0KHURQXwDCaJUHrfNIYbuND-eCDNe4ETcH5_6-rxBQEgw2rLd5SJWNwUQEKA8","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '209'
    status:
      code: 200
      message: OK
version: 1
