interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_an_On_Call_email_for_a_user_returns_Bad_Request_response-1762958161@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b","attributes":{"name":null,"handle":"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com","created_at":"2025-11-12T14:36:01.627725+00:00","modified_at":"2025-11-12T14:36:01.627725+00:00","email":"test-create_an_on_call_email_for_a_user_returns_bad_request_response-1762958161@datadoghq.com","icon":"https://secure.gravatar.com/avatar/0c60562056ba523711aac984491c4445?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"active":true,"address":"","alias":"","formats":["html"]},"type":"emails"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b/notification-channels/emails
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute
        \"address\" is required"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e94824bc-bfd4-11f0-adaa-1e9e4b86ba5b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
