interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@http.status_code:200
      service:my-service"},"filter_type":"spans-sampling-processor","name":"my retention
      filter","rate":2},"type":"apm_retention_filter"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      string: '{"errors":["Invalid Pipeline","''rate'' must exist and be between 0
        and 1"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
