interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Get_notification_profile_by_id_returns_OK_response-1713390910","selectors":{"attributes":["fim:true"],"implicit_vm_rule_match":false,"rule_tags":["fim:true"],"rule_types":["log_detection","cloud_configuration"],"severities":["high"],"signal_tags":[],"trigger_source":"security_signals"},"targets":["test"]},"type":"notification_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules
  response:
    body:
      string: '{"data":{"id":"gab-c0o-kzb","attributes":{"version":1,"name":"Test-Get_notification_profile_by_id_returns_OK_response-1713390910","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"query":"(fim:\"true\"
        OR @fim:\"true\")","migrated":true,"trigger_source":"security_signals","implicit_vm_rule_match":false},"enabled":true,"creation_date":1713390910151,"update_date":1713390910151,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/notification_rules/gab-c0o-kzb
  response:
    body:
      string: '{"data":{"id":"gab-c0o-kzb","attributes":{"version":1,"name":"Test-Get_notification_profile_by_id_returns_OK_response-1713390910","targets":["test"],"selectors":{"severities":["high"],"rule_types":["log_detection","cloud_configuration"],"rule_tags":["fim:true"],"signal_tags":[],"attributes":["fim:true"],"query":"(fim:\"true\"
        OR @fim:\"true\")","migrated":true,"trigger_source":"security_signals","implicit_vm_rule_match":false},"enabled":true,"creation_date":1713390910151,"update_date":1713390910151,"creator":{"name":null,"handle":"frog@datadoghq.com"},"updater":{"name":null,"handle":"frog@datadoghq.com"}},"type":"notification_rules"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
