interactions:
- request:
    body: '{"data":{"attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor"}}],"enabled":true,"name":"test","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","test":"1","type":"test"}},"type":"custom_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules
  response:
    body:
      string: '{"data":{"id":"d24ec83d-caad-4291-9def-ea54a33810be","type":"custom_rule","attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"badactor","options":{}}}],"enabled":true,"metadata":{"added_at":"2025-02-26T10:56:43Z","added_by":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","added_by_name":"CI
        Account"},"name":"test - 12","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","test":"1","type":"test"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"blocking":false,"conditions":[{"operator":"match_regex","parameters":{"inputs":[{"address":"server.request.query","key_path":["id"]}],"regex":"\\"}}],"enabled":false,"name":"test","path_glob":"/test","scope":[{"env":"test","service":"test"}],"tags":{"category":"attack_attempt","test":"1","type":"test"}},"type":"custom_rule"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/d24ec83d-caad-4291-9def-ea54a33810be
  response:
    body:
      string: '{"errors":[{"title":"failed to decode request","code":"400"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/asm/waf/custom_rules/d24ec83d-caad-4291-9def-ea54a33810be
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
