interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_invitation_returns_OK_response-1618831534@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f57a7a9e-a101-11eb-9f19-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1618831534@datadoghq.com","created_at":"2021-04-19T11:25:35.038403+00:00","modified_at":"2021-04-19T11:25:35.138966+00:00","email":"test-get_a_user_invitation_returns_ok_response-1618831534@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b0b1eca13bca3b7d21b17977161f6de8?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "f57a7a9e-a101-11eb-9f19-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"f5ecbabe-a101-11eb-9f19-da7ad0900002","attributes":{"uuid":"f5ecbabe-a101-11eb-9f19-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-19T11:25:35.788192+00:00","expires_at":"2021-04-21T11:25:35.704088+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f57a7a9e-a101-11eb-9f19-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/f5ecbabe-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"f5ecbabe-a101-11eb-9f19-da7ad0900002","attributes":{"uuid":"f5ecbabe-a101-11eb-9f19-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-19T11:25:35.788192+00:00","expires_at":"2021-04-21T11:25:35.704088+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f57a7a9e-a101-11eb-9f19-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f57a7a9e-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4339380'
    status:
      code: 204
      message: No Content
version: 1
