interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ec5fd754-3f38-11eb-89bd-f799b55e8a66","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412@datadoghq.com","created_at":"2020-12-16T00:52:08.133985+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412@datadoghq.com","icon":"https://secure.gravatar.com/avatar/42ad2580406752d01446ed57cc267691?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kU8oLj3zrGL/NsMXNRXUrvjc5SX7m5Zi20YpnuFt2mcszekWqSDwHwhFasJc2aus
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":83819}},"data":[{"type":"users","id":"ec5fd754-3f38-11eb-89bd-f799b55e8a66","attributes":{"name":null,"handle":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412@datadoghq.com","created_at":"2020-12-16T00:52:08.133985+00:00","email":"datadog-api-client-python-test_list_all_users_returns_ok_response-1608079927.699412@datadoghq.com","icon":"https://secure.gravatar.com/avatar/42ad2580406752d01446ed57cc267691?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - FELlv8T8VRoaBxHjLbAG9Fvj68G6pP0FZF7JKMI72/5H4OtG/s8AVYiF1c9f4D6g
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ec5fd754-3f38-11eb-89bd-f799b55e8a66
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - KZy0Z61AelGSMiW0wwPuJyNwjEfJ0APCpzGlt7XM1KaE6e4cHzuLEBcvgVZz4sZ0
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 204
      message: No Content
version: 1
