interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1618491767"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"e0384ca2-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618491767","created_at":"2021-04-15T13:02:47.462368+00:00","modified_at":"2021-04-15T13:02:47.462368+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - L3ULR3HwCWYmEqCWGz2Yob3chcH4pjowBacBXkncP7o+/uPqKt9yGEYf/g1AJPzQ
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '466'
      x-ratelimit-reset:
      - '13'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_OK_response-1618491767-updated"},"id":"e0384ca2-9dea-11eb-9df5-da7ad0900002","type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/e0384ca2-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"e0384ca2-9dea-11eb-9df5-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618491767-updated","created_at":"2021-04-15T13:02:47.462368+00:00","modified_at":"2021-04-15T13:02:47.948937+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '465'
      x-ratelimit-reset:
      - '13'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/e0384ca2-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '464'
      x-ratelimit-reset:
      - '12'
    status:
      code: 204
      message: No Content
version: 1
