interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-d9940b7456e5c622","name":"name-d9940b7456e5c622"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"582432c8-ef4f-11ed-bdd4-da7ad0900002","attributes":{"name":"name-d9940b7456e5c622","handle":"handle-d9940b7456e5c622","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:25:57.858187+00:00","modified_at":"2023-05-10T16:25:57.858193+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Remove_a_team_link_returns_No_Content_response-1683735957","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"584c2a94-ef4f-11ed-9556-da7ad0900002","attributes":{"team_id":"582432c8-ef4f-11ed-bdd4-da7ad0900002","label":"Test-Remove_a_team_link_returns_No_Content_response-1683735957","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002/links/584c2a94-ef4f-11ed-9556-da7ad0900002
  response:
    body:
      string: '{"errors":["Link for ID 584c2a94-ef4f-11ed-9556-da7ad0900002 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/582432c8-ef4f-11ed-bdd4-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
