interactions:
- request:
    body: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["websocket-source"],"processors":[{"enabled":true,"id":"filter-processor","include":"status:error","type":"filter"}]}],"sources":[{"auth_strategy":"bearer","decoding":"json","id":"websocket-source","tls":{"mode":"enabled"},"token_key":"WS_BEARER_TOKEN","type":"websocket","uri_key":"WS_URI"}]},"name":"Pipeline
      with WebSocket Source"},"type":"pipelines"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body:
      string: '{"errors":[]}

        '
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
