interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-c87e4cf0f4edb309","name":"test-name-c87e4cf0f4edb309"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"302a1e60-405b-11ee-aa12-da7ad0900002","attributes":{"name":"test-name-c87e4cf0f4edb309","handle":"test-handle-c87e4cf0f4edb309","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:48.932658+00:00","modified_at":"2023-08-21T19:44:48.932663+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002/permission-settings
  response:
    body:
      string: '{"data":[{"type":"team_permission_settings","attributes":{"action":"manage_membership","value":"organization","title":"Add
        and Remove Members","editable":true,"options":["user_access_manage","admins","members","organization"]},"id":"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-manage_membership"},{"type":"team_permission_settings","attributes":{"action":"edit","value":"members","title":"Edit
        Team Details","editable":true,"options":["teams_manage","admins","members"]},"id":"TeamPermission-302a1e60-405b-11ee-aa12-da7ad0900002-edit"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/302a1e60-405b-11ee-aa12-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
