interactions:
- request:
    body: '{"data":{"attributes":{"auth_method":"oauth","client_id":"fakeclientid","client_secret":"fakeclientsecret","domain":"https://dev-test.okta.com/","name":"testupdateoktaaccountreturnsokresponse1706630043"},"type":"okta-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body:
      string: '{"data":{"type":"okta-accounts","attributes":{"name":"testupdateoktaaccountreturnsokresponse1706630043","auth_method":"oauth","domain":"https://dev-test.okta.com/","client_id":"fakeclientid"},"id":"e8630371-1a60-4444-b84e-f674beec5f73"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"auth_method":"oauth","client_id":"client_id","client_secret":"client_secret","domain":"https://example.okta.com/"},"type":"okta-accounts"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts/e8630371-1a60-4444-b84e-f674beec5f73
  response:
    body:
      string: '{"data":{"type":"okta-accounts","attributes":{"name":"testupdateoktaaccountreturnsokresponse1706630043","client_id":"client_id","domain":"https://example.okta.com/","auth_method":"oauth"},"id":"7caeaadf-8391-45b0-b99b-5356eed810fd"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts/e8630371-1a60-4444-b84e-f674beec5f73
  response:
    body:
      string: '{"errors":["Unknown error occurred: "]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
