interactions:
- request:
    body: '{"data": {"attributes": {"login_method": "standard"}, "type": "org_login_methods"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateOrganizationLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/org_login_methods
  response:
    body:
      string: '{"data":{"type":"org_login_methods","id":"9c13a611-a27f-447c-9526-a1111b11dbc3","attributes":{"created_at":"2020-12-23T12:17:17.746821+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - POuDbGLugqXrJfoVh1EySG2rrzsK54DWLRF5/pTAPkxizo7RlYf80RrCYTzc0hnv
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteOrganizationLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/org_login_methods/9c13a611-a27f-447c-9526-a1111b11dbc3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1cd0/X8iFjFNZXjpX11JpiLJbbxmicjztoLT0xgVCngh7XkSAjfiT2A4vALPTlNE
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteOrganizationLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/org_login_methods/9c13a611-a27f-447c-9526-a1111b11dbc3
  response:
    body:
      string: '{"errors": ["Org login method 9c13a611-a27f-447c-9526-a1111b11dbc3
        not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 404
      message: Not Found
version: 1
