interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1652349208@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"926e55a1-cfc6-4d4f-9d5c-543b8327ba78","attributes":{"name":null,"handle":"926e55a1-cfc6-4d4f-9d5c-543b8327ba78","created_at":"2022-05-12T09:53:29.427553+00:00","modified_at":"2022-05-12T09:53:29.459704+00:00","email":"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1652349208@datadoghq.com","icon":"https://secure.gravatar.com/avatar/520a9146f5c8d512b89e5fc4234eff5f?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/926e55a1-cfc6-4d4f-9d5c-543b8327ba78/application_keys
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":0},"max_allowed_per_user":1000},"data":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/926e55a1-cfc6-4d4f-9d5c-543b8327ba78
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
