interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Disable_a_user_returns_OK_response-1618491773@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e3b24630-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-disable_a_user_returns_ok_response-1618491773@datadoghq.com","created_at":"2021-04-15T13:02:53.294369+00:00","modified_at":"2021-04-15T13:02:53.332183+00:00","email":"test-disable_a_user_returns_ok_response-1618491773@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e3ce12407bac4d97bee50c9ecdc8ad59?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4318655'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e3b24630-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4318655'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e3b24630-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: '{"errors": ["e3b24630-9dea-11eb-9df5-da7ad0900002 not found"]}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4318655'
    status:
      code: 404
      message: Not Found
version: 1
