interactions:
- request:
    body: '{"data":{"attributes":{"cloud_provider":{"invalid":{"aws_account_id":["tag1:v1"]}}},"id":"csm_resource_filter","type":"csm_resource_filter"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/resource_filters
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Invalid
        cloud provider invalid"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
