interactions:
- request:
    body: '{"data":{"attributes":{"filter":{"from":"now","query":"service:web* AND
      @http.status_code:[200 TO 299]","to":"now-15m"},"options":{"timezone":"GMT"},"page":{"limit":10},"sort":"timestamp"},"type":"search_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/spans/events/search
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"invalid_argument(Field
        ''filter.from,to'' is invalid: ''from'' should be anterior to ''to'')"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
