interactions:
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testgetacsmthreatsagentrulereturnsokresponse1709907549"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      string: '{"data":{"id":"hod-pqw-spq","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1709907549922,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1709907549","updateDate":1709907549922,"updater":{"name":"Malo
        Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/hod-pqw-spq
  response:
    body:
      string: '{"data":{"id":"hod-pqw-spq","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1709907549000,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetacsmthreatsagentrulereturnsokresponse1709907549","updateDate":1709907549000,"updater":{"name":"Malo
        Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/hod-pqw-spq
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
