interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_returns_ok_response-1617954908.795@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e7de8c64-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617954908.795@datadoghq.com","created_at":"2021-04-09T07:55:09.382604+00:00","modified_at":"2021-04-09T07:55:09.416210+00:00","email":"test-test_get_a_user_returns_ok_response-1617954908.795@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9e6b3613dd58996268c925dc87969170?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4273965'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/e7de8c64-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"e7de8c64-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617954908.795@datadoghq.com","created_at":"2021-04-09T07:55:09.382604+00:00","modified_at":"2021-04-09T07:55:09.416210+00:00","email":"test-test_get_a_user_returns_ok_response-1617954908.795@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9e6b3613dd58996268c925dc87969170?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e7de8c64-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4273965'
    status:
      code: 204
      message: No Content
version: 1
