interactions:
- request:
    body: '{"data":{"attributes":{"jobDefinition":{"cases":[{"condition":"a > 1","name":"Condition
      1","notifications":[],"status":"info"}],"from":1730387522611,"index":"main","message":"A
      large number of failed login attempts.","name":"Excessive number of failed attempts.","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"query":"source:non_existing_src_weekend"}],"tags":[],"to":1730387532611,"type":"log_detection"}},"type":"historicalDetectionsJobCreate"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs
  response:
    body:
      string: '{"data":{"id":"21011d0e-e7e3-49e1-91d4-74d6791382c8","type":"historicalDetectionsJob"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/21011d0e-e7e3-49e1-91d4-74d6791382c8/cancel
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
