interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1641829846","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"aa974b16-31b0-4f3b-956d-8af3445eddbc","attributes":{"name":"Test-Create_an_Application_key_with_scopes_for_current_user_returns_Created_response-1641829846","created_at":"2022-01-10T15:50:46.973085+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":["dashboards_read","dashboards_write","dashboards_public_share"]},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/aa974b16-31b0-4f3b-956d-8af3445eddbc
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
