interactions:
- request:
    body: '{"data": {"id": "Test-Delete_a_log_based_metric_returns_OK_response-1618386931",
      "attributes": {"filter": {"query": "source:Test-Delete_a_log_based_metric_returns_OK_response-1618386931"},
      "compute": {"aggregation_type": "count"}}, "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Delete_a_log_based_metric_returns_OK_response_1618386931","attributes":{"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1618386931"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '22'
      x-ratelimit-reset:
      - '269'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618386931
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '21'
      x-ratelimit-reset:
      - '268'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1618386931
  response:
    body:
      string: '{"errors":["not_found(Metric with name ''Test_Delete_a_log_based_metric_returns_OK_response_1618386931''
        not found)"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4306674'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '20'
      x-ratelimit-reset:
      - '268'
    status:
      code: 404
      message: Not Found
version: 1
