interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/synthetics/tests/network/amg-96x-tps
  response:
    body:
      string: '{"data":{"type":"network_test","attributes":{"config":{"request":{"traceroute_queries":3,"tcp_method":"prefer_sack","max_ttl":30,"e2e_queries":50,"host":"example.com","port":443},"assertions":[{"operator":"lessThan","property":"avg","target":500,"type":"latency"}]},"public_id":"amg-96x-tps","locations":["aws:us-east-1","agent:my-agent-name"],"options":{"tick_every":60},"name":"Example
        Network Path test","message":"Network Path test notification","type":"network","status":"paused","subtype":"tcp","tags":["env:production"]},"id":"amg-96x-tps"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
