interactions:
- request:
    body: '{"data":{"attributes":{"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","api_secret":"test-api-secret","resources":[{"id":"test-resource-id","resource_type":"kafka","tags":["tag1","tag2:val2"]}],"tags":["tag1","tag2:val2"]},"type":"confluent-cloud-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts
  response:
    body:
      string: '{"data":{"type":"confluent-cloud-accounts","id":"8a03a240e4d322d42edf6d4f4654a624","attributes":{"resources":[{"resource_type":"kafka","tags":["tag1","tag2:val2"],"enable_custom_metrics":false,"id":"test-resource-id"}],"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","tags":["tag1","tag2:val2"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/8a03a240e4d322d42edf6d4f4654a624
  response:
    body:
      string: '{"data":{"type":"confluent-cloud-accounts","attributes":{"resources":[{"enable_custom_metrics":false,"id":"test-resource-id","tags":["tag1","tag2:val2"],"resource_type":"kafka"}],"api_key":"TestGetConfluentaccountreturnsOKresponse1688395121","tags":["tag1","tag2:val2"]},"id":"8a03a240e4d322d42edf6d4f4654a624"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/confluent-cloud/accounts/8a03a240e4d322d42edf6d4f4654a624
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
