interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Update_an_On_Call_email_for_a_user_returns_OK_response-1762964025@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9079b462-bfe2-11f0-a49d-e64699b8fdba","attributes":{"name":null,"handle":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","created_at":"2025-11-12T16:13:45.589524+00:00","modified_at":"2025-11-12T16:13:45.589524+00:00","email":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","icon":"https://secure.gravatar.com/avatar/4b60f346cb0c28a61ac9db60531c8446?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"active":true,"address":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/9079b462-bfe2-11f0-a49d-e64699b8fdba/notification-channels/emails
  response:
    body:
      string: '{"data":{"id":"9a61f64e-3092-4654-ac91-5f0ffdaf96cb","type":"emails","attributes":{"active":true,"address":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T16:13:45.834889Z","formats":["html"],"modified_at":"2025-11-12T16:13:45.834889Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"active":true,"address":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","alias":"Test-Update_an_On_Call_email_for_a_user_returns_OK_response-1762964025-alias","formats":["html"]},"id":"9a61f64e-3092-4654-ac91-5f0ffdaf96cb","type":"emails"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/on-call/users/9079b462-bfe2-11f0-a49d-e64699b8fdba/notification-channels/emails/9a61f64e-3092-4654-ac91-5f0ffdaf96cb
  response:
    body:
      string: '{"data":{"id":"9a61f64e-3092-4654-ac91-5f0ffdaf96cb","type":"emails","attributes":{"active":true,"address":"test-update_an_on_call_email_for_a_user_returns_ok_response-1762964025@datadoghq.com","alias":"Test-Update_an_On_Call_email_for_a_user_returns_OK_response-1762964025-alias","blocked":false,"created_at":"2025-11-12T16:13:45.834889Z","formats":["html"],"modified_at":"2025-11-12T16:13:45.925234Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9079b462-bfe2-11f0-a49d-e64699b8fdba
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
