interactions:
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
      staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1664284019","query":"service:TestGetasecurityfilterreturnsOKresponse1664284019"},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1664284019","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1664284019","is_builtin":false},"type":"security_filters","id":"iy5-coy-b9b"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/iy5-coy-b9b
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1664284019","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1664284019","is_builtin":false},"type":"security_filters","id":"iy5-coy-b9b"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
