interactions:
- request:
    body: '{"data":{"attributes":{"mute":{"description":"Resolved.","is_muted":false,"reason":"NO_PENDING_FIX"}},"relationships":{"findings":{"data":[{"id":"ZGVmLTAwcC1pZXJ-aS0wZjhjNjMyZDNmMzRlZTgzNw==","type":"findings"}]}},"type":"mute"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security/findings/mute
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"finding not
        found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
