interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
      test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention
      filter","rate":0.9},"type":"apm_retention_filter"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      string: '{"data":{"id":"-v1Gd2orR3G29xzbVzy6lQ","attributes":{"name":"demo retention
        filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1695635854,"created_by":"frog@datadoghq.com","created_at":1695635854},"type":"apm_retention_filter"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      string: '{"data":[{"id":"jdZrilSJQLqzb6Cu7aub9Q","attributes":{"name":"Application
        Security Monitoring Default","rate":1.0,"enabled":false,"filter_type":"spans-appsec-sampling-processor","filter":{"query":"@appsec.event:true"},"editable":false,"execution_order":1},"type":"apm_retention_filter"},{"id":"7RBOb7dLSYWI01yc3pIH8w","attributes":{"name":"Error
        Default","rate":1.0,"enabled":true,"filter_type":"spans-errors-sampling-processor","filter":{"query":"status:error"},"editable":false,"execution_order":2},"type":"apm_retention_filter"},{"id":"-v1Gd2orR3G29xzbVzy6lQ","attributes":{"name":"demo
        retention filter","rate":0.9,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"execution_order":3,"modified_by":"frog@datadoghq.com","modified_at":1695635854,"created_by":"frog@datadoghq.com","created_at":1695635854},"type":"apm_retention_filter"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/-v1Gd2orR3G29xzbVzy6lQ
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
