interactions:
- request:
    body: '{"data":{"attributes":{"active":true,"address":"john.doe@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/00000000-0000-0000-0000-000000000000/notification-channels/emails
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"user[00000000-0000-0000-0000-000000000000]
        not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
