interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-b98be6aba3b71089","name":"test-name-b98be6aba3b71089"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"2d8e0130-405b-11ee-869d-da7ad0900002","attributes":{"name":"test-name-b98be6aba3b71089","handle":"test-handle-b98be6aba3b71089","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:44.553464+00:00","modified_at":"2023-08-21T19:44:44.553470+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-b98be6aba3b71089","name":"Example
      Team"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"errors":["Team name and handle must be unique"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2d8e0130-405b-11ee-869d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
