interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"49a23d4af2a80106","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"51dd94af-6ed5-4c50-aa43-1e120bd06e09","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"0f4d2310-ba73-4a02-8c00-b1f1383961bb","name":"Application","type":"group","position":0,"components":[{"id":"156bb32c-3472-4c72-8778-cf0409ff41a4","name":"Login","type":"component","status":"operational","position":0},{"id":"f1e71af8-5eaa-4424-b0de-49a4db2e48c5","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:34.619287Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"49a23d4af2a80106","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:34.619287Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/51dd94af-6ed5-4c50-aa43-1e120bd06e09/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/51dd94af-6ed5-4c50-aa43-1e120bd06e09
  response:
    body:
      string: '{"data":{"id":"51dd94af-6ed5-4c50-aa43-1e120bd06e09","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"0f4d2310-ba73-4a02-8c00-b1f1383961bb","name":"Application","type":"group","position":0,"components":[{"id":"156bb32c-3472-4c72-8778-cf0409ff41a4","name":"Login","type":"component","status":"operational","position":0},{"id":"f1e71af8-5eaa-4424-b0de-49a4db2e48c5","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:34.619287Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"49a23d4af2a80106","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:34.619287Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/51dd94af-6ed5-4c50-aa43-1e120bd06e09/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/51dd94af-6ed5-4c50-aa43-1e120bd06e09
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
