interactions:
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testupdateacsmthreatsagentrulereturnsbadrequestresponse1709907555"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      string: '{"data":{"id":"oes-jfu-tm8","type":"agent_rule","attributes":{"category":"Process
        Activity","creationDate":1709907556177,"creator":{"name":"Malo Le Goff","handle":"malo.legoff@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testupdateacsmthreatsagentrulereturnsbadrequestresponse1709907555","updateDate":1709907556177,"updater":{"name":"Malo
        Le Goff","handle":"malo.legoff@datadoghq.com"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"open.file.path
      = sh"},"id":"abc-123-xyz","type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/oes-jfu-tm8
  response:
    body:
      string: '{"errors":[{"title":"failed to update rule"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/oes-jfu-tm8
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
