interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-87a259270e6183b1","name":"test-name-87a259270e6183b1"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"2e28b978-405b-11ee-9792-da7ad0900002","attributes":{"name":"test-name-87a259270e6183b1","handle":"test-handle-87a259270e6183b1","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:45.568097+00:00","modified_at":"2023-08-21T19:44:45.568104+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2e28b978-405b-11ee-9792-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2e28b978-405b-11ee-9792-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/2e28b978-405b-11ee-9792-da7ad0900002/links/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2e28b978-405b-11ee-9792-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
