interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"aa1d5972-5aa2-11f1-94cc-52d8072c8863","attributes":{"uuid":"aa1d5972-5aa2-11f1-94cc-52d8072c8863","name":null,"handle":"aa1d5972-5aa2-11f1-94cc-52d8072c8863","created_at":"2026-05-28T14:36:51.044856+00:00","modified_at":"2026-05-28T14:36:51.044856+00:00","email":"test-update_an_access_token_for_a_service_account_returns_ok_response-1779979010@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5a4f64a0801adb0c3e3a456f8540dde0?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010","scopes":["dashboards_read"]},"type":"service_access_tokens"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/aa1d5972-5aa2-11f1-94cc-52d8072c8863/access_tokens
  response:
    body:
      string: '{"data":{"id":"87e35e26-368c-479b-85bd-1036f303736e","type":"service_access_tokens","attributes":{"created_at":"2026-05-28T14:36:51.482285572Z","expires_at":null,"key":"xxxxx_xxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxXxxxxxxxxxxxxxxxxxxxxxxx","name":"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010","public_portion":"ddsat_48Ps23zLj44c8YDq0ApfDS","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"aa1d5972-5aa2-11f1-94cc-52d8072c8863","type":"service_account"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010-updated"},"id":"87e35e26-368c-479b-85bd-1036f303736e","type":"service_access_tokens"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/service_accounts/aa1d5972-5aa2-11f1-94cc-52d8072c8863/access_tokens/87e35e26-368c-479b-85bd-1036f303736e
  response:
    body:
      string: '{"data":{"id":"87e35e26-368c-479b-85bd-1036f303736e","type":"service_access_tokens","attributes":{"created_at":"2026-05-28T14:36:51.482285Z","expires_at":null,"last_used_at":null,"modified_at":"2026-05-28T14:36:51.792511Z","name":"Test-Update_an_access_token_for_a_service_account_returns_OK_response-1779979010-updated","public_portion":"ddsat_48Ps23zLj44c8YDq0ApfDS","scopes":["dashboards_read"]},"relationships":{"owned_by":{"data":{"id":"aa1d5972-5aa2-11f1-94cc-52d8072c8863","type":"service_account"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/aa1d5972-5aa2-11f1-94cc-52d8072c8863
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
