interactions:
- request:
    body: '{"data": {"attributes": {"tags": ["app", "datacenter", "TestListtagconfigurationsreturnsSuccessresponse1618831555"],
      "metric_type": "distribution"}, "type": "manage_tags", "id": "TestListtagconfigurationsreturnsSuccessresponse1618831555"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618831555/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618831555","attributes":{"tags":["datacenter","TestListtagconfigurationsreturnsSuccessresponse1618831555","app"],"include_percentiles":false,"created_at":"2021-04-19T11:25:55.519207+00:00","updated_at":"2021-04-19T11:25:55.519207+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '46'
      x-ratelimit-reset:
      - '5'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListTagConfigurations
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1618831555
  response:
    body:
      string: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1618831555","attributes":{"tags":["datacenter","TestListtagconfigurationsreturnsSuccessresponse1618831555","app"],"include_percentiles":false,"created_at":"2021-04-19T11:25:55.519207+00:00","updated_at":"2021-04-19T11:25:55.519207+00:00","metric_type":"distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '45'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTagConfiguration
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1618831555/tags
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4339380'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '58'
    status:
      code: 204
      message: No Content
version: 1
