interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679942007","name":"1679942007"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"ddf389ac-cccd-11ed-ae16-da7ad0900002","attributes":{"name":"1679942007","handle":"1679942007","summary":null,"description":null,"color":9,"created_at":"2023-03-27T18:33:28.242940+00:00","modified_at":"2023-03-27T18:33:28.242944+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"value":"admins"},"type":"team_permission_settings"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002/permission-settings/manage_membership
  response:
    body:
      string: '{"data":{"type":"team_permission_settings","id":"TeamPermission-ddf389ac-cccd-11ed-ae16-da7ad0900002-manage_membership","attributes":{"value":"admins","action":"manage_membership","options":["admins","members","organization","user_access_manage","teams_manage"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/ddf389ac-cccd-11ed-ae16-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
