interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-62e1a70bb6b304ee","name":"name-62e1a70bb6b304ee"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"a7c4e9c4-20d9-11ee-99df-da7ad0900002","attributes":{"name":"name-62e1a70bb6b304ee","handle":"handle-62e1a70bb6b304ee","summary":null,"description":null,"created_at":"2023-07-12T17:29:28.973645+00:00","modified_at":"2023-07-12T17:29:28.973651+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002/links/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a7c4e9c4-20d9-11ee-99df-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
