interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"fbd30183c4400dd8"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"b8bf5b6b-3c89-4df8-a689-ee9f4655113c","type":"incident_types","attributes":{"createdAt":"2025-04-09T20:37:31.105820953Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2025-04-09T20:37:31.105821027Z","name":"fbd30183c4400dd8","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"fbd30183c4400dd8-updated"},"id":"b8bf5b6b-3c89-4df8-a689-ee9f4655113c","type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/b8bf5b6b-3c89-4df8-a689-ee9f4655113c
  response:
    body:
      string: '{"data":{"id":"b8bf5b6b-3c89-4df8-a689-ee9f4655113c","type":"incident_types","attributes":{"createdAt":"2025-04-09T20:37:31.105821Z","createdBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","modifiedAt":"2025-04-09T20:37:31.295207Z","name":"fbd30183c4400dd8-updated","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/b8bf5b6b-3c89-4df8-a689-ee9f4655113c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
