interactions:
- request:
    body: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1747407705"},"type":"policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      string: '{"data":{"id":"3va-tlk-ck1","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1747407705","policyVersion":"1","priority":1000000070,"ruleCount":226,"updateDate":1747407705218,"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","filters":[],"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1747407705"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      string: '{"data":{"id":"3fb-okb-t30","attributes":{"version":1,"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1747407705","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","creationDate":1747407705928,"updateAuthorUuId":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","updateDate":1747407705928,"filters":[],"actions":[],"agentConstraint":"","creator":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/3fb-okb-t30
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/3va-tlk-ck1
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
