interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-368d558fc674f4d3","name":"name-368d558fc674f4d3"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"94e8c5a6-3e15-11ee-b7c9-da7ad0900002","attributes":{"name":"name-368d558fc674f4d3","handle":"handle-368d558fc674f4d3","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-18T22:21:30.855820+00:00","modified_at":"2023-08-18T22:21:30.855826+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: "{\"data\":{\"attributes\":{\"avatar\":\"\U0001F951\",\"banner\":7,\"handle\"\
      :\"handle-368d558fc674f4d3\",\"hidden_modules\":[\"m3\"],\"name\":\"name-368d558fc674f4d3\
      \ updated\",\"visible_modules\":[\"m1\",\"m2\"]},\"type\":\"team\"}}"
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team","id":"94e8c5a6-3e15-11ee-b7c9-da7ad0900002","attributes":{"name":"name-368d558fc674f4d3
        updated","handle":"handle-368d558fc674f4d3","summary":null,"description":null,"avatar":"\ud83e\udd51","banner":7,"visible_modules":["m1","m2"],"hidden_modules":["m3"],"created_at":"2023-08-18T22:21:30.855820+00:00","modified_at":"2023-08-18T22:21:31.005082+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/94e8c5a6-3e15-11ee-b7c9-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
