interactions:
- request:
    body: '{"data":{"attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function"},"type":"aws_resource"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/ondemand/aws
  response:
    body:
      string: '{"data":{"id":"438046ce-01cd-4ae5-b117-ff971e6fa449","type":"aws_resource","attributes":{"arn":"arn:aws:lambda:us-west-2:123456789012:function:my-function","created_at":"2025-10-23T22:21:53.957627Z","status":"QUEUED"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
