interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_update_a_user_returns_ok_response-1608079938.463265@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f2ccf3f6-3f38-11eb-89bd-874c4ddee102","attributes":{"name":null,"handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608079938.463265@datadoghq.com","created_at":"2020-12-16T00:52:18.914259+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608079938.463265@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe477cf9d9d87ac78f193f6ff283e7a2?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - A4zC5dDmz3QSTWXoflmdTKsS5dpIBJJrn2zMHspFpRSdDDnIHcmGhVikJ7NEySaP
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "f2ccf3f6-3f38-11eb-89bd-874c4ddee102", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/f2ccf3f6-3f38-11eb-89bd-874c4ddee102
  response:
    body:
      string: '{"data":{"type":"users","id":"f2ccf3f6-3f38-11eb-89bd-874c4ddee102","attributes":{"name":"updated","handle":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608079938.463265@datadoghq.com","created_at":"2020-12-16T00:52:18.914259+00:00","email":"datadog-api-client-python-test_update_a_user_returns_ok_response-1608079938.463265@datadoghq.com","icon":"https://secure.gravatar.com/avatar/fe477cf9d9d87ac78f193f6ff283e7a2?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - flm57y1PQqDCGTMvz2Hc0LeaE4WpeyLyl0nK7TyUHhnh1/aAaCfINCnK5EAgp4id
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f2ccf3f6-3f38-11eb-89bd-874c4ddee102
  response:
    body:
      string: '{"errors": ["f2ccf3f6-3f38-11eb-89bd-874c4ddee102 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 404
      message: Not Found
version: 1
