interactions:
- request:
    body: '{"data":{"attributes":{"description":"My agent policy","enabled":true,"hostTags":["env:staging"],"name":"testcreateacsmthreatsagentrulewithsetactionreturnsokresponse1747407699"},"type":"policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy
  response:
    body:
      string: '{"data":{"id":"utc-ujv-rqi","type":"policy","attributes":{"blockingRulesCount":0,"datadogManaged":false,"description":"My
        agent policy","disabledRulesCount":1,"enabled":true,"hostTags":["env:staging"],"monitoringRulesCount":225,"name":"testcreateacsmthreatsagentrulewithsetactionreturnsokresponse1747407699","policyVersion":"1","priority":1000000070,"ruleCount":226,"updateDate":1747407699604,"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"actions":[{"set":{"name":"test_set","scope":"process","value":"test_value"}}],"description":"My
      Agent rule with set action","enabled":true,"expression":"exec.file.name == \"sh\"","filters":[],"name":"testcreateacsmthreatsagentrulewithsetactionreturnsokresponse1747407699","policy_id":"utc-ujv-rqi","product_tags":[]},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules
  response:
    body:
      string: '{"data":{"id":"y2i-pkl-1ew","type":"agent_rule","attributes":{"actions":[{"set":{"name":"test_set","value":"test_value","scope":"process"},"disabled":false}],"category":"Process
        Activity","creationDate":1747407700224,"creator":{"name":"CI Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"},"defaultRule":false,"description":"My
        Agent rule with set action","enabled":true,"expression":"exec.file.name ==
        \"sh\"","filters":["os == \"linux\""],"monitoring":["utc-ujv-rqi"],"name":"testcreateacsmthreatsagentrulewithsetactionreturnsokresponse1747407699","product_tags":[],"updateDate":1747407700224,"updater":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/agent_rules/y2i-pkl-1ew
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/remote_config/products/cws/policy/utc-ujv-rqi
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
