interactions:
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
      staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890"},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":1,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[{"name":"Exclude
        logs from staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","version":1},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/kk9-x1s-rgi
  response:
    body:
      string: '{"data":{"id":"kk9-x1s-rgi","attributes":{"version":2,"name":"Test-Update_a_security_filter_returns_OK_response-1715358890","query":"service:TestUpdateasecurityfilterreturnsOKresponse1715358890","is_enabled":true,"exclusion_filters":[],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
