interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-bb47a0fd53411a26","name":"name-bb47a0fd53411a26"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"5777e9e6-ef4f-11ed-9a2b-da7ad0900002","attributes":{"name":"name-bb47a0fd53411a26","handle":"handle-bb47a0fd53411a26","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:25:56.724082+00:00","modified_at":"2023-05-10T16:25:56.724086+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships
  response:
    body:
      string: '{"data":[],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":0}},"links":{"self":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships","last":null,"next":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002/memberships?page[offset]=0&page[limit]=100"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/5777e9e6-ef4f-11ed-9a2b-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
