interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"a8e08a7fa29a1adb@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"3e6ad31b-2da5-4ad4-878a-4d290520173b","attributes":{"account_tags":[],"resource_collection_enabled":false,"is_cspm_enabled":false,"automute":false,"host_filters":[],"is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"client_email":"a8e08a7fa29a1adb@example.com"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"client_email":"a8e08a7fa29a1adb@example.com","cloud_run_revision_filters":["merp:derp"]},"id":"3e6ad31b-2da5-4ad4-878a-4d290520173b","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3e6ad31b-2da5-4ad4-878a-4d290520173b
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"3e6ad31b-2da5-4ad4-878a-4d290520173b","attributes":{"cloud_run_revision_filters":["merp:derp"],"host_filters":[],"automute":false,"is_security_command_center_enabled":false,"account_tags":[],"client_email":"a8e08a7fa29a1adb@example.com","is_cspm_enabled":false,"resource_collection_enabled":false}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3e6ad31b-2da5-4ad4-878a-4d290520173b
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
