interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"filter":{"query":"@_top_level:1
      test:service-demo"},"filter_type":"spans-sampling-processor","name":"demo retention
      filter","rate":0.9},"type":"apm_retention_filter"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters
  response:
    body:
      string: '{"data":{"id":"ZHyaGYKyQNO4nNxGqIxrdg","attributes":{"name":"demo retention
        filter","rate":0.9,"trace_rate":0.0,"enabled":true,"filter_type":"spans-sampling-processor","filter":{"query":"@_top_level:1
        test:service-demo"},"editable":true,"modified_by":"frog@datadoghq.com","modified_at":1744111968,"created_by":"frog@datadoghq.com","created_at":1744111968},"type":"apm_retention_filter"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg
  response:
    body:
      string: '{}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/retention-filters/ZHyaGYKyQNO4nNxGqIxrdg
  response:
    body:
      string: '{"errors":["retention filter with id: ''ZHyaGYKyQNO4nNxGqIxrdg'' not
        found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
