interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Update_a_role_returns_OK_response-1617999712"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"38a000de-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617999712","created_at":"2021-04-09T20:21:52.528668+00:00","modified_at":"2021-04-09T20:21:52.528668+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '477'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "38a000de-9971-11eb-9cf2-da7ad0900002", "type": "roles",
      "attributes": {"name": "Test-Update_a_role_returns_OK_response-1617999712-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/38a000de-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"38a000de-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1617999712-updated","created_at":"2021-04-09T20:21:52.528668+00:00","modified_at":"2021-04-09T20:21:53.015168+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '476'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/38a000de-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '475'
      x-ratelimit-reset:
      - '6'
    status:
      code: 204
      message: No Content
version: 1
