interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_disable_a_user_returns_ok_response-1608079934.757328@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f0a0a460-3f38-11eb-89bd-c78fa7cfa6c7","attributes":{"name":null,"handle":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1608079934.757328@datadoghq.com","created_at":"2020-12-16T00:52:15.268589+00:00","email":"datadog-api-client-python-test_disable_a_user_returns_ok_response-1608079934.757328@datadoghq.com","icon":"https://secure.gravatar.com/avatar/12c1f8a86ec8bb8a53def720153db38e?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1rlggRfE73pEFFllgZfChM1RZODDnKFUyVMEk3an2/a5+lJByU7Porp1iIMqRaO7
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f0a0a460-3f38-11eb-89bd-c78fa7cfa6c7
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 91aMs4Xd/NaPhGMoIvSvdd0mjw6sy0ZqzVUdTt9hqt35qwhu0snxCQESFXt90Pzi
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f0a0a460-3f38-11eb-89bd-c78fa7cfa6c7
  response:
    body:
      string: '{"errors": ["f0a0a460-3f38-11eb-89bd-c78fa7cfa6c7 not found"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 404
      message: Not Found
version: 1
