interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"891e5c9c73a3787d","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"0c6c59bf-b579-4d33-9470-8ad98d37d15d","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"2eda5bf2-de31-41b0-be23-3f2192283aa8","name":"Application","type":"group","position":0,"components":[{"id":"2640a34a-b6cd-44ab-8459-c9c1f0c28400","name":"Login","type":"component","status":"operational","position":0},{"id":"80b0238c-cf81-4f71-95e6-9d715911a685","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:19.703338Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"891e5c9c73a3787d","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:19.703338Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/0c6c59bf-b579-4d33-9470-8ad98d37d15d/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"components_affected":[{"id":"2640a34a-b6cd-44ab-8459-c9c1f0c28400","status":"major_outage"}],"description":"Our
      API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated
      API Latency"},"type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/0c6c59bf-b579-4d33-9470-8ad98d37d15d/degradations
  response:
    body:
      string: '{"data":{"id":"163da211-144f-4842-ba85-1248bbba7eb0","type":"degradations","attributes":{"components_affected":[{"id":"2640a34a-b6cd-44ab-8459-c9c1f0c28400","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:20.491296Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:20.491296Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"47063361-a699-46a7-b53e-7cd49110e242","created_at":"2026-02-19T21:09:20.491296Z","modified_at":"2026-02-19T21:09:20.491296Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"2640a34a-b6cd-44ab-8459-c9c1f0c28400","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"0c6c59bf-b579-4d33-9470-8ad98d37d15d","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/0c6c59bf-b579-4d33-9470-8ad98d37d15d/degradations/163da211-144f-4842-ba85-1248bbba7eb0
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/0c6c59bf-b579-4d33-9470-8ad98d37d15d
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
