interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608079867.692961"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"e5d914e3-dd9a-5f27-b288-364ef18cdd10","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608079867.692961","created":"2020-12-16T00:51:08.145820+00:00","modified":"2020-12-16T00:51:08.145820+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1KMr27QHAQHDfYPOMxdkaV+JBh/1ku8yD6KIlLr2d217iUuzksir9gh+Nfb7tVhq
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '52'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetIncidentService
    method: GET
    uri: https://api.datadoghq.com/api/v2/services/e5d914e3-dd9a-5f27-b288-364ef18cdd10
  response:
    body:
      string: '{"data":{"type":"services","id":"e5d914e3-dd9a-5f27-b288-364ef18cdd10","attributes":{"name":"datadog-api-client-python-test_get_details_of_an_incident_service_returns_ok_response-1608079867.692961","created":"2020-12-16T00:51:08.145820+00:00","modified":"2020-12-16T00:51:08.145820+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 5H2EXEXOPQC4s7BfWBFjlM6rKywFNh1Cf33eK1xYuPFdBfR+3y2m7Dyr75gZ4kw1
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '99'
      X-RateLimit-Reset:
      - '52'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/e5d914e3-dd9a-5f27-b288-364ef18cdd10
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ks6TYG2WFSBr2qT+ZTFJB8BB7VWuwPmODDq52A4JjLzCAAitR8HQc9JBq+LHjJu4
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '95'
      X-RateLimit-Reset:
      - '51'
    status:
      code: 204
      message: No Content
version: 1
