interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_remove_a_user_from_a_role_returns_ok_response-1617968184"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"d0b4131e-9927-11eb-9ceb-da7ad0900002","attributes":{"name":"Test-test_remove_a_user_from_a_role_returns_ok_response-1617968184","created_at":"2021-04-09T11:36:24.915879+00:00","modified_at":"2021-04-09T11:36:24.915879+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "Test-test_remove_a_user_from_a_role_returns_ok_response-1617968184@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"d11cdf5c-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_remove_a_user_from_a_role_returns_ok_response-1617968184@datadoghq.com","created_at":"2021-04-09T11:36:25.602729+00:00","modified_at":"2021-04-09T11:36:25.637011+00:00","email":"test-test_remove_a_user_from_a_role_returns_ok_response-1617968184@datadoghq.com","icon":"https://secure.gravatar.com/avatar/82b6b5cfed2712ff0deb67c269ca4ed0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "d11cdf5c-9927-11eb-9ceb-da7ad0900002", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/d0b4131e-9927-11eb-9ceb-da7ad0900002/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"d11cdf5c-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_remove_a_user_from_a_role_returns_ok_response-1617968184@datadoghq.com","created_at":"2021-04-09T11:36:25.602729+00:00","modified_at":"2021-04-09T11:36:25.637011+00:00","email":"test-test_remove_a_user_from_a_role_returns_ok_response-1617968184@datadoghq.com","icon":"https://secure.gravatar.com/avatar/82b6b5cfed2712ff0deb67c269ca4ed0?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"d0b4131e-9927-11eb-9ceb-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '491'
      x-ratelimit-reset:
      - '33'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d11cdf5c-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/d0b4131e-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '489'
      x-ratelimit-reset:
      - '32'
    status:
      code: 204
      message: No Content
version: 1
