interactions:
- request:
    body: '{"data":{"attributes":{"item_changes":{},"item_key":""},"type":"items"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      string: '{"errors":[{"status":"400","id":"f88d0b88-0d55-482b-9a90-3556ef7d6b4a","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
