interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"0f81f89a-0151-4f2a-b33a-a2588d1e28ca","type":"incident_types","attributes":{"createdAt":"2026-02-17T13:49:24.852771624Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-02-17T13:49:24.852771722Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"Test notification
      template","name":"Test Template Test-Get_incident_notification_template_returns_OK_response-1771336164","subject":"Test
      Subject"},"relationships":{"incident_type":{"data":{"id":"0f81f89a-0151-4f2a-b33a-a2588d1e28ca","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"data":{"id":"c506d14b-bf70-446c-b6a8-ca3e693d8cca","type":"notification_templates","attributes":{"category":"alert","content":"Test
        notification template","created":"2026-02-17T13:49:25.120534Z","modified":"2026-02-17T13:49:25.120534Z","name":"Test
        Template Test-Get_incident_notification_template_returns_OK_response-1771336164","subject":"Test
        Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"0f81f89a-0151-4f2a-b33a-a2588d1e28ca","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/c506d14b-bf70-446c-b6a8-ca3e693d8cca
  response:
    body:
      string: '{"data":{"id":"c506d14b-bf70-446c-b6a8-ca3e693d8cca","type":"notification_templates","attributes":{"category":"alert","content":"Test
        notification template","created":"2026-02-17T13:49:25.120534Z","modified":"2026-02-17T13:49:25.120534Z","name":"Test
        Template Test-Get_incident_notification_template_returns_OK_response-1771336164","subject":"Test
        Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"0f81f89a-0151-4f2a-b33a-a2588d1e28ca","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/0f81f89a-0151-4f2a-b33a-a2588d1e28ca
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
