interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Update_an_existing_incident_team_returns_OK_response-1617999617"},
      "type": "teams"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentTeam
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"d12f327f-36cb-5e98-9313-b03073069aa0","attributes":{"name":"Test-Update_an_existing_incident_team_returns_OK_response-1617999617","created":"2021-04-09T20:20:17.380773+00:00","modified":"2021-04-09T20:20:17.380773+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '43'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "teams", "attributes": {"name": "Test-Update_an_existing_incident_team_returns_OK_response-1617999617-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateIncidentTeam
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/teams/d12f327f-36cb-5e98-9313-b03073069aa0
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":nul[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentTeam
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/teams/d12f327f-36cb-5e98-9313-b03073069aa0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '42'
    status:
      code: 204
      message: No Content
version: 1
