interactions:
- request:
    body: '{"data":{"attributes":{"is_enabled":true},"type":"gcp_uc_config_patch_request"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/InvalidValue
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
        parameter \"cloudAccountId\" in \"path\"; expected type \"int64\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
