interactions:
- request:
    body: '{"name": "Test-Create_a_detection_rule_returns_OK_response-1618476794",
      "queries": [{"query": "@test:true", "aggregation": "count", "groupByFields":
      [], "distinctFields": [], "metric": ""}], "filters": [], "cases": [{"name":
      "", "status": "info", "condition": "a > 0", "notifications": []}], "options":
      {"evaluationWindow": 900, "keepAlive": 3600, "maxSignalDuration": 86400}, "message":
      "Test rule", "tags": [], "isEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":2320499,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1618476794363,"filters":[],"queries":[{"distinctFields":[],"name":"","metric":"","aggregation":"count","groupByFields":[],"query":"@test:true","trackType":"logs"}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"rh4-mug-oy5","isDefault":false,"name":"Test-Create_a_detection_rule_returns_OK_response-1618476794"}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4317157'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/rh4-mug-oy5
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4317157'
    status:
      code: 204
      message: No Content
version: 1
