interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_all_app_keys_owned_by_this_service_account_returns_OK_response-1639758434@datadoghq.com","title":"user
      title","service_account":true},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"f7045aa4-5ab2-433b-8155-87f19c417551","attributes":{"name":null,"handle":"f7045aa4-5ab2-433b-8155-87f19c417551","created_at":"2021-12-17T16:27:14.750028+00:00","modified_at":"2021-12-17T16:27:14.784178+00:00","email":"test-get_all_app_keys_owned_by_this_service_account_returns_ok_response-1639758434@datadoghq.com","icon":"https://secure.gravatar.com/avatar/03af74c80bb8678b1a8459bb70005913?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '90'
      x-ratelimit-reset:
      - '1966'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/f7045aa4-5ab2-433b-8155-87f19c417551/application_keys
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":0},"max_allowed_per_user":1000},"data":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f7045aa4-5ab2-433b-8155-87f19c417551
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
