interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_invitation_returns_ok_response-1617953630.178036@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"edbdce5e-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_invitation_returns_ok_response-1617953630.178036@datadoghq.com","created_at":"2021-04-09T07:33:50.743868+00:00","modified_at":"2021-04-09T07:33:50.778272+00:00","email":"test-test_get_a_user_invitation_returns_ok_response-1617953630.178036@datadoghq.com","icon":"https://secure.gravatar.com/avatar/cb032d8e50a28a69e8625740c4e783cb?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "edbdce5e-9905-11eb-9ce8-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"ee1cc828-9905-11eb-9ce8-da7ad0900002","attributes":{"uuid":"ee1cc828-9905-11eb-9ce8-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T07:33:51.367692+00:00","expires_at":"2021-04-11T07:33:51.232767+00:00"},"relationships":{"user":{"data":{"type":"users","id":"edbdce5e-9905-11eb-9ce8-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/ee1cc828-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"ee1cc828-9905-11eb-9ce8-da7ad0900002","attributes":{"uuid":"ee1cc828-9905-11eb-9ce8-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T07:33:51.367692+00:00","expires_at":"2021-04-11T07:33:51.232767+00:00"},"relationships":{"user":{"data":{"type":"users","id":"edbdce5e-9905-11eb-9ce8-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/edbdce5e-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
version: 1
