interactions:
- request:
    body: '{"data":{"attributes":{"policy":{"tag_key":"testcreateamonitorconfigurationpolicyreturnsokresponse1682627699","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      string: '{"data":{"type":"monitor-config-policy","id":"fabd0b6e-e53a-11ed-a07b-da7ad0900002","attributes":{"policy":{"valid_tag_values":["prod","staging"],"tag_key_required":false,"tag_key":"testcreateamonitorconfigurationpolicyreturnsokresponse1682627699"},"policy_type":"tag"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/fabd0b6e-e53a-11ed-a07b-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
