interactions:
- request:
    body: '{"cases":[{"condition":"a > 0","name":"","notifications":[],"status":"info"}],"filters":[],"isEnabled":true,"message":"Test
      rule","name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605","options":{"evaluationWindow":900,"keepAlive":3600,"maxSignalDuration":86400},"queries":[{"aggregation":"count","distinctFields":[],"groupByFields":[],"metrics":[],"query":"@test:true"}],"tags":[],"type":"log_detection"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":[],"isEnabled":true,"hasExtendedTitle":false,"message":"Test
        rule","options":{"detectionMethod":"threshold","evaluationWindow":900,"maxSignalDuration":86400,"keepAlive":3600},"version":1,"createdAt":1666647605501,"filters":[],"queries":[{"query":"@test:true","groupByFields":[],"aggregation":"count","name":"","distinctFields":[]}],"isDeleted":false,"cases":[{"status":"info","notifications":[],"name":"","condition":"a
        > 0"}],"type":"log_detection","id":"3bq-nad-szq","isDefault":false,"name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"cases":[{"status":"info"}],"isEnabled":true,"message":"Test rule Bad","name":"Test-Update_an_existing_rule_returns_Bad_Request_response-1666647605","options":{},"queries":[{"query":""}],"tags":[]}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/3bq-nad-szq
  response:
    body:
      string: '{"errors":["Invalid rule configuration","Query filter cannot be empty"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
[...]
