interactions:
- request:
    body: '{"data":{"attributes":{"filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1748486181"]},"name":"test
      rule","recipients":["slack-monitor-app"]},"type":"monitor-notification-rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule
  response:
    body:
      string: '{"data":{"type":"monitor-notification-rule","attributes":{"name":"test
        rule","created_at":"2025-05-29T02:36:22.099271+00:00","filter":{"tags":["app:test-update_a_monitor_notification_rule_returns_bad_request_response-1748486181"]},"recipients":["slack-monitor-app"],"modified_at":"1970-01-01T00:00:00+00:00"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"571a01f1-8f6f-4792-9f4a-0aa99f9b2365"},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":"frog","handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2025-05-06T01:37:11.870914+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"filter":{"tags":["test:test-update_a_monitor_notification_rule_returns_bad_request_response-1748486181","host:abc"]},"name":"updated
      rule","recipients":["@slack-test-channel"]},"id":"571a01f1-8f6f-4792-9f4a-0aa99f9b2365","type":"monitor-notification-rule"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/571a01f1-8f6f-4792-9f4a-0aa99f9b2365
  response:
    body:
      string: '{"errors":["Invalid recipients: Recipient handle should not start with
        ''@''"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/notification_rule/571a01f1-8f6f-4792-9f4a-0aa99f9b2365
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
