interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-889655e4da47806d","name":"name-889655e4da47806d"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"57d458a2-ef4f-11ed-9db8-da7ad0900002","attributes":{"name":"name-889655e4da47806d","handle":"handle-889655e4da47806d","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:25:57.334212+00:00","modified_at":"2023-05-10T16:25:57.334216+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002/links/REPLACE.ME
  response:
    body:
      string: '{"errors":["REPLACE.ME is not a valid UUID not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/57d458a2-ef4f-11ed-9db8-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
