interactions:
- request:
    body: '{"data":{"attributes":{"creation_author_id":367742,"creation_date":1758896636212,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":367742,"update_date":1758896636212,"version":1},"type":"critical_assets"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets
  response:
    body:
      string: '{"data":{"id":"84ce6af7-785b-4c7c-b7ff-e16aaf56dc62","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1767380952301,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":1445416,"update_date":1767380952301,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/critical_assets/84ce6af7-785b-4c7c-b7ff-e16aaf56dc62
  response:
    body:
      string: '{"data":{"id":"84ce6af7-785b-4c7c-b7ff-e16aaf56dc62","type":"critical_assets","attributes":{"creation_author_id":1445416,"creation_date":1767380952301,"creator":{"handle":"frog@datadoghq.com","name":"frog"},"enabled":true,"query":"security:monitoring","rule_query":"source:k9","severity":"medium","tags":["team:security"],"update_author_id":1445416,"update_date":1767380952301,"updater":{"handle":"frog@datadoghq.com","name":"frog"},"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
