interactions:
- request:
    body: '{"data":{"attributes":{},"id":"invalid-uuid","type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid
  response:
    body:
      string: '{"errors":[{"status":"400","id":"bea9975d-a9cd-43dc-bb3c-df0f8fc09ea4","title":"invalid
        path parameter","detail":"invalid datastoreId format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
