interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_delete_a_logbased_metric_returns_ok_response-1617968243"}},
      "id": "Test-test_delete_a_logbased_metric_returns_ok_response-1617968243", "type":
      "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_delete_a_logbased_metric_returns_ok_response_1617968243","attributes":{"filter":{"query":"source:Test-test_delete_a_logbased_metric_returns_ok_response-1617968243"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '80'
      x-ratelimit-reset:
      - '1357'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_delete_a_logbased_metric_returns_ok_response_1617968243
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '79'
      x-ratelimit-reset:
      - '1356'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_delete_a_logbased_metric_returns_ok_response_1617968243
  response:
    body:
      string: '{"errors":["not_found(Metric with name ''Test_test_delete_a_logbased_metric_returns_ok_response_1617968243''
        not found)"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '78'
      x-ratelimit-reset:
      - '1356'
    status:
      code: 404
      message: Not Found
version: 1
