interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"f67c55f5b2532df6","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"9e2f9e22-7d9c-45fd-9457-ba3516d51998","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"ace1e050-b41f-40ca-9ea6-8d57a244d6c4","name":"Application","type":"group","position":0,"components":[{"id":"4226d439-92f1-488c-8441-4c5bb19a9364","name":"Login","type":"component","status":"operational","position":0},{"id":"e56d90c5-7196-472b-8281-0dcc0bf27f26","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:42.920779Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"f67c55f5b2532df6","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:42.920779Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/9e2f9e22-7d9c-45fd-9457-ba3516d51998/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Logs Indexing"},"id":"ace1e050-b41f-40ca-9ea6-8d57a244d6c4","type":"components"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/statuspages/9e2f9e22-7d9c-45fd-9457-ba3516d51998/components/ace1e050-b41f-40ca-9ea6-8d57a244d6c4
  response:
    body:
      string: '{"data":{"id":"ace1e050-b41f-40ca-9ea6-8d57a244d6c4","type":"components","attributes":{"components":[{"id":"4226d439-92f1-488c-8441-4c5bb19a9364","name":"Login","type":"component","status":"operational","position":0},{"id":"e56d90c5-7196-472b-8281-0dcc0bf27f26","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-02-19T21:09:42.920779Z","modified_at":"2026-02-19T21:09:43.521422Z","name":"Logs
        Indexing","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"9e2f9e22-7d9c-45fd-9457-ba3516d51998","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/9e2f9e22-7d9c-45fd-9457-ba3516d51998
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
