interactions:
- request:
    body: '{"data":{"attributes":{"config":{"destinations":[{"id":"datadog-logs-destination","inputs":["my-processor-group"],"type":"datadog_logs"}],"processor_groups":[{"enabled":true,"id":"my-processor-group","include":"service:my-service","inputs":["datadog-agent-source"],"processors":[{"enabled":true,"file":{"encoding":{"delimiter":",","includes_headers":true,"type":"csv"},"key":[{"column":"user_id","comparison":"equals","field":{"secret":"LOOKUP_KEY_SECRET"}}],"path":"/etc/enrichment/lookup.csv","schema":[{"column":"user_id","type":"string"}]},"id":"enrichment-processor","include":"*","target":"enriched","type":"enrichment_table"}]}],"sources":[{"id":"datadog-agent-source","type":"datadog_agent"}]},"name":"Pipeline
      with Enrichment Table Secret Field Lookup"},"type":"pipelines"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/obs-pipelines/pipelines/validate
  response:
    body:
      string: '{"errors":[]}

        '
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
