interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Delete_an_On_Call_email_for_a_missing_email_returns_Not_Found_response-1762961827@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"72452250-bfdd-11f0-bb7a-1a91fccbd64f","attributes":{"name":null,"handle":"test-delete_an_on_call_email_for_a_missing_email_returns_not_found_response-1762961827@datadoghq.com","created_at":"2025-11-12T15:37:07.429696+00:00","modified_at":"2025-11-12T15:37:07.429696+00:00","email":"test-delete_an_on_call_email_for_a_missing_email_returns_not_found_response-1762961827@datadoghq.com","icon":"https://secure.gravatar.com/avatar/baf7b7d23e8f0bb01a4291b4a70d9fc8?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/users/72452250-bfdd-11f0-bb7a-1a91fccbd64f/notification-channels/emails/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"Email not
        found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/72452250-bfdd-11f0-bb7a-1a91fccbd64f
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
