interactions:
- request:
    body: '{"data":{"attributes":{"description":"Service was unavailable for external
      users","end_at":"2025-08-29T13:17:00Z","fields":{"customers_impacted":"all","products_impacted":["shopping","marketing"]},"start_at":"2025-08-28T13:17:00Z"},"type":"incident_impacts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/00000000-0000-0000-0000-000000000001/impacts
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"rpc error: code = NotFound
        desc = incident not found: failed to get incident: incident not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
