interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"}},"id":"Test-Get_a_log_based_metric_returns_OK_response-1618491721","type":"logs_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '94'
      x-ratelimit-reset:
      - '3478'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body:
      string: '{"data":{"id":"Test_Get_a_log_based_metric_returns_OK_response_1618491721","attributes":{"filter":{"query":"source:Test-Get_a_log_based_metric_returns_OK_response-1618491721"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4999'
      x-ratelimit-reset:
      - '3477'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Get_a_log_based_metric_returns_OK_response_1618491721
  response:
    body:
      string: '{}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4318655'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '93'
      x-ratelimit-reset:
      - '3475'
    status:
      code: 200
      message: OK
version: 1
