interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"b8810dcd-7be8-4911-ada2-f2730504be0a","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a
  response:
    body:
      string: '{"data":{"id":"b8810dcd-7be8-4911-ada2-f2730504be0a","type":"datastores","attributes":{"created_at":"2025-08-08T20:30:54.066512Z","creator_user_id":1445416,"creator_user_uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"","modified_at":"2025-08-08T20:30:54.066512Z","name":"Test
        Datastore","org_id":321813,"primary_column_name":"id","primary_key_generation_strategy":"none"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"values":[{"id":"key1","value":{"data":"example
      data 1","key":"value"}},{"badPrimaryKey":"key2","value":{"data":"example data
      2","key":"value"}}]},"id":"b8810dcd-7be8-4911-ada2-f2730504be0a","type":"items"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a/items/bulk
  response:
    body:
      string: '{"errors":[{"title":"item key missing or invalid","detail":"item at
        index 1: primary column \"id\" is missing"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/b8810dcd-7be8-4911-ada2-f2730504be0a
  response:
    body:
      string: '{"data":{"id":"b8810dcd-7be8-4911-ada2-f2730504be0a","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
