interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"044015c0-63c9-4e7a-bb22-83974581ed55","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:54.852591Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"044015c0-63c9-4e7a-bb22-83974581ed55","key":"DDFC-75938","merge_status":"NOT_MERGED","priority":"P4","public_id":"75998","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"status":"IN_PROGRESS"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/044015c0-63c9-4e7a-bb22-83974581ed55/status
  response:
    body:
      string: '{"data":{"id":"044015c0-63c9-4e7a-bb22-83974581ed55","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-12T11:05:54.852591Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"044015c0-63c9-4e7a-bb22-83974581ed55","key":"DDFC-75938","merge_status":"NOT_MERGED","modified_at":"2025-08-12T11:05:55.234628Z","priority":"P4","public_id":"75998","status":"IN_PROGRESS","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
