interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "Test-Create_a_user_returns_OK_response-1617999715@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3a3537d4-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1617999715@datadoghq.com","created_at":"2021-04-09T20:21:55.183271+00:00","modified_at":"2021-04-09T20:21:55.200267+00:00","email":"test-create_a_user_returns_ok_response-1617999715@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d7c9109f6ab202445ff84fefb6f1c87d?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3a3537d4-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
version: 1
