interactions:
- request:
    body: '{"data":{"attributes":{"handle":"","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"input_validation_error(Field
        ''data.attributes.handle'' is invalid: field ''handle'' must not be empty)"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
