interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"Test-d84cfa9edd1d6635@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6","attributes":{"account_tags":[],"automute":false,"client_email":"Test-d84cfa9edd1d6635@example.com","resource_collection_enabled":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"host_filters":[],"is_security_command_center_enabled":false}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"client_email":"Test-d84cfa9edd1d6635@example.com","resource_collection_enabled":true},"id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3d7cef2d-c455-48c2-ba50-cd8091978dd6
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"host_filters":[],"is_security_command_center_enabled":false,"client_email":"Test-d84cfa9edd1d6635@example.com","cloud_run_revision_filters":[],"is_cspm_enabled":false,"automute":false,"resource_collection_enabled":true,"account_tags":[]},"id":"3d7cef2d-c455-48c2-ba50-cd8091978dd6"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/3d7cef2d-c455-48c2-ba50-cd8091978dd6
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
