interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"b80f34a0-3fb4-47ea-8ff5-f261b870edb1","type":"incident_types","attributes":{"createdAt":"2026-01-07T15:19:22.803184531Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-07T15:19:22.803184613Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"An incident has been
      declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected Services:
      web-service, database-service\nStatus: active\n\nPlease join the incident channel
      for updates.","name":"Test-Create_incident_notification_template_returns_Created_response-1767799162","subject":"SEV-2
      Incident: Sample Incident Title"},"relationships":{"incident_type":{"data":{"id":"b80f34a0-3fb4-47ea-8ff5-f261b870edb1","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"data":{"id":"b7d37bf0-4028-4456-af48-ce278eebe1cf","type":"notification_templates","attributes":{"category":"alert","content":"An
        incident has been declared.\n\nTitle: Sample Incident Title\nSeverity: SEV-2\nAffected
        Services: web-service, database-service\nStatus: active\n\nPlease join the
        incident channel for updates.","created":"2026-01-07T15:19:23.167582Z","modified":"2026-01-07T15:19:23.167582Z","name":"Test-Create_incident_notification_template_returns_Created_response-1767799162","subject":"SEV-2
        Incident: Sample Incident Title"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"b80f34a0-3fb4-47ea-8ff5-f261b870edb1","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/b7d37bf0-4028-4456-af48-ce278eebe1cf
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/b80f34a0-3fb4-47ea-8ff5-f261b870edb1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
