interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1768443698","space_resource_name":"spaces/AAQA-zFIks8"}},"type":"google-chat-organization-handle"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body:
      string: '{"data":{"id":"7a4e4593-fd25-4171-9ed0-54e2542a8fcf","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1768443698","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/7a4e4593-fd25-4171-9ed0-54e2542a8fcf
  response:
    body:
      string: '{"data":{"id":"7a4e4593-fd25-4171-9ed0-54e2542a8fcf","type":"google-chat-organization-handle","attributes":{"name":"Test-Get_organization_handle_returns_OK_response-1768443698","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/%7Borganization_binding_id%7D/organization-handles/7a4e4593-fd25-4171-9ed0-54e2542a8fcf
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
        parameter \"google_chat_organization_binding_id\" in \"path\"; expected type
        \"uuid\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
