interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-5aa41859bbf3789a","name":"name-5aa41859bbf3789a"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","attributes":{"name":"name-5aa41859bbf3789a","handle":"handle-5aa41859bbf3789a","summary":null,"description":null,"color":5,"created_at":"2023-05-10T16:25:53.127054+00:00","modified_at":"2023-05-10T16:25:53.127058+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1683735952","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"557af0c0-ef4f-11ed-b60b-da7ad0900002","attributes":{"team_id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1683735952","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002/links/557af0c0-ef4f-11ed-b60b-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team_links","id":"557af0c0-ef4f-11ed-b60b-da7ad0900002","attributes":{"team_id":"55525bf6-ef4f-11ed-99e4-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1683735952","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/55525bf6-ef4f-11ed-99e4-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
