interactions:
- request:
    body: '{"data":{"attributes":{"category":"update","content":"Incident Status Update:
      For more details, visit the incident page.","name":"Update Template","subject":"Incident
      Update"},"id":"00000000-0000-0000-0000-000000000001","type":"invalid_type"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/00000000-1111-2222-3333-444444444444
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"got type
        \"invalid_type\" expected one of \"notification_templates\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
