interactions:
- request:
    body: '{"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"pddv1ChYtOGFfX0hkRFRzeVFxOUkxNFliWkh3IiwKHNZ2_uRW5V74g9U20qpKaJ5w2W333--lwIypXxoSDOtag8A05lWXfz4bnA","elapsed":3},"data":{"buckets":[{"computes":{"c0":7},"by":{}}]}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4656181'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-reset:
      - '40'
    status:
      code: 200
      message: OK
version: 1
