interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"255b1c94-ffd2-4c21-b4cc-f6b768881031","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:23.855638Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"255b1c94-ffd2-4c21-b4cc-f6b768881031","key":"DDFC-79579","merge_status":"NOT_MERGED","priority":"P4","public_id":"79667","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/255b1c94-ffd2-4c21-b4cc-f6b768881031/comment/23fca2aa-4967-4936-bdd7-9157d9e456d7
  response:
    body:
      string: '{"errors":[{"code":"resource_not_found","title":"timeline cell not
        found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
