interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_permissions_returns_OK_response-1618831562@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0658314e-a102-11eb-9f1a-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1618831562@datadoghq.com","created_at":"2021-04-19T11:26:03.335933+00:00","modified_at":"2021-04-19T11:26:03.370421+00:00","email":"test-get_a_user_permissions_returns_ok_response-1618831562@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c9d1648321b7ae82bb02816530dee343?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUserPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/0658314e-a102-11eb-9f1a-da7ad0900002/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0658314e-a102-11eb-9f1a-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4339380'
    status:
      code: 204
      message: No Content
version: 1
