interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"3b22f4c10f2df21a","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"73b33de0-a4a8-4f86-bca3-5910af211fce","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"88206000-8c65-4baa-93f9-0438b05d9985","name":"Application","type":"group","position":0,"components":[{"id":"d957cba2-61b8-4612-a494-cb3c8adf914e","name":"Login","type":"component","status":"operational","position":0},{"id":"34513918-9a87-4b51-b933-62ad9b986e94","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:29.495271Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"3b22f4c10f2df21a","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:29.495271Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/73b33de0-a4a8-4f86-bca3-5910af211fce/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/73b33de0-a4a8-4f86-bca3-5910af211fce/components/88206000-8c65-4baa-93f9-0438b05d9985
  response:
    body:
      string: '{"data":{"id":"88206000-8c65-4baa-93f9-0438b05d9985","type":"components","attributes":{"components":[{"id":"d957cba2-61b8-4612-a494-cb3c8adf914e","name":"Login","type":"component","status":"operational","position":0},{"id":"34513918-9a87-4b51-b933-62ad9b986e94","name":"Settings","type":"component","status":"operational","position":1}],"created_at":"2026-02-19T21:09:29.495271Z","modified_at":"2026-02-19T21:09:29.495271Z","name":"Application","position":0,"type":"group"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"73b33de0-a4a8-4f86-bca3-5910af211fce","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/73b33de0-a4a8-4f86-bca3-5910af211fce
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
