interactions:
- request:
    body: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\""},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/abc-123-xyz
  response:
    body:
      string: '{"errors":["not_found(Agent rule not found: agentRuleId=abc-123-xyz)"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
