interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_all_of_the_given_users_login_methods_returns_ok_response-1608733250.833418@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0f5cf6d2-452a-11eb-8ad4-07e19bab8e29","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_all_of_the_given_users_login_methods_returns_ok_response-1608733250.833418@datadoghq.com","created_at":"2020-12-23T14:20:51.359191+00:00","email":"datadog-api-client-python-test_get_all_of_the_given_users_login_methods_returns_ok_response-1608733250.833418@datadoghq.com","icon":"https://secure.gravatar.com/avatar/ef5b26b1951f296f7825e723ffc8cf37?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ylBElmyGwKGD9U7vyDU/qHCi6QpDzALB8kY9TyVsQmpRCm4VjPYEdilo336ix6wj
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"attributes": {"login_method": "standard"}, "type": "user_login_methods",
      "relationships": {"user": {"data": {"id": "0f5cf6d2-452a-11eb-8ad4-07e19bab8e29",
      "type": "users"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_login_methods
  response:
    body:
      string: '{"data":{"type":"user_login_methods","id":"c791f012-27a2-408f-ae94-841e22cbabfd","attributes":{"created_at":"2020-12-23T14:16:01.208112+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"user":{"data":{"type":"users","id":"0f5cf6d2-452a-11eb-8ad4-07e19bab8e29"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 4XEHrKCjPbSbs1iu1F78+tH4eaIPZCq+IGDoHN/GQcOsLq6w3Zzz7ZK1RqpTUzFS
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteUserLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/user_login_methods/c791f012-27a2-408f-ae94-841e22cbabfd
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - yh6YON+7jbeDMg7CO+AYyoesqWeq0Iw5xzcOjFKKupoYHnh4eyLWds2GSgfB/+lP
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0f5cf6d2-452a-11eb-8ad4-07e19bab8e29
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2V6J6bfi8Lp+2UjnPdTvcW5IjbRGxJrhStYZW/ACt/za6xfDiK/Y5IuDyUadsRtA
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 204
      message: No Content
version: 1
