interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"f76567de039160c9","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"47e17ba1-f5eb-46ff-b0be-6d715956bde1","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"142d8de6-6bb4-4b62-8211-baaf16e09b87","name":"Application","type":"group","position":0,"components":[{"id":"cd5fb685-7435-4fca-b94e-b581cb2a6ea7","name":"Login","type":"component","status":"operational","position":0},{"id":"822f70b7-aae3-4b1f-b906-b5a71021bdd7","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:18.085798Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"f76567de039160c9","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:18.085798Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/47e17ba1-f5eb-46ff-b0be-6d715956bde1/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Logs","position":0,"type":"component"},"type":"components"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/47e17ba1-f5eb-46ff-b0be-6d715956bde1/components
  response:
    body:
      string: '{"data":{"id":"ef596910-80a3-4802-84dd-1ef84472450a","type":"components","attributes":{"created_at":"2026-02-19T21:09:18.543075Z","modified_at":"2026-02-19T21:09:18.543075Z","name":"Logs","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"47e17ba1-f5eb-46ff-b0be-6d715956bde1","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/47e17ba1-f5eb-46ff-b0be-6d715956bde1/components/ef596910-80a3-4802-84dd-1ef84472450a
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/47e17ba1-f5eb-46ff-b0be-6d715956bde1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
