interactions:
- request:
    body: '{"data": {"id": "Test-Update_a_log_based_metric_returns_OK_response-1618582734",
      "attributes": {"filter": {"query": "source:Test-Update_a_log_based_metric_returns_OK_response-1618582734"},
      "compute": {"aggregation_type": "count"}}, "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618582734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618582734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4328658'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '87'
      x-ratelimit-reset:
      - '2465'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "logs_metrics", "attributes": {"filter": {"query": "source:Test-Update_a_log_based_metric_returns_OK_response-1618582734-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618582734
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618582734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618582734-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4328658'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '86'
      x-ratelimit-reset:
      - '2464'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618582734
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4328658'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '85'
      x-ratelimit-reset:
      - '2464'
    status:
      code: 200
      message: OK
version: 1
