interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679941988","name":"1679941988"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"d246a436-cccd-11ed-bf44-da7ad0900002","attributes":{"name":"1679941988","handle":"1679941988","summary":null,"description":null,"color":6,"created_at":"2023-03-27T18:33:08.655656+00:00","modified_at":"2023-03-27T18:33:08.655661+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":[{"type":"team","id":"d246a436-cccd-11ed-bf44-da7ad0900002","attributes":{"name":"1679941988","handle":"1679941988","summary":null,"description":null,"color":6,"created_at":"2023-03-27T18:33:08.655656+00:00","modified_at":"2023-03-27T18:33:08.655661+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002/permission-settings"}}}},{"type":"team","id":"ac73040e-c8d4-11ed-b2ea-da7ad0900002","attributes":{"name":"Example
        Team","handle":"api-spec-test-team","summary":null,"description":null,"color":12,"created_at":"2023-03-22T17:12:07.018313+00:00","modified_at":"2023-03-22T17:12:07.018317+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/ac73040e-c8d4-11ed-b2ea-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/ac73040e-c8d4-11ed-b2ea-da7ad0900002/permission-settings"}}}}],"meta":{"pagination":{"offset":0,"first_offset":0,"prev_offset":0,"next_offset":100,"last_offset":0,"limit":100,"type":"offset_limit","total":2}},"links":{"self":"https://api.datadoghq.com/api/v2/team","last":null,"next":"https://api.datadoghq.com/api/v2/team?page[offset]=100&page[limit]=100","prev":null,"first":"https://api.datadoghq.com/api/v2/team?page[offset]=0&page[limit]=100"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d246a436-cccd-11ed-bf44-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
