interactions:
- request:
    body: '{"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"f29b9fed-bb0a-422a-8279-33036c2cec51","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264380961,"org_id":321813,"updated_at":1670264380961,"is_active":false,"hash":"pub937cab71d02024eb28c796162a479a56","client_token":"pub937cab71d02024eb28c796162a479a56","type":"browser"},"type":"rum_application","id":"f29b9fed-bb0a-422a-8279-33036c2cec51"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/rum/applications/f29b9fed-bb0a-422a-8279-33036c2cec51
  response:
    body:
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"f29b9fed-bb0a-422a-8279-33036c2cec51","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264380961,"org_id":321813,"updated_at":1670264380961,"is_active":false,"hash":"pub937cab71d02024eb28c796162a479a56","client_token":"pub937cab71d02024eb28c796162a479a56","type":"browser"},"type":"rum_application","id":"f29b9fed-bb0a-422a-8279-33036c2cec51"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/f29b9fed-bb0a-422a-8279-33036c2cec51
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
