interactions:
- request:
    body: '{"filter": {"query": "datadog-agent", "indexes": ["main"], "from": "2020-09-17T11:48:36+01:00",
      "to": "2020-09-17T12:48:36+01:00"}, "sort": "timestamp", "page": {"limit": 5}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '2378'
    status:
      code: 200
      message: OK
version: 1
