interactions:
- request:
    body: '{"data": {"id": "Test-Update_a_log_based_metric_returns_OK_response-1618476795",
      "attributes": {"filter": {"query": "source:Test-Update_a_log_based_metric_returns_OK_response-1618476795"},
      "compute": {"aggregation_type": "count"}}, "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618476795","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618476795"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '50'
      x-ratelimit-reset:
      - '406'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "logs_metrics", "attributes": {"filter": {"query": "source:Test-Update_a_log_based_metric_returns_OK_response-1618476795-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618476795
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618476795","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618476795-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '405'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618476795
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4317157'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '48'
      x-ratelimit-reset:
      - '405'
    status:
      code: 200
      message: OK
version: 1
