interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-7af7a34f5bc3a40e","name":"name-7af7a34f5bc3a40e"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"a91019b6-20d9-11ee-b538-da7ad0900002","attributes":{"name":"name-7af7a34f5bc3a40e","handle":"handle-7af7a34f5bc3a40e","summary":null,"description":null,"created_at":"2023-07-12T17:29:31.144067+00:00","modified_at":"2023-07-12T17:29:31.144076+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team","id":"a91019b6-20d9-11ee-b538-da7ad0900002","attributes":{"name":"name-7af7a34f5bc3a40e","handle":"handle-7af7a34f5bc3a40e","summary":null,"description":null,"created_at":"2023-07-12T17:29:31.144067+00:00","modified_at":"2023-07-12T17:29:31.144076+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a91019b6-20d9-11ee-b538-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
