interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"30170613-5282-40db-83ae-232895165192","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129","created_at":"2022-05-12T09:52:10.475750+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129-updated"},"id":"30170613-5282-40db-83ae-232895165192","type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/30170613-5282-40db-83ae-232895165192
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"30170613-5282-40db-83ae-232895165192","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1652349129-updated","created_at":"2022-05-12T09:52:10.475750+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/30170613-5282-40db-83ae-232895165192
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
