interactions:
- request:
    body: '{"data": {"type": "security_filters", "attributes": {"name": "Test-Get_a_security_filter_returns_OK_response-1620804267",
      "query": "service:TestGetasecurityfilterreturnsOKresponse1620804267", "exclusion_filters":
      [{"name": "Exclude logs from staging", "query": "source:staging"}], "filtered_data_type":
      "logs", "is_enabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620804267","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620804267","is_builtin":false},"type":"security_filters","id":"gk1-scp-bc6"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetSecurityFilter
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/gk1-scp-bc6
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Get_a_security_filter_returns_OK_response-1620804267","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestGetasecurityfilterreturnsOKresponse1620804267","is_builtin":false},"type":"security_filters","id":"gk1-scp-bc6"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
[...]
