interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"c0ff63f1-330a-4180-b1f8-4c0051e50fee","attributes":{"name":null,"handle":"c0ff63f1-330a-4180-b1f8-4c0051e50fee","created_at":"2022-05-12T09:53:31.028388+00:00","modified_at":"2022-05-12T09:53:31.061501+00:00","email":"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1652349210@datadoghq.com","icon":"https://secure.gravatar.com/avatar/70d7e034954677ac6722e68e81e848f0?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/c0ff63f1-330a-4180-b1f8-4c0051e50fee/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"4d8e6445-5088-450f-8bc5-5f56ffa0579c","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210","created_at":"2022-05-12T09:53:31.579790+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"c0ff63f1-330a-4180-b1f8-4c0051e50fee"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/c0ff63f1-330a-4180-b1f8-4c0051e50fee/application_keys/4d8e6445-5088-450f-8bc5-5f56ffa0579c
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"4d8e6445-5088-450f-8bc5-5f56ffa0579c","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1652349210","created_at":"2022-05-12T09:53:31.579790+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/c0ff63f1-330a-4180-b1f8-4c0051e50fee
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
