interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"11e8d302-1fcd-42f4-a2b3-068369d9b57b","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-09-04T09:11:20.84912Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"11e8d302-1fcd-42f4-a2b3-068369d9b57b","key":"DDFC-79577","merge_status":"NOT_MERGED","priority":"P4","public_id":"79664","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"comment":"Hello World !"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/11e8d302-1fcd-42f4-a2b3-068369d9b57b/comment
  response:
    body:
      string: '{"data":[{"id":"5d1fb1c1-9ee1-4110-8771-e6a01f4737ab","type":"timeline_cell","attributes":{"author":{"type":"USER","content":{"ID":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","active":true}},"cell_content":{"message":"Hello
        World !"},"content":"{\"message\":\"Hello World !\"}","created_at":"2025-09-04T09:11:21.264914024Z","type":"COMMENT"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
