interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Send_invitation_emails_returns_OK_response-1618831551@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ffb1edd0-a101-11eb-9f19-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1618831551@datadoghq.com","created_at":"2021-04-19T11:25:52.179311+00:00","modified_at":"2021-04-19T11:25:52.221654+00:00","email":"test-send_invitation_emails_returns_ok_response-1618831551@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7f2e2d176872230ef04e6bee0e42748f?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "ffb1edd0-a101-11eb-9f19-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"0013d220-a102-11eb-9f19-da7ad0900002","attributes":{"uuid":"0013d220-a102-11eb-9f19-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-19T11:25:52.822982+00:00","expires_at":"2021-04-21T11:25:52.681630+00:00"},"relationships":{"user":{"data":{"type":"users","id":"ffb1edd0-a101-11eb-9f19-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ffb1edd0-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4339380'
    status:
      code: 204
      message: No Content
version: 1
