interactions:
- request:
    body: '{"data":{"attributes":{"message":"Notification message","name":"Example
      suite name","options":{},"tags":["env:production"],"tests":[],"type":"suite"},"type":"suites"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/synthetics/suites
  response:
    body:
      string: '{"data":{"type":"suites","id":"36n-bb6-njj","attributes":{"tags":["env:production"],"type":"suite","created_by":{"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"created_at":"2026-01-07T12:38:46.109472+00:00","modified_at":"2026-01-07T12:38:46.109472+00:00","message":"Notification
        message","public_id":"36n-bb6-njj","options":{},"modified_by":{"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"tests":[],"name":"Example suite name","org_id":321813,"monitor_id":249141773}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"public_ids":["36n-bb6-njj"]},"type":"delete_suites_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/synthetics/suites/bulk-delete
  response:
    body:
      string: '{"data":[{"type":"suites","attributes":{"public_id":"36n-bb6-njj","deleted_at":"2026-01-07
        12:38:46.679914"},"id":"36n-bb6-njj"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
