interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"1516d45af06cc9ed","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"bd404bad-494f-4409-94b3-92f1f788d2e4","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"26345afc-b408-4d08-9fa5-f3bfeae57c30","name":"Application","type":"group","position":0,"components":[{"id":"47bbcea0-722d-44e1-87b7-fa2fd40103a7","name":"Login","type":"component","status":"operational","position":0},{"id":"86f06ef0-c7fa-4563-98b0-581732723a3f","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:39.270745Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"1516d45af06cc9ed","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:39.270745Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/bd404bad-494f-4409-94b3-92f1f788d2e4/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"completed_date":"2026-02-19T23:09:38.938Z","completed_description":"We
      have completed maintenance on the API to improve performance.","components_affected":[{"id":"47bbcea0-722d-44e1-87b7-fa2fd40103a7","status":"operational"}],"in_progress_description":"We
      are currently performing maintenance on the API to improve performance.","scheduled_description":"We
      will be performing maintenance on the API to improve performance.","start_date":"2026-02-19T22:09:38.938Z","title":"API
      Maintenance"},"type":"maintenances"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/bd404bad-494f-4409-94b3-92f1f788d2e4/maintenances
  response:
    body:
      string: '{"data":{"id":"e5351abf-7257-4549-8cad-796d3f440325","type":"maintenances","attributes":{"completed_date":"2026-02-19T23:09:38.938Z","completed_description":"We
        have completed maintenance on the API to improve performance.","components_affected":[{"id":"47bbcea0-722d-44e1-87b7-fa2fd40103a7","name":"Login","status":"operational"}],"in_progress_description":"We
        are currently performing maintenance on the API to improve performance.","modified_at":"2026-02-19T21:09:39.909684Z","published_date":"2026-02-19T21:09:39.909684Z","scheduled_description":"We
        will be performing maintenance on the API to improve performance.","start_date":"2026-02-19T22:09:38.938Z","status":"scheduled","title":"API
        Maintenance","updates":[{"id":"ccded96a-4604-4431-bdd4-392929ee5d02","created_at":"2026-02-19T21:09:39.909684Z","modified_at":"2026-02-19T21:09:39.909684Z","started_at":"2026-02-19T21:09:39.909684Z","manual_transition":false,"status":"scheduled","description":"We
        will be performing maintenance on the API to improve performance.","components_affected":[{"id":"47bbcea0-722d-44e1-87b7-fa2fd40103a7","name":"Login","status":"operational"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"bd404bad-494f-4409-94b3-92f1f788d2e4","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/maintenances
  response:
    body:
      string: '{"data":[{"id":"f286de7d-136f-4fdc-8e86-4d0777e3e21f","type":"maintenances","attributes":{"completed_date":"2026-02-19T17:13:22.043Z","completed_description":"We
        have completed maintenance on the API to improve performance.","components_affected":[{"id":"77170b9e-5e63-4ddb-9a0b-93e271e530ba","name":"Login","status":"operational"}],[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/bd404bad-494f-4409-94b3-92f1f788d2e4
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
