interactions:
- request:
    body: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
      Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821"},"type":"execution_policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      string: '{"data":{"id":"8856f100-43c1-4462-a96e-5ab404e695dc","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:42Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821","targets":[],"updated_at":"2026-08-14T09:13:42Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies/8856f100-43c1-4462-a96e-5ab404e695dc
  response:
    body:
      string: '{"data":{"id":"8856f100-43c1-4462-a96e-5ab404e695dc","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:42Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testgetanexecutionpolicyreturnsokresponse1786698821","scope":{},"targets":[],"updated_at":"2026-08-14T09:13:42Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
