interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason_description":"items to focus on"},"enabled":true,"name":"Test-Update_an_inbox_rule_returns_Bad_Request_response-1737621681","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"inbox_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body:
      string: '{"data":{"id":"ebe5f9b6-a0fe-4422-9909-2116aa9cb057","type":"inbox_rules","attributes":{"action":{"reason_description":"items
        to focus on"},"created_at":1737621681706,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737621681706,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Update_an_inbox_rule_returns_Bad_Request_response-1737621681","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"invalid":{"attributes":{"action":{"reason_description":"We want to focus
      on these items."},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"ebe5f9b6-a0fe-4422-9909-2116aa9cb057","type":"inbox_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/ebe5f9b6-a0fe-4422-9909-2116aa9cb057
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Error while
        unmarshalling JSON API request"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/ebe5f9b6-a0fe-4422-9909-2116aa9cb057
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
