interactions:
- request:
    body: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"api-spec-test","type":"gcp_scan_options"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body:
      string: '{"errors":[{"status":"409","detail":"gcp scan options already exist
        for project api-spec-test"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
version: 1
