interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_a_new_service_object_returns_CREATED_response-1653590938","opsgenie_api_key":"00000000-0000-0000-0000-000000000000","region":"us"},"type":"opsgenie-service"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services
  response:
    body:
      string: '{"data":{"attributes":{"custom_url":null,"region":"us","name":"Test-Create_a_new_service_object_returns_CREATED_response-1653590938"},"type":"opsgenie-service","id":"0dcb43af-f233-4cda-b260-37e97e12f66f"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/opsgenie/services/0dcb43af-f233-4cda-b260-37e97e12f66f
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
