interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_On_Call_schedule_returns_OK_response-1764252697@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"fd12eb55-cb9a-11f0-8fcd-5ac0b02adf59","attributes":{"name":null,"handle":"test-get_on_call_schedule_returns_ok_response-1764252697@datadoghq.com","created_at":"2025-11-27T14:11:37.976362+00:00","modified_at":"2025-11-27T14:11:37.976362+00:00","email":"test-get_on_call_schedule_returns_ok_response-1764252697@datadoghq.com","icon":"https://secure.gravatar.com/avatar/56aea300d0912ed694b8ff04cfcc86aa?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-11-17T14:11:37.612Z","end_date":"2025-12-07T14:11:37.612Z","interval":{"days":1},"members":[{"user":{"id":"fd12eb55-cb9a-11f0-8fcd-5ac0b02adf59"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-11-22T14:11:37.612Z"}],"name":"Test-Get_On_Call_schedule_returns_OK_response-1764252697","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"ba513209-ef94-4826-8511-1c5ccb912070","type":"schedules","attributes":{"name":"Test-Get_On_Call_schedule_returns_OK_response-1764252697","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9bb587a7-8302-49f3-8130-cb417de4ecd5","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/ba513209-ef94-4826-8511-1c5ccb912070
  response:
    body:
      string: '{"data":{"id":"ba513209-ef94-4826-8511-1c5ccb912070","type":"schedules","attributes":{"name":"Test-Get_On_Call_schedule_returns_OK_response-1764252697","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"9bb587a7-8302-49f3-8130-cb417de4ecd5","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/fd12eb55-cb9a-11f0-8fcd-5ac0b02adf59
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
