interactions:
- request:
    body: '{"data": {"attributes": {"tags": ["app", "datacenter", "TestUpdateatagconfigurationreturnsOKresponse1618576115"],
      "metric_type": "distribution"}, "type": "manage_tags", "id": "TestUpdateatagconfigurationreturnsOKresponse1618576115"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1618576115/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"TestUpdateatagconfigurationreturnsOKresponse1618576115","attributes":{"tags":["TestUpdateatagconfigurationreturnsOKresponse1618576115","app","datacenter"],"include_percentiles":false,"created_at":"2021-04-16T12:28:36.358151+00:00","updated_at":"2021-04-16T12:28:36.358151+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '46'
      x-ratelimit-reset:
      - '24'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTagConfiguration
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestUpdateatagconfigurationreturnsOKresponse1618576115/tags
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '23'
    status:
      code: 204
      message: No Content
version: 1
