interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_update_a_role_returns_ok_response-1617953624.448428"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"ea524d94-9905-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_update_a_role_returns_ok_response-1617953624.448428","created_at":"2021-04-09T07:33:45.007262+00:00","modified_at":"2021-04-09T07:33:45.007262+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '484'
      x-ratelimit-reset:
      - '16'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "ea524d94-9905-11eb-9ce8-da7ad0900002", "type": "roles",
      "attributes": {"name": "Test-test_update_a_role_returns_ok_response-1617953624.448428-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/ea524d94-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"ea524d94-9905-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_update_a_role_returns_ok_response-1617953624.448428-updated","created_at":"2021-04-09T07:33:45.007262+00:00","modified_at":"2021-04-09T07:33:45.455678+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '483'
      x-ratelimit-reset:
      - '15'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/ea524d94-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '482'
      x-ratelimit-reset:
      - '15'
    status:
      code: 204
      message: No Content
version: 1
