interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type":"STANDARD"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"cf2e3b59-d504-4714-9853-38e4ceddb858","type":"case","attributes":{"attributes":{},"created_at":"2024-02-14T18:55:15.728783622Z","creation_source":"MANUAL","description":"","insights":[],"internal_id":"cf2e3b59-d504-4714-9853-38e4ceddb858","key":"DDFC-184","priority":"P4","public_id":"244","status":"OPEN","title":"My
        new case","type":"STANDARD"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":""}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"assignee_id":"invalid-uuid"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/cf2e3b59-d504-4714-9853-38e4ceddb858/assign
  response:
    body:
      string: '{"errors":[{"code":"invalid_command","title":"error when validating
        input command: ''assigneeid'' field must be an uuid","meta":{"entity":"assigneeid","rule":"uuid"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
