interactions:
- request:
    body: '{"data": {"id": "Testtestupdateatagconfigurationreturnsokresponse1617968193",
      "type": "manage_tags", "attributes": {"metric_type": "distribution", "tags":
      ["app", "datacenter", "Testtestupdateatagconfigurationreturnsokresponse1617968193"]}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/Testtestupdateatagconfigurationreturnsokresponse1617968193/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"Testtestupdateatagconfigurationreturnsokresponse1617968193","attributes":{"tags":["datacenter","app","Testtestupdateatagconfigurationreturnsokresponse1617968193"],"include_percentiles":false,"created_at":"2021-04-09T11:36:33.167112+00:00","updated_at":"2021-04-09T11:36:33.167112+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '42'
      x-ratelimit-reset:
      - '27'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTagConfiguration
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/Testtestupdateatagconfigurationreturnsokresponse1617968193/tags
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '40'
      x-ratelimit-reset:
      - '26'
    status:
      code: 204
      message: No Content
version: 1
