interactions:
- request:
    body: '{"data":{"attributes":{"api_key":"fakekey","email":"dev@datadog.com","name":"testlistcloudflareaccountsreturnsokresponse1704393643","resources":["web","dns"],"zones":["zone-id-1","zone-id-2"]},"type":"cloudflare-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts
  response:
    body:
      string: '{"data":{"type":"cloudflare-accounts","id":"032c2a7bec2890a18b9ff810ffbaf789","attributes":{"resources":["web","dns"],"name":"testlistcloudflareaccountsreturnsokresponse1704393643","email":"dev@datadog.com","zones":["zone-id-1","zone-id-2"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/cloudflare/accounts/032c2a7bec2890a18b9ff810ffbaf789
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
