interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-5193f5ba7bb7cf2a","name":"name-5193f5ba7bb7cf2a"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"58c0c93a-ef4f-11ed-a5d2-da7ad0900002","attributes":{"name":"name-5193f5ba7bb7cf2a","handle":"handle-5193f5ba7bb7cf2a","summary":null,"description":null,"color":3,"created_at":"2023-05-10T16:25:58.884270+00:00","modified_at":"2023-05-10T16:25:58.884274+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/58c0c93a-ef4f-11ed-a5d2-da7ad0900002
  response:
    body:
      string: '{"errors":["Team for ID 58c0c93a-ef4f-11ed-a5d2-da7ad0900002 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
