interactions:
- request:
    body: '{"data":{"attributes":{"connection_types":["logs","logs"]},"relationships":{"sink_org":{"data":{"id":"83999dcd-7f97-11f0-8de1-1ecf66f1aa85","type":"orgs"}}},"type":"org_connection"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/org_connections
  response:
    body:
      string: '{"errors":["connection between orgs 4dee724d-00cc-11ea-a77b-570c9d03c6c5
        and 83999dcd-7f97-11f0-8de1-1ecf66f1aa85 is not allowed"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
