interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"83f41574-2062-47de-be0e-b3c2ae43ef5c","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:46:50.896205Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"83f41574-2062-47de-be0e-b3c2ae43ef5c","key":"DDFC-82981","merge_status":"NOT_MERGED","priority":"P4","public_id":"83070","status":"OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/83f41574-2062-47de-be0e-b3c2ae43ef5c/unassign
  response:
    body:
      string: '{"data":{"id":"83f41574-2062-47de-be0e-b3c2ae43ef5c","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:46:50.896205Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"83f41574-2062-47de-be0e-b3c2ae43ef5c","key":"DDFC-82981","merge_status":"NOT_MERGED","priority":"P4","public_id":"83070","status":"OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
