interactions:
- request:
    body: '{"compute": [{"aggregation": "count", "interval": "300", "metric": "test.aggregation.Test-test_aggregate_events_returns_ok_response-1617953625.964583",
      "type": "timeseries"}], "filter": {"from": "1600348573", "indexes": ["main"],
      "query": "datadog-agent", "to": "1600348600"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AggregateLogs
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"status":"done","request_id":"pddv1ChZQR25TNWx2Q1JlS0pCSGQ5dHBUcjRnIiwKHOXxLXH7WZWAGSOw29gWkVDuNH3aJJ5aljYzoYsSDE6dR66bXDXonJX23Q","elapsed":0},"data":{"buckets":[]}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-reset:
      - '74'
    status:
      code: 200
      message: OK
version: 1
