interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_invitation_returns_OK_response-1617999626@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0547ee9a-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1617999626@datadoghq.com","created_at":"2021-04-09T20:20:26.386882+00:00","modified_at":"2021-04-09T20:20:26.423080+00:00","email":"test-get_a_user_invitation_returns_ok_response-1617999626@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c0b7531b0ebb593b4a1ddd2022c8068b?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "0547ee9a-9971-11eb-9cf2-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"05a2827e-9971-11eb-9cf2-da7ad0900002","attributes":{"uuid":"05a2827e-9971-11eb-9cf2-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T20:20:26.981262+00:00","expires_at":"2021-04-11T20:20:26.916607+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0547ee9a-9971-11eb-9cf2-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/05a2827e-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"05a2827e-9971-11eb-9cf2-da7ad0900002","attributes":{"uuid":"05a2827e-9971-11eb-9cf2-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T20:20:26.981262+00:00","expires_at":"2021-04-11T20:20:26.916607+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0547ee9a-9971-11eb-9cf2-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0547ee9a-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
version: 1
