interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_an_existing_incident_team_returns_OK_response-1618572733"},"type":"teams"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/teams
  response:
    body:
      string: '{"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","created_at":"2020-12-29T22:58:44.733921+00:00","modified_at":"2020-12-29T22:58:44.733937+00:00","email":"team-intg-tools-libs@datadoghq.com","icon":"https://secure.gravatar.com/avatar/bff625f8b50529c690eb616cd5e64167?s=48&d=retro","title":null,"verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"teams","id":"00a8c9c7-5e3e-5344-8dd3-a524ba8a2afb","attributes":{"name":"Test-Update_an_existing_incident_team_returns_OK_response-1618572733","created":"2021-04-16T11:32:13.886612+00:00","modified":"2021-04-16T11:32:13.886612+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4327367'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '47'
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_an_existing_incident_team_returns_OK_response-1618572733-updated"},"type":"teams"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/teams/00a8c9c7-5e3e-5344-8dd3-a524ba8a2afb
  response:
    body:
      string: '{"included":[{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"name":"CI
        Account","handle":"9919ec9b-ebc7-49ee-8dc8-036[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/teams/00a8c9c7-5e3e-5344-8dd3-a524ba8a2afb
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4327367'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '46'
    status:
      code: 204
      message: No Content
version: 1
