interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"Test-28b4739ba68f588b@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"cloud_run_revision_filters":[],"account_tags":[],"is_cspm_enabled":false,"is_security_command_center_enabled":false,"automute":false,"host_filters":[],"client_email":"Test-28b4739ba68f588b@example.com"},"id":"73f227e1-939b-42e3-bb40-773a05509e52"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"client_email":"Test-28b4739ba68f588b@example.com","cloud_run_revision_filters":["merp:derp"]},"id":"73f227e1-939b-42e3-bb40-773a05509e52","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/73f227e1-939b-42e3-bb40-773a05509e52
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"73f227e1-939b-42e3-bb40-773a05509e52","attributes":{"is_cspm_enabled":false,"automute":false,"is_security_command_center_enabled":false,"client_email":"Test-28b4739ba68f588b@example.com","resource_collection_enabled":false,"account_tags":[],"host_filters":[],"cloud_run_revision_filters":["merp:derp"]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/73f227e1-939b-42e3-bb40-773a05509e52
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
