interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      string: "{\"data\":{\"id\":\"1f787bd5-127a-4005-85df-6d24eb8955c1\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"name\":\"World\"}}}"
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/1f787bd5-127a-4005-85df-6d24eb8955c1/custom_attributes/not-an-uuid
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Invalid Parameter","detail":"invalid
        parameter \"CustomAttributeId\" in \"path\"; expected type \"uuid\""}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/1f787bd5-127a-4005-85df-6d24eb8955c1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
