interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in case\
      \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"type\"\
      :\"case_type\"}}"
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      string: "{\"data\":{\"id\":\"5ec976bf-2f12-43c4-be20-542518b5906e\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Investigations done in case\
        \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"}}}"
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/types/5ec976bf-2f12-43c4-be20-542518b5906e
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
