interactions:
- request:
    body: '{"data": {"attributes": {"tags": ["app", "datacenter", "TestListtagconfigurationsreturnsSuccessresponse1617999630"],
      "metric_type": "distribution"}, "type": "manage_tags", "id": "TestListtagconfigurationsreturnsSuccessresponse1617999630"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateTagConfiguration
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1617999630/tags
  response:
    body:
      string: '{"data":{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617999630","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617999630"],"include_percentiles":false,"created_at":"2021-04-09T20:20:30.454996+00:00","updated_at":"2021-04-09T20:20:30.454996+00:00","metric_type":"distribution"}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '46'
      x-ratelimit-reset:
      - '30'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListTagConfigurations
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Btags_configured%5D=TestListtagconfigurationsreturnsSuccessresponse1617999630
  response:
    body:
      string: '{"data":[{"type":"manage_tags","id":"TestListtagconfigurationsreturnsSuccessresponse1617999630","attributes":{"tags":["datacenter","app","TestListtagconfigurationsreturnsSuccessresponse1617999630"],"include_percentiles":false,"created_at":"2021-04-09T20:20:30.454996+00:00","updated_at":"2021-04-09T20:20:30.454996+00:00","metric_type":"distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '45'
      x-ratelimit-reset:
      - '30'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteTagConfiguration
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/TestListtagconfigurationsreturnsSuccessresponse1617999630/tags
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '23'
    status:
      code: 204
      message: No Content
version: 1
