interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Update_a_user_returns_OK_response-1617999702@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"32aea8c4-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1617999702@datadoghq.com","created_at":"2021-04-09T20:21:42.556295+00:00","modified_at":"2021-04-09T20:21:42.594657+00:00","email":"test-update_a_user_returns_ok_response-1617999702@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3b84d6cfc3eb737ef883aff396833dc5?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "32aea8c4-9971-11eb-9cf2-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/32aea8c4-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"32aea8c4-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1617999702@datadoghq.com","created_at":"2021-04-09T20:21:42.556295+00:00","modified_at":"2021-04-09T20:21:43.177331+00:00","email":"test-update_a_user_returns_ok_response-1617999702@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3b84d6cfc3eb737ef883aff396833dc5?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/32aea8c4-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"errors": ["32aea8c4-9971-11eb-9cf2-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4280781'
    status:
      code: 404
      message: Not Found
version: 1
