interactions:
- request:
    body: '{"data":{"attributes":{"restriction_query":"env:sandbox"},"type":"logs_restriction_queries"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries
  response:
    body:
      string: '{"data":{"type":"logs_restriction_queries","id":"7dfcd704-c3fd-11f0-a70b-da7ad0900002","attributes":{"restriction_query":"env:sandbox","created_at":"2025-11-17T21:36:35.634185+00:00","modified_at":"2025-11-17T21:36:35.634185+00:00"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7dfcd704-c3fd-11f0-a70b-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/7dfcd704-c3fd-11f0-a70b-da7ad0900002
  response:
    body:
      string: '{"errors":["Restriction query not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
