interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_a_user_permissions_returns_OK_response-1652349220@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"66d13aa8-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1652349220@datadoghq.com","created_at":"2022-05-12T09:53:40.471329+00:00","modified_at":"2022-05-12T09:53:40.525782+00:00","email":"test-get_a_user_permissions_returns_ok_response-1652349220@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5988cbe0d6d2d298191b4d964ddf15e2?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/66d13aa8-d1d9-11ec-ad3d-da7ad0900002/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/66d13aa8-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
