interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-17f710cc6491a98e","name":"test-name-17f710cc6491a98e"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"2e757196-405b-11ee-bc70-da7ad0900002","attributes":{"name":"test-name-17f710cc6491a98e","handle":"test-handle-17f710cc6491a98e","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:46.071074+00:00","modified_at":"2023-08-21T19:44:46.071080+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1692647085","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"2e91164e-405b-11ee-9f5b-da7ad0900002","attributes":{"team_id":"2e757196-405b-11ee-bc70-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1692647085","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002/links/2e91164e-405b-11ee-9f5b-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"team_links","id":"2e91164e-405b-11ee-9f5b-da7ad0900002","attributes":{"team_id":"2e757196-405b-11ee-bc70-da7ad0900002","label":"Test-Get_a_team_link_returns_OK_response-1692647085","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2e757196-405b-11ee-bc70-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
