interactions:
- request:
    body: '{"data":{"attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      string: '{"data":{"id":"CreateacustomframeworkreturnsConflictresponse-10","type":"custom_framework","attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","version":"10"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      string: '{"errors":[{"status":"409","title":"Status Conflict","detail":"already_exists(Framework
        ''CreateacustomframeworkreturnsConflictresponse'' already existed)"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 409
      message: Conflict
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/CreateacustomframeworkreturnsConflictresponse/10
  response:
    body:
      string: '{"data":{"id":"CreateacustomframeworkreturnsConflictresponse-10","type":"custom_framework","attributes":{"description":"","handle":"CreateacustomframeworkreturnsConflictresponse","icon_url":"test-url","name":"name","version":"10"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
