interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"916512cd-427c-4717-95e7-21a35fec7045","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:56.218952Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"916512cd-427c-4717-95e7-21a35fec7045","key":"DDFC-77696","merge_status":"NOT_MERGED","priority":"P4","public_id":"77779","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"description":"Seeing some weird memory increase...
      Updating the description"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/916512cd-427c-4717-95e7-21a35fec7045/description
  response:
    body:
      string: '{"data":{"id":"916512cd-427c-4717-95e7-21a35fec7045","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:56.218952Z","creation_source":"MANUAL","custom_attributes":{},"description":"Seeing
        some weird memory increase... Updating the description","insights":[],"internal_id":"916512cd-427c-4717-95e7-21a35fec7045","key":"DDFC-77696","merge_status":"NOT_MERGED","modified_at":"2025-08-21T12:21:56.610465Z","priority":"P4","public_id":"77779","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
