interactions:
- request:
    body: '{"data":{"attributes":{"protectionLevel":"approval_required"},"type":"protectionLevel"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/7addb29b-f935-472c-ae79-d1963979a23e/protection-level
  response:
    body:
      string: '{"errors":[{"status":"404","id":"ac8e4f99-d059-43c6-b48a-2feb634c46b9","title":"app
        not found","detail":"app with id 7addb29b-f935-472c-ae79-d1963979a23e not
        found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
