interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1770059968","space_resource_name":"spaces/AAQA-zFIks8"}},"type":"google-chat-organization-handle"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles
  response:
    body:
      string: '{"data":{"id":"10cd94aa-868b-4d8f-93ab-bb0b1f9848a8","type":"google-chat-organization-handle","attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1770059968","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1770059968--updated"}},"type":"google-chat-organization-handle"}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/10cd94aa-868b-4d8f-93ab-bb0b1f9848a8
  response:
    body:
      string: '{"data":{"id":"10cd94aa-868b-4d8f-93ab-bb0b1f9848a8","type":"google-chat-organization-handle","attributes":{"name":"Test-Update_organization_handle_returns_OK_response-1770059968--updated","space_display_name":"api-test-space","space_resource_name":"spaces/AAQA-zFIks8"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/google-chat/organizations/e54cb570-c674-529c-769d-84b312288ed7/organization-handles/10cd94aa-868b-4d8f-93ab-bb0b1f9848a8
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
