interactions:
- request:
    body: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
      Execution Policy testupdateanexecutionpolicyreturnsokresponse1786698826"},"type":"execution_policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      string: '{"data":{"id":"0405b41b-8865-4918-91ce-6d935b6af245","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:47Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testupdateanexecutionpolicyreturnsokresponse1786698826","targets":[],"updated_at":"2026-08-14T09:13:47Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
      Execution Policy Updated"},"id":"0405b41b-8865-4918-91ce-6d935b6af245","type":"execution_policy"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies/0405b41b-8865-4918-91ce-6d935b6af245
  response:
    body:
      string: '{"data":{"id":"0405b41b-8865-4918-91ce-6d935b6af245","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:47Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy Updated","scope":{},"targets":[],"updated_at":"2026-08-14T09:13:48Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":2}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
