interactions:
- request:
    body: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"","version":0},"type":"custom_destination"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      string: '{"errors":["Invalid custom destination configuration","Custom destination
        name must not be empty"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
