interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com","host_filters":[],"is_security_command_center_enabled":true},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"account_tags":[],"host_filters":[],"client_email":"bce3b7c65fce9a71@test-project.iam.gserviceaccount.com","is_security_command_center_enabled":true,"resource_collection_enabled":false,"is_cspm_enabled":false},"id":"e72611ce-c7eb-4411-bc0e-04fa12a8cb6c"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/e72611ce-c7eb-4411-bc0e-04fa12a8cb6c
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
