interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_delete_an_api_key_returns_no_content_response-1608151196.901266"},
      "type": "api_keys"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:57.300374+00:00","key":"e0e37f1195675c6e9de17f5a4d2fe38a","last4":"e38a","modified_at":"2020-12-16T20:39:57.300374+00:00","name":"datadog-api-client-python-test_delete_an_api_key_returns_no_content_response-1608151196.901266"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"a48c3115-3e04-5d61-b76d-f08cbd023156"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - i3kq+QX78RffjnNgnM5zmiWzGMsFnhM4liQTSNUgnpglr14R7eRaqNxK/q9SML9W
      x-dd-version:
      - '35.3555652'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/a48c3115-3e04-5d61-b76d-f08cbd023156
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JNmeA3l0ccOXtA8wh8DpQGSmyIQ4z3r0Sqn1W1sQHkMGKxYzMqf/DJpF1RAS+Dpy
      x-dd-version:
      - '35.3555652'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/a48c3115-3e04-5d61-b76d-f08cbd023156
  response:
    body:
      string: '{"errors": ["API key not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.3555652'
    status:
      code: 404
      message: Not Found
version: 1
