interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-6ef0c1dbdd77a3cd","name":"name-6ef0c1dbdd77a3cd"},"relationships":{"users":{"data":[]}},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"a78f35ae-20d9-11ee-b635-da7ad0900002","attributes":{"name":"name-6ef0c1dbdd77a3cd","handle":"handle-6ef0c1dbdd77a3cd","summary":null,"description":null,"created_at":"2023-07-12T17:29:28.621958+00:00","modified_at":"2023-07-12T17:29:28.621964+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a78f35ae-20d9-11ee-b635-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
