interactions:
- request:
    body: '{"data": {"type": "org_login_methods", "attributes": {"login_method": "standard"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateOrganizationLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/org_login_methods
  response:
    body:
      string: '{"data":{"type":"org_login_methods","id":"6226d5b3-10d1-4e6b-a18c-7ae95752a5a0","attributes":{"created_at":"2020-12-23T12:10:49.784250+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - VfsOYTBPajdIURjGpWdSf1qbyO21kEmlCNna/tfODfKKzbp6OFbIz8G+Qerctd6m
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteOrganizationLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/org_login_methods/6226d5b3-10d1-4e6b-a18c-7ae95752a5a0
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 2yLQyeuXdHKf2qhVlcnhVSRUgzA6Krta0LEltrGESIMHoX7HWgb/dSrVA+a76Sm3
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 204
      message: No Content
version: 1
