interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"876f595d133dac09@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"host_filters":[],"automute":false,"client_email":"876f595d133dac09@example.com"},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"client_email":"876f595d133dac09@example.com","host_filters":["foo:bar"]},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/fa9bd370-fe91-498b-8d02-a25baecc5a60
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"automute":false,"client_email":"876f595d133dac09@example.com","host_filters":["foo:bar"],"is_cspm_enabled":false},"id":"fa9bd370-fe91-498b-8d02-a25baecc5a60"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/fa9bd370-fe91-498b-8d02-a25baecc5a60
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
