interactions:
- request:
    body: '{"data":{"attributes":{"name":"datastore-name","primary_column_name":"0invalid_key"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"errors":[{"status":"400","id":"7fb0d7af-ab2a-4c6b-b060-b10669012608","title":"datastore
        configuration invalid","detail":"column name ''0invalid_key'' does not start
        with a letter or an underscore"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
