interactions:
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude logs from
      staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1620751632","query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1620751632"},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Delete_a_security_filter_returns_No_Content_response-1620751632","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestDeleteasecurityfilterreturnsNoContentresponse1620751632","is_builtin":false},"type":"security_filters","id":"sqg-5rq-5qc"}}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/sqg-5rq-5qc
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4512853'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/sqg-5rq-5qc
  response:
    body:
      string: '{"errors":["not_found(Security filter with id ''sqg-5rq-5qc'' not found)"]}'
    headers:
      content-type:
      - application/json
      x-dd-version:
      - '35.4512853'
    status:
      code: 404
      message: Not Found
version: 1
