interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"distribution","include_percentiles":false,"path":"@duration"},"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}]},"id":"Test-Get_all_span_based_metrics_returns_OK_response-1686139550","type":"spans_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Get_all_span_based_metrics_returns_OK_response_1686139550","attributes":{"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body:
      string: '{"data":[{"id":"tf_TestAccSpansMetric_import_local_1681996306","attributes":{"filter":{"query":"@http.status_code:200
        service:my-service"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"},{"id":"Test_Get_all_span_based_metrics_returns_OK_response_1686139550","attributes":{"filter":{"query":"source:Test-Get_all_span_based_metrics_returns_OK_response-1686139550"},"group_by":[{"path":"resource_name","tag_name":"resource_name"}],"compute":{"aggregation_type":"distribution","path":"@duration","include_percentiles":false}},"type":"spans_metrics"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics/Test_Get_all_span_based_metrics_returns_OK_response_1686139550
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
