interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_list_roles_returns_ok_response-1608080016.77299"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"2188cf08-3f39-11eb-89bd-5f3a5634ff63","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1608080016.77299","created_at":"2020-12-16T00:53:37.322385+00:00","modified_at":"2020-12-16T00:53:37.322385+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - gwxwlHJSLmAXGvHTSu/VslfvUPji2blx0q1wqJSN+1mxCKSPKKSSC5xzBG+/OLHq
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '499'
      X-RateLimit-Reset:
      - '23'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListRoles
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?filter=datadog-api-client-python-test_list_roles_returns_ok_response-1608080016.77299
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":3300}},"data":[{"type":"roles","id":"2188cf08-3f39-11eb-89bd-5f3a5634ff63","attributes":{"name":"datadog-api-client-python-test_list_roles_returns_ok_response-1608080016.77299","created_at":"2020-12-16T00:53:37.322385+00:00","modified_at":"2020-12-16T00:53:37.322385+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - g1JN5WIJ1Um2nWq9AQ7orHFBA37V3eIZYgeyDV/dLV8QtbkkvRVVIW0Fy1xXObzE
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '498'
      X-RateLimit-Reset:
      - '23'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/2188cf08-3f39-11eb-89bd-5f3a5634ff63
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 5Cj6NNcncFcQ6G9NKti+kar8gWVql7fBvPeJG7XhNnPs269m3W9o1I+JeGPUiuK3
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '497'
      X-RateLimit-Reset:
      - '22'
    status:
      code: 204
      message: No Content
version: 1
