interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com","host_filters":[],"is_resource_change_collection_enabled":true,"is_security_command_center_enabled":true},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"Test-d119bc7c8439bcb5@test-project.iam.gserviceaccount.com","cloud_run_revision_filters":[],"host_filters":[],"automute":false,"resource_collection_enabled":true,"account_tags":[],"is_security_command_center_enabled":true,"is_resource_change_collection_enabled":true,"is_cspm_enabled":false},"id":"abdfa7a0-64b7-437d-99fe-13f56bbbfb15"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/abdfa7a0-64b7-437d-99fe-13f56bbbfb15
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
