interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListApiKeys
    method: GET
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"meta":{"max_allowed":200,"page":{"total_filtered_count":25}},"data":[{"type":"api_keys","attributes":{"created_at":"2020-04-20T15:25:00.852857+00:00","last4":"ca47","modified_at":"2020-04-20T15:25:00.852881+00:00","name":"1PASSWORD_SHARED"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":null}},"id":"cc9dac44-9f1e-546a-8ce4-7f1a35653bb3"},{"type":"api_keys","attributes":{"created_at":"2019-11-12T22:36:05.343711+00:00","last4":"8c14","modified_at":"2019-11-12T22:36:05.343729+00:00","name":"armcburney"},"relationships":{"created_by":{"data":{"type":"users","id":"af29975c-059c-11ea-a77c-c3d911d2ed55"}},"modified_by":{"data":null}},"id":"224f7c94-329c-5fda-9b38-4d6df3cbf865"},{"type":"api_keys","attributes":{"created_at":"2020-07-09T14:58:35.010284+00:00","last4":"3ac7","mod[...]
