interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "Test-Create_a_user_returns_OK_response-1618576084@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"319d3584-9eaf-11eb-9e3e-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-create_a_user_returns_ok_response-1618576084@datadoghq.com","created_at":"2021-04-16T12:28:05.376163+00:00","modified_at":"2021-04-16T12:28:05.393293+00:00","email":"test-create_a_user_returns_ok_response-1618576084@datadoghq.com","icon":"https://secure.gravatar.com/avatar/d08c10e3c365deb6f350cd371fddcc3f?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/319d3584-9eaf-11eb-9e3e-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4327775'
    status:
      code: 204
      message: No Content
version: 1
