interactions:
- request:
    body: '{"data":{"attributes":{"is_enabled":true},"type":"gcp_uc_config_patch_request"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/gcp_uc_config/100
  response:
    body:
      string: '{"data":{"id":"100","type":"gcp_uc_config","attributes":{"account_id":"123456_A123BC_12AB34","bucket_name":"dd-cloud-cost-management","created_at":"2024-04-29T13:10:37.514046","dataset":"billing","error_messages":null,"export_prefix":"datadog_cloud_cost","export_project_name":"datadog-cloud-cost","months":15,"project_id":"","service_account":"test@datadoghq.com","status":"active","status_updated_at":"2025-06-14T00:50:28.556876","updated_at":"2025-06-14T00:50:28.556873"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
