interactions:
- request:
    body: '{"cases":[{"notifications":["channel"],"status":"info"}],"complianceSignalOptions":{"userActivationStatus":true,"userGroupByFields":["@account_id"]},"isEnabled":false,"message":"Cloud
      configuration rule","name":"Test-Get_a_cloud_configuration_rule_s_details_returns_OK_response-1671216834_cloud","options":{"complianceRuleOptions":{"complexRule":false,"regoRule":{"policy":"package
      datadog\n","resourceTypes":["gcp_compute_disk"]},"resourceType":"gcp_compute_disk"}},"tags":["a:tag"],"type":"cloud_configuration"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":["a:tag"],"type":"cloud_configuration","isEnabled":false,"hasExtendedTitle":true,"message":"Cloud
        configuration rule","options":{"detectionMethod":"threshold","evaluationWindow":7200,"maxSignalDuration":86400,"complianceRuleOptions":{"resourceType":"gcp_compute_disk","regoRule":{"policy":"package
        datadog\n","resourceTypes":["gcp_compute_disk"]},"complexRule":false},"keepAlive":21600},"version":1,"createdAt":1671216834810,"filters":[],"queries":[{"query":"resource_type:gcp_compute_disk","groupByFields":["resource_type","resource_id"],"aggregation":"count","name":"a","distinctFields":[]}],"isDeleted":false,"complianceSignalOptions":{"defaultActivationStatus":null,"userActivationStatus":true,"defaultGroupByFields":null,"userGroupByFields":["@account_id"]},"cases":[{"status":"info","notifications":["channel"],"name":"","condition":"a
        > 0"}],"id":"bwb-onz-qhs","isDefault":false,"name":"Test-Get_a_cloud_configuration_rule_s_details_returns_OK_response-1671216834_cloud"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/bwb-onz-qhs
  response:
    body:
      string: '{"creationAuthorId":1445416,"tags":["a:tag"],"type":"cloud_configuration","isEnabled":false,"hasExtendedTitle":true,"message":"Cloud
        configuration rule","options":{"detectionMethod":"threshold","evaluationWindow":7200,"maxSignalDuration":86400,"complianceRuleOptions":{"resourceType":"gcp_compute_disk","regoRule":{"policy":"package
        datadog\n","resourceTypes":["gcp_compute_disk"]},"complexRule":false},"keepAlive":21600},"version":1,"createdAt":1671216834810,"filters":[],"queries":[{"query":"resource_type:gcp_compute_disk","groupByFields":["resource_type","resource_id"],"aggregation":"count","name":"a","distinctFields":[]}],"isDeleted":false,"complianceSignalOptions":{"defaultActivationStatus":null,"userActivationStatus":true,"defaultGroupByFields":null,"userGroupByFields":["@account_id"]},"cases":[{"status":"info","notifications":["channel"],"name":"","condition":"a
        > 0"}],"id":"bwb-onz-qhs","isDefault":false,"name":"Test-Get_a_cloud_configuration_rule_s_details_returns_OK_response-1671216834_cloud"}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
