interactions:
- request:
    body: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290799000,"queries":[{"compute":{"aggregation":"count"},"data_source":"profiles","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294399000},"type":"scalar_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/scalar
  response:
    body:
      string: '{"data":{"id":"0","type":"scalar_response","attributes":{"columns":[{"name":"a","values":[],"type":"number","meta":{"unit":null}}]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
