interactions:
- request:
    body: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"destination-Test-List_custom_destinations_with_one_item_returns_OK_response-1694097238","version":0},"type":"custom_destination"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      string: '{"data":{"id":"f84d9dcb-26f3-4576-abb9-319426218f37","attributes":{"version":0,"name":"destination-Test-List_custom_destinations_with_one_item_returns_OK_response-1694097238","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations
  response:
    body:
      string: '{"data":[{"id":"f84d9dcb-26f3-4576-abb9-319426218f37","attributes":{"version":0,"name":"destination-Test-List_custom_destinations_with_one_item_returns_OK_response-1694097238","query":"","enabled":true,"bufferMaxBytes":5242880,"bufferTimeoutSeconds":60,"maxRetryDurationSeconds":300,"compression":"GZIP","forwarderDestination":{"type":"http","endpoint":"https://example.org/my-intake","auth":{"type":"basic","username":"__REDACTED_SECRET__","password":"__REDACTED_SECRET__"}}},"type":"custom_destination"}],"meta":{"customDestinationsLimit":3}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/f84d9dcb-26f3-4576-abb9-319426218f37
  response:
    body:
      string: '{"meta":{}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
