interactions:
- request:
    body: '{"data": {"attributes": {"exclusion_filters": [{"name": "Exclude staging",
      "query": "source:staging"}], "filtered_data_type": "logs", "is_enabled": true,
      "name": "Test-Create_a_security_filter_returns_OK_response-1620804266", "query":
      "service:TestCreateasecurityfilterreturnsOKresponse1620804266"}, "type": "security_filters"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1620804266","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        staging"}],"version":1,"query":"service:TestCreateasecurityfilterreturnsOKresponse1620804266","is_builtin":false},"type":"security_filters","id":"ypi-obh-nzc"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityFilter
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/ypi-obh-nzc
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4512853'
    status:
      code: 204
      message: No Content
version: 1
