interactions:
- request:
    body: '{"data": {"attributes": {"title": "Test-Get_the_details_of_an_incident_returns_OK_response-1617999673",
      "customer_impacted": false}, "type": "incidents"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncident
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"756ed580-eba6-5c26-a7c3-7c6231ead60a","attributes":{"public_id":34413,"title":"Test-Get_the_details_of_an_incident_returns_OK_response-1617999673","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2021-04-09T20:21:14.008779+00:00","modified":"2021-04-09T20:21:14.008779+00:00","commander":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"detected":"2021-04-09T20:21:14.007120+00:00","created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"uuid":"3ad549bf-eba0-11e9-a77a-0705486660d0","handle":"frog@datadoghq.com","email":"frog@datadoghq.com","name":null,"icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"fields":{"severity":{"type":"dropdown","value":"UNKNOWN"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"teams":{"type":"autocomplete","value":null},"state":{"type":"dropdown","value":"active"},"services":{"type":"autocomplete","value":null}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"last_modified_by_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"commander_user":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"4148ead2-da45-548e-b6be-8e319bafc425"},{"type":"user_defined_field","id":"66b62f59-48f6-5fee-969a-0886b1db6dcd"},{"type":"user_defined_field","id":"299616f7-8acd-5403-886b-991656d6b982"},{"type":"user_defined_field","id":"ad2b9456-eaec-5bbd-9bae-e502d74e23f8"},{"type":"user_defined_field","id":"d8a54f16-8b2a-5ab4-87b8-5f0fa575c83e"},{"type":"user_defined_field","id":"623af0a5-f30c-577e-8146-09b8324bdb2d"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '397'
      x-ratelimit-reset:
      - '2327'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetIncident
    method: GET
    uri: https://api.datadoghq.com/api/v2/incidents/756ed580-eba6-5c26-a7c3-7c6231ead60a
  response:
    body:
      string: '{"data":{"type":"incidents","id":"756ed580-eba6-5c26-a7c3-7c6231ead60a","attributes":{"public_id":34413,"title":"Test-Get_the_details_of_an_incident_returns_OK_response-1617999673","resolved":null,"customer_impact_scope":null,"cust[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncident
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/756ed580-eba6-5c26-a7c3-7c6231ead60a
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '399'
      x-ratelimit-reset:
      - '45'
    status:
      code: 204
      message: No Content
version: 1
