interactions:
- request:
    body: '{"data":{"attributes":{"handle":"UpdateacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","requirements":[{"controls":[{"name":"control","rules_id":["def-000-be9"]}],"name":"requirement"}],"version":"10"},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      string: '{"data":{"id":"UpdateacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"handle":"UpdateacustomframeworkreturnsOKresponse","version":"10"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks/UpdateacustomframeworkreturnsOKresponse/10
  response:
    body:
      string: '{"data":{"id":"UpdateacustomframeworkreturnsOKresponse-10","type":"custom_framework","attributes":{"description":"","handle":"UpdateacustomframeworkreturnsOKresponse","icon_url":"test-url","name":"name","version":"10"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
