interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"2499c07f-33c7-4da2-8ae2-54ffa00acee7","attributes":{"name":"Test-Delete_an_Application_key_owned_by_current_user_returns_No_Content_response-1639757114","created_at":"2021-12-17T16:05:15.396041+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '397'
      x-ratelimit-reset:
      - '3285'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '396'
      x-ratelimit-reset:
      - '3285'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/2499c07f-33c7-4da2-8ae2-54ffa00acee7
  response:
    body:
      string: '{"errors": ["Application key not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
