interactions:
- request:
    body: '{"data":{"attributes":{"auth_method":"oauth","client_id":"client_id","client_secret":"client_secret","domain":"https://example.okta.com/","name":"testaddoktaaccountreturnsokresponse1706540332"},"id":"f749daaf-682e-4208-a38d-c9b43162c609","type":"okta-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts
  response:
    body:
      string: '{"data":{"type":"okta-accounts","attributes":{"auth_method":"oauth","client_id":"client_id","domain":"https://example.okta.com/","name":"testaddoktaaccountreturnsokresponse1706540332"},"id":"1e62be98-94ab-403d-9491-98b7fbf9a7de"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/okta/accounts/1e62be98-94ab-403d-9491-98b7fbf9a7de
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
