interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListSecurityFilters
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":[{"attributes":{"is_enabled":true,"name":"all ingested logs","filtered_data_type":"logs","exclusion_filters":[],"version":1,"query":"*","is_builtin":true},"type":"security_filters","id":"bc0-fow-e4j"},{"attributes":{"is_enabled":true,"name":"Custom
        security filter","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        staging"}],"version":1,"query":"service:api","is_builtin":false},"type":"security_filters","id":"qhn-iuy-4oc"}]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
version: 1
