interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1608079923.222809@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e9bd04c2-3f38-11eb-89bd-4f1877de2d70","attributes":{"name":null,"handle":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1608079923.222809@datadoghq.com","created_at":"2020-12-16T00:52:03.710892+00:00","email":"datadog-api-client-python-test_send_invitation_emails_returns_ok_response-1608079923.222809@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3e5d330f86ad34952a050344fe5c5036?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - E8kYJH6Hb74I4gS4d8oTnZBbKR38RfM4isuhSW09hK2ARkJHcJxE0DNPxSd582jS
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "e9bd04c2-3f38-11eb-89bd-4f1877de2d70"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"ea202570-3f38-11eb-89bd-1bc3ca15d641","attributes":{"uuid":"ea202570-3f38-11eb-89bd-1bc3ca15d641","login_method":null,"invite_type":"openid_invite","created_at":"2020-12-16T00:52:04.362153+00:00","expires_at":"2020-12-18T00:52:04.254264+00:00"},"relationships":{"user":{"data":{"type":"users","id":"e9bd04c2-3f38-11eb-89bd-4f1877de2d70"}}}}]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 0xx9Vajt2z9Bjd3zEZxSq+HXBSiVDpVx3zcehHaUF6Rbof5oICp4xtQ5KAyASYVV
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e9bd04c2-3f38-11eb-89bd-4f1877de2d70
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - o+DMvNLOJQfXAHeLjo7w9XOcTGCirWOThygGIHqmoMaQl6AzYuGlAbNkOlAzbCRq
      X-DD-VERSION:
      - '35.3548464'
    status:
      code: 204
      message: No Content
version: 1
