interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Configure_tags_for_multiple_metrics_returns_Accepted_response-1652349149@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3cf23548-d1d9-11ec-ad3d-da7ad0900002","attributes":{"name":null,"handle":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1652349149@datadoghq.com","created_at":"2022-05-12T09:52:30.224025+00:00","modified_at":"2022-05-12T09:52:30.279356+00:00","email":"test-configure_tags_for_multiple_metrics_returns_accepted_response-1652349149@datadoghq.com","icon":"https://secure.gravatar.com/avatar/37b97ed3403eaebb504eab5b74a44f2a?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1652349149@datadoghq.com"],"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1652349149"]},"id":"system.load.1","type":"metric_bulk_configure_tags"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/config/bulk-tags
  response:
    body:
      string: '{"data":{"type":"metric_bulk_configure_tags","id":"system.load.1","attributes":{"tags":["test","testconfiguretagsformultiplemetricsreturnsacceptedresponse1652349149"],"emails":["test-configure_tags_for_multiple_metrics_returns_accepted_response-1652349149@datadoghq.com"],"status":"Accepted"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3cf23548-d1d9-11ec-ad3d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
