interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-test_update_a_role_returns_ok_response-1617954916.318"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"ec55d37e-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_update_a_role_returns_ok_response-1617954916.318","created_at":"2021-04-09T07:55:16.875786+00:00","modified_at":"2021-04-09T07:55:16.875786+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '44'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "ec55d37e-9908-11eb-9ce8-da7ad0900002", "type": "roles",
      "attributes": {"name": "Test-test_update_a_role_returns_ok_response-1617954916.318-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/ec55d37e-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"ec55d37e-9908-11eb-9ce8-da7ad0900002","attributes":{"name":"Test-test_update_a_role_returns_ok_response-1617954916.318-updated","created_at":"2021-04-09T07:55:16.875786+00:00","modified_at":"2021-04-09T07:55:17.325721+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '43'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/ec55d37e-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '491'
      x-ratelimit-reset:
      - '43'
    status:
      code: 204
      message: No Content
version: 1
