interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_api_key_returns_ok_response-1608151199.086615"},
      "type": "api_keys"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:59.346951+00:00","key":"fc3f12b98a3a636d32b5fa4579284920","last4":"4920","modified_at":"2020-12-16T20:39:59.346951+00:00","name":"datadog-api-client-python-test_get_api_key_returns_ok_response-1608151199.086615"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"43666d8e-100f-5926-8d44-92b84145539d"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vJlCdCjZjHKDWCQaZXaKHjefwu7Jotxr42UmWttwNlCEvibEd08wFg9UscwYl4z7
      x-dd-version:
      - '35.3555652'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetApiKey
    method: GET
    uri: https://api.datadoghq.com/api/v2/api_keys/43666d8e-100f-5926-8d44-92b84145539d
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:59.346951+00:00","key":"fc3f12b98a3a636d32b5fa4579284920","last4":"4920","modified_at":"2020-12-16T20:39:59.346951+00:00","name":"datadog-api-client-python-test_get_api_key_returns_ok_response-1608151199.086615"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"43666d8e-100f-5926-8d44-92b84145539d"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - UiHAIpiIPiMTUiGNeR+rZVnFnmJkUm64kqWBQawJNSrsYAeselUV6xrARY3WHwv4
      x-dd-version:
      - '35.3555652'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/43666d8e-100f-5926-8d44-92b84145539d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 7QEcyEeiQNfV/0gu5JIpTHXljtLMqyFtDSs67sHgArYEiV5BVrC9iQFEWV1cGojK
      x-dd-version:
      - '35.3555652'
    status:
      code: 204
      message: No Content
version: 1
