interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason":"risk_accepted"},"enabled":true,"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}},"type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules
  response:
    body:
      string: '{"data":{"id":"66330741-04f8-43cc-8cd0-a4840a593658","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624469277,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624469277,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/66330741-04f8-43cc-8cd0-a4840a593658
  response:
    body:
      string: '{"data":{"id":"66330741-04f8-43cc-8cd0-a4840a593658","type":"mute_rules","attributes":{"action":{"reason":"risk_accepted"},"created_at":1781624469277,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1781624469277,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Test-Get_a_mute_rule_returns_Successfully_retrieved_the_mute_rule_response-1781624469","rule":{"finding_types":["misconfiguration"],"query":"env:staging"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/mute_rules/66330741-04f8-43cc-8cd0-a4840a593658
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
