interactions:
- request:
    body: '{"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1659974733437,"org_id":321813,"updated_at":1659974733437,"hash":"pubbf38b6c932881edbbbba21744948c454","type":"browser"},"type":"rum_application","id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/rum/applications/aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1
  response:
    body:
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1659974733437,"org_id":321813,"updated_at":1659974733437,"hash":"pubbf38b6c932881edbbbba21744948c454","type":"browser"},"type":"rum_application","id":"aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/aceb7b9f-ad0b-4dab-82a6-8928ccedd9b1
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
