interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"a02bcfe0-5678-49bb-a696-86544bde2bee","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:48.042966Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"a02bcfe0-5678-49bb-a696-86544bde2bee","key":"DDFC-98815","merge_status":"NOT_MERGED","priority":"P4","public_id":"99271","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/a02bcfe0-5678-49bb-a696-86544bde2bee/unarchive
  response:
    body:
      string: '{"data":{"id":"a02bcfe0-5678-49bb-a696-86544bde2bee","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-12-30T13:49:48.042966Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"a02bcfe0-5678-49bb-a696-86544bde2bee","key":"DDFC-98815","merge_status":"NOT_MERGED","priority":"P4","public_id":"99271","status":"OPEN","status_group":"SG_OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"user","attributes":{"active":true,"email":"team-intg-tools-libs-spam@datadoghq.com","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
