interactions:
- request:
    body: '{"data":{"attributes":{"exclusion_filters":[{"name":"Exclude staging","query":"source:staging"}],"filtered_data_type":"logs","is_enabled":true,"name":"Test-Create_a_security_filter_returns_OK_response-1715358874","query":"service:TestCreateasecurityfilterreturnsOKresponse1715358874"},"type":"security_filters"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"id":"dfl-euq-jxj","attributes":{"version":1,"name":"Test-Create_a_security_filter_returns_OK_response-1715358874","query":"service:TestCreateasecurityfilterreturnsOKresponse1715358874","is_enabled":true,"exclusion_filters":[{"name":"Exclude
        staging","query":"source:staging"}],"filtered_data_type":"logs","is_builtin":false},"type":"security_filters"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/dfl-euq-jxj
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
