interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"4c4bfc12-4f7c-4891-a8d0-70a15a0f29c2","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:47:07.778878Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"4c4bfc12-4f7c-4891-a8d0-70a15a0f29c2","key":"DDFC-82990","merge_status":"NOT_MERGED","priority":"P4","public_id":"83079","status":"OPEN","status_name":"Open","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"title":"[UPDATED] Memory leak investigation on
      API"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/4c4bfc12-4f7c-4891-a8d0-70a15a0f29c2/title
  response:
    body:
      string: '{"data":{"id":"4c4bfc12-4f7c-4891-a8d0-70a15a0f29c2","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-10-01T12:47:07.778878Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"4c4bfc12-4f7c-4891-a8d0-70a15a0f29c2","key":"DDFC-82990","merge_status":"NOT_MERGED","modified_at":"2025-10-01T12:47:08.214456Z","priority":"P4","public_id":"83079","status":"OPEN","status_name":"Open","title":"[UPDATED]
        Memory leak investigation on API","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"modified_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
