interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78","type":"incident_types","attributes":{"createdAt":"2026-01-19T20:15:55.998248893Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-19T20:15:55.998248991Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"Test notification
      template","name":"Test Template Test-Delete_incident_notification_template_returns_No_Content_response-1768853755","subject":"Test
      Subject"},"relationships":{"incident_type":{"data":{"id":"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"data":{"id":"defd8fff-8d3c-47fa-a7ae-b1aa3ddc552b","type":"notification_templates","attributes":{"category":"alert","content":"Test
        notification template","created":"2026-01-19T20:15:56.26957Z","modified":"2026-01-19T20:15:56.26957Z","name":"Test
        Template Test-Delete_incident_notification_template_returns_No_Content_response-1768853755","subject":"Test
        Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"f3cd4435-48ee-4b07-bf6f-bfabd4d61b78","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/defd8fff-8d3c-47fa-a7ae-b1aa3ddc552b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/defd8fff-8d3c-47fa-a7ae-b1aa3ddc552b
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/f3cd4435-48ee-4b07-bf6f-bfabd4d61b78
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
