interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteSecurityMonitoringRule
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules/ThisRuleIdProbablyDoesntExist
  response:
    body:
      string: '{"message": "The resource could not be found.<br /><br />\n\n\n", "code":
        "404 Not Found", "title": "Not Found"}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4167755'
    status:
      code: 404
      message: Not Found
version: 1
