interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_disable_a_user_returns_ok_response-1617953634.139874@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f01924c8-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_disable_a_user_returns_ok_response-1617953634.139874@datadoghq.com","created_at":"2021-04-09T07:33:54.698010+00:00","modified_at":"2021-04-09T07:33:54.731838+00:00","email":"test-test_disable_a_user_returns_ok_response-1617953634.139874@datadoghq.com","icon":"https://secure.gravatar.com/avatar/5ec4e8de18acf050f0c6ae0498218116?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f01924c8-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f01924c8-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"errors": ["f01924c8-9905-11eb-9ce8-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4272858'
    status:
      code: 404
      message: Not Found
version: 1
