interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_OK_response-1640118939"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"8f5027c4-629d-11ec-af3f-da7ad0900002","attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_OK_response-1640118939","created_at":"2021-12-21T20:35:39.542012+00:00","modified_at":"2021-12-21T20:35:39.595689+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '21'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_OK_response-1640118939
      clone"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/8f5027c4-629d-11ec-af3f-da7ad0900002/clone
  response:
    body:
      string: '{"data":{"type":"roles","id":"8f696e1e-629d-11ec-af3f-da7ad0900002","attributes":{"name":"Test-Create_a_new_role_by_cloning_an_existing_role_returns_OK_response-1640118939
        clone","created_at":"2021-12-21T20:35:39.707367+00:00","modified_at":"2021-12-21T20:35:39.754954+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '492'
      x-ratelimit-reset:
      - '21'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/8f696e1e-629d-11ec-af3f-da7ad0900002
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '491'
      x-ratelimit-reset:
      - '21'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/8f5027c4-629d-11ec-af3f-da7ad0900002
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '490'
      x-ratelimit-reset:
      - '21'
    status:
      code: 204
      message: No Content
version: 1
