interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-94cf752f98fda23c","name":"test-name-94cf752f98fda23c"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"id":"35d819d9-918b-4d29-838d-ed8507398b21","type":"team","attributes":{"avatar":null,"banner":10,"created_at":"2026-01-23T11:00:13.808835+00:00","description":null,"handle":"test-handle-94cf752f98fda23c","hidden_modules":null,"is_managed":false,"link_count":0,"modified_at":"2026-01-23T11:00:13.808835+00:00","name":"test-name-94cf752f98fda23c","summary":null,"user_count":0,"visible_modules":null},"relationships":{"team_links":{"data":[],"links":{"related":"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links"}},"user_team_permissions":{"data":null,"links":{"related":"/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/permission-settings"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1769166013","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"b1c355f0-f84a-11f0-8d16-da7ad0900002","attributes":{"team_id":"35d819d9-918b-4d29-838d-ed8507398b21","label":"Test-Get_a_team_link_returns_OK_response-1769166013","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21/links/b1c355f0-f84a-11f0-8d16-da7ad0900002
  response:
    body:
      string: '{"data":{"id":"b1c355f0-f84a-11f0-8d16-da7ad0900002","type":"team_links","attributes":{"label":"Test-Get_a_team_link_returns_OK_response-1769166013","position":0,"team_id":"35d819d9-918b-4d29-838d-ed8507398b21","url":"https://example.com"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/35d819d9-918b-4d29-838d-ed8507398b21
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
