interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data":{"attributes":{},"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","relationships":{"groups":{"data":[{"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","type":"sensitive_data_scanner_group"},{"id":"ec9a039b-523c-4b48-af30-62bb2838610f","type":"sensitive_data_scanner_group"},{"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","type":"sensitive_data_scanner_group"},{"id":"d9ff2a5f-698a-4743-a80a-e669fd23a3a9","type":"sensitive_data_scanner_group"},{"id":"b6088534-c2a8-4ae1-8bdb-b3923199caf3","type":"sensitive_data_scanner_group"}]}},"type":"sensitive_data_scanner_configuration"},"included":[{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Typescript-Create_Scanning_Group_returns_OK_response-1766488603","product_list":["logs"],"samplings":[]},"id":"d2665de8-b577-4d71-b1b8-4355b1aaf2c6","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"ec9a039b-523c-4b48-af30-62bb2838610f","relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},{"attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"my-test-group","product_list":["logs"],"samplings":[{"product":"logs","rate":100}]},"id":"83b2d015-c3e1-47bb-aef0-15763bc7ae1f","relationships":{[...]
- request:
    body: '{"data":{"attributes":{"filter":{"query":"*"},"is_enabled":false,"name":"Test-Create_Scanning_Group_returns_OK_response-1768505196","product_list":["logs"]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}},"type":"sensitive_data_scanner_group"},"meta":{}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      string: '{"data":{"id":"e6722da9-8d8d-4646-adff-f6a6795e5091","type":"sensitive_data_scanner_group","attributes":{"description":"","filter":{"query":"*"},"is_enabled":false,"name":"Test-Create_Scanning_Group_returns_OK_response-1768505196","product_list":["logs"],"samplings":[]},"relationships":{"configuration":{"data":{"id":"7957915c634d4dcb581fa154157f5ad9c2947f50be632fb5599862069f4d2d87","type":"sensitive_data_scanner_configuration"}},"rules":{"data":[]}}},"meta":{"version":275776}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"meta":{}}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://frog.datadoghq.com/api/v2/sensitive-data-scanner/config/groups/e6722da9-8d8d-4646-adff-f6a6795e5091
  response:
    body:
      string: '{"meta":{"version":275777}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
