interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"676a2188-8935-11ec-8081-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300","created_at":"2022-02-08T23:18:20.292070+00:00","modified_at":"2022-02-08T23:18:20.346093+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"attribute_key":"testgetanauthnmappingbyuuidreturnsokresponse1644362300","attribute_value":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300"},"relationships":{"role":{"data":{"id":"676a2188-8935-11ec-8081-da7ad0900002","type":"roles"}}},"type":"authn_mappings"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/authn_mappings
  response:
    body:
      string: '{"included":[{"type":"roles","id":"676a2188-8935-11ec-8081-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300","created_at":"2022-02-08T23:18:20.292070+00:00","modified_at":"2022-02-08T23:18:20.346093+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"67f61b52-8935-11ec-8081-da7ad0900002","attributes":{"attribute_key":"testgetanauthnmappingbyuuidreturnsokresponse1644362300","attribute_value":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300","created_at":"2022-02-08T23:18:21.209007+00:00","modified_at":"2022-02-08T23:18:21.209007+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"676a2188-8935-11ec-8081-da7ad0900002"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/authn_mappings/67f61b52-8935-11ec-8081-da7ad0900002
  response:
    body:
      string: '{"included":[{"type":"roles","id":"676a2188-8935-11ec-8081-da7ad0900002","attributes":{"name":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300","created_at":"2022-02-08T23:18:20.292070+00:00","modified_at":"2022-02-08T23:18:20.346093+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}],"data":{"type":"authn_mappings","id":"67f61b52-8935-11ec-8081-da7ad0900002","attributes":{"attribute_key":"testgetanauthnmappingbyuuidreturnsokresponse1644362300","attribute_value":"Test-Get_an_AuthN_Mapping_by_UUID_returns_OK_response-1644362300","created_at":"2022-02-08T23:18:21.209007+00:00","modified_at":"2022-02-08T23:18:21.209007+00:00"},"relationships":{"role":{"data":{"type":"roles","id":"676a2188-8935-11ec-8081-da7ad0900002"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/676a2188-8935-11ec-8081-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
