interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '391'
      x-ratelimit-reset:
      - '3281'
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"id":"b1976d62-4147-4540-a98a-42c555dd500c","type":"application_keys","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated"}}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"b1976d62-4147-4540-a98a-42c555dd500c","attributes":{"name":"Test-Edit_an_application_key_owned_by_current_user_returns_OK_response-1639757118-updated","created_at":"2021-12-17T16:05:19.263508+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '390'
      x-ratelimit-reset:
      - '3281'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/b1976d62-4147-4540-a98a-42c555dd500c
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '389'
      x-ratelimit-reset:
      - '3280'
    status:
      code: 204
      message: No Content
version: 1
