interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_a_role_returns_ok_response-1608079901.0297"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"dc8704e2-3f38-11eb-89bd-2ff13dd26ed2","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1608079901.0297","created_at":"2020-12-16T00:51:41.547878+00:00","modified_at":"2020-12-16T00:51:41.547878+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - JywPpt+4BVnbPdSe3Y1Brr4edpaGbhQEf1Cv7s/evHeASrfyUCmzDpnXMXyJJDQz
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '491'
      X-RateLimit-Reset:
      - '19'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetRole
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/dc8704e2-3f38-11eb-89bd-2ff13dd26ed2
  response:
    body:
      string: '{"data":{"type":"roles","id":"dc8704e2-3f38-11eb-89bd-2ff13dd26ed2","attributes":{"name":"datadog-api-client-python-test_get_a_role_returns_ok_response-1608079901.0297","created_at":"2020-12-16T00:51:41.547878+00:00","modified_at":"2020-12-16T00:51:41.547878+00:00","user_count":0},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"}]}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 5Vp6Lwv2kl5vwmtrK8x4SHT87up1E/Mb5wu+zWq1n+sTPuGmJfRlxsKBupN/GCCj
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '490'
      X-RateLimit-Reset:
      - '18'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/dc8704e2-3f38-11eb-89bd-2ff13dd26ed2
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - pv0z9DOVfESVNK6d1tOJ7YfC31qHNEzJNjdRZStq3qVP6piD/gWCa9pwKd90Upzy
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '500'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '489'
      X-RateLimit-Reset:
      - '18'
    status:
      code: 204
      message: No Content
version: 1
