interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"c6bc5eee-04af-4d7e-97a5-57c9c4dc0b15","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"conflict_mode":"fail_on_conflict","values":[{"data":"test-value","id":"test-key"}]},"type":"items"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c6bc5eee-04af-4d7e-97a5-57c9c4dc0b15/items/bulk
  response:
    body:
      string: '{"data":[{"id":"8267c8c1-dfcd-4364-83e5-359c0ab302fc","type":"items"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"item_keys":["test-key"]},"type":"items"}}'
    headers:
      content-type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c6bc5eee-04af-4d7e-97a5-57c9c4dc0b15/items/bulk
  response:
    body:
      string: '{"data":[{"id":"8267c8c1-dfcd-4364-83e5-359c0ab302fc","type":"items"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/c6bc5eee-04af-4d7e-97a5-57c9c4dc0b15
  response:
    body:
      string: '{"data":{"id":"c6bc5eee-04af-4d7e-97a5-57c9c4dc0b15","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
