interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/containers?group_by=short_image
  response:
    body:
      string: '{"data": [{"type": "container_group", "id": "test_id", "attributes":
        {"count": 123, "tags": {"short_image": "test_short_image"}}, "relationships":
        {"containers": {"links": {"related": "test_related"}, "data": []}}}, {"type":
        "container_group", "id": "test_id", "attributes": {"count": 1, "tags": {"short_image":
        "test_short_image"}}, "relationships": {"containers": {"links": {"related":
        "test_related"}, "data": []}}}, {"type": "container_group", "id": "test_id",
        "attributes": {"count": 1, "tags": {"short_image": "test_short_image"}}, "relationships":
        {"containers": {"links": {"related": "test_related"}, "data": []}}}, {"type":
        "c[...]
