interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_permissions_returns_ok_response-1617968167@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"c620aba6-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_permissions_returns_ok_response-1617968167@datadoghq.com","created_at":"2021-04-09T11:36:07.171494+00:00","modified_at":"2021-04-09T11:36:07.204824+00:00","email":"test-test_get_a_user_permissions_returns_ok_response-1617968167@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8cad41be1fb33db0b6f0d7be5c240c64?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUserPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/c620aba6-9927-11eb-9ceb-da7ad0900002/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/c620aba6-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      x-dd-version:
      - '35.4275259'
    status:
      code: 204
      message: No Content
version: 1
