interactions:
- request:
    body: '{"data": {"type": "services", "attributes": {"name": "datadog-api-client-python-test_delete_an_existing_incident_service_returns_ok_response-1608079866.018323"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"dbd511b1-955c-5253-bdac-39f18c8d97b3","attributes":{"name":"datadog-api-client-python-test_delete_an_existing_incident_service_returns_ok_response-1608079866.018323","created":"2020-12-16T00:51:06.501886+00:00","modified":"2020-12-16T00:51:06.501886+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - YUzGVvPO6U9s4YDcAehC8chdShvAB/4ui8eck/ZCafPignncGB/BO6U/rVr9hrIe
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '97'
      X-RateLimit-Reset:
      - '54'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/dbd511b1-955c-5253-bdac-39f18c8d97b3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sY27RT2rAVs9Imt5xTmPKBmhAzxpa7AQtTrw7L5i9IuvHhhrKb0AIwGzO934kbtj
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '97'
      X-RateLimit-Reset:
      - '53'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/dbd511b1-955c-5253-bdac-39f18c8d97b3
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - k7TyfVVSwexDGVT9BY0DK6mAmUeZON/G+RdNqRYdH6H7rBeq1MzNVYFK01AYXFlT
      X-DD-VERSION:
      - '35.3548464'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '60'
      X-RateLimit-Remaining:
      - '96'
      X-RateLimit-Reset:
      - '53'
    status:
      code: 204
      message: No Content
version: 1
