interactions:
- request:
    body: '{"message":"some message Notify: @hipchat-channel","name":"Test-Get_all_downtimes_for_a_monitor_returns_OK_response-1686335640","options":{"enable_logs_sample":true,"escalation_message":"the
      situation has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2,"warning":1},"timeout_h":24},"priority":3,"query":"logs(\"service:foo
      AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
      > 2","tags":["test:testgetalldowntimesforamonitorreturnsokresponse1686335640","env:ci"],"type":"log
      alert"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"id":121479417,"org_id":321813,"type":"log alert","name":"Test-Get_all_downtimes_for_a_monitor_returns_OK_response-1686335640","message":"some
        message Notify: @hipchat-channel","tags":["test:testgetalldowntimesforamonitorreturnsokresponse1686335640","env:ci"],"query":"logs(\"service:foo
        AND type:error\").index(\"main\").rollup(\"count\").by(\"source\").last(\"5m\")
        > 2","options":{"enable_logs_sample":true,"escalation_message":"the situation
        has escalated","evaluation_delay":700,"groupby_simple_monitor":true,"include_tags":true,"locked":false,"new_host_delay":600,"no_data_timeframe":null,"notification_preset_name":"hide_handles","notify_audit":false,"notify_no_data":false,"on_missing_data":"show_and_notify_no_data","renotify_interval":60,"require_full_window":true,"thresholds":{"critical":2.0,"warning":1.0},"timeout_h":24,"silenced":{}},"multi":true,"created_at":1686335641000,"created":"2023-06-09T18:34:01.442210+00:00","modified":"2023-06-09T18:34:01.442210+00:00","deleted":null,"restricted_roles":null,"priority":3,"overall_state_modified":null,"overall_state":"No
        Data","creator":{"name":null,"handle":"frog@datadoghq.com","email":"frog@datadoghq.com","id":1445416}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"message":"test message","monitor_identifier":{"monitor_tags":["cat:hat"]},"schedule":{"start":null},"scope":"test:testgetalldowntimesforamonitorreturnsokresponse1686335640"},"type":"downtime"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/downtime
  response:
    body:
      string: '{"data":{"type":"downtime","id":"3464847a-06f4-11ee-b132-da7ad0900002","attributes":{"notify_end_states":["alert","warn","no
        data"],"message":"test message","created":"2023-06-09T18:34:01.584184+00:00","mute_first_recovery_notification":false,"schedule":{"start":"2023-06-09T18:34:01.568663+00:00","end":null},"notify_end_types":["expired"],"scope":"test:testgetalldowntimesforamonitorreturnsokresponse1686335640","display_timezone":"UTC","canceled":null,"modified":"2023-06-09T18:34:01.584184+00:00","monitor_identifier":{"monitor_tags":["cat:hat"]},"status":"active"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"monitor":{"data":null}}},"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"}}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/monitor/121479417/downtime_matches
  response:
    body:
      string: '{"data":[{"type":"downtime_match","attributes":{"end":null,"start":"2023-04-12T08:23:50.723151","scope":["*"],"monitor_identifier":{"monitor_tags":["*"]},"groups":["*"]},"id":2826376461}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/downtime/3464847a-06f4-11ee-b132-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v1/monitor/121479417
  response:
    body:
      string: '{"deleted_monitor_id":121479417}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
