interactions:
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Datadog API Client Python",
      "email": "Test-test_create_a_user_returns_ok_response-1617953672.650687@datadoghq.com"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"070ef928-9906-11eb-9ce8-da7ad0900002","attributes":{"name":"Datadog
        API Client Python","handle":"test-test_create_a_user_returns_ok_response-1617953672.650687@datadoghq.com","created_at":"2021-04-09T07:34:33.218873+00:00","modified_at":"2021-04-09T07:34:33.237874+00:00","email":"test-test_create_a_user_returns_ok_response-1617953672.650687@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6afec98e4f83a13e9c510dbeb2836270?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 2328yjLSqI4XmR1pVqrPRR/SFcQsbafjEpPmZx7/3PfxUK1nJQQsX+wrMelyVyj+
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/070ef928-9906-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
version: 1
