interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"a5d60060-c004-4eaa-932a-8107847feda4","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:35.460989Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"a5d60060-c004-4eaa-932a-8107847feda4","key":"DDFC-77680","merge_status":"NOT_MERGED","priority":"P4","public_id":"77762","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"comment":"Hello World !"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/a5d60060-c004-4eaa-932a-8107847feda4/comment
  response:
    body:
      string: '{"data":[{"id":"ea039a22-2da2-43fe-b2ec-71b7c4091459","type":"timeline_cell","attributes":{"author":{"type":"USER","content":{"ID":"3ad549bf-eba0-11e9-a77a-0705486660d0","name":"frog","email":"frog@datadoghq.com","handle":"frog@datadoghq.com","active":true}},"cell_content":{"message":"Hello
        World !"},"content":"{\"message\":\"Hello World !\"}","created_at":"2025-08-21T12:21:35.873104965Z","type":"COMMENT"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/cases/a5d60060-c004-4eaa-932a-8107847feda4/comment/ea039a22-2da2-43fe-b2ec-71b7c4091459
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
