interactions:
- request:
    body: '{"data": {"type": "api_keys", "attributes": {"name": "datadog-api-client-python-test_create_an_api_key_returns_created_response-1608151198.452203"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T20:39:58.647037+00:00","key":"ca9664fd77a177b6e361477fcf28cc35","last4":"cc35","modified_at":"2020-12-16T20:39:58.647037+00:00","name":"datadog-api-client-python-test_create_an_api_key_returns_created_response-1608151198.452203"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"c72a0040-c42b-5268-a5ce-0d493f8a629d"}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - ZvbT5Hkp4NkmoFNp2kmSQo90Sobu/hiarT/8VcAY1HhBaO2tDabc9sAn9xbJsaIr
      x-dd-version:
      - '35.3555652'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/c72a0040-c42b-5268-a5ce-0d493f8a629d
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - uhKf3DOQ/asSODSNh+771Jj2mAFRCrXnSErQegeSH33qVMu18OG0v+JTvu/HjcV7
      x-dd-version:
      - '35.3555652'
    status:
      code: 204
      message: No Content
version: 1
