interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Investigations done in case\
      \ management\",\"emoji\":\"\U0001F451\",\"name\":\"Investigation\"},\"type\"\
      :\"case_type\"}}"
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      string: "{\"data\":{\"id\":\"e3cb41d0-cd05-4c9d-8158-fc044587487f\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Investigations done in case\
        \ management\",\"emoji\":\"\U0001F451\",\"internal\":false,\"name\":\"Investigation\"\
        ,\"statuses_config\":{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"\
        default\":\"Open\"},\"in_progress\":{\"status_options\":[{\"name\":\"In Progress\"\
        }],\"default\":\"In Progress\"},\"closed\":{\"status_options\":[{\"name\"\
        :\"Closed\"}],\"default\":\"Closed\"}}}}}"
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
version: 1
