interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"}},"id":"Test-Update_a_log_based_metric_returns_OK_response-1618572734","type":"logs_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4327367'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '71'
      x-ratelimit-reset:
      - '1666'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"}},"type":"logs_metrics"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_log_based_metric_returns_OK_response_1618572734","attributes":{"filter":{"query":"source:Test-Update_a_log_based_metric_returns_OK_response-1618572734-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4327367'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '70'
      x-ratelimit-reset:
      - '1665'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_log_based_metric_returns_OK_response_1618572734
  response:
    body:
      string: '{}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4327367'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '69'
      x-ratelimit-reset:
      - '1665'
    status:
      code: 200
      message: OK
version: 1
