interactions:
- request:
    body: '{"data":{"attributes":{"action_pattern":{"action_fqns":["com.datadoghq.script.*"],"integration":"INTEGRATION_SCRIPT"},"effect":"allow","name":"Cassette
      Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823"},"type":"execution_policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      string: '{"data":{"id":"8bb1ecd0-aed6-42cd-8a07-f9f781856f39","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:44Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823","targets":[],"updated_at":"2026-08-14T09:13:44Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies
  response:
    body:
      string: '{"data":[{"id":"8bb1ecd0-aed6-42cd-8a07-f9f781856f39","type":"execution_policy","attributes":{"action_pattern":{"integration":"INTEGRATION_SCRIPT","action_fqns":["com.datadoghq.script.*"]},"created_at":"2026-08-14T09:13:44Z","created_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","effect":"allow","name":"Cassette
        Execution Policy testlistexecutionpoliciesreturnsokresponse1786698823","scope":{},"targets":[],"updated_at":"2026-08-14T09:13:44Z","updated_by":"262c2ca8-d93e-45bc-8d47-5c9ab7af8e6b","version":1}}],"meta":{"page":{"total":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions/execution-policies/8bb1ecd0-aed6-42cd-8a07-f9f781856f39
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
