interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-5e9bed3a0071cff3","name":"name-5e9bed3a0071cff3"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"59c71da2-ef4f-11ed-a58b-da7ad0900002","attributes":{"name":"name-5e9bed3a0071cff3","handle":"handle-5e9bed3a0071cff3","summary":null,"description":null,"color":4,"created_at":"2023-05-10T16:26:00.603167+00:00","modified_at":"2023-05-10T16:26:00.603171+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"Test-Update_a_team_link_returns_OK_response-1683735960","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/links
  response:
    body:
      string: '{"data":{"type":"team_links","id":"59f1bb16-ef4f-11ed-8e16-da7ad0900002","attributes":{"team_id":"59c71da2-ef4f-11ed-a58b-da7ad0900002","label":"Test-Update_a_team_link_returns_OK_response-1683735960","url":"https://example.com","position":0}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002/links/59f1bb16-ef4f-11ed-8e16-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/59c71da2-ef4f-11ed-a58b-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
