interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_update_a_logbased_metric_returns_ok_response-1617954869.797"}},
      "id": "Test-test_update_a_logbased_metric_returns_ok_response-1617954869.797",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_update_a_logbased_metric_returns_ok_response_1617954869.797","attributes":{"filter":{"query":"source:Test-test_update_a_logbased_metric_returns_ok_response-1617954869.797"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-reset:
      - '30'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "Test_test_update_a_logbased_metric_returns_ok_response_1617954869.797",
      "type": "logs_metrics", "attributes": {"filter": {"query": "source:Test-test_update_a_logbased_metric_returns_ok_response-1617954869.797-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_update_a_logbased_metric_returns_ok_response_1617954869.797
  response:
    body:
      string: '{"data":{"id":"Test_test_update_a_logbased_metric_returns_ok_response_1617954869.797","attributes":{"filter":{"query":"source:Test-test_update_a_logbased_metric_returns_ok_response-1617954869.797-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '297'
      x-ratelimit-reset:
      - '30'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_update_a_logbased_metric_returns_ok_response_1617954869.797
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
      x-dd-version:
      - '35.4273965'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4941'
      x-ratelimit-reset:
      - '329'
    status:
      code: 200
      message: OK
version: 1
