interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Update_a_user_returns_OK_response-1618831548@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"fd96b710-a101-11eb-9f19-da7ad0900002","attributes":{"name":null,"handle":"test-update_a_user_returns_ok_response-1618831548@datadoghq.com","created_at":"2021-04-19T11:25:48.646914+00:00","modified_at":"2021-04-19T11:25:48.681070+00:00","email":"test-update_a_user_returns_ok_response-1618831548@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7df7b2bf4244d7c0258c9cdd9f1bb969?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "fd96b710-a101-11eb-9f19-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/fd96b710-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"fd96b710-a101-11eb-9f19-da7ad0900002","attributes":{"name":"updated","handle":"test-update_a_user_returns_ok_response-1618831548@datadoghq.com","created_at":"2021-04-19T11:25:48.646914+00:00","modified_at":"2021-04-19T11:25:49.785265+00:00","email":"test-update_a_user_returns_ok_response-1618831548@datadoghq.com","icon":"https://secure.gravatar.com/avatar/7df7b2bf4244d7c0258c9cdd9f1bb969?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/fd96b710-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: '{"errors": ["fd96b710-a101-11eb-9f19-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4339380'
    status:
      code: 404
      message: Not Found
version: 1
