interactions:
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1765469377"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      string: '{"data":{"id":"gdb-grp-c2f","attributes":{"version":1,"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1765469377","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1765469377827,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1765469377827,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/gdb-grp-c2f
  response:
    body:
      string: '{"data":{"id":"gdb-grp-c2f","type":"agent_rule","attributes":{"actions":[],"agentConstraint":"","category":"Process
        Activity","creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1765469377827,"creator":{"name":"frog","handle":"frog@datadoghq.com"},"defaultRule":false,"description":"My
        Agent rule","enabled":true,"expression":"exec.file.name == \"sh\"","filters":["os
        == \"linux\""],"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1765469377","updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1765469377827,"updater":{"name":"frog","handle":"frog@datadoghq.com"},"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
