interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429@datadoghq.com","title":"user
      title","service_account":true},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"92b36d0f-c94c-42a4-9f34-4ef5d7e53350","attributes":{"name":null,"handle":"92b36d0f-c94c-42a4-9f34-4ef5d7e53350","created_at":"2021-12-17T16:27:09.565094+00:00","modified_at":"2021-12-17T16:27:09.604470+00:00","email":"test-delete_an_app_key_owned_by_this_service_account_returns_no_content_response-1639758429@datadoghq.com","icon":"https://secure.gravatar.com/avatar/aaef9048546f00ffbeea30010860ed17?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '92'
      x-ratelimit-reset:
      - '1971'
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/92b36d0f-c94c-42a4-9f34-4ef5d7e53350/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"b6e42f51-970c-4230-85fc-7adae7478025","attributes":{"name":"Test-Delete_an_app_key_owned_by_this_service_account_returns_No_Content_response-1639758429","created_at":"2021-12-17T16:27:10.147542+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"92b36d0f-c94c-42a4-9f34-4ef5d7e53350"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '335'
      x-ratelimit-reset:
      - '1970'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/92b36d0f-c94c-42a4-9f34-4ef5d7e53350/application_keys/b6e42f51-970c-4230-85fc-7adae7478025
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '334'
      x-ratelimit-reset:
      - '1970'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/92b36d0f-c94c-42a4-9f34-4ef5d7e53350/application_keys/b6e42f51-970c-4230-85fc-7adae7478025
  response:
    body:
      string: '{"errors": ["Application key not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/92b36d0f-c94c-42a4-9f34-4ef5d7e53350
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
