interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Delete_workflow_webhook_handle_returns_OK_response-1748457950","url":"https://prod-100.westus.logic.azure.com:443/workflows/abcd1234"},"type":"workflows-webhook-handle"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles
  response:
    body:
      string: '{"data":{"id":"9d270a4a-287c-4225-a1cf-3b657416a471","type":"workflows-webhook-handle","attributes":{"name":"Test-Delete_workflow_webhook_handle_returns_OK_response-1748457950"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/9d270a4a-287c-4225-a1cf-3b657416a471
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/ms-teams/configuration/workflows-webhook-handles/9d270a4a-287c-4225-a1cf-3b657416a471
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
