interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_invitation_returns_OK_response-1618576111@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"4177c47e-9eaf-11eb-9e40-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_invitation_returns_ok_response-1618576111@datadoghq.com","created_at":"2021-04-16T12:28:31.974762+00:00","modified_at":"2021-04-16T12:28:32.010200+00:00","email":"test-get_a_user_invitation_returns_ok_response-1618576111@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8cc2ea5088abc0768c55040d29e9534f?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "4177c47e-9eaf-11eb-9e40-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"41d69f08-9eaf-11eb-9e40-da7ad0900002","attributes":{"uuid":"41d69f08-9eaf-11eb-9e40-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-16T12:28:32.597406+00:00","expires_at":"2021-04-18T12:28:32.453460+00:00"},"relationships":{"user":{"data":{"type":"users","id":"4177c47e-9eaf-11eb-9e40-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - gYZcaADwbKcv7Hm19HJx6WsLoKuOijDWAt2viPeCfWqUgyKY+9e1xZdmMJeXV3YV
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/41d69f08-9eaf-11eb-9e40-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"41d69f08-9eaf-11eb-9e40-da7ad0900002","attributes":{"uuid":"41d69f08-9eaf-11eb-9e40-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-16T12:28:32.597406+00:00","expires_at":"2021-04-18T12:28:32.453460+00:00"},"relationships":{"user":{"data":{"type":"users","id":"4177c47e-9eaf-11eb-9e40-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4327775'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/4177c47e-9eaf-11eb-9e40-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4327775'
    status:
      code: 204
      message: No Content
version: 1
