interactions:
- request:
    body: '{"data":{"attributes":{"description":"","name":"Test Datastore","org_access":"contributor","primary_column_name":"id","primary_key_generation_strategy":"none"},"type":"datastores"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions-datastores
  response:
    body:
      string: '{"data":{"id":"d285368c-ffa3-44ea-84b3-7bdafa096d5a","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"item_changes":{},"item_key":""},"id":"59512fa7-3c2e-49ad-b669-f6a47797a141","type":"items"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/actions-datastores/invalid-uuid/items
  response:
    body:
      string: '{"errors":[{"title":"invalid path parameter","detail":"invalid datastoreId
        format in path","source":{"parameter":"datastoreId"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/actions-datastores/d285368c-ffa3-44ea-84b3-7bdafa096d5a
  response:
    body:
      string: '{"data":{"id":"d285368c-ffa3-44ea-84b3-7bdafa096d5a","type":"datastores"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
