interactions:
- request:
    body: '{"data":{"attributes":{"forwarderDestination":{"auth":{"password":"password","type":"basic","username":"username"},"endpoint":"https://example.org/my-intake","type":"http"},"name":"so--updated-name","version":0},"id":"some-non-existent-id","type":"custom_destination"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/logs/config/custom_destinations/some-non-existent-id
  response:
    body:
      string: '{"errors":["NotFound"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
