interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"ad88f200-3458-404f-9abb-bffa66b60a1f","type":"incident_types","attributes":{"createdAt":"2026-01-07T15:19:27.781010323Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2026-01-07T15:19:27.781010405Z","name":"Security
        Incident","prefix":"IR"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"google_chat_configuration":{"data":null},"google_meet_configuration":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"microsoft_teams_configuration":{"data":null},"zoom_configuration":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"category":"alert","content":"Test notification
      template","name":"Test Template Test-Delete_incident_notification_template_returns_No_Content_response-1767799167","subject":"Test
      Subject"},"relationships":{"incident_type":{"data":{"id":"ad88f200-3458-404f-9abb-bffa66b60a1f","type":"incident_types"}}},"type":"notification_templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates
  response:
    body:
      string: '{"data":{"id":"da77f8c4-51d1-49c5-bef3-41bd242e50a9","type":"notification_templates","attributes":{"category":"alert","content":"Test
        notification template","created":"2026-01-07T15:19:28.026094Z","modified":"2026-01-07T15:19:28.026094Z","name":"Test
        Template Test-Delete_incident_notification_template_returns_No_Content_response-1767799167","subject":"Test
        Subject"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"incident_type":{"data":{"id":"ad88f200-3458-404f-9abb-bffa66b60a1f","type":"incident_types"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/da77f8c4-51d1-49c5-bef3-41bd242e50a9
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/notification-templates/da77f8c4-51d1-49c5-bef3-41bd242e50a9
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/ad88f200-3458-404f-9abb-bffa66b60a1f
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
