interactions:
- request:
    body: '{"data":{"attributes":{"compute":{"aggregation_type":"count"},"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1681838831"}},"id":"Test-Delete_a_log_based_metric_returns_OK_response-1681838831","type":"logs_metrics"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Delete_a_log_based_metric_returns_OK_response_1681838831","attributes":{"filter":{"query":"source:Test-Delete_a_log_based_metric_returns_OK_response-1681838831"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1681838831
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Delete_a_log_based_metric_returns_OK_response_1681838831
  response:
    body:
      string: '{"errors":["not_found(Metric with name ''Test_Delete_a_log_based_metric_returns_OK_response_1681838831''
        not found)"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
