interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:Test-test_get_a_logbased_metric_returns_ok_response-1617968246"}},
      "id": "Test-test_get_a_logbased_metric_returns_ok_response-1617968246", "type":
      "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_get_a_logbased_metric_returns_ok_response_1617968246","attributes":{"filter":{"query":"source:Test-test_get_a_logbased_metric_returns_ok_response-1617968246"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '77'
      x-ratelimit-reset:
      - '1354'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetLogsMetric
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_get_a_logbased_metric_returns_ok_response_1617968246
  response:
    body:
      string: '{"data":{"id":"Test_test_get_a_logbased_metric_returns_ok_response_1617968246","attributes":{"filter":{"query":"source:Test-test_get_a_logbased_metric_returns_ok_response-1617968246"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - /L+SFFO+m1pPY+hRCpk5325fvfrNl0KmiquUNJolBN/5hu3HIwflqjZSbJ6NxDFG
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4996'
      x-ratelimit-reset:
      - '1353'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_get_a_logbased_metric_returns_ok_response_1617968246
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-dd-version:
      - '35.4275259'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '76'
      x-ratelimit-reset:
      - '1352'
    status:
      code: 200
      message: OK
version: 1
