interactions:
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1743068148"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      string: '{"data":{"id":"wdr-ja3-pni","attributes":{"version":1,"name":"testdeleteacloudworkloadsecurityagentrulereturnsokresponse1743068148","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","creationDate":1743068148720,"updateAuthorUuId":"a54eca49-cf2e-11ef-8941-5e02e132a7ae","updateDate":1743068148720,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"},"updater":{"name":"Quentin
        Guillard","handle":"quentin.guillard@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/wdr-ja3-pni
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datad0g.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/wdr-ja3-pni
  response:
    body:
      string: '{"errors":["not_found(Agent rule not found: agentRuleId=wdr-ja3-pni)"]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
