interactions:
- request:
    body: '{"data": {"type": "security_filters", "attributes": {"name": "Test-Update_a_security_filter_returns_OK_response-1620804268",
      "query": "service:TestUpdateasecurityfilterreturnsOKresponse1620804268", "exclusion_filters":
      [{"name": "Exclude logs from staging", "query": "source:staging"}], "filtered_data_type":
      "logs", "is_enabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityFilter
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620804268","filtered_data_type":"logs","exclusion_filters":[{"query":"source:staging","name":"Exclude
        logs from staging"}],"version":1,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1620804268","is_builtin":false},"type":"security_filters","id":"jnr-ww4-5me"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"exclusion_filters": [], "filtered_data_type":
      "logs", "is_enabled": true, "name": "Test-Update_a_security_filter_returns_OK_response-1620804268",
      "query": "service:TestUpdateasecurityfilterreturnsOKresponse1620804268", "version":
      1}, "type": "security_filters"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateSecurityFilter
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/security_filters/jnr-ww4-5me
  response:
    body:
      string: '{"data":{"attributes":{"is_enabled":true,"name":"Test-Update_a_security_filter_returns_OK_response-1620804268","filtered_data_type":"logs","exclusion_filters":[],"version":2,"query":"service:TestUpdateasecurityfilterreturnsOKresponse1620804268","is_builtin":false},"type":"security_filters","id":"jnr-ww4-5me"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4512853'
    status:
      code: 200
      message: OK
[...]
