interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467"},"type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"ec6a697a-30ec-11ec-925a-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467","created_at":"2021-10-19T14:57:47.844910+00:00","modified_at":"2021-10-19T14:57:47.844910+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"},{"type":"permissions","id":"12efc20e-d36c-11eb-a9b8-da7ad0900002"},{"type":"permissions","id":"97971c1c-e895-11eb-b13c-da7ad0900002"},{"type":"permissions","id":"7605ef24-f376-11eb-b90b-da7ad0900002"}]}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '495'
      x-ratelimit-reset:
      - '13'
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"name":"Test-Update_a_role_returns_Bad_Role_ID_response-1634655467-updated"},"id":"00000000-dead-beef-dead-ffffffffffff","type":"roles"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/ec6a697a-30ec-11ec-925a-da7ad0900002
  response:
    body:
      string: '{"errors": ["The id attribute in the request body does not match the
        role_id in the URL"]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '494'
      x-ratelimit-reset:
      - '12'
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/ec6a697a-30ec-11ec-925a-da7ad0900002
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '493'
      x-ratelimit-reset:
      - '12'
    status:
      code: 204
      message: No Content
version: 1
