interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1614878561.676651@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"39fb3f5e-7d0e-11eb-96a7-da7ad0900002","attributes":{"name":null,"handle":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1614878561.676651@datadoghq.com","created_at":"2021-03-04T17:22:42.069592+00:00","email":"datadog-api-client-python-test_get_a_user_invitation_returns_ok_response-1614878561.676651@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9de8b40e896b1fca6eb7c8894596cefc?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4031558'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "39fb3f5e-7d0e-11eb-96a7-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"3a8a2f5c-7d0e-11eb-96a7-da7ad0900002","attributes":{"uuid":"3a8a2f5c-7d0e-11eb-96a7-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-03-04T17:22:43.007450+00:00","expires_at":"2021-03-06T17:22:42.859006+00:00"},"relationships":{"user":{"data":{"type":"users","id":"39fb3f5e-7d0e-11eb-96a7-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4031558'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/3a8a2f5c-7d0e-11eb-96a7-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"3a8a2f5c-7d0e-11eb-96a7-da7ad0900002","attributes":{"uuid":"3a8a2f5c-7d0e-11eb-96a7-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-03-04T17:22:43.007450+00:00","expires_at":"2021-03-06T17:22:42.859006+00:00"},"relationships":{"user":{"data":{"type":"users","id":"39fb3f5e-7d0e-11eb-96a7-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - fIO2C4qGDheGHy4YbS+r3a3CXbh4cbRo7roILOimQyiHGjQdOat0cIpWCkupM1uX
      x-dd-version:
      - '35.4031558'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/39fb3f5e-7d0e-11eb-96a7-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4031558'
    status:
      code: 204
      message: No Content
version: 1
