interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_get_api_key_returns_ok_response-1608157226.856742"},
      "type": "api_keys"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:20:27.138027+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:20:27.138027+00:00","name":"datadog-api-client-python-test_get_api_key_returns_ok_response-1608157226.856742"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"c339c070-3bc1-5cea-8e78-3d8128913a68"}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - RCObiQ2dtM/JQUOdAbTQmIrpsZR5eT9bZEwE14hAfjq3x8DBTBCy/8ina/nQCRGE
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetApiKey
    method: GET
    uri: https://api.datadoghq.com/api/v2/api_keys/c339c070-3bc1-5cea-8e78-3d8128913a68
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:20:27.138027+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:20:27.138027+00:00","name":"datadog-api-client-python-test_get_api_key_returns_ok_response-1608157226.856742"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"c339c070-3bc1-5cea-8e78-3d8128913a68"}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - fbpub1YRPbOoyJvhJBk1iFu2e+h0/QC0EzprMcQ+j5QBEVxUjSwBwj1+J3+NnpX8
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/c339c070-3bc1-5cea-8e78-3d8128913a68
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - PdDr7CGzRKV1JiazIN9M5t58W3VmC092V0tka6KkG4tNQ2dswwjUu1lc7Z0OYqEX
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 204
      message: No Content
version: 1
