interactions:
- request:
    body: '{"data":{"attributes":{"anonymous":false,"data_definition":{},"description":"A
      simple test form.","idp_survey":false,"name":"Test-Delete_a_form_returns_OK_response-1780598045","single_response":false,"ui_definition":{}},"type":"forms"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/forms
  response:
    body:
      string: '{"data":{"id":"257a9d32-6ed0-429b-9745-75366363caf3","type":"forms","attributes":{"active":true,"anonymous":false,"created_at":"2026-06-04T18:34:06.128238Z","datastore_config":{"datastore_id":"1e33b83f-0733-454e-9404-c032a479548e","primary_column_name":"id","primary_key_generation_strategy":"none"},"description":"A
        simple test form.","idp_survey":false,"modified_at":"2026-06-04T18:34:06.128238Z","name":"Test-Delete_a_form_returns_OK_response-1780598045","org_id":321813,"self_service":false,"single_response":false,"user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","version":{"id":"354655","state":"draft","version":1,"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d","definition_signature":"{\"signature\":\"{\\\"version\\\":2,\\\"algorithm\\\":\\\"ecdsa-p384\\\",\\\"pubkey\\\":\\\"XOOWpRG1rFvaLHaG9qLf+GG78llET0BKnZtokyAtLfg=\\\",\\\"timestamp\\\":1780598046,\\\"proof\\\":\\\"MGQCMDR3p4Wc6qLinT0JK9tT2I3NBvYMx43pPcUuCOyMapne99sS2RJe0woOU68I0GbQvwIwQMw7OQruNsIuTNJxK0zthVCFnXaxLASIvl2NsyomT9s/p2cgEzOY4T+XyRl6i27c\\\"}\",\"version\":1}","data_definition":{},"ui_definition":{},"created_at":"2026-06-04T18:34:06.128238Z","modified_at":"2026-06-04T18:34:06.128238Z","user_id":2320499,"user_uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/forms/257a9d32-6ed0-429b-9745-75366363caf3
  response:
    body:
      string: '{"data":{"id":"257a9d32-6ed0-429b-9745-75366363caf3","type":"forms"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
