interactions:
- request:
    body: '{"data":{"attributes":{"description":"Test-Get_a_suppression_s_version_history_returns_OK_response-1769009705","enabled":true,"name":"suppression
      ee42c68404916b9e","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["technique:T1110-brute-force","source:cloudtrail"]},"type":"suppressions"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions
  response:
    body:
      string: '{"data":{"id":"joc-mpc-lbz","type":"suppressions","attributes":{"creation_date":1769009705785,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"data_exclusion_query":"","description":"Test-Get_a_suppression_s_version_history_returns_OK_response-1769009705","editable":true,"enabled":true,"name":"suppression
        ee42c68404916b9e","rule_query":"source:cloudtrail","suppression_query":"env:test","tags":["source:cloudtrail","technique:T1110-brute-force"],"update_date":1769009705785,"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"version":1}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/joc-mpc-lbz/version_history
  response:
    body:
      string: '{"data":{"id":"joc-mpc-lbz","type":"suppression_version_history","attributes":{"count":1,"data":{"1":{"suppression":{"id":"joc-mpc-lbz","name":"suppression
        ee42c68404916b9e","enabled":true,"description":"Test-Get_a_suppression_s_version_history_returns_OK_response-1769009705","rule_query":"source:cloudtrail","suppression_query":"env:test","data_exclusion_query":"","version":1,"creator":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"updater":{"handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"creation_date":1769009705785,"update_date":1769009705785,"editable":true,"tags":["source:cloudtrail","technique:T1110-brute-force"]},"changes":[]}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/configuration/suppressions/joc-mpc-lbz
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
