interactions:
- request:
    body: '{"data":{"attributes":{"exclude_tags_mode":true,"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"exclude_not_queried_window_seconds":3600,"exclude_not_used_in_assets":true},"manage_preexisting_metrics":true,"override_previous_rules":false},"version":1},"tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body:
      string: '{"data":{"id":"50b7b68a-4580-4f9b-8c2c-8622446e68eb","type":"tag_indexing_rules","attributes":{"created_at":"2026-07-20T13:47:24.033083Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":true,"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"modified_at":"2026-07-20T13:47:24.033083Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"my-indexing-rule","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true,"dynamic_tags":{"exclude_not_queried_window_seconds":3600,"exclude_not_used_in_assets":true}}},"rule_order":1,"tags":["env","service"]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/50b7b68a-4580-4f9b-8c2c-8622446e68eb
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
