interactions:
- request:
    body: '{"data":{"attributes":{"name":"Cassette Workflow x-given","spec":{"steps":[{"actionId":"com.datadoghq.core.noop","name":"No_op"}],"triggers":[{"startStepNames":["No_op"],"workflowTrigger":{}}]}},"type":"workflows"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/workflows
  response:
    body:
      string: '{"data":{"id":"a58f6f71-bb8b-4d10-af43-2761c7012291","type":"workflows","attributes":{"createdAt":"2025-05-20T19:25:37.416449Z","description":"","name":"Cassette
        Workflow x-given","published":true,"spec":{"triggers":[{"startStepNames":["No_op"],"workflowTrigger":{}}],"steps":[{"name":"No_op","actionId":"com.datadoghq.core.noop"}]},"systemTags":null,"tags":[],"updatedAt":"2025-05-20T19:25:37.416449Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/workflows/a58f6f71-bb8b-4d10-af43-2761c7012291
  response:
    body:
      string: '{"data":{"id":"a58f6f71-bb8b-4d10-af43-2761c7012291","type":"workflows","attributes":{"createdAt":"2025-05-20T19:25:37.416449Z","description":"","name":"Cassette
        Workflow x-given","published":true,"spec":{"triggers":[{"startStepNames":["No_op"],"workflowTrigger":{}}],"steps":[{"name":"No_op","actionId":"com.datadoghq.core.noop"}]},"systemTags":null,"tags":[],"updatedAt":"2025-05-20T19:25:37.416449Z"},"relationships":{"creator":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"owner":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/workflows/a58f6f71-bb8b-4d10-af43-2761c7012291
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
