interactions:
- request:
    body: '{"data":{"attributes":{"formulas":[{"formula":"a","limit":{"count":10,"order":"desc"}}],"from":1776290801000,"interval":5000,"queries":[{"compute":{"aggregation":"count"},"data_source":"ci_tests","indexes":["*"],"name":"a","search":{"query":"*"}}],"to":1776294401000},"type":"timeseries_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/query/timeseries
  response:
    body:
      string: '{"data":{"id":"0","type":"timeseries_response","attributes":{"series":[],"times":[],"values":[]}}}

        '
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
