interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce","attributes":{"name":null,"handle":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce","created_at":"2023-10-12T10:10:58.857066+00:00","modified_at":"2023-10-12T10:10:58.857066+00:00","email":"test-edit_an_application_key_for_this_service_account_returns_ok_response-1697105458@datadoghq.com","icon":"https://secure.gravatar.com/avatar/00878614ca2acb0d68087ee17a33e3f4?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/a3b86b00-68e7-11ee-b081-e2f0333fd1ce/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458","created_at":"2023-10-12T10:10:59.392476+00:00","last4":"xxxx","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","scopes":null},"relationships":{"owned_by":{"data":{"type":"users","id":"a3b86b00-68e7-11ee-b081-e2f0333fd1ce"}},"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458-updated"},"id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/service_accounts/a3b86b00-68e7-11ee-b081-e2f0333fd1ce/application_keys/8dca4456-bd90-4cb4-a182-5868501d8a9b
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"8dca4456-bd90-4cb4-a182-5868501d8a9b","attributes":{"name":"Test-Edit_an_application_key_for_this_service_account_returns_OK_response-1697105458-updated","created_at":"2023-10-12T10:10:59.392477+00:00","last4":"xxxx","scopes":null},"relationships":{"leak_information":{"data":null}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/a3b86b00-68e7-11ee-b081-e2f0333fd1ce
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
