interactions:
- request:
    body: '{"data":{"attributes":{"description":"A description.","monitor_definition":{},"tags":["integration:Azure"],"template_variables":[{"available_values":["value1","value2"],"defaults":["defaultValue"],"name":"regionName","tag_key":"datacenter"}],"title":"Postgres
      DB test-validate_a_monitor_user_template_returns_bad_request_response-1748486184"},"type":"monitor-user-template"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/template/validate
  response:
    body:
      string: '{"errors":["Invalid monitor_definition or template variables: Monitor
        definition cannot be empty."]}'
    headers:
      content-type:
      - application/json
    status:
      code: 400
      message: Bad Request
version: 1
