interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_returns_ok_response-1617953632.464839@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ef1af7f4-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617953632.464839@datadoghq.com","created_at":"2021-04-09T07:33:53.032504+00:00","modified_at":"2021-04-09T07:33:53.076830+00:00","email":"test-test_get_a_user_returns_ok_response-1617953632.464839@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e70a264899d112a4a7ff667f8503e322?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4272858'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/ef1af7f4-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"ef1af7f4-9905-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_returns_ok_response-1617953632.464839@datadoghq.com","created_at":"2021-04-09T07:33:53.032504+00:00","modified_at":"2021-04-09T07:33:53.076830+00:00","email":"test-test_get_a_user_returns_ok_response-1617953632.464839@datadoghq.com","icon":"https://secure.gravatar.com/avatar/e70a264899d112a4a7ff667f8503e322?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - nLnnBNvlCFDECRnZvzDb0z4sAO35G+IMidcAs8vrCKyjvsKWE8Yd9S3n6OjZ1qRN
      x-dd-version:
      - '35.4272858'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ef1af7f4-9905-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4272858'
    status:
      code: 204
      message: No Content
version: 1
