interactions:
- request:
    body: '{"data":{"attributes":{"description":"Any incidents that harm (or have
      the potential to) the confidentiality, integrity, or availability of our data.","is_default":false,"name":"Security
      Incident"},"type":"incident_types"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/config/types
  response:
    body:
      string: '{"data":{"id":"6faef319-c810-435b-bdf3-57efb391e56e","type":"incident_types","attributes":{"createdAt":"2024-11-04T19:02:20.505437063Z","createdBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","description":"Any
        incidents that harm (or have the potential to) the confidentiality, integrity,
        or availability of our data.","is_default":false,"lastModifiedBy":"3ad549bf-eba0-11e9-a77a-0705486660d0","modifiedAt":"2024-11-04T19:02:20.505437063Z","name":"Security
        Incident","prefix":"IR"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/config/types/6faef319-c810-435b-bdf3-57efb391e56e
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
