interactions:
- request:
    body: '{"data":{"attributes":{"name":"test-rum-33452889744bdeee","type":"ios"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"type":"rum_application","attributes":{"type":"ios","updated_at":1755613213992,"created_by_handle":"frog@datadoghq.com","name":"test-rum-33452889744bdeee","org_id":321813,"tags":[],"created_at":1755613213992,"product_analytics_replay_sample_rate":100,"product_scales":{"product_analytics_retention_scale":{"state":"NONE","last_modified_at":1755613213992},"rum_event_processing_scale":{"state":"ALL","last_modified_at":1755613213992}},"updated_by_handle":"frog@datadoghq.com","application_id":"ee0b4d74-7159-4498-bec7-2b4f2b5ba642","client_token":"pub994be67f562b7afec4436673d77927fe","hash":"pub994be67f562b7afec4436673d77927fe","is_active":false},"id":"ee0b4d74-7159-4498-bec7-2b4f2b5ba642"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/ee0b4d74-7159-4498-bec7-2b4f2b5ba642
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
