interactions:
- request:
    body: '{"data":{"attributes":{"description":"Test Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1709907544"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      string: '{"data":{"id":"svr-luf-gzy","attributes":{"version":1,"name":"testcreateacloudworkloadsecurityagentrulereturnsokresponse1709907544","description":"Test
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","creationAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","creationDate":1709907544744,"updateAuthorUuId":"cc32ddea-b5e4-11ec-93be-da7ad0900002","updateDate":1709907544744,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","enabled":true,"defaultRule":false,"creator":{"name":"Malo
        Le Goff","handle":"malo.legoff@datadoghq.com"},"updater":{"name":"Malo Le
        Goff","handle":"malo.legoff@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/svr-luf-gzy
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
