interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_a_user_returns_OK_response-1618491778@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e6fe10f8-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618491778@datadoghq.com","created_at":"2021-04-15T13:02:58.823655+00:00","modified_at":"2021-04-15T13:02:58.859929+00:00","email":"test-get_a_user_returns_ok_response-1618491778@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8eb5612b287950f96765b0ae5cba3767?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4318655'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/e6fe10f8-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"e6fe10f8-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618491778@datadoghq.com","created_at":"2021-04-15T13:02:58.823655+00:00","modified_at":"2021-04-15T13:02:58.859929+00:00","email":"test-get_a_user_returns_ok_response-1618491778@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8eb5612b287950f96765b0ae5cba3767?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4318655'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e6fe10f8-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4318655'
    status:
      code: 204
      message: No Content
version: 1
