interactions:
- request:
    body: '{"data":{"attributes":{"jobResultIds":[""],"notifications":[""],"signalMessage":"A
      large number of failed login attempts.","signalSeverity":"critical"},"type":"historicalDetectionsJobResultSignalConversion"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/siem-historical-detections/jobs/signal_convert
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Generic Error","detail":"empty
        jobResultId provided"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
