interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"70c1f86f-1b60-11f0-9652-d6bc07db26a7","attributes":{"name":null,"handle":"test-delete_on_call_escalation_policy_returns_no_content_response-1744876146@datadoghq.com","created_at":"2025-04-17T07:49:07.105631+00:00","modified_at":"2025-04-17T07:49:07.105631+00:00","email":"test-delete_on_call_escalation_policy_returns_no_content_response-1744876146@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a15d4c7b265a91d6f936fc4afbb13b01?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-f9a30a6e463d6065","name":"test-name-f9a30a6e463d6065"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"859ec66a-7fc4-4d24-afec-e74c46ee94eb","attributes":{"name":"test-name-f9a30a6e463d6065","handle":"test-handle-f9a30a6e463d6065","summary":null,"description":null,"avatar":null,"banner":9,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-17T07:49:07.473458+00:00","modified_at":"2025-04-17T07:49:07.473463+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/859ec66a-7fc4-4d24-afec-e74c46ee94eb/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/859ec66a-7fc4-4d24-afec-e74c46ee94eb/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-04-07T07:49:06.760Z","end_date":"2025-04-27T07:49:06.760Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-12T07:49:06.760Z"}],"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"2c83f119-d4e7-4db0-8bee-4e8bbcea0963","type":"schedules","attributes":{"name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"efb1c770-cd15-4dd9-83db-979197763368","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"859ec66a-7fc4-4d24-afec-e74c46ee94eb","type":"teams"},{"id":"2c83f119-d4e7-4db0-8bee-4e8bbcea0963","type":"schedules"},{"id":"70c1f86f-1b60-11f0-9652-d6bc07db26a7","type":"users"}]}]},"relationships":{"teams":{"data":[{"id":"859ec66a-7fc4-4d24-afec-e74c46ee94eb","type":"teams"}]}},"type":"policies"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body:
      string: '{"data":{"id":"e147352c-7e52-4f16-bf44-897914f341dd","type":"policies","attributes":{"description":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","name":"Test-Delete_on_call_escalation_policy_returns_No_Content_response-1744876146","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"029f4f23-ebf3-4fab-9342-782aecaa440e","type":"steps"}]},"teams":{"data":[]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e147352c-7e52-4f16-bf44-897914f341dd
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies/e147352c-7e52-4f16-bf44-897914f341dd
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"escalation_policy[e147352c-7e52-4f16-bf44-897914f341dd]
        not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/2c83f119-d4e7-4db0-8bee-4e8bbcea0963
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/859ec66a-7fc4-4d24-afec-e74c46ee94eb
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/70c1f86f-1b60-11f0-9652-d6bc07db26a7
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
