interactions:
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-04-14T02:49:21.008Z","end_date":"2025-05-04T02:49:21.008Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-04-19T02:49:21.008Z"}],"name":"Test-Create_on_call_escalation_policy_returns_Created_response-1745462961","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"982c5000-f586-47ba-8a24-68cbfcb69dd8","type":"schedules","attributes":{"name":"Test-Create_on_call_escalation_policy_returns_Created_response-1745462961","tags":["tag1","tag2"],"time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"e0120c74-ba79-45ce-a6ee-23805f0b427a","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-31c96645156f4753","name":"test-name-31c96645156f4753"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"1a2f4aba-af9a-4b7c-bfc1-27147b24f69a","attributes":{"name":"test-name-31c96645156f4753","handle":"test-handle-31c96645156f4753","summary":null,"description":null,"avatar":null,"banner":9,"visible_modules":[],"hidden_modules":[],"created_at":"2025-04-24T02:49:22.446146+00:00","modified_at":"2025-04-24T02:49:22.446154+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/1a2f4aba-af9a-4b7c-bfc1-27147b24f69a/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/1a2f4aba-af9a-4b7c-bfc1-27147b24f69a/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_on_call_escalation_policy_returns_Created_response-1745462961@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"ba36416f-20b6-11f0-80c3-2afe3706f727","attributes":{"name":null,"handle":"test-create_on_call_escalation_policy_returns_created_response-1745462961@datadoghq.com","created_at":"2025-04-24T02:49:22.874028+00:00","modified_at":"2025-04-24T02:49:22.874028+00:00","email":"test-create_on_call_escalation_policy_returns_created_response-1745462961@datadoghq.com","icon":"https://secure.gravatar.com/avatar/6a35b18888753aa49b46b0e245a5ce25?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"description":"Escalation Policy 1 description","name":"Test-Create_on_call_escalation_policy_returns_Created_response-1745462961","resolve_page_on_policy_end":true,"retries":2,"steps":[{"assignment":"default","escalate_after_seconds":3600,"targets":[{"id":"ba36416f-20b6-11f0-80c3-2afe3706f727","type":"users"},{"id":"982c5000-f586-47ba-8a24-68cbfcb69dd8","type":"schedules"},{"id":"1a2f4aba-af9a-4b7c-bfc1-27147b24f69a","type":"teams"}]},{"assignment":"round-robin","escalate_after_seconds":3600,"targets":[{"id":"1a2f4aba-af9a-4b7c-bfc1-27147b24f69a","type":"teams"}]}]},"relationships":{"teams":{"data":[{"id":"1a2f4aba-af9a-4b7c-bfc1-27147b24f69a","type":"teams"}]}},"type":"policies"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies
  response:
    body:
      string: '{"data":{"id":"027666b2-8fa2-47a5-a9c6-9a7bed58f140","type":"policies","attributes":{"description":"Escalation
        Policy 1 description","name":"Test-Create_on_call_escalation_policy_returns_Created_response-1745462961","resolve_page_on_policy_end":true,"retries":2},"relationships":{"steps":{"data":[{"id":"9d860392-4d2e-48d1-a5b4-09539bf5df12","type":"steps"},{"id":"75e94267-7fa6-4790-a81f-a6633f2e9c6e","type":"steps"}]},"teams":{"data":[{"id":"1a2f4aba-af9a-4b7c-bfc1-27147b24f69a","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/escalation-policies/027666b2-8fa2-47a5-a9c6-9a7bed58f140
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/ba36416f-20b6-11f0-80c3-2afe3706f727
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/1a2f4aba-af9a-4b7c-bfc1-27147b24f69a
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/982c5000-f586-47ba-8a24-68cbfcb69dd8
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
