interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Delete_an_existing_incident_service_returns_OK_response-1618576118"},
      "type": "services"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateIncidentService
    method: POST
    uri: https://api.datadoghq.com/api/v2/services
  response:
    body:
      string: '{"included":[{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0","attributes":{"name":null,"handle":"frog@datadoghq.com","created_at":"2019-10-02T08:15:39.795051+00:00","modified_at":"2020-06-15T12:33:12.884459+00:00","email":"frog@datadoghq.com","icon":"https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro","title":null,"verified":true,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}],"data":{"type":"services","id":"b7154be4-2074-5801-9676-e4fd9e8f3b28","attributes":{"name":"Test-Delete_an_existing_incident_service_returns_OK_response-1618576118","created":"2021-04-16T12:28:39.120897+00:00","modified":"2021-04-16T12:28:39.120897+00:00"},"relationships":{"last_modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '21'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/b7154be4-2074-5801-9676-e4fd9e8f3b28
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '98'
      x-ratelimit-reset:
      - '21'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteIncidentService
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/services/b7154be4-2074-5801-9676-e4fd9e8f3b28
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '97'
      x-ratelimit-reset:
      - '20'
    status:
      code: 204
      message: No Content
version: 1
