interactions:
- request:
    body: '{"data":{"attributes":{"description":"My Agent rule","enabled":true,"expression":"exec.file.name
      == \"sh\"","name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1748341509"},"type":"agent_rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules
  response:
    body:
      string: '{"data":{"id":"ser-ofz-4ms","attributes":{"version":1,"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1748341509","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1748341510125,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1748341510125,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security_monitoring/cloud_workload_security/agent_rules/ser-ofz-4ms
  response:
    body:
      string: '{"data":{"id":"ser-ofz-4ms","attributes":{"version":1,"name":"testgetaworkloadprotectionagentruleus1fedreturnsokresponse1748341509","description":"My
        Agent rule","expression":"exec.file.name == \"sh\"","category":"Process Activity","defaultRule":false,"enabled":true,"creationAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","creationDate":1748341510125,"updateAuthorUuId":"3ad549bf-eba0-11e9-a77a-0705486660d0","updateDate":1748341510125,"filters":["os
        == \"linux\""],"actions":[],"agentConstraint":"","creator":{"name":"frog","handle":"frog@datadoghq.com"},"updater":{"name":"frog","handle":"frog@datadoghq.com"}},"type":"agent_rule"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
