interactions:
- request:
    body: '{"data":{"attributes":{"handle":"ponse1744226700","icon_url":"","name":"ponse1744226700","requirements":[{"controls":[{"name":"ponse1744226700","rules_id":["def-000-cea"]}],"name":"ponse1744226700"}],"version":"ponse1744226700"},"type":"custom_framework"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cloud_security_management/custom_frameworks
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
