interactions:
- request:
    body: '{"name": "Test-Create_a_detection_rule_returns_Bad_Request_response-1618476794",
      "queries": [{"query": ""}], "cases": [{"status": "info"}], "options": {}, "message":
      "Test rule", "tags": [], "isEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateSecurityMonitoringRule
    method: POST
    uri: https://api.datadoghq.com/api/v2/security_monitoring/rules
  response:
    body:
      string: '{"errors":["Internal error"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4317157'
    status:
      code: 400
      message: Bad Request
version: 1
