interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"name":"40b563f89cb4c39d","type":"component"}],"domain_prefix":"dd-integration-tests-40b563f89cb4c39d","enabled":true,"name":"[DD
      Integration Tests] 40b563f89cb4c39d","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"48d99313-e0c7-4191-89a2-a53a8bc6b789","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"d2fc15ec-3955-4215-8d2f-70ec54d42ab8","name":"40b563f89cb4c39d","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:35.73108Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-40b563f89cb4c39d","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:35.73108Z","name":"[DD
        Integration Tests] 40b563f89cb4c39d","page_url":"https://frog.datadoghq.com/status-pages/48d99313-e0c7-4191-89a2-a53a8bc6b789/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/48d99313-e0c7-4191-89a2-a53a8bc6b789
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/48d99313-e0c7-4191-89a2-a53a8bc6b789
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
