interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"9df661c90212c9a4","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"f9c156a1-d377-48bd-a8dd-dad962473707","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"c3eac08c-9ff3-4392-9bd3-0cc9d1515be3","name":"Application","type":"group","position":0,"components":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","name":"Login","type":"component","status":"operational","position":0},{"id":"e3dfb3ae-4272-41e3-ba7a-6c268197ff1c","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:37.422871Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"9df661c90212c9a4","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:37.422871Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/f9c156a1-d377-48bd-a8dd-dad962473707/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"components_affected":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","status":"major_outage"}],"description":"Our
      API is experiencing elevated latency. We are investigating the issue.","status":"investigating","title":"Elevated
      API Latency"},"type":"degradations"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages/f9c156a1-d377-48bd-a8dd-dad962473707/degradations
  response:
    body:
      string: '{"data":{"id":"1513792c-27da-420c-b1c7-1d5e45955b1a","type":"degradations","attributes":{"components_affected":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:38.061564Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:38.061564Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"c3e63293-e48c-423e-884b-dc25ade70938","created_at":"2026-02-19T21:09:38.061564Z","modified_at":"2026-02-19T21:09:38.061564Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"f9c156a1-d377-48bd-a8dd-dad962473707","type":"status_pages"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/degradations
  response:
    body:
      string: '{"data":[{"id":"1513792c-27da-420c-b1c7-1d5e45955b1a","type":"degradations","attributes":{"components_affected":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","name":"Login","status":"major_outage"}],"created_at":"2026-02-19T21:09:38.061564Z","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","modified_at":"2026-02-19T21:09:38.061564Z","status":"investigating","title":"Elevated
        API Latency","updates":[{"id":"c3e63293-e48c-423e-884b-dc25ade70938","created_at":"2026-02-19T21:09:38.061564Z","modified_at":"2026-02-19T21:09:38.061564Z","status":"investigating","description":"Our
        API is experiencing elevated latency. We are investigating the issue.","components_affected":[{"id":"b9d994fb-bc32-456d-a260-f69c840f88cb","name":"Login","status":"major_outage"}]}]},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"f9c156a1-d377-48bd-a8dd-dad962473707","type":"status_pages"}}}}],"meta":{"page":{"type":"offset_limit","offset":0,"limit":50,"total":1,"first_offset":0,"prev_offset":null,"next_offset":null,"last_offset":0}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/f9c156a1-d377-48bd-a8dd-dad962473707/degradations/1513792c-27da-420c-b1c7-1d5e45955b1a
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/f9c156a1-d377-48bd-a8dd-dad962473707
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
