interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListProcesses
    method: GET
    uri: https://api.datadoghq.com/api/v2/processes?page%5Blimit%5D=2&search=process-agent&tags=testing%3Atrue
  response:
    body:
      string: '{"meta":{"page":{"after":"","size":0}},"data":[]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5Hac7JywL5roZNmTKRCMX6HAABRNCVKMTDX6QPKXi47taP78vofbekzTw2/wuz0C
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '99'
      x-ratelimit-reset:
      - '47'
    status:
      code: 200
      message: OK
version: 1
