interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[{"events":[],"name":"gridCell0","properties":{"children":[{"events":[],"name":"calloutValue0","properties":{"isDisabled":false,"isLoading":false,"isVisible":true,"label":"CPU
      Usage","size":"sm","style":"vivid_yellow","unit":"kB","value":"42"},"type":"calloutValue"}],"isVisible":"true","layout":{"default":{"height":8,"width":2,"x":0,"y":0}}},"type":"gridCell"}]},"type":"grid"}],"description":"This
      is a simple example app","embeddedQueries":[],"name":"Example App","rootInstanceName":"grid0"},"type":"appDefinitions"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/app-builder/apps
  response:
    body:
      string: '{"data":{"id":"26395163-92ab-4215-8ff5-5623a935ebf6","type":"appDefinitions"}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/app-builder/apps/26395163-92ab-4215-8ff5-5623a935ebf6
  response:
    body:
      string: '{"data":{"id":"26395163-92ab-4215-8ff5-5623a935ebf6","type":"appDefinitions","attributes":{"components":[{"events":[],"name":"grid0","properties":{"children":[{"events":[],"name":"gridCell0","properties":{"children":[{"events":[],"name":"calloutValue0","properties":{"isDisabled":false,"isLoading":false,"isVisible":true,"label":"CPU
        Usage","size":"sm","style":"vivid_yellow","unit":"kB","value":"42"},"type":"calloutValue"}],"isVisible":"true","layout":{"default":{"height":8,"width":2,"x":0,"y":0}}},"type":"gridCell"}]},"type":"grid"}],"description":"This
        is a simple example app","embeddedQueries":[],"favorite":false,"name":"Example
        App","rootInstanceName":"grid0","selfService":false,"tags":[]},"relationships":{"deployment":{"data":null}},"meta":{"org_id":1107852,"user_id":15479137,"user_uuid":"b3f98453-b289-11ef-a4e9-d6d283f92d91","user_name":"oliver.li@datadoghq.com","version":1,"updated_since_deployment":false,"created_at":"2024-12-05T06:25:04.930835Z","updated_at":"2024-12-05T06:25:04.930835Z","deleted_at":"0001-01-01T00:00:00Z","run_as_user":null}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
