interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"163bff3a57492cc4","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"d65c44fe-e2c4-4bf8-ae41-528a98bb69a9","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"830deeec-9de6-45af-86a9-42a2498b707b","name":"Application","type":"group","position":0,"components":[{"id":"2797a0b9-3e35-48d9-b4ec-9ad4955941d1","name":"Login","type":"component","status":"operational","position":0},{"id":"bff8f38d-1919-4154-9228-f43a1870bed3","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:24.757518Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"163bff3a57492cc4","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:24.757518Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/d65c44fe-e2c4-4bf8-ae41-528a98bb69a9/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/d65c44fe-e2c4-4bf8-ae41-528a98bb69a9/components/830deeec-9de6-45af-86a9-42a2498b707b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/d65c44fe-e2c4-4bf8-ae41-528a98bb69a9
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
