interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:datadog-api-client-python-test_get_all_logbased_metrics_returns_ok_response-1608595675.324394"}},
      "id": "datadog-api-client-python-test_get_all_logbased_metrics_returns_ok_response-1608595675.324394",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"datadog_api_client_python_test_get_all_logbased_metrics_returns_ok_response_1608595675.324394","attributes":{"filter":{"query":"source:datadog-api-client-python-test_get_all_logbased_metrics_returns_ok_response-1608595675.324394"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ks6TYG2WFSBr2qT+ZTFJB8BB7VWuwPmODDq52A4JjLzCAAitR8HQc9JBq+LHjJu4
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '94'
      X-RateLimit-Reset:
      - '3125'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_get_all_logbased_metrics_returns_ok_response_1608595675.324394
  response:
    body:
      string: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WrTDvawKJxc/3XHcVO+oe9kLOi9bBLB0fyesfpZ4AlLEoPVyUvH7rJdlyTxrqyNg
      X-DD-VERSION:
      - '35.3583277'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '4992'
      X-RateLimit-Reset:
      - '3123'
    status:
      code: 200
      message: OK
version: 1
