interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_returns_OK_response-1618831543@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"fafff318-a101-11eb-9f19-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618831543@datadoghq.com","created_at":"2021-04-19T11:25:44.303040+00:00","modified_at":"2021-04-19T11:25:44.341110+00:00","email":"test-get_a_user_returns_ok_response-1618831543@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8662d7d124a83b849fe92f5cff6f30c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Wjq53IVIwnB4SiR238oOYgHFMq/ZYP0LQ/Dv8C2fFLBwTje/dWJHu6pI6vIOK1zG
      x-dd-version:
      - '35.4339380'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetUser
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/fafff318-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"fafff318-a101-11eb-9f19-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_returns_ok_response-1618831543@datadoghq.com","created_at":"2021-04-19T11:25:44.303040+00:00","modified_at":"2021-04-19T11:25:44.341110+00:00","email":"test-get_a_user_returns_ok_response-1618831543@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b8662d7d124a83b849fe92f5cff6f30c?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4339380'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/fafff318-a101-11eb-9f19-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4339380'
    status:
      code: 204
      message: No Content
version: 1
