interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-e6e42a2ebca0ed06","name":"test-name-e6e42a2ebca0ed06"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"2f5b80be-405b-11ee-8a0d-da7ad0900002","attributes":{"name":"test-name-e6e42a2ebca0ed06","handle":"test-handle-e6e42a2ebca0ed06","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:47.577736+00:00","modified_at":"2023-08-21T19:44:47.577743+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/2f5b80be-405b-11ee-8a0d-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
