interactions:
- request:
    body: '{"data":{"attributes":{"vuln_containers_os":true,"vuln_host_os":true},"id":"no","type":"gcp_scan_options"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/agentless_scanning/accounts/gcp
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"project id must be 6-30
        characters, got 2"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
