interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"Test-159c92b6b06abd9d@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"resource_collection_enabled":false,"is_security_command_center_enabled":false,"cloud_run_revision_filters":[],"is_cspm_enabled":false,"client_email":"Test-159c92b6b06abd9d@example.com","automute":false,"account_tags":[],"host_filters":[]},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"client_email":"Test-159c92b6b06abd9d@example.com","host_filters":["foo:bar"]},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1","type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"is_cspm_enabled":false,"resource_collection_enabled":false,"account_tags":[],"cloud_run_revision_filters":[],"is_security_command_center_enabled":false,"host_filters":["foo:bar"],"client_email":"Test-159c92b6b06abd9d@example.com","automute":false},"id":"acd4d936-fba6-4b2f-8b46-768389ff90b1"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/acd4d936-fba6-4b2f-8b46-768389ff90b1
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
