interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason_description":"items to focus on"},"enabled":true,"name":"Test-Get_details_of_an_inbox_rule_returns_Inbox_rule_details_response-1738076210","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"inbox_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules
  response:
    body:
      string: '{"data":{"id":"0d3e2f13-ffda-4802-aec8-1c0a4936dc23","type":"inbox_rules","attributes":{"action":{"reason_description":"items
        to focus on"},"created_at":1738076210476,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076210476,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Get_details_of_an_inbox_rule_returns_Inbox_rule_details_response-1738076210","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/0d3e2f13-ffda-4802-aec8-1c0a4936dc23
  response:
    body:
      string: '{"data":{"id":"0d3e2f13-ffda-4802-aec8-1c0a4936dc23","type":"inbox_rules","attributes":{"action":{"reason_description":"items
        to focus on"},"created_at":1738076210476,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1738076210476,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Get_details_of_an_inbox_rule_returns_Inbox_rule_details_response-1738076210","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/inbox_rules/0d3e2f13-ffda-4802-aec8-1c0a4936dc23
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
