interactions:
- request:
    body: '{"data":{"attributes":{"action":{"reason":"duplicate"},"enabled":true,"name":"Test-Update_a_mute_rule_returns_Bad_Request_response-1737639704","rule":{"issue_type":"vulnerability","query":"","rule_ids":[],"rule_types":["misconfiguration","attack_path"],"severities":["critical"]}},"type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules
  response:
    body:
      string: '{"data":{"id":"d54c43cb-1ff0-4f60-a3cc-2794815252a8","type":"mute_rules","attributes":{"action":{"reason":"duplicate"},"created_at":1737639704499,"created_by":{"name":"frog","handle":"frog@datadoghq.com"},"enabled":true,"modified_at":1737639704499,"modified_by":{"name":"frog","handle":"frog@datadoghq.com"},"name":"Test-Update_a_mute_rule_returns_Bad_Request_response-1737639704","rule":{"issue_type":"vulnerability","rule_types":["misconfiguration","attack_path"],"rule_ids":[],"query":"","severities":["critical"]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"invalid":{"attributes":{"action":{"expire_at":1893452400000,"reason":"duplicate","reason_description":"Muting
      for a while"},"enabled":true,"name":"Rule 1","rule":{"issue_type":"vulnerability","query":"key:val","rule_ids":["rule-id-1"],"rule_types":["application_code_vulnerability"],"severities":["critical"]}},"id":"d54c43cb-1ff0-4f60-a3cc-2794815252a8","type":"mute_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d54c43cb-1ff0-4f60-a3cc-2794815252a8
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"Error while
        unmarshalling JSON API request"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/vulnerabilities/pipelines/mute_rules/d54c43cb-1ff0-4f60-a3cc-2794815252a8
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
