interactions:
- request:
    body: '{"data": {"id": "Test-test_create_a_logbased_metric_returns_ok_response-1617953679.21445",
      "type": "logs_metrics", "attributes": {"compute": {"aggregation_type": "count"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_test_create_a_logbased_metric_returns_ok_response_1617953679.21445","attributes":{"filter":{"query":"*"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '300'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '290'
      x-ratelimit-reset:
      - '21'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_test_create_a_logbased_metric_returns_ok_response_1617953679.21445
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4272858'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '4975'
      x-ratelimit-reset:
      - '1520'
    status:
      code: 200
      message: OK
version: 1
