interactions:
- request:
    body: '{"data":{"type":"application_keys","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111"}}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"cc3a2cdd-7a8c-492f-a13a-3aa7c616567b","attributes":{"name":"Test-Create_an_Application_key_for_current_user_returns_Created_response-1639757111","created_at":"2021-12-17T16:05:12.186569+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '399'
      x-ratelimit-reset:
      - '3288'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/current_user/application_keys/cc3a2cdd-7a8c-492f-a13a-3aa7c616567b
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '398'
      x-ratelimit-reset:
      - '3288'
    status:
      code: 204
      message: No Content
version: 1
