interactions:
- request:
    body: '{"data": {"id": "Test-Update_a_logbased_metric_returns_OK_response-1617999708",
      "attributes": {"filter": {"query": "source:Test-Update_a_logbased_metric_returns_OK_response-1617999708"},
      "compute": {"aggregation_type": "count"}}, "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_logbased_metric_returns_OK_response_1617999708","attributes":{"filter":{"query":"source:Test-Update_a_logbased_metric_returns_OK_response-1617999708"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '78'
      x-ratelimit-reset:
      - '2292'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "Test_Update_a_logbased_metric_returns_OK_response_1617999708",
      "type": "logs_metrics", "attributes": {"filter": {"query": "source:Test-Update_a_logbased_metric_returns_OK_response-1617999708-updated"}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateLogsMetric
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_logbased_metric_returns_OK_response_1617999708
  response:
    body:
      string: '{"data":{"id":"Test_Update_a_logbased_metric_returns_OK_response_1617999708","attributes":{"filter":{"query":"source:Test-Update_a_logbased_metric_returns_OK_response-1617999708-updated"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '77'
      x-ratelimit-reset:
      - '2292'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/Test_Update_a_logbased_metric_returns_OK_response_1617999708
  response:
    body:
      string: '{}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '76'
      x-ratelimit-reset:
      - '2291'
    status:
      code: 200
      message: OK
version: 1
