interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-List_all_users_returns_OK_response-1618491779@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1618491779%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":184359}},"data":[{"type":"users","id":"e7e3ea38-9dea-11eb-9df5-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","created_at":"2021-04-15T13:03:00.330361+00:00","modified_at":"2021-04-15T13:03:00.363492+00:00","email":"test-list_all_users_returns_ok_response-1618491779@datadoghq.com","icon":"https://secure.gravatar.com/avatar/8391c211db85f08ff4464f0719c7e0c7?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/e7e3ea38-9dea-11eb-9df5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/json
    status:
      code: 204
      message: No Content
version: 1
