interactions:
- request:
    body: '{"data":{"attributes":{"api_key":"TestUpdateFastlyaccountreturnsOKresponse1678702217","name":"Test-Update_Fastly_account_returns_OK_response-1678702217","services":[]},"type":"fastly-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body:
      string: '{"data":{"type":"fastly-accounts","id":"e37e834ae856fa24a2924973fdc7c276","attributes":{"services":[],"name":"Test-Update_Fastly_account_returns_OK_response-1678702217"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"api_key":"update-secret"},"type":"fastly-accounts"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/e37e834ae856fa24a2924973fdc7c276
  response:
    body:
      string: '{"data":{"type":"fastly-accounts","id":"e37e834ae856fa24a2924973fdc7c276","attributes":{"services":[],"name":"Test-Update_Fastly_account_returns_OK_response-1678702217"}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/e37e834ae856fa24a2924973fdc7c276
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
