interactions:
- request:
    body: "{\"data\":{\"attributes\":{\"description\":\"Worldwide case type\",\"emoji\"\
      :\"\U0001F30D\",\"name\":\"World\"},\"type\":\"case_type\"}}"
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types
  response:
    body:
      string: "{\"data\":{\"id\":\"a52ea7e5-7cdf-4414-a585-63e58d3dc7a0\",\"type\"\
        :\"case_type\",\"attributes\":{\"description\":\"Worldwide case type\",\"\
        emoji\":\"\U0001F30D\",\"internal\":false,\"name\":\"World\",\"statuses_config\"\
        :{\"open\":{\"status_options\":[{\"name\":\"Open\"}],\"default\":\"Open\"\
        },\"in_progress\":{\"status_options\":[{\"name\":\"In Progress\"}],\"default\"\
        :\"In Progress\"},\"closed\":{\"status_options\":[{\"name\":\"Closed\"}],\"\
        default\":\"Closed\"}}}}}"
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"display_name":"AWS Region 17593230-0000-0000-0000-175932301100","is_multi":true,"key":"region_4fd8eeb20ad8f927","type":"FLOAT"},"type":"custom_attribute"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/types/a52ea7e5-7cdf-4414-a585-63e58d3dc7a0/custom_attributes
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
