interactions:
- request:
    body: '{"data":{"attributes":{"policy":{"tag_key":"testcreateamonitorconfigurationpolicyreturnsokresponse1748486175","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy_type":"tag","policy":{"tag_key_required":false,"valid_tag_values":["prod","staging"],"tag_key":"testcreateamonitorconfigurationpolicyreturnsokresponse1748486175"}},"id":"edb99130-4a6a-4970-b6df-83b5cba1182a"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/edb99130-4a6a-4970-b6df-83b5cba1182a
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
