interactions:
- request:
    body: '{"data":{"attributes":{"customer_impacted":false,"title":"Test-Delete_postmortem_for_an_incident_returns_OK_response-1783629994"},"type":"incidents"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents
  response:
    body:
      string: '{"data":{"type":"incidents","id":"b481c61d-b0b2-5786-b2c2-381d5334d201","attributes":{"public_id":364276,"incident_type_uuid":"41d2e10b-4108-4736-92d7-791d00ea0702","title":"Test-Delete_postmortem_for_an_incident_returns_OK_response-1783629994","resolved":null,"customer_impact_scope":null,"customer_impact_start":null,"customer_impact_end":null,"customer_impacted":false,"notification_handles":null,"last_modified_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"last_modified_by_uuid":null,"created":"2026-07-09T20:46:34.742676+00:00","modified":"2026-07-09T20:46:34.742676+00:00","commander":null,"detected":"2026-07-09T20:46:34.734288+00:00","created_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"created_by_uuid":null,"creation_idempotency_key":null,"customer_impact_duration":0,"time_to_detect":0,"time_to_repair":0,"time_to_internal_response":0,"time_to_resolve":0,"is_test":false,"declared":"2026-07-09T20:46:34.742676+00:00","declared_by":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","attributes":{"uuid":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","email":"team-intg-tools-libs-spam@datadoghq.com","name":"CI
        Account","icon":"https://secure.gravatar.com/avatar/b7c189b5b4c2c429d7c1e0bc3749330e?s=48&d=retro"}}},"declared_by_uuid":null,"fields":{"teams":{"type":"autocomplete","value":null},"severity":{"type":"dropdown","value":"UNKNOWN"},"state":{"type":"dropdown","value":"active"},"detection_method":{"type":"dropdown","value":"unknown"},"root_cause":{"type":"textbox","value":null},"summary":{"type":"textbox","value":null},"services":{"type":"autocomplete","value":null},"slug":{"type":"textbox","value":"IR-364276"}},"field_analytics":null,"severity":"UNKNOWN","state":"active","non_datadog_creator":null,"visibility":"organization","case_id":null},"relationships":{"created_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"last_modified_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"commander_user":{"data":null},"declared_by_user":{"data":{"type":"users","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca"}},"user_defined_fields":{"data":[{"type":"user_defined_field","id":"3cbe9e60-d794-532c-acc0-73641f782813"},{"type":"user_defined_field","id":"33457d2a-570c-5567-b4af-979a2a8f1164"},{"type":"user_defined_field","id":"d003693c-bee9-5420-8d46-859269c20914"},{"type":"user_defined_field","id":"1ddff6f6-cb1f-51a0-9d81-dc18ef52cc9d"},{"type":"user_defined_field","id":"6bc9d32b-c2cd-591e-9b7a-74c886a5ddcf"},{"type":"user_defined_field","id":"95c53547-2ba3-5d8a-9c3b-cf245bc0c629"},{"type":"user_defined_field","id":"39044b03-cee4-555f-b1e0-3eb3aa759a86"},{"type":"user_defined_field","id":"2b9f1063-b915-4c7a-8bbd-fc3940245529"}]},"integrations":{"data":[]},"attachments":{"data":[]},"responders":{"data":[]},"impacts":{"data":[]}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"document_url":"https://docs.example.com/postmortem-test-delete_postmortem_for_an_incident_returns_ok_response-1783629994","title":"Postmortem
      for Test-Delete_postmortem_for_an_incident_returns_OK_response-1783629994"},"type":"incident_postmortems"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/incidents/b481c61d-b0b2-5786-b2c2-381d5334d201/postmortem
  response:
    body:
      string: '{"data":{"id":"1f42ee03-8e4c-49ad-8626-875dc3c88862","type":"incident_postmortems","attributes":{"created":"2026-07-09T20:46:35.181043Z","document_id":"","document_type":"","document_url":"https://docs.example.com/postmortem-test-delete_postmortem_for_an_incident_returns_ok_response-1783629994","modified":"2026-07-09T20:46:35.181043Z","status":"draft","title":"Postmortem
        for Test-Delete_postmortem_for_an_incident_returns_OK_response-1783629994"},"relationships":{"incident":{"data":{"id":"b481c61d-b0b2-5786-b2c2-381d5334d201","type":"incidents"}},"last_modified_by_user":{"data":{"id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","type":"users"}},"postmortem_owner_responder":{"data":null},"postmortem_owner_user":{"data":null}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/b481c61d-b0b2-5786-b2c2-381d5334d201/postmortem
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/b481c61d-b0b2-5786-b2c2-381d5334d201/postmortem
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"postmortem not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/incidents/b481c61d-b0b2-5786-b2c2-381d5334d201
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
