interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Update_a_role_returns_OK_response-1618576078"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"2d8bf3c2-9eaf-11eb-9e3e-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618576078","created_at":"2021-04-16T12:27:58.553342+00:00","modified_at":"2021-04-16T12:27:58.553342+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '437'
      x-ratelimit-reset:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "2d8bf3c2-9eaf-11eb-9e3e-da7ad0900002", "type": "roles",
      "attributes": {"name": "Test-Update_a_role_returns_OK_response-1618576078-updated"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateRole
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/roles/2d8bf3c2-9eaf-11eb-9e3e-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"roles","id":"2d8bf3c2-9eaf-11eb-9e3e-da7ad0900002","attributes":{"name":"Test-Update_a_role_returns_OK_response-1618576078-updated","created_at":"2021-04-16T12:27:58.553342+00:00","modified_at":"2021-04-16T12:27:58.995080+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '436'
      x-ratelimit-reset:
      - '2'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/2d8bf3c2-9eaf-11eb-9e3e-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4327775'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '435'
      x-ratelimit-reset:
      - '1'
    status:
      code: 204
      message: No Content
version: 1
