interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Add_a_user_to_a_role_returns_OK_response-1617999695"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"2eb89194-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"Test-Add_a_user_to_a_role_returns_OK_response-1617999695","created_at":"2021-04-09T20:21:35.912491+00:00","modified_at":"2021-04-09T20:21:35.912491+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '482'
      x-ratelimit-reset:
      - '25'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"email": "Test-Add_a_user_to_a_role_returns_OK_response-1617999695@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"2f04a156-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1617999695@datadoghq.com","created_at":"2021-04-09T20:21:36.410076+00:00","modified_at":"2021-04-09T20:21:36.445860+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1617999695@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3203f5d3c72c155efae2fe9a95b20340?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "2f04a156-9971-11eb-9cf2-da7ad0900002", "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - AddUserToRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles/2eb89194-9971-11eb-9cf2-da7ad0900002/users
  response:
    body:
      string: '{"meta":{"page":{"total_count":1}},"data":[{"type":"users","id":"2f04a156-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-add_a_user_to_a_role_returns_ok_response-1617999695@datadoghq.com","created_at":"2021-04-09T20:21:36.410076+00:00","modified_at":"2021-04-09T20:21:36.445860+00:00","email":"test-add_a_user_to_a_role_returns_ok_response-1617999695@datadoghq.com","icon":"https://secure.gravatar.com/avatar/3203f5d3c72c155efae2fe9a95b20340?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[{"type":"roles","id":"2eb89194-9971-11eb-9cf2-da7ad0900002"}]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '481'
      x-ratelimit-reset:
      - '24'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/2f04a156-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - S1wfaMZOKGT/IoMw6fqAwAwGWo2vQ44sjF3YzuETnQfxZO2T5eJbs0aX3UKb9Dwu
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/2eb89194-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '480'
      x-ratelimit-reset:
      - '21'
    status:
      code: 204
      message: No Content
version: 1
