interactions:
- request:
    body: '{"data":{"attributes":{"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","template":[{"content":"Hello","role":"user"}]},"type":"prompt-templates"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts
  response:
    body:
      string: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"author":"c5e19e5a-ad6b-11ed-ab4f-927130d31ef9","created_at":"2026-07-20T09:20:09.112910708Z","created_from":"sdk-registry","in_registry":true,"last_version_created_at":"2026-07-20T09:20:09.112910708Z","num_versions":1,"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","source":"registry"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208
  response:
    body:
      string: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"chat_template":[{"role":"user","content":"Hello"}],"prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208","prompt_version_uuid":"9cd92cc7-2f51-5867-8148-eaf41efee79d","version":"1"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/llm-obs/v1/prompts/Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208
  response:
    body:
      string: '{"data":{"id":"95e93a91-1020-5a23-9cb7-c8ca6e3b1785","type":"prompt-templates","attributes":{"deleted_at":"2026-07-20T09:20:10.172623Z","prompt_id":"Test-Get_an_LLM_Observability_prompt_returns_OK_response-1784539208"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
