interactions:
- request:
    body: '{"data":{"attributes":{"metric_name_matches":["dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*"],"name":"TestReordertagindexingrulesreturnsNoContentresponse1780591177","tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body:
      string: '{"data":{"id":"13b0b297-7c54-4744-9333-b1aa7a2fd200","type":"tag_indexing_rules","attributes":{"created_at":"2026-06-04T16:39:37.674807Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":false,"metric_name_matches":["dd.TestReordertagindexingrulesreturnsNoContentresponse1780591177.*"],"modified_at":"2026-06-04T16:39:37.674807Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"TestReordertagindexingrulesreturnsNoContentresponse1780591177","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":["env","service"]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"rule_ids":["13b0b297-7c54-4744-9333-b1aa7a2fd200"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/order
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/13b0b297-7c54-4744-9333-b1aa7a2fd200
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
