interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_update_a_user_returns_ok_response-1617968237@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"efcdd78a-9927-11eb-9ceb-da7ad0900002","attributes":{"name":null,"handle":"test-test_update_a_user_returns_ok_response-1617968237@datadoghq.com","created_at":"2021-04-09T11:37:17.091181+00:00","modified_at":"2021-04-09T11:37:17.132188+00:00","email":"test-test_update_a_user_returns_ok_response-1617968237@datadoghq.com","icon":"https://secure.gravatar.com/avatar/acec0ac6d94230231d733899e96ee719?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4275259'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"id": "efcdd78a-9927-11eb-9ceb-da7ad0900002", "type": "users",
      "attributes": {"name": "updated", "disabled": true}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateUser
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/users/efcdd78a-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"users","id":"efcdd78a-9927-11eb-9ceb-da7ad0900002","attributes":{"name":"updated","handle":"test-test_update_a_user_returns_ok_response-1617968237@datadoghq.com","created_at":"2021-04-09T11:37:17.091181+00:00","modified_at":"2021-04-09T11:37:17.721702+00:00","email":"test-test_update_a_user_returns_ok_response-1617968237@datadoghq.com","icon":"https://secure.gravatar.com/avatar/acec0ac6d94230231d733899e96ee719?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":true,"allowed_login_methods":[],"status":"Disabled"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
      x-dd-version:
      - '35.4275259'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/efcdd78a-9927-11eb-9ceb-da7ad0900002
  response:
    body:
      string: '{"errors": ["efcdd78a-9927-11eb-9ceb-da7ad0900002 not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4275259'
    status:
      code: 404
      message: Not Found
version: 1
