interactions:
- request:
    body: '{"data":{"attributes":{"data_definition":{"description":"Welcome to the
      Engineering Experience Survey.","required":[],"title":"Developer Experience
      Survey","type":"object"},"ui_definition":{"ui:order":[],"ui:theme":{"primaryColor":"gray"}},"upsert_params":{"etag":"b51f08b698d88d8027a935d9db649774949f5fb41a0c559bfee6a9a13225c72d"}},"type":"form_versions"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/forms/00000000-0000-0000-0000-000000000001/versions/upsert_and_publish
  response:
    body:
      string: '{"errors":[{"status":"404","id":"08399bf1-1d71-4160-bc73-e858e01fde0f","title":"form
        not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
