interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"80e3f00106389e6e@test-project.iam.gserviceaccount.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","id":"d6c68645-2b52-43e9-838c-9b7fdb809a8d","attributes":{"host_filters":[],"account_tags":[],"client_email":"80e3f00106389e6e@test-project.iam.gserviceaccount.com","is_cspm_enabled":false,"automute":false}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/d6c68645-2b52-43e9-838c-9b7fdb809a8d
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
