interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"components":[{"name":"Login","position":0,"type":"component"},{"name":"Settings","position":1,"type":"component"}],"name":"Application","type":"group"}],"domain_prefix":"66b6b291edf9027c","enabled":true,"name":"A
      Status Page","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"803668b9-3f95-40ed-9092-a96da0c098ee","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"069e49b9-8922-42df-a98c-7e64e631de68","name":"Application","type":"group","position":0,"components":[{"id":"2a890a79-ee45-4d88-8b77-fb615cac67e8","name":"Login","type":"component","status":"operational","position":0},{"id":"a4bcdcee-5aa9-4b3b-838c-4d49ab3a9a09","name":"Settings","type":"component","status":"operational","position":1}]}],"created_at":"2026-02-19T21:09:28.141704Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"66b6b291edf9027c","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-02-19T21:09:28.141704Z","name":"A
        Status Page","page_url":"https://frog.datadoghq.com/status-pages/803668b9-3f95-40ed-9092-a96da0c098ee/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/803668b9-3f95-40ed-9092-a96da0c098ee
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/803668b9-3f95-40ed-9092-a96da0c098ee
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"status page not found"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
