interactions:
- request:
    body: '{"data":{"attributes":{"handle":"test-handle-a9d07353f71937c2","name":"test-name-a9d07353f71937c2"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"320db0de-405b-11ee-bb10-da7ad0900002","attributes":{"name":"test-name-a9d07353f71937c2","handle":"test-handle-a9d07353f71937c2","summary":null,"description":null,"avatar":null,"banner":null,"visible_modules":[],"hidden_modules":[],"created_at":"2023-08-21T19:44:52.101073+00:00","modified_at":"2023-08-21T19:44:52.101079+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/320db0de-405b-11ee-bb10-da7ad0900002
  response:
    body:
      string: '{"errors":["Team for ID 320db0de-405b-11ee-bb10-da7ad0900002 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
