interactions:
- request:
    body: '{"series":[{"metric":"static_test_metric_donotdelete","points":[[1685718947,1.1]],"tags":["test:static_test_metric_donotdelete"],"type":"gauge"}]}'
    headers:
      content-type:
      - text/json
    method: POST
    uri: https://api.datadoghq.com/api/v1/series
  response:
    body:
      string: '{"status": "ok"}'
    headers:
      content-type:
      - text/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics/static_test_metric_donotdelete/volumes
  response:
    body:
      string: '{"data":{"type":"metric_volumes","id":"static_test_metric_donotdelete","attributes":{"indexed_volume":1,"ingested_volume":1}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
