interactions:
- request:
    body: '{"data": {"attributes": {"name": "datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608157227.682903"},
      "type": "api_keys"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:20:27.887351+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:20:27.887351+00:00","name":"datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608157227.682903"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"312665a1-a22b-5fb3-9d77-2be0ded79d25"}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - sbJ6i3VupQQcT7EDgPAdOxGmcKsvZJqf4l3SlQaWZNaaFfahh7BdNF3x5CttmH4Q
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "api_keys", "id": "312665a1-a22b-5fb3-9d77-2be0ded79d25",
      "attributes": {"name": "datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608157227.682903"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - UpdateApiKey
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/api_keys/312665a1-a22b-5fb3-9d77-2be0ded79d25
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:20:27.887351+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:20:27.887351+00:00","name":"datadog-api-client-python-test_edit_an_api_key_returns_ok_response-1608157227.682903"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"312665a1-a22b-5fb3-9d77-2be0ded79d25"}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - xX5B3VEUzj/lf2mLoLzvYApJQ8Milw+OjpcorJhw8mNeFxMv2SeFpmruGZDusq8/
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/312665a1-a22b-5fb3-9d77-2be0ded79d25
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - cLmbdqkoXAogp+jvJYjDem2Ccuhd9u5QaFds8gBIEk61c952eYE473HKvGYqQTh2
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 204
      message: No Content
version: 1
