interactions:
- request:
    body: '{"data":{"attributes":{"client_email":"64786de2b265b150@example.com","host_filters":[]},"type":"gcp_service_account"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":{"type":"gcp_service_account","attributes":{"client_email":"64786de2b265b150@example.com","host_filters":[],"automute":false,"is_cspm_enabled":false},"id":"00fecf2b-ccf5-4b7f-954c-845173d99179"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts
  response:
    body:
      string: '{"data":[{"type":"gcp_service_account","attributes":{"client_email":"datadog-service-account@test-project.iam.gserviceaccount.com","automute":false,"is_cspm_enabled":false,"host_filters":[]},"meta":{"accessible_projects":[]},"id":"3acadf04-13a2-4422-995b-1b8780dd23e6"},{"type":"gcp_service_account","attributes":{"client_email":"5347bd1ea052f252@test-project.iam.gserviceaccount.com","automute":false,"is_cspm_enabled":false,"host_filters":[]},"meta":{"accessible_projects":[]},"id":"bfef2d23-0d85-4735-850a-c8f77407bcda"},{"type":"gcp_service_account","attributes":{"client_email":"64786de2b265b150@example.com","automute":false,"is_cspm_enabled":false,"host_filters":[]},"meta":{"accessible_projects":[]},"id":"00fecf2b-ccf5-4b7f-954c-845173d99179"}]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integration/gcp/accounts/00fecf2b-ccf5-4b7f-954c-845173d99179
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
