interactions:
- request:
    body: '{"data": {"attributes": {"compute": {"aggregation_type": "count"}, "filter":
      {"query": "source:datadog-api-client-python-test_delete_a_logbased_metric_returns_ok_response-1608595670.983057"}},
      "id": "datadog-api-client-python-test_delete_a_logbased_metric_returns_ok_response-1608595670.983057",
      "type": "logs_metrics"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateLogsMetric
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data":{"id":"datadog_api_client_python_test_delete_a_logbased_metric_returns_ok_response_1608595670.983057","attributes":{"filter":{"query":"source:datadog-api-client-python-test_delete_a_logbased_metric_returns_ok_response-1608595670.983057"},"group_by":[],"compute":{"aggregation_type":"count"}},"type":"logs_metrics"}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - kz7POzMRR1DtZrw59X15p2pAWXtFgVtBoSlzXFcGszy5lhwGx7f8GB820VUZODrm
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '97'
      X-RateLimit-Reset:
      - '3129'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_delete_a_logbased_metric_returns_ok_response_1608595670.983057
  response:
    body:
      string: '{}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json;charset=utf-8
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - ZTMib3S/rZeXw/RhaeaehRILC7QJAaERfyf3m4/am8FN44e9rxbkPcmk4YzKBISj
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '4996'
      X-RateLimit-Reset:
      - '3128'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteLogsMetric
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics/datadog_api_client_python_test_delete_a_logbased_metric_returns_ok_response_1608595670.983057
  response:
    body:
      string: '{"errors":["not_found(Metric with name ''datadog_api_client_python_test_delete_a_logbased_metric_returns_ok_response_1608595670.983057''
        not found)"]}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-VERSION:
      - '35.3583123'
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Period:
      - '3600'
      X-RateLimit-Remaining:
      - '4995'
      X-RateLimit-Reset:
      - '3128'
    status:
      code: 404
      message: Not Found
version: 1
