interactions:
- request:
    body: '{"data": {"type": "api_keys", "attributes": {"name": "datadog-api-client-python-test_create_an_api_key_returns_created_response-1608157228.631322"}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateApiKey
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2020-12-16T22:20:28.814432+00:00","key":"redacted","last4":"ffff","modified_at":"2020-12-16T22:20:28.814432+00:00","name":"datadog-api-client-python-test_create_an_api_key_returns_created_response-1608157228.631322"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}}},"id":"77c80e57-88d3-584a-b9e3-68b1ad336dc5"}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - M5AkO8bVyO5yuX6OQA9nCjANXZokYPd2NqFZwMNyvfQQbQnBskFTa6rdUllh6BsX
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteApiKey
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/77c80e57-88d3-584a-b9e3-68b1ad336dc5
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - chc/Ua/VlFggLuiJmJEWtOjiWKu2FOjUYS91CLY/GE8MSguAZUcjuIV2bgSw80Sv
      X-DD-VERSION:
      - '35.3556526'
    status:
      code: 204
      message: No Content
version: 1
