interactions:
- request:
    body: '{"data": {"attributes": {"is_enabled": true}, "type": "aws_cur_config_patch_request"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/cost/aws_cur_config/100
  response:
    body:
      string: '{"data": [{"type": "aws_cur_config", "id": 100, "attributes": {"account_id":
        "000000000000", "bucket_name": "test_bucket_name", "bucket_region": "us-east-1",
        "report_prefix": "cur-report-hourly", "report_name": "cur-hourly", "months":
        15, "updated_at": "2023-10-18T08:15:45.265597", "created_at": "2022-07-25T17:19:47.190482",
        "status": "active", "status_updated_at": "2023-11-08T22:47:55.372330", "error_messages":
        []}}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
