interactions:
- request:
    body: '{"data":{"attributes":{"layers":[{"effective_date":"2025-05-11T11:01:55.033Z","end_date":"2025-05-31T11:01:55.033Z","interval":{"days":1},"members":[{"user":{"id":"890f29d4-0b7a-11f0-aeb2-760fcae4f596"}}],"name":"Layer
      1","restrictions":[{"end_day":"friday","end_time":"17:00:00","start_day":"monday","start_time":"09:00:00"}],"rotation_start":"2025-05-16T11:01:55.033Z"}],"name":"Test-Get_On_Call_schedule_returns_OK_response-1747825315","time_zone":"America/New_York"},"relationships":{"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}},"type":"schedules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/schedules
  response:
    body:
      string: '{"data":{"id":"68403f49-4f50-4307-bdf2-663ebab53587","type":"schedules","attributes":{"name":"Test-Get_On_Call_schedule_returns_OK_response-1747825315","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"15bf3013-34f8-474c-925f-87f468e3eaff","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/68403f49-4f50-4307-bdf2-663ebab53587
  response:
    body:
      string: '{"data":{"id":"68403f49-4f50-4307-bdf2-663ebab53587","type":"schedules","attributes":{"name":"Test-Get_On_Call_schedule_returns_OK_response-1747825315","time_zone":"America/New_York"},"relationships":{"layers":{"data":[{"id":"15bf3013-34f8-474c-925f-87f468e3eaff","type":"layers"}]},"teams":{"data":[{"id":"65aea9d0-941c-4607-bf8a-14fc0dac2820","type":"teams"}]}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/on-call/schedules/68403f49-4f50-4307-bdf2-663ebab53587
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
