interactions:
- request:
    body: '{"data":{"attributes":{"handle":"1679941989","name":"1679941989"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"d3141588-cccd-11ed-93f1-da7ad0900002","attributes":{"name":"1679941989","handle":"1679941989","summary":null,"description":null,"color":6,"created_at":"2023-03-27T18:33:10.001530+00:00","modified_at":"2023-03-27T18:33:10.001534+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002/links
  response:
    body:
      string: '{"data":[]}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/d3141588-cccd-11ed-93f1-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
