interactions:
- request:
    body: '{"data":{"attributes":{"policy":{"tag_key":"datacenter","tag_key_required":false,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"00000000-0000-1234-0000-000000000000","type":"monitor-config-policy"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/policy/00000000-0000-1234-0000-000000000000
  response:
    body:
      string: '{"errors":["Monitor configuration policy not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
