interactions:
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_API_key_returns_Created_response-1652349120"},"type":"api_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/api_keys
  response:
    body:
      string: '{"data":{"type":"api_keys","attributes":{"created_at":"2022-05-12T09:52:00.698721+00:00","key":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","last4":"xxxx","modified_at":"2022-05-12T09:52:00.698721+00:00","name":"Test-Create_an_API_key_returns_Created_response-1652349120"},"relationships":{"created_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"modified_by":{"data":{"type":"users","id":"3ad549bf-eba0-11e9-a77a-0705486660d0"}},"leak_information":{"data":null}},"id":"f625994a-4ee7-4967-b08c-7067d1f1cdac"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/api_keys/f625994a-4ee7-4967-b08c-7067d1f1cdac
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
