interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_an_On_Call_email_for_a_user_returns_OK_response-1762962328@datadoghq.com","title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e","attributes":{"name":null,"handle":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","created_at":"2025-11-12T15:45:28.333343+00:00","modified_at":"2025-11-12T15:45:28.333343+00:00","email":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","icon":"https://secure.gravatar.com/avatar/9b6db90223b9ab60eead905163035fb3?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending","last_login_time":null},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","formats":["html"]},"type":"emails"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/on-call/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e/notification-channels/emails
  response:
    body:
      string: '{"data":{"id":"0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c","type":"emails","attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T15:45:28.530651Z","formats":["html"],"modified_at":"2025-11-12T15:45:28.530651Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/on-call/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e/notification-channels/emails/0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c
  response:
    body:
      string: '{"data":{"id":"0b0453b5-2f4c-49c3-94d9-c3db2d5ed69c","type":"emails","attributes":{"active":true,"address":"test-get_an_on_call_email_for_a_user_returns_ok_response-1762962328@datadoghq.com","alias":"","blocked":false,"created_at":"2025-11-12T15:45:28.530651Z","formats":["html"],"modified_at":"2025-11-12T15:45:28.530651Z"}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/9cd4f6e1-bfde-11f0-a1ee-1630341c9b2e
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
