interactions:
- request:
    body: '{"data":{"attributes":{"policy":{"tag_key":"dc","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"type":"monitor-config-policy"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/monitor/policy
  response:
    body:
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":true,"tag_key":"dc","valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"policy":{"tag_key":"datacenter","tag_key_required":true,"valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002","type":"monitor-config-policy"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/monitor/policy/cf99b4f4-9833-11ed-84c5-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"monitor-config-policy","attributes":{"policy":{"tag_key_required":true,"tag_key":"datacenter","valid_tag_values":["prod","staging"]},"policy_type":"tag"},"id":"cf99b4f4-9833-11ed-84c5-da7ad0900002"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/monitor/policy/cf99b4f4-9833-11ed-84c5-da7ad0900002
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
