interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431@datadoghq.com","title":"user
      title","service_account":true},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8","attributes":{"name":null,"handle":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8","created_at":"2021-12-17T16:27:12.343965+00:00","modified_at":"2021-12-17T16:27:12.379329+00:00","email":"test-edit_an_app_key_owned_by_this_service_account_returns_ok_response-1639758431@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c67948de6d17474d4a0f5ffbd5ed4f49?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"353fb924-134b-43ff-a826-e18d62ea4bdf","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431","created_at":"2021-12-17T16:27:12.877682+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"d5b0e4a0-1e73-4e49-83a6-5778ae914aa8"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"id":"353fb924-134b-43ff-a826-e18d62ea4bdf","type":"application_keys","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431-updated"}}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/service_accounts/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8/application_keys/353fb924-134b-43ff-a826-e18d62ea4bdf
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"353fb924-134b-43ff-a826-e18d62ea4bdf","attributes":{"name":"Test-Edit_an_app_key_owned_by_this_service_account_returns_OK_response-1639758431-updated","created_at":"2021-12-17T16:27:12.877682+00:00","last4":"beef"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d5b0e4a0-1e73-4e49-83a6-5778ae914aa8
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
