interactions:
- request:
    body: '{"data":{"attributes":{"enabled":true,"name":"Test-Delete_a_rule_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
      Spec Test Best Practices"},"type":"rule"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/scorecard/rules
  response:
    body:
      string: '{"data":{"id":"74d92a4b-2242-488d-b3de-dd557eecb18b","type":"rule","attributes":{"category":"OpenAPI
        Spec Test Best Practices","created_at":"2023-11-01T22:17:31.138205Z","custom":true,"enabled":true,"modified_at":"2023-11-01T22:17:31.138205Z","name":"Test-Delete_a_rule_returns_OK_response-1698877051","owner":"Datadog","scorecard_name":"OpenAPI
        Spec Test Best Practices"},"relationships":{"scorecard":{"data":{"id":"qsxpoYRhU_yz","type":"scorecard"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b
  response:
    body:
      string: ''
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/scorecard/rules/74d92a4b-2242-488d-b3de-dd557eecb18b
  response:
    body:
      string: '{"errors":[{"status":"404","title":"Not Found","detail":"rule not found:
        74d92a4b-2242-488d-b3de-dd557eecb18b"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 404
      message: Not Found
version: 1
