interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-test_get_a_user_invitation_returns_ok_response-1617954924.390@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"f12968c0-9908-11eb-9ce8-da7ad0900002","attributes":{"name":null,"handle":"test-test_get_a_user_invitation_returns_ok_response-1617954924.390@datadoghq.com","created_at":"2021-04-09T07:55:24.971478+00:00","modified_at":"2021-04-09T07:55:26.947719+00:00","email":"test-test_get_a_user_invitation_returns_ok_response-1617954924.390@datadoghq.com","icon":"https://secure.gravatar.com/avatar/f1716d3e76a3ce5e8986ed108b8d32e5?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dCmL/3rURV6BPeaqeP3Rxigq41m5CAb17XjrRE42uZ01zpr07HVhbL5/3TWMkvgu
      x-dd-version:
      - '35.4273965'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"relationships": {"user": {"data": {"id": "f12968c0-9908-11eb-9ce8-da7ad0900002",
      "type": "users"}}}, "type": "user_invitations"}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"f2b05a14-9908-11eb-9ce8-da7ad0900002","attributes":{"uuid":"f2b05a14-9908-11eb-9ce8-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T07:55:27.535751+00:00","expires_at":"2021-04-11T07:55:27.397155+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f12968c0-9908-11eb-9ce8-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - HbtaOKlJ6OCrx9tMXO6ivMTrEM+g0c93HDp08trmOmgdHozC5J+vn10F0H4WPjCU
      x-dd-version:
      - '35.4273965'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - GetInvitation
    method: GET
    uri: https://api.datadoghq.com/api/v2/user_invitations/f2b05a14-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: '{"data":{"type":"user_invitations","id":"f2b05a14-9908-11eb-9ce8-da7ad0900002","attributes":{"uuid":"f2b05a14-9908-11eb-9ce8-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T07:55:27.535751+00:00","expires_at":"2021-04-11T07:55:27.397155+00:00"},"relationships":{"user":{"data":{"type":"users","id":"f12968c0-9908-11eb-9ce8-da7ad0900002"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4273965'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/f12968c0-9908-11eb-9ce8-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4273965'
    status:
      code: 204
      message: No Content
version: 1
