interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-93860ab913118caf","name":"name-93860ab913118caf"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"a68b555c-20d9-11ee-8739-da7ad0900002","attributes":{"name":"name-93860ab913118caf","handle":"handle-93860ab913118caf","summary":null,"description":null,"created_at":"2023-07-12T17:29:26.918845+00:00","modified_at":"2023-07-12T17:29:26.918850+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/a68b555c-20d9-11ee-8739-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/a68b555c-20d9-11ee-8739-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"label":"","position":0,"url":"https://example.com"},"type":"team_links"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team/a68b555c-20d9-11ee-8739-da7ad0900002/links
  response:
    body:
      string: '{"errors":["label cannot be empty"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/a68b555c-20d9-11ee-8739-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
