interactions:
- request:
    body: '{"filter":{"from":"now-15m","indexes":["main"],"query":"*","to":"now"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/analytics/aggregate
  response:
    body:
      string: '{"meta":{"elapsed":10,"request_id":"pddv1ChZNTFhDRTJTelQycXp1QXdlX1NmTlpRIi0KHe-ilFcY0rnsNmMKsu8hd-YRCNigxxg3E_n1PmI9EgxGTh_nEXTFJyr3H54","status":"done"},"data":{"buckets":[]}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
