interactions:
- request:
    body: '{"data":{"attributes":{"handle":"handle-b083901017e30c13","name":"name-b083901017e30c13"},"type":"team"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data":{"type":"team","id":"abb3161e-20d9-11ee-95db-da7ad0900002","attributes":{"name":"name-b083901017e30c13","handle":"handle-b083901017e30c13","summary":null,"description":null,"created_at":"2023-07-12T17:29:35.567410+00:00","modified_at":"2023-07-12T17:29:35.567415+00:00","user_count":0,"link_count":0},"relationships":{"team_links":{"links":{"related":"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/links"}},"user_team_permissions":{"links":{"related":"/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002/permission-settings"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/team/abb3161e-20d9-11ee-95db-da7ad0900002
  response:
    body:
      string: '{"errors":["Team for ID abb3161e-20d9-11ee-95db-da7ad0900002 not found"]}'
    headers:
      content-type:
      - application/json
    status:
      code: 404
      message: Not Found
version: 1
