interactions:
- request:
    body: '{"data": {"attributes": {"name": "Test-Delete_role_returns_OK_response-1617999643"},
      "type": "roles"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateRole
    method: POST
    uri: https://api.datadoghq.com/api/v2/roles
  response:
    body:
      string: '{"data":{"type":"roles","id":"0f9bcec0-9971-11eb-9cf2-da7ad0900002","attributes":{"name":"Test-Delete_role_returns_OK_response-1617999643","created_at":"2021-04-09T20:20:43.714341+00:00","modified_at":"2021-04-09T20:20:43.714341+00:00"},"relationships":{"permissions":{"data":[{"type":"permissions","id":"d90f6830-d3d8-11e9-a77a-b3404e5e9ee2"},{"type":"permissions","id":"4441648c-d8b1-11e9-a77a-1b899a04b304"},{"type":"permissions","id":"417ba636-2dce-11eb-84c0-6bce5b0d9de0"}]}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/0f9bcec0-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '16'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteRole
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/roles/0f9bcec0-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: '{"errors": ["The role 0f9bcec0-9971-11eb-9cf2-da7ad0900002 does not
        exist not found"]}'
    headers:
      Content-Type:
      - application/json
      x-dd-version:
      - '35.4280781'
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '16'
    status:
      code: 404
      message: Not Found
version: 1
