interactions:
- request:
    body: '{"data":{"attributes":{"enabled":false,"entries":[]},"type":"ip_allowlist"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/ip_allowlist
  response:
    body:
      string: '{"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data":{"attributes":{"enabled":false,"entries":[{"data":{"attributes":{"cidr_block":"127.0.0.1","note":"Test-Update_IP_Allowlist_returns_OK_response-1676046413"},"type":"ip_allowlist_entry"}}]},"type":"ip_allowlist"}}'
    headers:
      content-type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.com/api/v2/ip_allowlist
  response:
    body:
      string: '{"data":{"type":"ip_allowlist","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5","attributes":{"enabled":false,"entries":[{"data":{"attributes":{"note":"Test-Update_IP_Allowlist_returns_OK_response-1676046413","created_at":"2023-02-10T16:26:53.343754+00:00","modified_at":"2023-02-10T16:26:53.343754+00:00","cidr_block":"127.0.0.1/32"},"type":"ip_allowlist_entry","id":"41678b10-3555-4dba-abbd-754d294aadc1"}}]}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
