interactions:
- request:
    body: '{"data":{"attributes":{"action":{"description":"Lower severity for dev
      environment noise","severity":"low","type":"set"},"enabled":true,"name":"Downgrade
      misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
      team:platform"}},"type":"severity_modifier_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules
  response:
    body:
      string: '{"data":{"id":"a14d6808-eab2-4381-8a15-ae4874d33b9e","type":"severity_modifier_rules","attributes":{"action":{"type":"set","severity":"low","description":"Lower
        severity for dev environment noise"},"created_at":1787037657563,"created_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"enabled":true,"modified_at":1787037657563,"modified_by":{"type":"user","id":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"CI
        Account"},"name":"Downgrade misconfigurations in dev","rule":{"finding_types":["misconfiguration"],"query":"env:prod
        team:platform"}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/security/findings/automation/severity_modifier_rules/a14d6808-eab2-4381-8a15-ae4874d33b9e
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
