interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_create_a_login_method_for_the_given_user_returns_created_response-1608727383.948178@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"666b7682-451c-11eb-8ad4-cb298a3bb5ce","attributes":{"name":null,"handle":"datadog-api-client-python-test_create_a_login_method_for_the_given_user_returns_created_response-1608727383.948178@datadoghq.com","created_at":"2020-12-23T12:43:04.463309+00:00","email":"datadog-api-client-python-test_create_a_login_method_for_the_given_user_returns_created_response-1608727383.948178@datadoghq.com","icon":"https://secure.gravatar.com/avatar/a673e6582c09e6930d60f9db80f9d621?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 6IhQMEQHjYL1ZYwBd1xPnaqhoM5GIKrVP4vKHrLdyvV0W9ZbpSld8lY0ehD40SZe
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "user_login_methods", "attributes": {"login_method":
      "standard"}, "relationships": {"user": {"data": {"id": "666b7682-451c-11eb-8ad4-cb298a3bb5ce",
      "type": "users"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_login_methods
  response:
    body:
      string: '{"data":{"type":"user_login_methods","id":"a2035295-2e99-433e-b36f-78b2522ac260","attributes":{"created_at":"2020-12-23T12:41:15.952463+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"user":{"data":{"type":"users","id":"666b7682-451c-11eb-8ad4-cb298a3bb5ce"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - 1cd0/X8iFjFNZXjpX11JpiLJbbxmicjztoLT0xgVCngh7XkSAjfiT2A4vALPTlNE
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteUserLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/user_login_methods/a2035295-2e99-433e-b36f-78b2522ac260
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - WrTDvawKJxc/3XHcVO+oe9kLOi9bBLB0fyesfpZ4AlLEoPVyUvH7rJdlyTxrqyNg
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/666b7682-451c-11eb-8ad4-cb298a3bb5ce
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - uJ83xA1OCfjNbetv+4JhF+oFizEHF56t3Lja6jtB8P5etMWBi14GRkWSrGetOvyr
      X-DD-VERSION:
      - '35.3592220'
    status:
      code: 204
      message: No Content
version: 1
