interactions:
- request:
    body: '{"data":{"attributes":{"api_key":"TestListFastlyaccountsreturnsOKresponse1678702250","name":"Test-List_Fastly_accounts_returns_OK_response-1678702250","services":[]},"type":"fastly-accounts"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts
  response:
    body:
      string: '{"data":{"type":"fastly-accounts","attributes":{"name":"Test-List_Fastly_accounts_returns_OK_response-1678702250","services":[]},"id":"07ec97dd43cd794c847ecf15cb25eb1c"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/integrations/fastly/accounts/07ec97dd43cd794c847ecf15cb25eb1c
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    status:
      code: 204
      message: No Content
version: 1
