interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Get_a_user_permissions_returns_OK_response-1618576089@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"347a3630-9eaf-11eb-9e3f-da7ad0900002","attributes":{"name":null,"handle":"test-get_a_user_permissions_returns_ok_response-1618576089@datadoghq.com","created_at":"2021-04-16T12:28:10.181151+00:00","modified_at":"2021-04-16T12:28:10.213327+00:00","email":"test-get_a_user_permissions_returns_ok_response-1618576089@datadoghq.com","icon":"https://secure.gravatar.com/avatar/c5c3ca29bbabe60051a1053b97787c57?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - tpRCH6w417YjBovRJ8VmtuXmNONVYiRp2c8d2AxjPdGBn8PCtgG4vAztrx3qUZAN
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUserPermissions
    method: GET
    uri: https://api.datadoghq.com/api/v2/users/347a3630-9eaf-11eb-9e3f-da7ad0900002/permissions
  response:
    body:
      string: '{"data":[]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4327775'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/347a3630-9eaf-11eb-9e3f-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4327775'
    status:
      code: 204
      message: No Content
version: 1
