interactions:
- request:
    body: '{"data":{"attributes":{"priority":"P4","title":"My new case","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases
  response:
    body:
      string: '{"data":{"id":"9eabf475-c826-4251-8cfd-00a970c5c293","type":"case","attributes":{"attributes":{},"comment_count":0,"created_at":"2025-08-21T12:21:56.999975Z","creation_source":"MANUAL","custom_attributes":{},"description":"","insights":[],"internal_id":"9eabf475-c826-4251-8cfd-00a970c5c293","key":"DDFC-77697","merge_status":"NOT_MERGED","priority":"P4","public_id":"77780","status":"OPEN","title":"My
        new case","type":"STANDARD","type_id":"00000000-0000-0000-0000-000000000001"},"relationships":{"created_by":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user"}},"project":{"data":{"id":"d4bbe1af-f36e-42f1-87c1-493ca35c320e","type":"project"}}}},"included":[{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"user","attributes":{"active":true,"email":"frog@datadoghq.com","handle":"frog@datadoghq.com","name":"frog"}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"priority":"P1234"},"type":"case"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cases/9eabf475-c826-4251-8cfd-00a970c5c293/priority
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"invalid priority P1234.
        Must be one of P5, NOT_DEFINED, P1, P2, P3, P4"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
