interactions:
- request:
    body: '{"data":{"attributes":{"integration":{"credentials":{"account_id":"1","role":"MyRoleUpdated","type":"AWSAssumeRole"},"type":"AWS"},"name":"Cassette
      Connection"},"type":"action_connection"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/actions/connections
  response:
    body:
      string: '{"errors":[{"title":"Generic Error","detail":"error creating connection:
        rpc error: code = InvalidArgument desc = multiple errors: 1 error occurred:\n\t*
        [error_code=8]: invalid CreateCustomConnectionRequest.Data: embedded message
        failed validation | caused by: invalid CustomConnectionData.Aws: embedded
        message failed validation | caused by: invalid CustomConnectionData_AwsAuthData.AssumeRole:
        embedded message failed validation | caused by: invalid CustomConnectionData_AwsAuthData_AssumeRole.AccountId:
        value does not match regex pattern \"^\\\\d{12}$\"\n\n"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
