interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-List_all_users_returns_OK_response-1617999645@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"10bf5394-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617999645@datadoghq.com","created_at":"2021-04-09T20:20:45.624266+00:00","modified_at":"2021-04-09T20:20:45.656051+00:00","email":"test-list_all_users_returns_ok_response-1617999645@datadoghq.com","icon":"https://secure.gravatar.com/avatar/61bbccb1abfb009614458040dc9292a4?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - ListUsers
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter=test-list_all_users_returns_ok_response-1617999645%40datadoghq.com
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":1,"total_count":178564}},"data":[{"type":"users","id":"10bf5394-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-list_all_users_returns_ok_response-1617999645@datadoghq.com","created_at":"2021-04-09T20:20:45.624266+00:00","modified_at":"2021-04-09T20:20:45.656051+00:00","email":"test-list_all_users_returns_ok_response-1617999645@datadoghq.com","icon":"https://secure.gravatar.com/avatar/61bbccb1abfb009614458040dc9292a4?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - bgHykj7A9bfZx0Y5ZO3swhhp5tGUSNJHqFWR868+qg087CYrDOd5hQslC+noiEtH
      x-dd-version:
      - '35.4280781'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/10bf5394-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
version: 1
