interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435@datadoghq.com","title":"user
      title","service_account":true},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c","attributes":{"name":null,"handle":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c","created_at":"2021-12-17T16:27:16.298029+00:00","modified_at":"2021-12-17T16:27:16.335817+00:00","email":"test-get_one_app_key_owned_by_this_service_account_returns_ok_response-1639758435@datadoghq.com","icon":"https://secure.gravatar.com/avatar/36ec031ed04caa210d61cf08949f2a55?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/3556a6f7-9f68-4a5d-aed8-1677fb92a76c/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"ef3fcbd0-e21c-405d-953f-6b340412f4e4","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435","created_at":"2021-12-17T16:27:16.855017+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"3556a6f7-9f68-4a5d-aed8-1677fb92a76c"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/3556a6f7-9f68-4a5d-aed8-1677fb92a76c/application_keys/ef3fcbd0-e21c-405d-953f-6b340412f4e4
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"ef3fcbd0-e21c-405d-953f-6b340412f4e4","attributes":{"name":"Test-Get_one_app_key_owned_by_this_service_account_returns_OK_response-1639758435","created_at":"2021-12-17T16:27:16.855017+00:00","last4":"beef"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3556a6f7-9f68-4a5d-aed8-1677fb92a76c
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
