interactions:
- request:
    body: '{"data":{"attributes":{"name":"test_name_create","type":"browser"},"type":"rum_application_create"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/rum/applications
  response:
    body:
      string: '{"data":{"attributes":{"updated_by_handle":"frog@datadoghq.com","application_id":"cae2b3d1-9ea1-4321-8506-725cc4242f6f","name":"test_name_create","created_by_handle":"frog@datadoghq.com","created_at":1670264413962,"org_id":321813,"updated_at":1670264413962,"is_active":false,"hash":"pub147f190fd98caeffebcb3bc3130879bf","client_token":"pub147f190fd98caeffebcb3bc3130879bf","type":"browser"},"type":"rum_application","id":"cae2b3d1-9ea1-4321-8506-725cc4242f6f"}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/rum/applications/cae2b3d1-9ea1-4321-8506-725cc4242f6f
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
