interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Send_invitation_emails_returns_OK_response-1618576105@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"3dcb3d4c-9eaf-11eb-9e40-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1618576105@datadoghq.com","created_at":"2021-04-16T12:28:25.812043+00:00","modified_at":"2021-04-16T12:28:25.840967+00:00","email":"test-send_invitation_emails_returns_ok_response-1618576105@datadoghq.com","icon":"https://secure.gravatar.com/avatar/080e7dd3b4a3d4989b8610e211a5bd22?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 5gfwVh/5HZ+AnGd/Di93w3NEWC6KMHT9KzmHEiRJmNdOjBtAsbOcgVFyqEChw71h
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "3dcb3d4c-9eaf-11eb-9e40-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"3e188aa2-9eaf-11eb-9e40-da7ad0900002","attributes":{"uuid":"3e188aa2-9eaf-11eb-9e40-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-16T12:28:26.319118+00:00","expires_at":"2021-04-18T12:28:26.272545+00:00"},"relationships":{"user":{"data":{"type":"users","id":"3dcb3d4c-9eaf-11eb-9e40-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - Um4CoU685QqAscnxhS5BD+goWu2yX1Jd4zCfGzSsEvPPIm1qURZaF8dlLl/OEY4I
      x-dd-version:
      - '35.4327775'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/3dcb3d4c-9eaf-11eb-9e40-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-dd-version:
      - '35.4327775'
    status:
      code: 204
      message: No Content
version: 1
