interactions:
- request:
    body: '{"data": {"attributes": {"email": "datadog-api-client-python-test_delete_the_given_user_login_method_returns_no_content_response-1608733247.161419@datadoghq.com"},
      "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0d4f21ee-452a-11eb-8ad4-17fc16a0582e","attributes":{"name":null,"handle":"datadog-api-client-python-test_delete_the_given_user_login_method_returns_no_content_response-1608733247.161419@datadoghq.com","created_at":"2020-12-23T14:20:47.914573+00:00","email":"datadog-api-client-python-test_delete_the_given_user_login_method_returns_no_content_response-1608733247.161419@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b59c1e641f0a51f9d27c0cc40c005f01?s=48&d=retro","title":null,"verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - q5LZgdQyaeyVGPNSaYfaXI15usQY6VerSpOcr6YoOhwKyednUK9qVYPwCUtgztbj
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"attributes": {"login_method": "standard"}, "type": "user_login_methods",
      "relationships": {"user": {"data": {"id": "0d4f21ee-452a-11eb-8ad4-17fc16a0582e",
      "type": "users"}}}}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUserLoginMethod
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_login_methods
  response:
    body:
      string: '{"data":{"type":"user_login_methods","id":"c90da1ec-748f-45d8-99a6-becf80bb2085","attributes":{"created_at":"2020-12-23T14:11:52.560870+00:00","created_by":1445416,"login_method":"standard"},"relationships":{"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}},"user":{"data":{"type":"users","id":"0d4f21ee-452a-11eb-8ad4-17fc16a0582e"}}}}}'
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - hhAfI9DpjHRbHS2z+2prVh0mHwAun3McFDOF8AzNv8c8J6c/l2q8Kye8syKGTxkY
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DeleteUserLoginMethod
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/user_login_methods/c90da1ec-748f-45d8-99a6-becf80bb2085
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - UiHAIpiIPiMTUiGNeR+rZVnFnmJkUm64kqWBQawJNSrsYAeselUV6xrARY3WHwv4
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0d4f21ee-452a-11eb-8ad4-17fc16a0582e
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      DD-POOL:
      - dogweb
      X-DD-Debug:
      - nuSFLkQ1s7gwoRNAfifc8jXTyjLsWBSRPtQKveq6qMTKGNJs/ULg6uo/9G1YZzFs
      X-DD-VERSION:
      - '35.3592557'
    status:
      code: 204
      message: No Content
version: 1
