interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-List_application_keys_for_this_service_account_returns_OK_response-1697105538@datadoghq.com","service_account":true,"title":"user
      title"},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3","attributes":{"name":null,"handle":"d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3","created_at":"2023-10-12T10:12:19.421394+00:00","modified_at":"2023-10-12T10:12:19.421394+00:00","email":"test-list_application_keys_for_this_service_account_returns_ok_response-1697105538@datadoghq.com","icon":"https://secure.gravatar.com/avatar/79fd260ec49c01b5dde9172579034626?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}

        '
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/service_accounts/d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3/application_keys
  response:
    body:
      string: '{"data":[],"meta":{"page":{"total_filtered_count":0},"max_allowed_per_user":1000}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/d3bd8ebd-68e7-11ee-8628-2e5a5b6c83f3
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
