interactions:
- request:
    body: '{"filter":{"from":"2020-09-17T11:48:36+01:00","indexes":["main"],"query":"datadog-agent","to":"2020-09-17T12:48:36+01:00"},"page":{"limit":5},"sort":"timestamp"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/logs/events/search
  response:
    body:
      string: '{"data":[]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '10'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '9'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
version: 1
