interactions:
- request:
    body: '{"data":{"attributes":{"account_id":"1234abcd-1234-abcd-1234-1234abcd1234","actual_bill_config":{"export_name":"dd-actual-export","export_path":"dd-export-path","storage_account":"dd-storage-account","storage_container":"dd-storage-container"},"amortized_bill_config":{"export_name":"dd-actual-export","export_path":"dd-export-path","storage_account":"dd-storage-account","storage_container":"dd-storage-container"},"client_id":"1234abcd-1234-abcd-1234-1234abcd1234","scope":"this_is_an_invalid_scope"},"type":"azure_uc_config_post_request"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/cost/azure_uc_config
  response:
    body:
      string: '{"errors":[{"status":"400","title":"Bad Request","detail":"attribute
        \"scope\" does not match the required format"}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 400
      message: Bad Request
version: 1
