interactions:
- request:
    body: '{"data":{"attributes":{"metric_name_matches":["dd.TestUpdateatagindexingrulereturnsOKresponse1780591178.*"],"name":"TestUpdateatagindexingrulereturnsOKresponse1780591178","tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules
  response:
    body:
      string: '{"data":{"id":"c9f5704f-f5b9-4afe-9dec-69edfce00c0a","type":"tag_indexing_rules","attributes":{"created_at":"2026-06-04T16:39:38.068057Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":false,"metric_name_matches":["dd.TestUpdateatagindexingrulereturnsOKresponse1780591178.*"],"modified_at":"2026-06-04T16:39:38.068057Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"TestUpdateatagindexingrulereturnsOKresponse1780591178","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true}},"rule_order":1,"tags":["env","service"]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"name":"my-indexing-rule","options":{"data":{"dynamic_tags":{"queried_tags_window_seconds":3600,"related_asset_tags":false},"manage_preexisting_metrics":true,"metric_match":{"queried_window_seconds":3600},"override_previous_rules":false},"version":1},"rule_order":2,"tags":["env","service"]},"type":"tag_indexing_rules"}}'
    headers:
      content-type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.com/api/v2/metrics/tag-indexing-rules/c9f5704f-f5b9-4afe-9dec-69edfce00c0a
  response:
    body:
      string: '{"data":{"id":"c9f5704f-f5b9-4afe-9dec-69edfce00c0a","type":"tag_indexing_rules","attributes":{"created_at":"2026-06-04T16:39:38.068057Z","created_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","exclude_tags_mode":false,"ignored_metric_name_matches":[],"metric_name_matches":["dd.test.*"],"modified_at":"2026-06-04T16:39:38.137079Z","modified_by_handle":"9919ec9b-ebc7-49ee-8dc8-03626e717cca","name":"my-indexing-rule","options":{"version":1,"data":{"override_previous_rules":false,"manage_preexisting_metrics":true,"dynamic_tags":{"queried_tags_window_seconds":3600},"metric_match":{"queried_window_seconds":3600}}},"rule_order":2,"tags":["env","service"]}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
