interactions:
- request:
    body: '{"data":{"attributes":{"email":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426@datadoghq.com","title":"user
      title","service_account":true},"type":"users"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts
  response:
    body:
      string: '{"data":{"type":"users","id":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2","attributes":{"name":null,"handle":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2","created_at":"2021-12-17T16:27:07.128243+00:00","modified_at":"2021-12-17T16:27:07.167255+00:00","email":"test-create_an_app_key_for_this_service_account_returns_created_response-1639758426@datadoghq.com","icon":"https://secure.gravatar.com/avatar/b4f5e8dfd1847753ee5a0df03e06394c?s=48&d=retro","title":"user
        title","verified":true,"service_account":true,"disabled":false,"allowed_login_methods":[],"status":"Active"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '100'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '93'
      x-ratelimit-reset:
      - '1973'
    status:
      code: 201
      message: Created
- request:
    body: '{"data":{"attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426"},"type":"application_keys"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys
  response:
    body:
      string: '{"data":{"type":"application_keys","id":"17883696-354c-4a43-ae2c-f531d9b0b3f1","attributes":{"name":"Test-Create_an_app_key_for_this_service_account_returns_Created_response-1639758426","created_at":"2021-12-17T16:27:07.674785+00:00","last4":"beef","key":"deaddcc81a44288fbbbfb15efe1203df034abeef"},"relationships":{"owned_by":{"data":{"type":"users","id":"6f713ae3-124f-45dd-b8b8-aa8fd7b419f2"}}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '337'
      x-ratelimit-reset:
      - '1973'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/service_accounts/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2/application_keys/17883696-354c-4a43-ae2c-f531d9b0b3f1
  response:
    body:
      string: ''
    headers:
      x-ratelimit-limit:
      - '400'
      x-ratelimit-period:
      - '3600'
      x-ratelimit-remaining:
      - '336'
      x-ratelimit-reset:
      - '1972'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/6f713ae3-124f-45dd-b8b8-aa8fd7b419f2
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
