interactions:
- request:
    body: '{"data": {"attributes": {"email": "Test-Send_invitation_emails_returns_OK_response-1617999639@datadoghq.com",
      "title": "user title"}, "type": "users"}}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - CreateUser
    method: POST
    uri: https://api.datadoghq.com/api/v2/users
  response:
    body:
      string: '{"data":{"type":"users","id":"0d1a38c6-9971-11eb-9cf2-da7ad0900002","attributes":{"name":null,"handle":"test-send_invitation_emails_returns_ok_response-1617999639@datadoghq.com","created_at":"2021-04-09T20:20:39.507128+00:00","modified_at":"2021-04-09T20:20:39.551765+00:00","email":"test-send_invitation_emails_returns_ok_response-1617999639@datadoghq.com","icon":"https://secure.gravatar.com/avatar/453c3b30eaaf6de43158023a6d31a153?s=48&d=retro","title":"user
        title","verified":false,"service_account":false,"disabled":false,"allowed_login_methods":[],"status":"Pending"},"relationships":{"roles":{"data":[]},"org":{"data":{"type":"orgs","id":"4dee724d-00cc-11ea-a77b-570c9d03c6c5"}}}}}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - F5gm0Rce1/Abr9/0Fw8HAqWfiz0FdiH8er/AXnN6lOn3L6KyGgbsLCwgPlob1No8
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"type": "user_invitations", "relationships": {"user": {"data":
      {"type": "users", "id": "0d1a38c6-9971-11eb-9cf2-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - SendInvitations
    method: POST
    uri: https://api.datadoghq.com/api/v2/user_invitations
  response:
    body:
      string: '{"data":[{"type":"user_invitations","id":"0d7252b8-9971-11eb-9cf2-da7ad0900002","attributes":{"uuid":"0d7252b8-9971-11eb-9cf2-da7ad0900002","login_method":null,"invite_type":"openid_invite","created_at":"2021-04-09T20:20:40.087600+00:00","expires_at":"2021-04-11T20:20:40.025833+00:00"},"relationships":{"user":{"data":{"type":"users","id":"0d1a38c6-9971-11eb-9cf2-da7ad0900002"}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - twvpGlmuom5y6A0pjGtXzTf554cmwJgTcCZ71fK4H/RDi+v5ehBK0zQiRcTJQG5C
      x-dd-version:
      - '35.4280781'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      Dd-Operation-Id:
      - DisableUser
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/users/0d1a38c6-9971-11eb-9cf2-da7ad0900002
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - mNzaoDhdDKO7t4QSrAe5X7pHd0bJND187D+vRbwoluXouE2m1UaQQX0RGCvRpLVE
      x-dd-version:
      - '35.4280781'
    status:
      code: 204
      message: No Content
version: 1
