interactions:
- request:
    body: '{"data":{"attributes":{"components":[{"name":"c516461d84658757","type":"component"}],"domain_prefix":"dd-integration-tests-c516461d84658757","enabled":true,"name":"[DD
      Integration Tests] c516461d84658757","type":"internal","visualization_type":"bars_and_uptime_percentage"},"type":"status_pages"}}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.datadoghq.com/api/v2/statuspages
  response:
    body:
      string: '{"data":{"id":"4a0b33cf-63b3-4157-bc15-9b51998e83cc","type":"status_pages","attributes":{"company_logo":null,"components":[{"id":"a2c27d85-60eb-42cf-95d7-8929fae0ff5f","name":"c516461d84658757","type":"component","status":"operational","position":0}],"created_at":"2026-01-09T15:10:40.571898Z","custom_domain":null,"custom_domain_enabled":false,"domain_prefix":"dd-integration-tests-c516461d84658757","email_header_image":null,"enabled":true,"favicon":null,"modified_at":"2026-01-09T15:10:40.571898Z","name":"[DD
        Integration Tests] c516461d84658757","page_url":"https://frog.datadoghq.com/status-pages/4a0b33cf-63b3-4157-bc15-9b51998e83cc/view","subscriptions_enabled":false,"type":"internal","visualization_type":"bars_and_uptime_percentage"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}}}}}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://api.datadoghq.com/api/v2/statuspages/4a0b33cf-63b3-4157-bc15-9b51998e83cc/components
  response:
    body:
      string: '{"data":[{"id":"a2c27d85-60eb-42cf-95d7-8929fae0ff5f","type":"components","attributes":{"created_at":"2026-01-09T15:10:40.571898Z","modified_at":"2026-01-09T15:10:40.571898Z","name":"c516461d84658757","position":0,"status":"operational","type":"component"},"relationships":{"created_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"group":{"data":null},"last_modified_by_user":{"data":{"id":"3ad549bf-eba0-11e9-a77a-0705486660d0","type":"users"}},"status_page":{"data":{"id":"4a0b33cf-63b3-4157-bc15-9b51998e83cc","type":"status_pages"}}}}]}'
    headers:
      content-type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.datadoghq.com/api/v2/statuspages/4a0b33cf-63b3-4157-bc15-9b51998e83cc
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
