{{#isEnum}}
    allowed_values = {
        'value': {
{{#isNullable}}
            'None': None,
{{/isNullable}}
{{#allowableValues}}
{{#enumVars}}
            '{{name}}': {{{value}}},
{{/enumVars}}
{{/allowableValues}}
        },
    }
{{/isEnum}}
{{#hasEnums}}
    allowed_values = {
{{#requiredVars}}
{{#isEnum}}
        '{{name}}': {
{{#isNullable}}
            'None': None,
{{/isNullable}}
{{#allowableValues}}
{{#enumVars}}
            '{{name}}': {{{value}}},
{{/enumVars}}
{{/allowableValues}}
        },
{{/isEnum}}
{{/requiredVars}}
{{#optionalVars}}
{{#isEnum}}
        '{{name}}': {
{{#isNullable}}
            'None': None,
{{/isNullable}}
{{#allowableValues}}
{{#enumVars}}
            '{{name}}': {{{value}}},
{{/enumVars}}
{{/allowableValues}}
        },
{{/isEnum}}
{{/optionalVars}}
    }
{{/hasEnums}}

    validations = {
{{#hasValidation}}
        'value': {
{{> model_templates/validations }}
{{/hasValidation}}
{{#requiredVars}}
{{#hasValidation}}
        '{{name}}': {
{{> model_templates/validations }}
{{/hasValidation}}
{{/requiredVars}}
{{#optionalVars}}
{{#hasValidation}}
        '{{name}}': {
{{> model_templates/validations }}
{{/hasValidation}}
{{/optionalVars}}
    }

{{#additionalProperties}}
    @cached_property
    def additional_properties_type():
        """
        This must be a method because a model may have properties that are
        of type self, this must run after the class is loaded
        """
{{#imports}}
{{#-first}}
        lazy_import()
{{/-first}}
{{/imports}}
        return ({{{dataType}}},)
{{/additionalProperties}}

    {{#isNullable}}_nullable = True{{/isNullable}}

    @cached_property
    def openapi_types():
        """
        This must be a method because a model may have properties that are
        of type self, this must run after the class is loaded

        Returns
            openapi_types (dict): The key is attribute name
                and the value is attribute type.
        """
{{#oneOf}}
{{#-first}}
        return {}
{{/-first}}
{{/oneOf}}
{{^oneOf}}
{{#imports}}
{{#-first}}
        lazy_import()
{{/-first}}
{{/imports}}
        return {
{{#isAlias}}
            'value': ({{{dataType}}},),
{{/isAlias}}
{{#isEnum}}
            'value': ({{{dataType}}},),
{{/isEnum}}
{{#isArray}}
            'value': ({{{dataType}}},),
{{/isArray}}
{{#requiredVars}}
            '{{name}}': ({{{dataType}}},),
{{/requiredVars}}
{{#optionalVars}}
            '{{name}}': ({{{dataType}}},),
{{/optionalVars}}
        }
{{/oneOf}}

{{#discriminator}}
    @cached_property
    def discriminator():
{{#mappedModels}}
{{#-first}}
{{#imports}}
{{#-first}}
        lazy_import()
{{/-first}}
{{/imports}}
{{/-first}}
{{/mappedModels}}
        val = {
{{#mappedModels}}
            '{{mappingName}}': {{{modelName}}},
{{/mappedModels}}
        }
        if not val:
            return None
        return {'{{{discriminatorName}}}': val}{{/discriminator}}
