    @classmethod
    def _from_openapi_data(cls, *args, **kwargs):
        """Helper creating a new instance from a response."""

{{#requiredVars}}
{{#defaultValue}}
        {{name}} = kwargs.get('{{name}}', {{{defaultValue}}})
{{/defaultValue}}
{{/requiredVars}}

        self = super({{classname}}, cls)._from_openapi_data(kwargs)

{{> model_templates/invalid_pos_args }}

        return self
