    def __init__(self{{#requiredVars}}{{^isReadOnly}}{{^defaultValue}}, {{name}}{{/defaultValue}}{{/isReadOnly}}{{/requiredVars}}, *args, **kwargs):
        """{{classname}} - a model defined in OpenAPI

{{#requiredVars}}
{{^isReadOnly}}
{{^defaultValue}}{{#description}}
            :param {{name}}: {{{.}}}{{/description}}
            :type {{name}}: {{{dataType}}}
{{/defaultValue}}
{{/isReadOnly}}
{{/requiredVars}}
{{#requiredVars}}
{{^isReadOnly}}
{{#defaultValue}}
            :param {{name}}:{{#description}} {{{.}}}{{/description}} Defaults to {{{defaultValue}}}.{{#allowableValues}} Must be one of [{{#enumVars}}{{{value}}}, {{/enumVars}}].{{/allowableValues}}
            :type {{name}}: {{{dataType}}}
{{/defaultValue}}
{{/isReadOnly}}
{{/requiredVars}}
{{#optionalVars}}{{#description}}
            :param {{name}}: {{{.}}}{{#defaultValue}} If omitted the server will use the default value of {{{.}}}.{{/defaultValue}}{{/description}}
            :type {{name}}: {{{dataType}}}, optional
{{/optionalVars}}
        """
        super().__init__(kwargs)

{{#requiredVars}}
{{^isReadOnly}}
{{#defaultValue}}
        {{name}} = kwargs.get('{{name}}', {{{defaultValue}}})
{{/defaultValue}}
{{/isReadOnly}}
{{/requiredVars}}

{{> model_templates/invalid_pos_args }}
