    def __init__(self, *args, **kwargs):
        """{{classname}} - a model defined in OpenAPI

        Keyword Args:
{{#requiredVars}}
{{^isReadOnly}}
{{#defaultValue}}
            {{name}} ({{{dataType}}}):{{#description}} {{{.}}}{{/description}} Defaults to {{{defaultValue}}}.{{#allowableValues}} Must be one of [{{#enumVars}}{{{value}}}, {{/enumVars}}].{{/allowableValues}}
{{/defaultValue}}
{{^defaultValue}}
            {{name}} ({{{dataType}}}):{{#description}} {{{.}}}{{/description}}
{{/defaultValue}}
{{/isReadOnly}}
{{/requiredVars}}
{{#optionalVars}}
            {{name}} ({{{dataType}}}): [optional]{{#description}} {{{.}}}{{/description}}{{#defaultValue}} If omitted the server will use the default value of {{{.}}}.{{/defaultValue}}
{{/optionalVars}}
        """
        super().__init__(kwargs)

{{#requiredVars}}
{{^isReadOnly}}
{{#defaultValue}}
        {{name}} = kwargs.get('{{name}}', {{{defaultValue}}})
{{/defaultValue}}
{{/isReadOnly}}
{{/requiredVars}}

{{> model_templates/invalid_pos_args }}
