{{#maxLength}}
            'max_length': {{.}},
{{/maxLength}}
{{#minLength}}
            'min_length': {{.}},
{{/minLength}}
{{#maxItems}}
            'max_items': {{.}},
{{/maxItems}}
{{#minProperties}}
            'min_properties': {{.}},
{{/minProperties}}
{{#maxProperties}}
            'max_properties': {{.}},
{{/maxProperties}}
{{#minItems}}
            'min_items': {{.}},
{{/minItems}}
{{#maximum}}
            {{#exclusiveMaximum}}'exclusive_maximum'{{/exclusiveMaximum}}{{^exclusiveMaximum}}'inclusive_maximum'{{/exclusiveMaximum}}: {{maximum}},
{{/maximum}}
{{#minimum}}
            {{#exclusiveMinimum}}'exclusive_minimum'{{/exclusiveMinimum}}{{^exclusiveMinimum}}'inclusive_minimum'{{/exclusiveMinimum}}: {{minimum}},
{{/minimum}}
{{#pattern}}
            'regex': {
                'pattern': r'{{{vendorExtensions.x-regex}}}',{{#vendorExtensions.x-modifiers}}
                {{#-first}}'flags': (re.{{.}}{{/-first}}{{^-first}}          re.{{.}}{{/-first}}{{^-last}} | {{/-last}}{{#-last}}){{/-last}}{{/vendorExtensions.x-modifiers}}
            },
{{/pattern}}
{{#multipleOf}}
            'multiple_of': {{.}},
{{/multipleOf}}
        },
