name: IntegrationTests
trigger:
  batch: false
  branches:
    include:
    - master
  drafts: false
pr:
  branches:
    include:
    - master
schedules:
  - cron: "15 1-23/3 * * *"
    displayName: Scheduled CI run every 3 hours
    always: true
    branches:
      include:
        - master

resources:
  containers:
  - container: datadog-agent
    image: datadog/agent:latest
    ports:
    - 8126:8126
    env:
      DD_API_KEY: $(ddAPIKey)
      DD_HOSTNAME: "none"
      DD_INSIDE_CI: "true"
jobs:
- job: IntegrationTests
  pool:
    vmImage: "Ubuntu-16.04"
  container:
    image: python:3.8
    options: >-
      -l com.datadoghq.ad.logs="[{\"source\": \"Azure Pipeline\", \"service\": \"datadog-api-client-python\"}]"
  services:
    datadog-agent: datadog-agent
  steps:
    - script: |
        python -m pip install --upgrade pip setuptools
        python -m pip install cython
        python -m pip install -e .[apm,tests]
      displayName: Install package
    - script: ./run-tests.sh
      displayName: Run integration tests
      env:
        CI: "true"
        DD_AGENT_HOST: datadog-agent
        DD_ENV: prod
        DD_SERVICE: datadog-api-client-python
        DD_TAGS: "team:integration-tools-and-libraries"
        DD_TEST_CLIENT_API_KEY: $(datadogAPIKey)
        DD_TEST_CLIENT_APP_KEY: $(datadogAPPKey)
        DD_TRACE_ANALYTICS_ENABLED: "true"
        RECORD: "none"
        PYTEST_ADDOPTS: "--ddtrace"
        DD_PYTEST_OPERATION_NAME: "test"
