name: Reusable Examples Workflow

on:
  workflow_call:
    inputs:
      target-branch:
        description: 'Branch to checkout and test (defaults to the calling branch)'
        required: false
        type: string
        default: ''
      examples-script:
        description: 'Examples script to execute'
        required: false
        type: string
        default: './check-examples.sh'
      python-version:
        description: 'Python version to use'
        required: false
        type: string
        default: '3.12'

jobs:
  examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: DataDog/datadog-api-client-python
          ref: ${{ inputs.target-branch || github.ref }}
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          cache: "pip"
      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade wheel setuptools build
      - name: Install
        run: pip install --disable-pip-version-check pyflakes
      - name: Check examples
        run: ${{ inputs.examples-script }}
        shell: bash